{if $__frame.google_analytics_cd}
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("{$__frame.google_analytics_cd}");
pageTracker._initData();
pageTracker._trackPageview();
</script>
{/if}
