{if $__frame.debug}
<table>
<tr>
    <th>Execution time:</th>
    <td>{$__frame.passage_time}</td>
</tr><tr>
    <th>Server time:</th>
    <td>
        {$__frame.server_time|date_format:"%Y/%m/%d %H:%M"}
        (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.server_time_zone}:00)
    </td>
<tr>
    <th>Client time:</th>
    <td>
        {$__frame.user_time|date_format:"%Y/%m/%d %H:%M"}
        (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone}:00)
    </td>
</tr>
</table>
<fieldset>
<legend>Set Environment</legend>
<form action="/services/index.php" method="post">
<table>
<tr>
    <th>Language :</td>
    <td><input type="text" name="lang" class="inputText" size="5" value="{$__frame.lang}" /></td>
</tr><tr>
    <th>Location :</td>
    <td><input type="text" name="country_key" class="inputText" size="5" value="{$__frame.country_key}" /></td>
</tr><tr>
    <th>TimeZone :</th>
    <td><input type="text" name="time_zone" class="inputText" size="5" value="{$__frame.time_zone}" /></td>
</tr><tr>
    <td colspan="2"><input type="submit" name="action_set_env" class="inputSubmit" value="set env" /></td>
</tr>
</table>
</form>
</fieldset>
{debug}
{/if}