<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content= "{$__frame.service_info.meta_keywords}"/>
<meta name="description" content="{$__frame.service_info.meta_description}" />
<link rel="stylesheet" type="text/css" href="/shared/css/import.css" media="all" />
<script type="text/javascript" src="/shared/js/lib/prototype.js"></script>
<script type="text/javascript" src="/shared/js/lib/jquery.js"></script>
<script type="text/javascript" src="/shared/js/common.js"></script>
<script type="text/javascript" src="/lang/{$__frame.lang}/js/html.js"></script>
<script type="text/javascript" src="/lang/{$__frame.lang}/js/custom.js"></script>
<script type="text/javascript" src="/shared/js/original.js"></script>
<script type="text/javascript" src="/shared/js/interaction.js"></script>
<!-- script type="text/javascript" src="/shared/js/lib/footerfixed.js"></script -->
<script type="text/javascript" src="/shared/js/lib/smoothscroll.js"></script>
<script type="text/javascript" src="/shared/js/lib/dropdown.js"></script>
<script type="text/javascript" src="/shared/js/lib/highlightinput.js"></script>
<!--<script type="text/javascript" src="/shared/js/lib/minmax.js"></script>-->
<script src="/shared/js/lib/jquery/ezpz_tooltip/jquery.ezpz_tooltip.min.js" type="text/javascript"></script>
