{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Group Account"}
<a href="javascript:history.back(1);">Back</a><br />
<h2>{$smarty.request.yy} Year {$smarty.request.mm} Total Month</h2>
<table class="searchList">
<thead>
</thead>
{foreach from=$headers item=header}
<th>{$header}</th>
{/foreach}
<tbody>
{foreach from=$rows item=row}
<tr>
{foreach from=$headers key=key item=header}
<td>{$row[$key]}</td>
{/foreach}
</tr>
{/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}