{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Group Account"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}952,_('Search'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
{literal}
<script type="text/javascript">
<!--
    function billing(action, group_id, debug) {
        var yy = list_form.yy.value;
        var mm = list_form.mm.value;
        var url = 'group_account.php?action_'+action+'=&group_id='+group_id+'&yy='+yy+'&mm='+mm+'&debug='+debug;
        if (!debug) {
            window.location = url;
        } else {
            window.open(url, 'billing');
        }
    }
//-->
</script>
{/literal}
<form action="" name="list_form">
Year <input type='text' name='yy' size='4' value='{$smarty.now|date_format:"%Y"}'/>
<input type='text' name='mm' size='2' value='{$smarty.now|date_format:"%m"}'/> Months Total 
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}954,_('Action'){/t}</th>
        <th class="action">Total</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&sort_key={$key}&sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&sort_key={$key}&sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            <a href="?action_list&amp;table=user&amp;type=data&amp;sort_key=user_key&amp;form[user_group]={$row.group_id|escape:'html'}">View</a> |
            <a href="?action_modify&type=data&amp;table=user_group&key=group_id&value={$row.group_id|escape:'html'}&uptime=update_datetime">{t}955,_('Modify'){/t}</a> |
            <a href="rtmp_protocol.php?action_confirm=&group_id={$row.group_id|escape:'html'}">RTMP Setting</a>
        </td>
        <td class="action">
            <a href="javascript:billing('detail', '{$row.group_id|escape:'html'}', 1);">Detail</a> (<a href="javascript:billing('detail', '{$row.group_id|escape:'html'}', 0);">CSV</a>) |
            <a href="javascript:billing('summary', '{$row.group_id|escape:'html'}', 1);">Total</a> (<a href="javascript:billing('summary', '{$row.group_id|escape:'html'}', 0);">CSV</a>) |
            <a href="javascript:billing('billing', '{$row.group_id|escape:'html'}', 1);">Request Data</a>
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}958,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}959,_('unselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}