<div id="gnav" class="clearfix sales">
<div id="gnav-inner">
<ul class="gnav-menu" id="menu">
<li class="gnav01"><a href="/services/"><span class="active">{t}8100,_('ホーム'){/t}</span></a></li>
{if !$__frame.ignore_menu.reservation && !$__frame.member_info.reservation_deny_flag}
<li class="gnav02"><a href="/services/reservation/?action_create=&amp;new=1"><span class="active">{t}2124,_('会議予約'){/t}</span></a></li>
<li class="gnav03"><a href="/services/reservation/"><span class="active">{t}8101,_('予約一覧'){/t}</span></a></li>
{/if}
{if $__frame.user_info.account_model != 'free'}
{if $__frame.user_info.account_model != 'centre' && !$__frame.view_mobile_flg}
<li class="gnav05"><a href="/services/meetinglog/"><span class="active">{t}2127,_('会議記録'){/t}</span></a></li>
{/if}
{if !$__frame.ignore_menu.use_storage && !$__frame.view_mobile_flg}
<li class="gnav11"><a href="/services/storage/"><span class="active">{t}8102,_('ストレージ'){/t}</span></a></li>
{/if}
{/if}
{if !$__frame.view_mobile_flg}
<li class="gnav_others">
    <a href="#"><span class="drop">{t}8103,_('その他'){/t}</span></a>
    <ul>
{if $__frame.user_info.account_model != 'free'}
{if !$__frame.ignore_menu.tool}
<li><a href="/services/download/"><span class="active">{t}2128,_('ツール'){/t}</span></a></li>{/if}
{/if}
{if !$__frame.ignore_menu.manual}
<li><a href="/services/download/index.php?action_show_manual=1"><span class="active">{t}7531,_('マニュアル'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.faq}
<li><a href="/services/faq/"><span class="active">FAQ</span></a></li>
{/if}
{if !$__frame.ignore_menu.inquiry}
<li><a href="/services/ask/"><span class="active">{t}2129,_('お問い合わせ'){/t}</span></a></li>
{/if}
{/if}
{if $__frame.country_list|@count > 1 || $__frame.lang_list|@count > 1 || $__frame.time_zone_list|@count > 1}
<li><a href="/services/index.php?action_env">{t}2138,_('個人設定'){/t}</a></li>
{/if}
{if !$__frame.ignore_menu.login_as_admin  && $__frame.login_type != "invite" && $__frame.login_type != "invitedGuest" && $__frame.user_info.account_model != 'centre' && (!$__frame.member_info.use_sales || (($__frame.user_info.account_plan == "one" || $__frame.user_info.account_plan == "one_id_host") && $__frame.role == "10")) && $__frame.service_mode =="sales"}
<li><a href="/services/?action_show_adminlogin=1">{t}2139,_('管理者ページ'){/t}</a></li>
{/if}
    </ul>
</li>
</ul>

<div class="logout">
  <ul>
    <li>{if !$__frame.n2my.auto_login}<a href="/services/logout/">{t}2136,_('ログアウト'){/t}</a>{/if}</li>
  </ul>
</div>

</div>
</div>

<!-- PGi連携予告文 -->
{if $view_modal == 1}
<div class="maint-col">
	<p class="maint-text">{t}9081,_('会議参加が可能になります。詳細は<a href="/services/?action_pgi_info">こちら</a>'){/t}
</div>
{/if}

{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}

<!-- chrome対応の特別メンテナンス注意文 -->
<div id="chrome-maint" class="maint-col" style="display:none">
    <p class="maint-text">{t}8188,_('V-CUBEミーティングでサポートされていないGoogle Chromeを使用しており、一部の機能が正しく動作しない場合があります。ご利用前に<a href="http://www.nice2meet.us/ja/requirements/meeting.html" target="_blank">動作環境ページ</a>をご参照ください。'){/t}</p>
</div>
{if $__frame.n2my.emergency}
    <div class="maint-col">
    <p class="emergency-text">{t}9049,_('現在「V-CUBE ミーティング」に障害が発生しております。<br>大変お手数ですが<a target="_blank" href="https://dr-jp-meeting.nice2meet.us/services/login/">緊急時ご利用環境</a>をご利用ください。'){/t}</p>
    </div>
{/if}
{literal}
<script>
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
var is_edge = navigator.userAgent.toLowerCase().indexOf('edge') > -1;
if(is_chrome == true) {
  if(is_edge != true) {
    j$("#chrome-maint").show();
  }
}
</script>
{/literal}
<!-- chrome対応の特別メンテナンス注意文 -->
{literal}
<script type="text/javascript">
	var menu=new menu.dd("menu");
	menu.init("menu","menuhover");
</script>
<!-- ドロップダウンメニュー -->
{/literal}