<div id="footer">
<div id="footer-inner" class="clearfix">
<p class="copyright">{$__frame.service_info.company_cp_right}</p>
{if !$__frame.ignore_menu.front_site}
<p class="explain footermenu"><a href="{$__frame.service_info.front_site}" target="_blank">{$__frame.service_info.company_site_name}</a>
<a href="{$__frame.service_info.front_site}{if $__frame.lang=="ja_JP"}ja/{/if}faq/" target="_blank">{t}7601,_('よくあるご質問へ'){/t}</a>
{if $__frame.lang=="ja_JP"}<a href="{$__frame.service_info.front_site}ja/download/meeting.html" target="_blank">{t}7602,_('マニュアルダウンロードへ'){/t}</a>{/if}</p>
{/if}
</div>
</div>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/debug.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/access_analyzer.t.html"}
