<div id="gnav" class="clearfix">
<div id="gnav-inner">
<ul>
<li class="gnav01"><a href="/services/api.php?action_presence2_start_meeting=a"><span class="active">{t}8100,_('ホーム'){/t}</span></a></li>

</ul>
{if 1 == "disable logout button"}
<p class="logout"><a href="/services/logout/">{t}2136,_('ログアウト'){/t}</a></p>
{/if}
</div>
</div>

{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}

<!-- chrome対応の特別メンテナンス注意文 -->
<div id="chrome-maint" class="maint-col" style="display:none">
    <p class="maint-text">{t}8188,_('V-CUBEミーティングでサポートされていないGoogle Chromeを使用しており、一部の機能が正しく動作しない場合があります。ご利用前に<a href="http://www.nice2meet.us/ja/requirements/meeting.html" target="_blank">動作環境ページ</a>をご参照ください。'){/t}</p>
</div>
{literal}
<script>
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
var is_edge = navigator.userAgent.toLowerCase().indexOf('edge') > -1;
if(is_chrome == true) {
  if(is_edge != true) {
    j$("#chrome-maint").show();
  }
}
</script>
{/literal}
<!-- chrome対応の特別メンテナンス注意文 -->