{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Document list"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1070,_('Search'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/form2.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/pager.t.html"}
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&sort_key={$key}&sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&sort_key={$key}&sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
        <th>{t}1071,_('First Page'){/t}</th>
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
        <td>
        {if $row.document_status == '2'}
        {if $row.document_format == 'bitmap'}
        <a target="_blank" href="{$smarty.const.N2MY_BASE_URL}/docs/{$row.document_path|escape:'html'}/{$row.document_id|escape:'html'}/{$row.document_id|escape:'html'}_1.jpg">{t}1072,_('Image'){/t}</a>
        {elseif $row.document_format == 'vector'}
        <a target="_blank" href="{$smarty.const.N2MY_BASE_URL}/docs/{$row.document_path|escape:'html'}/{$row.document_id|escape:'html'}/{$row.document_id|escape:'html'}_1.swf">SWF</a>
        {/if}
        {/if}
        </td>
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1073,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1074,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/csv_download.t.html"}
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}