<!-- title -->
<h1>"V-CUBE Meeting" API {$smarty.const.N2MY_CURRENT_API_VERSION} Manual - {$title} </h1>
<!-- menu -->
<span class="preload2"></span>
<ul class="menu2">
    <li class="top"><a href="{$smarty.server.SCRIPT_NAME}" id="home" class="top_link"><span>Overview - 概要</span></a></li>
    <li class="top"><a href="{$smarty.server.SCRIPT_NAME}?action_menu" id="日本語" class="top_link"><span class="down">Menu - クイックリファレンス</span><!--[if gte IE 7]><!--></a><!--<![endif]-->
        <!--[if lte IE 6]><table><tr><td><![endif]-->
        <ul class="sub">
            <li><a href="#">User - ユーザー<!--[if gte IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                {foreach from=$methods key=path item=group}
                {if $groups.$path.type == "user"}
                    <li><a href="#">{$groups.$path.name}<!--[if gte IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <ul>
                        {foreach from=$group item=method}
                            <li><a href="?action_method=&path={$path|escape:"url"}&method={$method.method|escape:"url"}">{$method.name}</a></li>
                        {/foreach}
                        </ul>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                {/if}
                {/foreach}
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <li><a href="#">Admin - 管理者<!--[if gte IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                {foreach from=$methods key=path item=group}
                {if $groups.$path.type == "admin"}
                    <li><a href="#">{$groups.$path.name}<!--[if gte IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <ul>
                        {foreach from=$group item=method}
                            <li><a href="?action_method=&path={$path|escape:"url"}&method={$method.method|escape:"url"}">{$method.name}</a></li>
                        {/foreach}
                        </ul>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                {/if}
                {/foreach}
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <li><a href="#">Inbound - インバウンド(セールス)<!--[if gte IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                {foreach from=$methods key=path item=group}
                {if $groups.$path.type == "inbound"}
                    <li><a href="#">{$groups.$path.name}<!--[if gte IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <ul>
                        {foreach from=$group item=method}
                            <li><a href="?action_method=&path={$path|escape:"url"}&method={$method.method|escape:"url"}">{$method.name}</a></li>
                        {/foreach}
                        </ul>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                {/if}
                {/foreach}
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
            <li><a href="#">Outbound - アウトバウンド(セールス)<!--[if gte IE 7]><!--></a><!--<![endif]-->
                <!--[if lte IE 6]><table><tr><td><![endif]-->
                <ul>
                {foreach from=$methods key=path item=group}
                {if $groups.$path.type == "outbound"}
                    <li><a href="#">{$groups.$path.name}<!--[if gte IE 7]><!--></a><!--<![endif]-->
                        <!--[if lte IE 6]><table><tr><td><![endif]-->
                        <ul>
                        {foreach from=$group item=method}
                            <li><a href="?action_method=&path={$path|escape:"url"}&method={$method.method|escape:"url"}">{$method.name}</a></li>
                        {/foreach}
                        </ul>
                        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
                    </li>
                {/if}
                {/foreach}
                </ul>
                <!--[if lte IE 6]></td></tr></table></a><![endif]-->
            </li>
        </ul>
        <!--[if lte IE 6]></td></tr></table></a><![endif]-->
    </li>
    <li class="top"><a href="{$smarty.server.SCRIPT_NAME}?action_faq" id="privacy" class="top_link"><span>FAQ</span></a></li>
    <li class="top"><a href="/" id="privacy" class="top_link" target="_blank"><span>サービスページ</span></a></li>
</ul>
<div align="right">
API Version |
{foreach from=$version_list item=version}
    {if $smarty.const.N2MY_CURRENT_API_VERSION != $version}
        <a href="/api/reference/{$version}/">{$version}</a> |
    {else}
        <b>{$version}</b> |
    {/if}
{/foreach}
</div>