<p class="page-top"><a href="#wrapper">{t}1811,_('ページトップへ'){/t}</a></p>

<div id="footer">
<div id="footer-inner" class="clearfix">
<p class="copyright">{$__frame.service_info.company_cp_right}</p>
<p class="version">Ver.{$__frame.version}</p>
<ul id="footer-menu">
{if !$__frame.center_admin_login}
<li class="admin"><a href="/services/?action_show_adminlogout">{t}267,_('ユーザページ'){/t}</a></li>
{/if}
{if $__frame.country_list|@count > 1 || $__frame.lang_list|@count > 1 || $__frame.time_zone_list|@count > 1}
<li><a href="/services/admin/index.php?action_env">{t}266,_('個人設定'){/t}</a></li>
{/if}
{if !$__frame.ignore_menu.admin_inquiry}
<li><a href="/services/admin/ask">{t}260,_('お問い合わせ'){/t}</a></li>
{/if}
</ul>
<p class="tel"><img src="/custom/cybozu-trial/lang/common/images/support_pop.gif" alt="カスタマーサポートへのご連絡の際はcybozu.comのWeb会議トライアルユーザであることをお伝えください。" /><img src="/custom/cybozu-trial/lang/common/images/foot_tel_cy.gif" alt="カスタマーサポート" /></p>
</div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/debug.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/access_analyzer.t.html"}
