{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Manage Member CSV"}

<div id="container">
{if $error_msg}
	<span class="attention">{$error_msg|escape:"html"}</span><br>
	<br>
{/if}

	<ul>
		<li><a href="member_csv.php#fragment1"><span>Download CSV File Template</span></a></li>
		<li><a href="member_csv.php#fragment2"><span>Export</span></a></li>
		{if $result_info}<li><a href="member_csv.php#fragment4"><span>Result</span></a></li>{/if}
	</ul>

	{* Download *}
	<div id="fragment1">
		<span class="information">{t}1199,_('Please download the CSV file before add.'){/t}</span><br />
		<pre class="attention">
In order to avoid the garbage character, please use the UTF-8 Encode.
If you want to edit it with a Spreadsheet Software, please use OpenOffice* or anther one, instead of MS Excel.
If you have any problem, please contact the CTU.
*OpenOffice download <a href="http://ja.openoffice.org/download/" target="_blank">hear</a>
		</pre>
		<form action="member_csv.php">
			<input type="hidden" name="target" value="csv_template"/>
			<input type="submit" name="action_download_csv" value="Download sample CSV" />
		</form>
		<fieldset>
			<legend>sample CSV</legend>
			<textarea cols="140" rows="5">{$file_contents}</textarea>
		</fieldset>
		<fieldset>
			<legend>CSV format</legend>
			<table class="searchList">
				<thead>
					<tr>
						<th>column</th>
						<th>validation</th>
						<th>example</th>
						<th>notes</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>flag</td>
						<td>required, allow( X, A, D )</td>
						<td>X</td>
						<td>X:noChange, A:Add, D:Delete</td>
					</tr>
					<tr>
						<td>member_id</td>
						<td>required</td>
						<td>vsales123</td>
						<td>-</td>
					</tr>
					<tr>
						<td>member_pass</td>
						<td>maxlen:128</td>
						<td>abcd1234</td>
						<td>can control by option</td>
					</tr>
					<tr>
						<td>member_email</td>
						<td>required, email_format</td>
						<td>empty@vcube.co.jp</td>
						<td>can control by option</td>
					</tr>
					<tr>
						<td>member_name</td>
						<td>maxlen:50</td>
						<td>name</td>
						<td>if empty, then use member_id</td>
					</tr>
					<tr>
						<td>member_name_kana</td>
						<td>maxlen:50</td>
						<td>kana</td>
						<td>-</td>
					</tr>
					<tr>
						<td>member_group_name</td>
						<td>maxlen:50</td>
						<td>groupA</td>
						<td>-</td>
					</tr>
					<tr>
						<td>timezone</td>
						<td>integer( -12 ~ +14 )</td>
						<td>+9</td>
						<td>can control by option</td>
					</tr>
					<tr>
						<td>lang</td>
						<td>allow( ja,en,zh-cn,zh-tw,fr,th,in,ko )</td>
						<td>ja</td>
						<td>can control by option</td>
					</tr>
					<tr>
						<td>use_shared_storage</td>
						<td>allow( 0, 1 )</td>
						<td>1</td>
						<td>can control by option</td>
					</tr>
				</tbody>
			</table>
		</fieldset>
	</div>
	{* Download ここまで fragment1 *}
	
	{* Export *}
	<div id="fragment2">
		<fieldset>
			<legend>export target</legend>
			<form action="member_csv.php#fragment2" method="post" >
				<table>
					<tr>
						<td>user_id</td>
						<td><input type="text" name="user_id" value="{$smarty.request.user_id|escape:'html'}" /></td>
					</tr>
					<tr>
						<td>display</td>
						<td>
							<input type="checkbox" name="display[is_flag]" value="1" id="flag"/>
							<label for="flag">flag</label>
							<select name="display[flag]">
								<option value="X" selected>X</option>
								<option value="A">A</option>
								<option value="D">D</option>
							</select>
							<br />
							<input type="checkbox" name="display[member_key]" value="1" id="member_key"/>
							<label for="member_key">member_key</label>
							<br />
							<input type="checkbox" name="display[member_id]" value="1" id="member_id" disabled checked/>
							<label for="member_id">member_id</label>
							<input type="hidden" name="display[member_id]" value="1"/>
							<br />
							<input type="checkbox" name="display[member_pass_encode]" value="1" id="member_pass_encode" {if ! $authority}disabled{/if}/>
							<label for="member_pass_encode">member_pass (encode)</label>
							<br />
							<input type="checkbox" name="display[member_pass_decode]" value="1" id="member_pass_decode" {if ! $authority}disabled{/if}/>
							<label for="member_pass_decode">member_pass (decode)</label>
							<br />
							<input type="checkbox" name="display[member_email]" value="1" id="member_email" checked/>
							<label for="member_email">member_email</label>
							<br />
							<input type="checkbox" name="display[member_name]" value="1" id="member_name" checked/>
							<label for="member_name">member_name</label>
							<br />
							<input type="checkbox" name="display[member_name_kana]" value="1" id="member_name_kana" checked/>
							<label for="member_name_kana">member_name_kana</label>
							<br />
							<input type="checkbox" name="display[member_group]" value="1" id="member_group"/>
							<label for="member_group">member_group (key)</label>
							<br />
							<input type="checkbox" name="display[member_group_name]" value="1" id="member_group_name" checked/>
							<label for="member_group_name">member_group_name</label>
							<br />
							<input type="checkbox" name="display[timezone]" value="1" id="timezone" checked/>
							<label for="timezone">timezone</label>
							<br />
							<input type="checkbox" name="display[lang]" value="1" id="lang" checked/>
							<label for="lang">lang</label>
							<br />
							<input type="checkbox" name="display[use_shared_storage]" value="1" id="use_shared_storage" checked/>
							<label for="use_shared_storage">use_shared_storage</label>
							<br />
							<input type="checkbox" name="display[room_key]" value="1" id="room_key"/>
							<label for="room_key">room_key</label>
							<br />
						</td>
					</tr>
				</table>
				<input type="submit" name="action_export" value="export" />
			</form>
		</fieldset>
		
		{* export data *}
		{if $export_info}
		<fieldset>
			<legend>expoort data</legend>
			<table class="searchList" width="95%">
				<thead>
					<tr>
					{foreach from=$export_info.0 key=key item=item}
						<th>{$key}</th>
					{/foreach}
					</tr>
				</thead>
				<tbody>
				{foreach from=$export_info item=row}
					<tr>
					{foreach from=$row item=item}
						<td>{$item|default:'<span class="information">【null】</span>'}</td>
					{/foreach}
					</tr>
				{/foreach}
				</tbody>
			</table>
			<form action="member_csv.php">
				<input type="hidden" name="target" value="export"/>
				<input type="hidden" name="name" value="{$smarty.request.user_id|escape:'html'}"/>
				<input type="submit" name="action_download_csv" value="Download CSV">
			</form>
		</fieldset>
		{/if}
		{* export data *}
	</div>
	{* Export ここまで fragment2 *}
	
	{* Import *}
	{if $authority}
	<div id="fragment3">
		{if !$user_info}
		<fieldset>
			<legend>select terget user</legend>
			<form action="member_csv.php#fragment3" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td>User ID</td>
						<td>
							<input type="text" name="user_id" value="{$smarty.request.user_id|escape:'html'}" />
						</td>
					</tr>
					<tr>
						<td></td>
						<td>
							<input type="submit" name="action_select_user" value="select user" />
						</td>
					</tr>
				</table>
			</form>
		</fieldset>
		{/if}
		{if $user_info}
		{* user_info 確認ここから *}
		<fieldset>
			<legend>user info</legend>
			<form action="member_csv.php#fragment3" method="post">
				<input type="submit" name="action_select_user" value="again select user" />
			</form>
			<table class="searchList">
				<tr>
					<td>user_key</td>
					<td>{$user_info.user_key|escape:'html'|default:'(none)'}</td>
				</tr>
				<tr>
					<td>user_id</td>
					<td>{$user_info.user_id|escape:'html'|default:'(none)'}</td>
				</tr>
				<tr>
					<td>company_name</td>
					<td>{$user_info.user_company_name|escape:'html'|default:'(none)'}</td>
				</tr>
				<tr>
					<td>account_model</td>
					<td>{$user_info.account_model|escape:'html'|default:'(none)'}</td>
				</tr>
				<tr>
					<td>room_count</td>
					<td>{$user_info.room_count}</td>
				</tr>
				<tr>
					<td>max_storage_size</td>
					<td>{$user_info.max_storage_size}</td>
				</tr>
				<tr>
					<td>meeting_version</td>
					<td>{$user_info.meeting_version|escape:'html'|default:'(none)'}</td>
				</tr>
				<tr>
					<td>use_sales</td>
					<td>{$user_info.use_sales|escape:'html'|default:'(none)'}</td>
				</tr>
				{if $user_info.use_sales}
				<tr>
					<td>member_count</td>
					<td><span class="attention">{$user_info.member_count} / {$user_info.max_member_count}</span></td>
				</tr>
				<tr>
					<td>plan info</td>
					<td>{if $user_info.service_info}{$user_info.service_info.service_key|escape:'html'} : {$user_info.service_info.service_name|escape:'html'}{else}<span class="attention">(Unsigned)</span>{/if}</td>
				</tr>
				<tr>
					<td>option info</td>
					<td>
						{if $user_info.options|@count}
							{foreach from=$user_info.options item=option_info}
								{$option_info.service_option_key} : {$option_info.service_option_name}<br />
							{/foreach}
						{else}(Unsigned){/if}
					</td>
				</tr>
				{/if}{* endif use_sales *}
			</table>
		</fieldset>
		{* user_info 確認ここまで *}
		{* CSV情報入力ここから *}
		{if $error_msg || ! $rows}
		<fieldset>
			<legend>inport CSV</legend>
			<form action="member_csv.php#fragment3" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td>model (type)</td>
						<td>
							<select name="target_model">
								{if $user_info.use_sales}<option value="sales" {if $target_model=="sales"}selected{/if}>sales</option>{/if}
								<option value="meeting">meeting</option>
								{* <option value="terminal" {if $target_model=="terminal"}selected{/if}>terminal</option> *}
								{* member or center or free*}
								{if $user_info.account_model == "member"}<option value="{$user_info.account_model}" {if $target_model==$user_info.account_model}selected{/if}>{$user_info.account_model}</option>{/if}
							</select>
						</td>
					</tr>
					<tr>
						<td>(optional)</td>
						<td>
							<input type="checkbox" name="optional[password_generate]" value="1" id="password_generate" checked/>
							<label for="password_generate">if "member_pass" is empty, then <span class="attention">generate random password</span></label>
							<br>
							<input type="checkbox" name="optional[password_lock]" value="1" id="password_lock" checked/>
							<label for="password_lock">if member already registered, then <span class="attention">password do NOT modify</span></label>
							<br>
							<input type="checkbox" name="optional[email_use_member_id]" value="1" id="email_use_member_id" checked/>
							<label for="email_use_member_id">if "member_email" is empty, then use "member_id" (namely member_id need to format email validation)</label>
							<br>
							<label for="timezone">if "timezone" is empty, then use </label>
							<select name="optional[timezone]">
								<option value="-12"  >GMT - 12:00</option>
								<option value="-11"  >GMT - 11:00</option>
								<option value="-10"  >GMT - 10:00</option>
								<option value= "-9"  >GMT - 09:00</option>
								<option value= "-8"  >GMT - 08:00</option>
								<option value= "-7"  >GMT - 07:00</option>
								<option value= "-6"  >GMT - 06:00</option>
								<option value= "-5"  >GMT - 05:00</option>
								<option value= "-4.5">GMT - 04:30</option>
								<option value= "-4"  >GMT - 04:00</option>
								<option value= "-3"  >GMT - 03:00</option>
								<option value= "-3.5">GMT - 03:30</option>
								<option value= "-2"  >GMT - 02:00</option>
								<option value= "-1"  >GMT - 01:00</option>
								<option value=  "0"  >GMT   00:00</option>
								<option value=  "1"  >GMT + 01:00</option>
								<option value=  "2"  >GMT + 02:00</option>
								<option value=  "3"  >GMT + 03:00</option>
								<option value=  "4"  >GMT + 04:00</option>
								<option value=  "5"  >GMT + 05:00</option>
								<option value=  "5.5">GMT + 05:30</option>
								<option value=  "6"  >GMT + 06:00</option>
								<option value=  "6.5">GMT + 06:30</option>
								<option value=  "7"  >GMT + 07:00</option>
								<option value=  "8"  >GMT + 08:00</option>
								<option value=  "9"  selected>GMT + 09:00</option>
								<option value=  "9.5">GMT + 09:30</option>
								<option value= "10"  >GMT + 10:00</option>
								<option value= "10.5">GMT + 10:30</option>
								<option value= "11"  >GMT + 11:00</option>
								<option value= "12"  >GMT + 12:00</option>
								<option value= "13"  >GMT + 13:00</option>
								<option value= "14"  >GMT + 14:00</option>
							</select>
							<br>
							<label for="lang">if "lang" is empty, then use </label>
							<select name="optional[lang]">
								<option value="ja" selected>Japanese</option>
								<option value="en">English</option>
								<option value="zh-cn">Simplified Chinese</option>
								<option value="zh-tw">Traditional Chinese</option>
								<option value="fr">French</option>
								<option value="th">Thai</option>
								<option value="in">Indonesian</option>
								<option value="ko">Korean</option>
							</select>
							<br>
							<label for="use_shared_storage">if "use_shared_storage" is empty, then use </label>
							<select name="optional[use_shared_storage]">
								<option value="1" selected>1</option>
								<option value="0">0</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>CSV File</td>
						<td>
							<input type="file" name="import_file" size="40" />
						</td>
					</tr>
				</table>
				<br />
				<input type="submit" name="action_import_confirm" value="{t}1207,_('Confirm Import'){/t}" />
			</form>
		</fieldset>
		{/if}
		{* CSV情報入力ここまで *}
		{/if}
		{* csv 情報展開ここから *}
		{if $rows}
		<fieldset>
			<legend>Confirm import data</legend>
			{if !$error_msg}
			<form action="member_csv.php#fragment3" method="post" enctype="multipart/form-data">
				<input type="submit" name="action_import_confirm" value="again input csv" />
			</form>
			{/if}
			<table class="original_style" width="95%">
				<thead>
					<tr>
						<th>no</th>
						<th>Action</th>
						<th>member_key</th>
						<th>member_id</th>
						<th>member_pass</th>
						<th>member_name</th>
						<th>member_name_kana</th>
						<th>member_group_name</th>
						<th>member_group(key)</th>
						<th>member_email</th>
						<th>timezone</th>
						<th>lang</th>
						<th>use_shared_storage</th>
					</tr>
				</thead>
				<tbody>
					{foreach from=$rows key=i item=row}
						<tr class="{if $row.error}alert{else}style_{$row.action}{/if}">
							<td{if $row.error} rowspan="2"{/if}>{$i+1}</td>
							<td class="action">{$row.action|escape:"html"|default:"-"}</td>
							<td>
								{if $row.member_key}{$row.member_key|escape:"html"}
								{elseif $row.auto_member_key}<span class="attention">【NEW】</span>
								{else}-{/if}
							</td>
							<td>{$row.member_id|escape:"html"}</td>
							<td>
								{if $row.auto_password}<span class="attention">【AUTO】</span>
								{elseif $row.password_lock}<span class="information">【lock】</span>
								{elseif $row.member_pass}<span class="attention">{$row.member_pass|escape:"html"}</span>
								{else}<span class="information">【undef】</span>{/if}
							</td>
							<td>{$row.member_name|escape:"html"|default:'<span class="information">【undef】</span>'}</td>
							<td>{$row.member_name_kana|escape:"html"|default:'<span class="information">【undef】</span>'}</td>
							<td>{$row.member_group_name|escape:"html"|default:'<span class="information">【undef】</span>'}</td>
							<td>
								{if $row.auto_group_key}<span class="attention">【NEW】</span>
								{else}{$row.member_group|default:'<span class="information">【undef】</span>'}{/if}
							</td>
							<td>{$row.member_email|escape:"html"|default:'<span class="information">【undef】</span>'}</td>
							<td>{$row.timezone|escape:"html"|default:'<span class="information">【undef】</span>'}</td>
							<td>{$row.lang|escape:"html"|default:'<span class="information">【undef】</span>'}</td>
							<td>{$row.use_shared_storage|escape:"html"|default:'<span class="information">【undef】</span>'}</td>
						</tr>
						{if $row.error}
						<tr class="warn">
							<td colspan="12" style="text-align: left;">
							{foreach from=$row.error key=key item=err_msg}
								[ {$key} ] <b>{$row.$key}</b> <span class="attention">{$err_msg}</span><br />
							{/foreach}
							</td>
						</tr>
						{/if}
					{/foreach}
				</tbody>
			</table>
		</fieldset>
		{if !$error_msg}
		<fieldset>
			<legend>action</legend>
			<span class="attention">
				Add : {$count.add|default:"0"}<br />
				Modify: {$count.modify|default:"0"}<br />
				Delete: {$count.delete|default:"0"}<br />
			</span>
			<form action="member_csv.php#fragment4" method="post">
				<input type="submit" name="action_import_complete" value="csv import doing" />
			</form>
		</fieldset>
		{/if}
		{/if}{* endif $rows *}
		{* csv 情報展開ここまで *}
	</div>
	{/if}{* endif $authority *}
	{* Import ここまで fragment3 *}
	
	{* Result *}
	{if $result_info}
	<div id="fragment4">
		<fieldset>
			<legend>result data</legend>
			<table class="searchList" width="95%">
				<thead>
					<tr>
						<th>status</th>
						<th>action</th>
						<th>member_id</th>
						<th>new password</th>
					</tr>
				</thead>
				<tbody>
				{foreach from=$result_info item=row}
					<tr {if !$row.status}class="warn"{/if}>
						<td>
							{if $row.action == 'X'}-
							{elseif $row.status}success
							{else}<span class="attention">failed</span>{/if}
						</td>
						<td>{$row.action}</td>
						<td>{$row.member_id}</td>
						<td>{$row.member_pass|default:"-"}</td>
					</tr>
				{/foreach}
				</tbody>
			</table>
			<form action="member_csv.php">
				<input type="hidden" name="target" value="result"/>
				<input type="submit" name="action_download_csv" value="Download result CSV">
			</form>
		</fieldset>
	</div>
	{/if}
	{* Result ここまで fragment4 *}

{if $error_msg}
	<span class="attention">{$error_msg|escape:"html"}</span><br>
	<br>
{/if}
</div>
{* end container *}

{* override .searchList *}
<style type="text/css">
{literal}
table.original_style {
	clear: both;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #ffffff;
	empty-cells: show;
	margin: 0 0 8px;
}
.original_style th {
	white-space: nowrap;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	color: #333;
	background-color: #6195df;
	background-position: left top;
	padding: 0.3em 0.8em;
	text-align: center;
}
.original_style th.action {
	background-color: #6195df;
}
.original_style td {
	white-space: nowrap;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	padding: 0.3em 1em;
}
.original_style tr.style_Add {
	background-color: #adff2f;
}
.original_style tr.style_Modify {
	background-color: aqua;
}
.original_style tr.style_Delete {
	background-color: #00ff7f;
}
.original_style tr.style_X {
	background-color: gray;
}
.original_style tr.alert {
	background-color: yellow;
}
</style>
{/literal}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}
