<div id="header" class="clearfix">

<h1><a href="/services/admin/"><img src="/lang/{$__frame.lang}/images/sales/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p>

<div class="support-info">
{if !$__frame.ignore_menu.support_info}
{t}76650001,_('カスタマーサポート'){/t}<span>{t}76650002,_('cs-meeting@axlbox.com'){/t}</span>
{/if}

</div>
</div>

