{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Manage User"}
{t 1=$result.ok}4704,_('予約停止件数 : %1$s件'){/t}<br />
{t 1=$result.ng}4706,_('失敗件数 : %1$s件'){/t}<br />
{if $ok_user_list}
成功リスト
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}991211,_('ユーザーID'){/t}</th>
            <th>{t}991212,_('停止予定日'){/t}</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$ok_user_list key=i item=row}
        <tr>
            <td>{$i+1}</td>
            <td>{$row.user_id|escape:"html"}</td>
            <td>{$row.user_expiredatetime|escape:"html"}</td>
        </tr>
    {/foreach}
    </tbody>
    </table>
{/if}
{if $ng_user_list}
失敗リスト
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}1211,_('ユーザーID'){/t}</th>
            <th>{t}1212,_('停止予定日'){/t}</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$ng_user_list key=i item=row}
        <tr>
            <td>{$i+1}</td>
            <td>{$row.user_id|escape:"html"}</td>
            <td>{$row.user_expiredatetime|escape:"html"}</td>
        </tr>
    {/foreach}
    </tbody>
    </table>
{/if}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}