{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Manage User"}
{literal}
<script type="text/javascript">
<!--
    function form_submit(frm) {
        if (confirm("{/literal}{t}1208,_('本当に登録しますか？'){/t}{literal}")) {
            frm.submit();
        }
    }
// -->
</script>
{/literal}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1196,_('テンプレートのダウンロード'){/t}</span></a></li>
        <li><a href="#fragment2"><span>{t}1197,_('インポート'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        <span class="information">{t}1199,_('CSVファイルをダウンロードして登録してください。'){/t}</span><br />
        <form action="auto_expire.php" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1200,_('CSVファイルのダウンロード'){/t}</legend>
        <span class="attention">{t}1201,_('文字コードは文字化けを防ぐため、UTF-8のみとなります。'){/t}<br />
        {t}4694,_('表計算ソフトで編集する場合は、'){/t}MS Excel{t}4695,_('ではなく、'){/t}OpenOffice{t}4696,_('などを使用して加工してください。'){/t}<br />
        {t}4697,_('分からないときは'){/t}CTU{t}4698,_('に連絡してください。'){/t}</span><br />
        <a href="http://ja.openoffice.org/download/">{t}1202,_('OpenOfficeはこちら'){/t}</a><br /><br />
        <input type="submit" name="action_download" value="{t}1203,_('CSVテンプレートファイルのダウンロード'){/t}" />
        </fieldset>
        </form>
    </div>

    <div id="fragment2">
        <span class="information">{t}1204,_('編集したCSVファイルをアップロードしてください。'){/t}</span><br />
        {foreach from=$form_err_msg item=err_msg}
        <span class="attention">{$err_msg|escape:"html"}</span><br />
        {/foreach}
        <form action="auto_expire.php#fragment2" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1197,_('インポート'){/t}</legend>
        <table>
        <tr>
        <td>CSVファイル</td>
        <td><input type="file" name="import_file" size="40"/></td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" name="action_import_confirm" value="{t}1207,_('インポート確認'){/t}" /></td>
        </tr>
        </table>
        </fieldset>
        {if $err_flg == 0 && $rows}
            <fieldset>
            <legend>{t}1209,_('確認'){/t}</legend>
            <table class="searchList" width="95%">
            <thead>
            <tr>
                <th>no</th>
                <th>{t}991211,_('ユーザーID'){/t}</th>
                <th>{t}991212,_('停止日'){/t}</th>
            </tr>
            </thead>
            <tbody>
            {foreach from=$rows key=i item=row}
                <tr>
                    <td>{$i+1}</td>
                    <td>{$row.user_id|escape:"html"}</td>
                    <td>{$row.user_expiredatetime|escape:"html"}</td>
                </tr>
                {if $row.error}
                    <tr class="warn">
                        <td colspan="9" style="text-align: left;">
                            {foreach from=$row.error key=key item=err_msg}
                                [ {$key} ] <b>{$row.$key}</b> <span class='attention'>{$err_msg}</span><br />
                            {/foreach}
                        </td>
                    </tr>
                {/if}
            {/foreach}
            </tbody>
            </table>
            <input type="button" value="{t}1218,_('登録'){/t}" onclick="form_submit(this.form);" />
            {if $err_flg == 0}
                <input type="hidden" name="user_id" value="{$smarty.request.user_id}"/>
                <input type="hidden" name="user_expire_date_time" value="{$smarty.request.user_expire_date_time}"/>
                <input type="hidden" name="action_import" />
            {/if}
            </fieldset>
        {/if}
        </form>
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}