{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Intranet FMS"}

{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1433,_('登録しますか？'){/t}{literal}")){
        document.add_form._action.name = "action_add_intra_fms";
        document.add_form.submit();
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="user_key" value="{$user_key}" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<fieldset>
<legend>Add Form</legend>
<table>
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <td>{t}1434,_('ユーザーKEY'){/t}</td>
        <td>{$user_key|escape:"html"}</td>
    </tr>
    <tr>
        <td>server_address</td>
        <td><input type="text" name="add_form[server_address]" size="15" value="" /></td>
    </tr>
    <tr>
        <td>server_port</td>
        <td><input type="text" name="add_form[server_port]" size="10" value="" /></td></td>
    </tr>
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1435,_('追加'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/pager.t.html"}

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1436,_('アクション'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td class="action">
            <!-- a href="?action_room_detail&amp;room_key={$row.room_key|escape:'html'}">{t}1437,_('詳細'){/t}</a>&nbsp;|&nbsp; -->
            <a href="?action_delete&amp;key={$row.user_key|escape:'html'}">{t}1438,_('停止'){/t}</a>
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1439,_('全て選択'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1440,_('選択解除'){/t}" class="inputCalendar" onclick="all_clear();" /><br /><br />
<input type="button" value="{t}1441,_('戻る'){/t}" class="" onclick="javascript:history.back();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}