{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Room"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1286,_('Search'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
{literal}
<script type="text/javascript">
<!--
function room_delete(room_key, room_expire_date_time){
    document.delete_form._action.name = "action_room_expire";
    document.delete_form.room_key.value = room_key;
    document.delete_form.room_expire_date_time.value = room_expire_date_time;
    document.delete_form.submit();
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="room_key" value="" />
<input type="hidden" name="room_expire_date_time" value="" />
<input type="hidden" name="temp" value="{$action}" />
<input type="hidden" name="type" value="{$type}" />
<input type="hidden" name="table" value="{$table}" />
</form>

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}1288,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&sort_key={$key}&sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&sort_key={$key}&sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            <a href="?action_list&amp;table=reservation&amp;type=data&amp;sort_key=reservation_key&amp;form[room_key]={$row.room_key|escape:'html'}&reset=2">{t}1289,_('Reservation List'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_list&amp;table=meeting&amp;type=data&amp;sort_key=meeting_key&amp;form[room_key]={$row.room_key|escape:'html'}&reset=2">{t}1290,_('Meeting List'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_list&amp;table=user&amp;type=data&amp;sort_key=user_key&amp;form[user_key]={$value|escape:'html'}&reset=2">{t}1291,_('User Info'){/t}</a>&nbsp;|&nbsp;
            {if $authority != 0}<a href="?action_room_detail&room_key={$row.room_key|escape:'html'}">{t}1292,_('Detail'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_modify&amp;type=data&amp;table=room&key=room_key&value={$row.room_key|escape:'html'}&uptime=room_updatetime">{t}1293,_('Modify'){/t}</a>&nbsp;|&nbsp;{/if}
            {if $authority != 0}{if $row.room_status == "1"}<a href="javascript:room_delete('{$row.room_key}', '{$row.room_expiredatetime}')">{t}991294,_('Stop Reservation'){/t}</a>{/if}{/if}
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1295,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1296,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/csv_download.t.html"}
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}