{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage User"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1003,_('Search'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
{literal}
<script type="text/javascript">
<!--
    function select_user(server_key, user_id) {
        window.open("?action_menu" + "&server_key="+server_key, "menu");
        window.open("?action_top&type=data&table=user" + "&server_key="+server_key + "&key=user_id" + "&value="+user_id, "_self");
    }
    function select_total(server_key, user_id) {
        window.open("?action_menu" + "&server_key="+server_key, "menu");
        window.open("?action_user_total&type=data" + "&server_key="+server_key + "&user_id="+user_id, "_self");
    }
//-->
</script>
{/literal}
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th nowrap>{t}1004,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            <a href="javascript:select_user({$row.server_key|escape:'html'}, '{$row.user_id|escape:'html'}')">{t}1005,_('Display'){/t}</a>&nbsp;|&nbsp;
            <a href="javascript:select_total({$row.server_key|escape:'html'}, '{$row.user_id|escape:'html'}')">{t}1006,_('Statistics'){/t}</a>
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1007,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1008,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}