<div id="header" class="clearfix">

<h1><a href="/services/admin/"><img src="/custom/pigeone/lang/common/images/logo.gif" alt="pigeone" /></a></h1>
<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p>

<div class="support-info">
{t}1111111111,_('プロダクト・サポート（平日 10:00～17:00　電話受付）'){/t}<span>03-4577-8609</span>

</div>
</div>

