{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Manage Member"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1196,_('テンプレートのダウンロード'){/t}</span></a></li>
        <li><a href="#fragment2"><span>{t}1197,_('インポート'){/t}</span></a></li>
        <li><a href="#fragment3"><span>{t}1198,_('エクスポート'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        <span class="information">{t}1199,_('CSVファイルをダウンロードして登録してください。'){/t}</span><br />
        <form action="nagase.php" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1200,_('CSVファイルのダウンロード'){/t}</legend>
        <span class="attention">{t}1201,_('文字コードは文字化けを防ぐため、UTF-8のみとなります。'){/t}<br />
        {t}4694,_('表計算ソフトで編集する場合は、'){/t}MS Excel{t}4695,_('ではなく、'){/t}OpenOffice{t}4696,_('などを使用して加工してください。'){/t}<br />
        {t}4697,_('分からないときは'){/t}CTU{t}4698,_('に連絡してください。'){/t}</span><br />
        <a href="http://ja.openoffice.org/download/">{t}1202,_('OpenOfficeはこちら'){/t}</a><br /><br />
        <input type="submit" name="action_download" value="{t}1203,_('CSVテンプレートファイルのダウンロード'){/t}" />
        </fieldset>
        </form>
    </div>

    <div id="fragment2">
        <span class="information">{t}1204,_('既存のユーザーIDを指定して、編集したCSVファイルをアップロードしてください。'){/t}</span><br />
        {foreach from=$form_err_msg item=err_msg}
        <span class="attention">{$err_msg|escape:"html"}</span><br />
        {/foreach}
        <form action="nagase.php#fragment2" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1197,_('インポート'){/t}</legend>
        <table>
        <tr>
        <td>ユーザID</td>
        <td><input type="text" name="user_id" value="{$smarty.request.user_id|escape:'html'}" /></td>
        </tr>
        <tr>
        <td>CSVファイル</td>
        <td><input type="file" name="import_file" size="40"/></td>
        </tr>
        <tr>
        <td>パスワード</td>
        <td>
            <input type="checkbox" name="auto_pw" value="1" id="auto_pw"{if $smarty.request.auto_pw == 1} checked="checked"{/if} />
            <label for="auto_pw">自動生成（CSVで指定があれば優先）</label>
        </td>
        </tr>
        <tr>
        <td>グループ</td>
        <td>
            <input type="checkbox" name="auto_group" value="1" id="auto_group"{if $smarty.request.auto_group == 1} checked="checked"{/if} />
            <label for="auto_group">存在しないグループ名は自動で登録する</label>
        </td>
        </tr>
        <tr>
        <td>旧バージョン用</td>
        <td>
            <input type="checkbox" name="strict" value="1" id="strict"{if $smarty.request.strict == 1} checked="checked"{/if} />
            <label for="strict">{t}4701,_('メンバー情報を厳密にチェックする'){/t} ( 4.2{t}4702,_('以前のバージョンはチェックをはずす'){/t} ) </label>
        </td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" name="action_import_confirm" value="{t}1207,_('インポート確認'){/t}" /></td>
        </tr>
        </table>
        </fieldset>
{if $rows}
{literal}
<script type="text/javascript">
<!--
    function form_submit(frm) {
        if (confirm("{/literal}{t}1208,_('本当に登録しますか？'){/t}{literal}")) {
            frm.submit();
        }
    }
// -->
</script>
{/literal}
    <form action="nagase.php"  method="post">
    <fieldset>
    <legend>{t}1209,_('確認'){/t}</legend>
    <div class="title">User Information</div>
    <table class="searchList">
    <tr>
        <td class="action">User Name</td>
        <td>{$user_info.user_company_name}</td>
    </tr>
    <tr>
        <td class="action">Account Type</td>
        <td>{$user_info.account_model}</td>
    </tr>
    </table>
    {if $err_flg == 1}
    <span class='required'>{t}1210,_('入力エラーがあります。再度見直してください。'){/t}</span>
    {/if}
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}1211,_('メンバーID'){/t}</th>
            <th>{t}1212,_('パスワード'){/t}</th>
            <th>{t}1213,_('名前'){/t}</th>
            <th>{t}1213,_('名前'){/t} ( {t}4703,_('ふりがな'){/t} ) </th>
            <th>{t}1215,_('Eメール'){/t}</th>
            <th>{t}1216,_('グループ名'){/t}</th>
            <th>{t}1217,_('グループKEY'){/t}</th>
            <th>timezone</th>
            <th>lang</th>
            <th>member_type</th>
            <th>room_key</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$rows key=i item=row}
        <tr{if $row.error} class="warn"{/if}>
            <td{if $row.error} rowspan="2"{/if}>{$i+1}</td>
            <td>{$row.member_id|escape:"html"}</td>
            <td>{if $row.member_pass}{$row.member_pass|escape:"html"}{else}{if $smarty.request.auto_pw == 1}<span class="attention">(自動)</span>{/if}{/if}</td>
            <td>{$row.member_name|escape:"html"}</td>
            <td>{$row.member_name_kana|escape:"html"}</td>
            <td>{$row.member_email|escape:"html"}</td>
            <td>{$row.member_group_name|escape:"html"}</td>
            <td>{if $row.member_group}{$row.member_group|escape:"html"}{else}{if $row.member_group_name && $smarty.request.auto_group == 1}<span class="attention">(自動登録)</span>{/if}{/if}</td>
            <td>{$row.timezone|escape:"html"}</td>
            <td>{$row.lang|escape:"html"}</td>
            <td>{$row.member_type|escape:"html"}</td>
            <td>{$row.room_key|escape:"html"}</td>
        </tr>
        {if $row.error}
        <tr class="warn">
            <td colspan="9" style="text-align: left;">
            {foreach from=$row.error key=key item=err_msg}
                [ {$key} ] <b>{$row.$key}</b> <span class='attention'>{$err_msg}</span><br />
            {/foreach}
            </td>
        </tr>
        {/if}
    {/foreach}
    </tbody>
    </table>
    {if $err_flg == 0}
    <input type="hidden" name="auto_pw" value="{$smarty.request.auto_pw}"/>
    <input type="hidden" name="auto_group" value="{$smarty.request.auto_group}"/>
    <input type="hidden" name="strict" value="{$smarty.request.strict}"/>
    <input type="hidden" name="user_id" value="{$smarty.request.user_id}"/>
    <input type="hidden" name="action_import" />
    <input type="button" value="{t}1218,_('登録'){/t}" onclick="form_submit(this.form);" />
    {/if}
    </form>
    </fieldset>
{/if}
        </form>
    </div>

    <div id="fragment3">
        <span class="information">{t}1219,_('既存のユーザーIDを指定して、エクスポートしてください。'){/t}</span><br />
        <form action="nagase.php" method="post" >
        <fieldset>
        <legend>{t}1198,_('エクスポート'){/t}</legend>
        {t}4699,_('ユーザー'){/t}ID : <input type="text" name="user_id" value="{$smarty.request.user_id|escape:'html'}" />
        <input type="submit" name="action_export" value="{t}1198,_('エクスポート'){/t}" />
        </fieldset>
        </form>
    </div>
</div>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}