<div id="gnav" class="admin-gnav clearfix">
<div id="gnav-inner">
<ul class="gnav-menu" id="menu">
<li class="gnav01"><a href="/services/admin/"><span class="active">{t}8100,_('ホーム'){/t}</span></a></li>
<li class="gnav05">
    <a href="/services/admin/?action_admin_log"><span class="active"><span class="drop">{t}8432,_('記録'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/meetinglog/?reset=1">{t}2127,_('会議記録'){/t}</a></li>
    {if !$__frame.ignore_menu.admin_log}<li><a href="/services/admin/log/">{t}8433,_('ログの照会'){/t}</a></li>{/if}
    </ul>
</li>

{if !$__frame.ignore_menu.admin_room_info}
<li class="gnav04">
    <a href="/services/admin/security/"><span class="active"><span class="drop">{t}2169,_('設定'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/?action_room_plan&amp;setting=1">{t}7,_('会議室設定'){/t}</a></li>
    {if !$__frame.ignore_menu.admin_security}
    <li><a href="/services/admin/security/?action_mail_setting">{t}8436,_('招待メール設定'){/t}</a></li>
    <li><a href="/services/admin/room/?action_set_active">{t}666,_('メールファイル貼り込み設定'){/t}</a></li>
    <li><a href="/services/admin/security/?action_ip_list">{t}6449,_('IPアドレス制限'){/t}</a></li>
    <li><a href="/services/admin/security/?action_meeting_setting">{t}6452,_('会議室利用制限'){/t}</a></li>
    {/if}
    </ul>
</li>
{elseif $__frame.n2my.mail_wb_upload}
<li class="gnav04">
   <a href="/services/admin/security/"><span class="active"><span class="drop">{t}2169,_('設定'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/?action_room_plan&amp;setting=1">{t}7,_('会議室設定'){/t}</a></li>
    {if !$__frame.ignore_menu.admin_security}
    <li><a href="/services/admin/security/?action_mail_setting">{t}8436,_('招待メール設定'){/t}</a></li>
    <li><a href="/services/admin/room/?action_set_active">{t}666,_('メールファイル貼り込み設定'){/t}</a></li>
    <li><a href="/services/admin/security/?action_ip_list">{t}6449,_('IPアドレス制限'){/t}</a></li>
    <li><a href="/services/admin/security/?action_meeting_setting">{t}6452,_('会議室利用制限'){/t}</a></li>
    {/if}
    </ul>
</li>
{/if}

{if !$__frame.ignore_menu.admin_member}
<li class="gnav02">
    <a href="/services/admin/member/"><span class="active"><span class="drop">{t}8438,_('管理'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/member/?action_admin_member">{t}462,_('メンバー管理'){/t}</a></li>
    <li><a href="/services/admin/member/?action_admin_group">{t}468,_('グループ管理'){/t}</a></li>
    {if !$__frame.ignore_menu.display_address}<li><a href="/services/admin/addressbook/">{t}7607,_('アドレス帳管理'){/t}</a></li>    {/if}
    </ul>
</li>
{/if}

{if !$__frame.ignore_menu.admin_account}
<li class="gnav07">
    <a href="/services/admin/?action_contract"><span class="active"><span class="drop">{t}8441,_('ご契約情報'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/?action_admin_info">{t}259,_('アカウント情報'){/t}</a></li>
    {if !$__frame.ignore_menu.admin_option && $hidden}<li><a href="/services/admin/?action_option_list">{t}8442,_('オプション一覧'){/t}</a></li>{/if}
    </ul>
</li>
{/if}
<li>
    <a href="#"><span class="drop">{t}151,_('その他'){/t}</span></a>
    <ul>
    {if $__frame.country_list|@count > 1 || $__frame.lang_list|@count > 1 || $__frame.time_zone_list|@count > 1}
    <li><a href="/services/admin/index.php?action_env">{t}266,_('個人設定'){/t}</a></li>
    {/if}
    {if !$__frame.ignore_menu.admin_inquiry}
    <li><a href="/custom/pstc/services/admin/ask">{t}260,_('お問い合わせ'){/t}</a></li>
    {/if}
    </ul>
</li>
</ul>

{if !$__frame.center_admin_login}
<div class="logout">
  <ul>
    <li><a href="/services/?action_show_adminlogout">{t}34,_('ユーザーページへ'){/t}</a></li>
  </ul>
</div>
{else}
<div class="logout">
    <ul>
        <li><a href="/services/logout/">{t}2136,_('ログアウト'){/t}</a></li>
    </ul>
</div>
{/if}
</div>
</div>


{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}
{literal}
<script type="text/javascript">
	var menu=new menu.dd("menu");
	menu.init("menu","menuhover");
</script>
<!-- ドロップダウンメニュー -->
{/literal}
