<p class="page-top"><a href="#wrapper">{t}1811,_('ページトップへ'){/t}</a></p>

<div id="footer">
<div id="footer-inner" class="clearfix">
<p class="copyright">{$__frame.service_info.company_cp_right}</p>
<ul id="footer-menu">
{if $__frame.country_list|@count > 1 || $__frame.lang_list|@count > 1 || $__frame.time_zone_list|@count > 1}
<li><a href="/services/admin/index.php?action_env">{t}266,_('個人設定'){/t}</a></li>
{/if}
{if !$__frame.ignore_menu.admin_inquiry}
<li><a href="/services/admin/ask">{t}260,_('お問い合わせ'){/t}</a></li>
{/if}
</ul>
</div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/debug.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/access_analyzer.t.html"}
