<div id="header">

<h1>{if $__frame.user_info}<a href="/services/">{else}<a href="/services/login/">{/if}<img src="/custom/tact/lang/common/images/logo.png" alt="{$__frame.service_info.full_name}" /></a></h1>


</div>
