{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Add Room"}
{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1396,_('Are you sure to add?'){/t}{literal}")){
        document.add_form._action.name = "action_add_room_complete";
        document.add_form.submit();
    }
}
function room_delete(room_key, room_expire_date_time){
    document.delete_form._action.name = "action_room_expire";
    document.delete_form.room_key.value = room_key;
    document.delete_form.room_expire_date_time.value = room_expire_date_time;
    document.delete_form.submit();
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="user_key" value="{$user_key}" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<fieldset>
<legend>Add Form</legend>
<table>
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <td>{t}1397,_('User ID'){/t}</td>
        <td>{$user_id|escape:"html"}</td>
    </tr>
    <tr>
        <td>{t}1398,_('Room Name'){/t}</td>
        <td><input type="text" name="add_form[room_name]" size="10" value="" /></td>
    </tr>
    <tr>
        <td>{t}1399,_('Plan'){/t}</td>
        <td><select name="add_form[service_key]" id="service_key">
                {foreach from=$service_list item=service}
                <option value="{$service.service_key}">{$service.service_name|escape:"html"}</option>
                {/foreach}
        </select></td>
    </tr>
    <tr>
        <td>{t}1400,_('Discount'){/t}</td>
        <td><input type="text" name="add_form[discount_rate]" size="10" value="" /></td>
    </tr>
    <tr>
        <td>{t}1401,_('Start Time'){/t}</td>
        <td><input type="text" id="add_room_starttime" name="add_form[room_starttime]" value="" />
            <button type="reset" id="add_room_starttime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_room_starttime',
        button      : 'add_room_starttime_btn',
        ifFormat    : '%Y/%m/%d 00:00:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <tr>
        <td>{t}1404,_('Expiry Time'){/t}</td>
        <td><input type="text" id="add_room_expirytime" name="add_form[room_expirytime]" value="" />
            <button type="reset" id="add_room_expirytime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_room_expirytime',
        button      : 'add_room_expirytime_btn',
        ifFormat    : '%Y/%m/%d 23:59:59',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <tr>
        <th>{t}1402,_('Yearly Plan'){/t}</td>
        <td><input type="checkbox" name="add_form[room_plan_yearly]" value=1>{t}1403,_('Sign'){/t}</td>
    </tr>
    <tr>
        <td>{t}1404,_('Plan End Time'){/t}</td>
        <td><input type="text" id="add_room_plan_endtime" name="add_form[room_plan_endtime]" value="" />
            <button type="reset" id="add_room_plan_endtime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_room_plan_endtime',
        button      : 'add_room_plan_endtime_btn',
        ifFormat    : '%Y/%m/%d 23:59:59',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <tr>
        <td>{t}4729,_('Plan Period'){/t} ( {t}4730,_('Month'){/t} ) </td>
        <td><select name="add_form[contract_month_number]">
                <option value="0">{t}1406,_('none'){/t}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1407,_('Add'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}

<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="room_key" value="" />
<input type="hidden" name="room_expire_date_time" value="" />
<input type="hidden" name="temp" value="{$action}" />

<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1408,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td class="action">
            <a href="?action_room_detail&amp;room_key={$row.room_key|escape:'html'}">{t}1409,_('Detail'){/t}</a>&nbsp;|&nbsp;
            <a href="javascript:room_delete('{$row.room_key}', '{$row.room_expiredatetime}')">{t}991294,_('Stop Reservation'){/t}</a>
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1411,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1412,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" /><br /><br />
<input type="button" value="{t}1413,_('back'){/t}" class="" onclick="javascript:history.back();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}