{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="MasterID from CSV"}

<div id="container">
{if $error_msg}
	<span class="attention">{$error_msg|escape:"html"}</span><br>
	<br>
{/if}

	<ul>
		{if $authority}<li><a href="#fragment1"><span>ONE Master ID from CSV</span></a></li>{/if}
	</ul>

	{* Import *}
	{if $authority}
	<div id="fragment1">
		{* CSV情報入力ここから *}
		{if $error_msg || ! $rows}
		<fieldset>
			<legend>import CSV</legend>
			<form action="masterID_csv.php#fragment1" method="post" enctype="multipart/form-data">
				<table>
					<tr>
						<td>CSV File</td>
						<td>
							<input type="file" name="import_file" size="40" />
						</td>
					</tr>
				</table>
				<br />
				<input type="submit" name="action_modify_go" value="Go" />
			</form>
		</fieldset>
		{/if}
		{* CSV情報入力ここまで *}
	</div>
	{/if}{* endif $authority *}
	{* Import ここまで fragment1 *}

{if $error_msg}
	<span class="attention">{$error_msg|escape:"html"}</span><br>
	<br>
{/if}
</div>
{* end container *}

{* override .searchList *}
<style type="text/css">
{literal}
table.original_style {
	clear: both;
	border-top: 1px solid #777;
	border-left: 1px solid #777;
	border-collapse: collapse;
	border-spacing: 0;
	background-color: #ffffff;
	empty-cells: show;
	margin: 0 0 8px;
}
.original_style th {
	white-space: nowrap;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	color: #333;
	background-color: #6195df;
	background-position: left top;
	padding: 0.3em 0.8em;
	text-align: center;
}
.original_style th.action {
	background-color: #6195df;
}
.original_style td {
	white-space: nowrap;
	border-right: 1px solid #777;
	border-bottom: 1px solid #777;
	padding: 0.3em 1em;
}
.original_style tr.style_Add {
	background-color: #adff2f;
}
.original_style tr.style_Modify {
	background-color: aqua;
}
.original_style tr.style_Delete {
	background-color: #00ff7f;
}
.original_style tr.style_X {
	background-color: gray;
}
.original_style tr.alert {
	background-color: yellow;
}
</style>
{/literal}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
