<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/head.t.html"}
<script type="text/javascript" src="/shared/js/address_book.js"></script>
<script type="text/javascript" src="/shared/js/interaction.js" charset="UTF-8"></script>
<script type="text/javascript" src="/shared/js/extend.js" charset="UTF-8"></script>
<script>
<!--
jQuery.noConflict();
var j$ = jQuery;
-->
</script>
<script type="text/javascript">
    var myAddressBookList = new Array();
    var mySessionAddressBookList = new Array();
{foreach from=$rows item=row}
    myAddressBookList.push ({literal}{{/literal}key : '{$row.address_book_key}', name : '{$row.name|escape:javascript}{if $row.name_kana} ({$row.name_kana|escape:javascript}){/if}', email : '{$row.email|escape}', type : '', timezone : '{$row.timezone|escape}', lang : '{$row.lang|escape}'{literal}}{/literal});
{/foreach}
{if $session_address_list}
{foreach from=$session_address_list item=row}
    mySessionAddressBookList.push ({literal}{{/literal}key : '{$row.address_book_key}', name : '{$row.name|escape:javascript}{if $row.name_kana} ({$row.name_kana|escape:javascript}){/if}', email : '{$row.email|escape}', type : '', timezone : '{$row.timezone|escape}', lang : '{$row.lang|escape}'{literal}}{/literal});
{/foreach}
{/if}
{literal}
    function search() {
        document.search_form.submit();
    }
{/literal}
</script>
<script type="text/javascript">
{literal}
j$(document).ready(function(){
    j$(".highlight tr").mouseover(function(){
        j$(this).addClass("over");
    }).mouseout(function(){
        j$(this).removeClass("over");
    });
    j$(".highlight tr").click(function(event){
    if (event.target.type == 'button') return;
        j$(this).toggleClass("click");
        if (event.target.type !== 'checkbox') {
            j$(':checkbox', this).trigger('click');
            var check = j$(':checkbox', this).attr("checked");
            var aid = j$(':checkbox', this).val();
            ajax_send_check(check,aid,"addressbook");
        }
    });
    j$(":checkbox",".highlight").change(function(){
        var check = j$(this).attr("checked");
        var aid = j$(this).val();
        ajax_send_check(check,aid,"addressbook");
    });
    j$.each(mySessionAddressBookList, function(i, sessionAddress){
        j$(":checkbox[value="+sessionAddress.key+"]",".highlight").attr("checked","checked");    
    });
});

{/literal}
</script>
<title>{if $__frame.browser_title}{$__frame.browser_title} | {else}{$__frame.service_info.title}{/if}{t}1863,_('アドレス帳'){/t}</title>
</head>
{if $__frame.service_mode =="sales"}
<body id="addressbook" class="sales">
{else}
<body id="addressbook">
{/if}

    <div class="index">

    <ul class="clearfix">
    {if !$__frame.ignore_menu.display_address}
        <li id="tab-address"><a href="?action_address_list=1&reset=1"><span>{t}1863,_('アドレス帳'){/t}</span></a></li>
    {/if}
    {if !$__frame.ignore_menu.admin_member && $__frame.service_mode != "sales"}
        <li id="tab-mem"><a href="?action_member_list=1&reset=1"><span>{t}1865,_('メンバー'){/t}</span></a></li>
    {/if}
    </ul>

    <p class="close"><a href="javascript:window.close();">{t}1867,_('閉じる'){/t}</a></p>

    <p class="form-txt">{t}4500,_('招待したい相手を選び「選択欄」にチェックをいれてください。'){/t}
    <br />{t}1873,_('よく招待する相手は「新規登録」ボタンから登録してください。次回から入力を省略することができます。'){/t}</p>
    <p class="add-new"><span class="button button25"><span class="button-inner"><input type="button" id="add-new" value="{t}1874,_('新規登録'){/t}" onclick="javascript:location.href='{$__frame.self}?action_form=1';" class="icon i-go" /></span></span></p>


    <div class="search-col">
    <div class="search-col-inner clearfix">
    <form action="" method="post" name="search_form">
    <input type="text" class="input-text" id="searchWindow" name="form[name]" value="{$form_data.request.name|escape:'html'}" />
    {if $__frame.member_info}
        <input type="checkbox" name="form[type]"{if $form_data.request.type == 1} checked="checked"{/if} value="1" id="member_type" /><label for="member_type">{t}1871,_('共有アドレスも表示'){/t}</label>
    {/if}
    <span class="button button22"><span class="button-inner"><input type="button" onclick="search();" value="{t}1872,_('検索'){/t}" class="icon i-search" /></span></span>
	<p class="search_comment">{t}9007,_('名前、ふりがな、グループ、メールアドレス入力で検索できます'){/t}</p>
    </form>
    </div>
    </div>


    <div class="table-cont clearfix">
    <div class="pager">
    <span class="check-area">
    {if $__frame.service_mode != "sales"}
    <input type="button" value="{t}1875,_('全て選択'){/t}" onclick="all_select('address');" class="bt-check" /><input type="button" value="{t}1876,_('選択解除'){/t}" onclick="all_clear('address');" class="bt-check" /></span>
    {/if}
    <p>{t total=$pager.total start=$pager.start end=$pager.end}2231,_('全<span class="strong total">%1$s</span>件中 %2$s ～ %3$s 件表示'){/t}</p>
    {if $pager.range}
    <span>
        (
        {if $pager.prev}
        &nbsp;<a href="?{$pager.action}&amp;page=1&amp;page_cnt={$pager.limit}">[1]</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.prev}&amp;page_cnt={$pager.limit}">{t}504,_('前へ'){/t}</a>
        {/if}
        {foreach from=$pager.range key=key item=is_current}
            {if $is_current}
                &nbsp;<b>{$key}</b>
            {else}
                &nbsp;<a href="?{$pager.action}&amp;page={$key}&amp;page_cnt={$pager.limit}">{$key}</a>
            {/if}
        {/foreach}
        {if $pager.next}
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.next}&amp;page_cnt={$pager.limit}">{t}505,_('次へ'){/t}</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.last}&amp;page_cnt={$pager.limit}">[{$pager.last}]</a>
        {/if}
        &nbsp;)
    </span>{/if}
    </div>
    </div>

    <form name="list_form" action="{$__frame.self}" method="post" id="address_book_list">
    <input type="hidden" name="__submit_key" value="{$__submit_key}" />
    <input type="hidden" name="_action" value="">
    <table class="highlight">
    <thead>
    <tr>
    <th nowrap>{t}1881,_('選択'){/t}</th>
    <th nowrap>{t}4503,_('名前'){/t}
    <span class="sort">
    {if $pager.sort_key=="name" && $pager.sort_type=="asc"}
    <a href="?action_address_list=&sort_key=name&sort_type=asc" class="asc_on">{t}1882,_('▲'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=name&sort_type=asc" class="asc">{t}1882,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="name" && $pager.sort_type=="desc"}
    <a href="?action_address_list=&sort_key=name&sort_type=desc" class="desc_on">{t}1884,_('▼'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=name&sort_type=desc" class="desc">{t}1884,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    {if !$__frame.ignore_menu.furigana}
    <th nowrap>{t}4504,_('ふりがな'){/t}
    <span class="sort">
    {if $pager.sort_key=="name_kana" && $pager.sort_type=="asc"}
    <a href="?action_address_list=&sort_key=name_kana&sort_type=asc" class="asc_on">{t}1882,_('▲'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=name_kana&sort_type=asc" class="asc">{t}1882,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="name_kana" && $pager.sort_type=="desc"}
    <a href="?action_address_list=&sort_key=name_kana&sort_type=desc" class="desc_on">{t}1884,_('▼'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=name_kana&sort_type=desc" class="desc">{t}1884,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    {/if}

    <th nowrap>{t}4516,_('グループ'){/t}
    <span class="sort">
    {if $pager.sort_key=="group_name" && $pager.sort_type=="asc"}
    <a href="?action_address_list=&sort_key=group_name&sort_type=asc" class="asc_on">{t}1882,_('▲'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=group_name&sort_type=asc" class="asc">{t}1882,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="group_name" && $pager.sort_type=="desc"}
    <a href="?action_address_list=&sort_key=group_name&sort_type=desc" class="desc_on">{t}1884,_('▼'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=group_name&sort_type=desc" class="desc">{t}1884,_('▼'){/t}</a>
    {/if}
    </span>
    </th>


    <th nowrap>{t}4505,_('アドレス'){/t}
    <span class="sort">
    {if $pager.sort_key=="email" && $pager.sort_type=="asc"}
    <a href="?action_address_list=&sort_key=email&sort_type=asc" class="asc_on">{t}1882,_('▲'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=email&sort_type=asc" class="asc">{t}1882,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="email" && $pager.sort_type=="desc"}
    <a href="?action_address_list=&sort_key=email&sort_type=desc" class="desc_on">{t}1884,_('▼'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=email&sort_type=desc" class="desc">{t}1884,_('▼'){/t}</a>
    {/if}
    </span>
    </th>


    <th nowrap>{t}4506,_('言語'){/t}
    <span class="sort">
    {if $pager.sort_key=="lang" && $pager.sort_type=="asc"}
    <a href="?action_address_list=&sort_key=lang&sort_type=asc" class="asc_on">{t}1882,_('▲'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=lang&sort_type=asc" class="asc">{t}1882,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="lang" && $pager.sort_type=="desc"}
    <a href="?action_address_list=&sort_key=lang&sort_type=desc" class="desc_on">{t}1884,_('▼'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=lang&sort_type=desc" class="desc">{t}1884,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    <th nowrap>{t}4507,_('タイムゾーン'){/t}
    <span class="sort">
    {if $pager.sort_key=="timezone" && $pager.sort_type=="asc"}
    <a href="?action_address_list=&sort_key=timezone&sort_type=asc" class="asc_on">{t}1882,_('▲'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=timezone&sort_type=asc" class="asc">{t}1882,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="timezone" && $pager.sort_type=="desc"}
    <a href="?action_address_list=&sort_key=timezone&sort_type=desc" class="desc_on">{t}1884,_('▼'){/t}</a>
    {else}
    <a href="?action_address_list=&sort_key=timezone&sort_type=desc" class="desc">{t}1884,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    <th>{t}1902,_('編集'){/t}</th>
    <th>{t}4566,_('削除'){/t}</th>
    </tr>
    </thead>
    <tbody>
    {if $rows}
        {foreach from=$rows item=row}
        {if 1 == $invitation}
            <input type="hidden" name="data[key][]" value="{$row.address_book_key}">
            <input type="hidden" name="data[mailAddress][]" value="{$row.email|escape}">
            <input type="hidden" name="data[locale][]" value="{$row.lang}">
            <input type="hidden" name="data[inviteGuestName][]" value="{$row.name|escape}">
        {/if}
        <tr>
        <td class="td-checkbox">
            {if $__frame.service_mode == "sales"}
            <input type="radio" name="key[]" value="{$row.address_book_key}">
            {else}
            <input type="checkbox" name="key[]" value="{$row.address_book_key}">
            {/if}
        </td>
        <td class="td-name">{$row.name|escape}</td>
        {if !$__frame.ignore_menu.furigana}
        <td class="td-name-kana">{$row.name_kana|escape}</td>
        {/if}
        <td class="td-addrees_book_group_name">
        {if $row.address_book_group_key == 0}{t}8819,_('未所属'){/t}
        {else}{$row.group_name|escape:'html'}
        {/if}
        </td>
        <td class="td-address">{$row.email|escape}</td>
        <td class="td-lang">{foreach from=$__frame.lang_list key=lang_key item=lang_name}
        {if $row.lang == $lang_key}{$lang_name}{/if}
        {/foreach}</td>
        <td class="td-time">{if $row.timezone == "100"}{$__frame.message.MEMBER_UNDEFINED_TIMEZONE}{else}GMT {if $row.timezone >= 0}+{/if}{$row.timezone|escape}{/if}</td>
        <td class="td-edit">
        {if !$__frame.member_info || $row.member_key}
            <span class="button button25"><span class="button-inner"><input type="button" value="{t}1902,_('編集'){/t}" onclick="edit({$row.address_book_key});" class="icon i-go" /></span></span>
        </td>
        <td class="td-del">
            <span class="button button25"><span class="button-inner"><input type="button" value="{t}1904,_('削除'){/t}" onclick="del({$row.address_book_key});" class="icon i-del" /></span></span>
        {/if}
        </td>
        </tr>
        {/foreach}
        {else}
        <tr>
        <td colspan="9">{t}1905,_('対象データは1件もありません'){/t}</td>
        </tr>
    {/if}
    </tbody>
    </table>

    <div class="table-cont clearfix">
    <span class="check-area">
    {if $__frame.service_mode != "sales"}
    <input type="button" value="{t}1875,_('全て選択'){/t}" onclick="all_select('address');" class="bt-check" /><input type="button" value="{t}1876,_('選択解除'){/t}" onclick="all_clear('address');" class="bt-check" /></span>
    {/if}
    <div class="pager">
    {if $pager.range}
    <span>
        (
        {if $pager.prev}
        &nbsp;<a href="?{$pager.action}&amp;page=1&amp;page_cnt={$pager.limit}">[1]</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.prev}&amp;page_cnt={$pager.limit}">{t}504,_('前へ'){/t}</a>
        {/if}
        {foreach from=$pager.range key=key item=is_current}
            {if $is_current}
                &nbsp;<b>{$key}</b>
            {else}
                &nbsp;<a href="?{$pager.action}&amp;page={$key}&amp;page_cnt={$pager.limit}">{$key}</a>
            {/if}
        {/foreach}
        {if $pager.next}
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.next}&amp;page_cnt={$pager.limit}">{t}505,_('次へ'){/t}</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.last}&amp;page_cnt={$pager.limit}">[{$pager.last}]</a>
        {/if}
        &nbsp;)
    </span>{/if}
    </div>
    </div>


    <p class="add-address clearfix">{if $__frame.room_list[$room_key].room_info.max_audience_seat > 0}
    <select id="addType" name="type">
    <option value="">{t}1910,_('通常ユーザ'){/t}</option>
    <option value="1" >{t}1911,_('オーディエンス'){/t}</option>
    </select>{t}4508,_('として'){/t}&nbsp;
    {/if}


    <!-- 会議内から呼び出し -->
    {if 1 == $invitation}
        <input type="hidden" name="invitation" value="1">
        <input type="hidden" name="meeting_key" value="{$meeting_key}">
        <span class="sec-ti">差出人</span>
        <p class="form-txt">あなたの名前、メールアドレス、メッセージを入力してください。招待メールの差出人情報となります。</p>
        <dl id="mailSender" class="clearfix">
        <dt>名前：</dt>
        <dd>
            <input name="info[sender]" type="text" class="input-text" id="sender" value="{$reservation_data.info.sender|escape:"html"}" />
        </dd>
        <dt>メールアドレス：</dt>
        <dd>
            <input name="info[sender_mail]" type="text" class="input-text" id="senderMail" value="{$reservation_data.info.sender_mail|escape:"html"}" />
        </dd>
        <dt>メッセージ：</dt>
        <dd><textarea name="info[mail_body]" cols="50" rows="3" id="mailBody">{$reservation_data.info.mail_body|escape:"html"}</textarea></dd>
        </dl>
        <span class="button"><span class="button-inner"><input type="button" value="送信する" onclick="send_invite();" class="icon i-add" /></span></span>

    <!-- 予約ページからの呼び出し -->
    {else}
        <span class="button"><span class="button-inner"><input type="button" value="{t}1912,_('追加する'){/t}" {if $__frame.service_mode == "sales"}onclick="add_invite('sales');"{else}onclick="add_invite('');"{/if} class="icon i-add" /></span></span>
    {/if}
    <span class="close"><a href="javascript:window.close();">{t}1867,_('閉じる'){/t}</a></span></p>
    </form>

    </div>
</body>
</html>