<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/head.t.html"}
<script type="text/javascript" src="/shared/js/address_book.js"></script>
<script type="text/javascript" src="/shared/js/interaction.js" charset="UTF-8"></script>
<script type="text/javascript" src="/shared/js/extend.js" charset="UTF-8"></script>
<script>
<!--
jQuery.noConflict();
var j$ = jQuery;
-->
</script>
<script type="text/javascript">
    var myAddressBookList = new Array();
    var mySessionAddressBookList = new Array();
{foreach from=$rows item=row}
    myAddressBookList.push ({literal}{{/literal}key : '{$row.member_key}', member_key : '{$row.member_key}', name : '{$row.member_name|escape:javascript}', email : '{$row.member_email|escape}', type : '', timezone : '{$row.timezone|escape}', lang : '{$row.lang|escape}'{literal}}{/literal});
{/foreach}
{if $session_address_list}
{foreach from=$session_address_list item=row}
    mySessionAddressBookList.push ({literal}{{/literal}key : '{$row.address_book_key}', member_key : '{$row.member_key}', name : '{$row.name|escape:javascript}{if $row.name_kana} ({$row.name_kana|escape:javascript}){/if}', email : '{$row.email|escape}', type : '', timezone : '{$row.timezone|escape}', lang : '{$row.lang|escape}'{literal}}{/literal});
{/foreach}
{/if}
{literal}
    function search() {
        document.search_form.submit();
    }
{/literal}
</script>
<script type="text/javascript">
{literal}
j$(document).ready(function(){
    j$(".highlight tr").mouseover(function(){
        j$(this).addClass("over");
    }).mouseout(function(){
        j$(this).removeClass("over");
    });
    j$(".highlight tr").click(function(event){
    if (event.target.type == 'button') return;
        j$(this).toggleClass("click");
        if (event.target.type !== 'checkbox') {
            j$(':checkbox', this).trigger('click');
            var check = j$(':checkbox', this).attr("checked");
            var aid = j$(':checkbox', this).val();
            ajax_send_check(check,aid,"member");
        }
    });
    j$(":checkbox",".highlight").change(function(){
        var check = j$(this).attr("checked");
        var aid = j$(this).val();
        ajax_send_check(check,aid,"member");
    });
    j$.each(mySessionAddressBookList, function(i, sessionAddress){
        j$(":checkbox[value="+sessionAddress.key+"]",".highlight").attr("checked","checked");    
    });
});
{/literal}
</script>
{if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
<title>{if $__frame.browser_title}{$__frame.browser_title} | {else}{$__frame.service_info.title}{/if}{t}1932,_('アドレス帳'){/t}</title>
{/if}
</head>
{if $__frame.service_mode =="sales"}
<body id="addressbook" class="sales">
{else}
<body id="addressbook">
{/if}

    <div class="member">

    <ul class="clearfix">
    {if !$__frame.ignore_menu.display_address}
        <li id="tab-address"><a href="?action_address_list=1&reset=1"><span>{t}1932,_('アドレス帳'){/t}</span></a></li>
    {/if}
    {if !$__frame.ignore_menu.admin_member}
        <li id="tab-mem"><a href="?action_member_list=1&reset=1"><span>{t}1934,_('メンバー'){/t}</span></a></li>
    {/if}
    </ul>

    <p class="close"><a href="javascript:window.close();">{t}1936,_('閉じる'){/t}</a></p>

    <p class="form-txt">{t}4512,_('招待したい相手を選び「選択欄」にチェックをいれてください。'){/t}
    <br /><span class="attention">{t}1941,_('※契約メンバーとは、管理者ページでメンバー登録されたユーザとなります。編集・削除が必要な場合は、管理者ページで行ってください。'){/t}</span></p>

    <div class="search-col">
    <div class="search-col-inner clearfix">
    <form action="" method="post" name="search_form">
    <input type="text" class="input-text" id="searchWindow" name="form[name]" value="{$form_data.request.name|escape:'html'}" />
    <span class="button button22"><span class="button-inner"><input type="button" onclick="search();" value="{t}1940,_('検索'){/t}" class="icon i-search" /></span></span>
    <p class="search_comment">{t}9007,_('名前、ふりがな、グループ、メールアドレス入力で検索できます'){/t}</p>
  </form>
    </div>
    </div>

    <div class="table-cont clearfix">
    <div class="pager">
    <span class="check-area">
    <input type="button" value="{t}1942,_('全て選択'){/t}" onclick="all_select('member');" class="bt-check" /><input type="button" value="{t}1943,_('選択解除'){/t}" onclick="all_clear('member');" class="bt-check" /></span>
    <p>{t total=$pager.total start=$pager.start end=$pager.end}2231,_('全<span class="strong total">%1$s</span>件中 %2$s ～ %3$s 件表示'){/t}</p>
    {if $pager.range}
    <span>
        (
        {if $pager.prev}
        &nbsp;<a href="?{$pager.action}&amp;page=1&amp;page_cnt={$pager.limit}">[1]</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.prev}&amp;page_cnt={$pager.limit}">{t}504,_('前へ'){/t}</a>
        {/if}
        {foreach from=$pager.range key=key item=is_current}
            {if $is_current}
                &nbsp;<b>{$key}</b>
            {else}
                &nbsp;<a href="?{$pager.action}&amp;page={$key}&amp;page_cnt={$pager.limit}">{$key}</a>
            {/if}
        {/foreach}
        {if $pager.next}
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.next}&amp;page_cnt={$pager.limit}">{t}505,_('次へ'){/t}</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.last}&amp;page_cnt={$pager.limit}">[{$pager.last}]</a>
        {/if}
        &nbsp;)
    </span>{/if}
    </div>
    </div>

    <form name="list_form" action="{$__frame.self}" method="post" id="address_book_list">
    <input type="hidden" name="__submit_key" value="{$__submit_key}" />
    <input type="hidden" name="_action" value="">
    <table class="highlight">
    <thead>
    <tr>
    <th nowrap>{t}1948,_('選択'){/t}</th>
    <th nowrap>{t}4514,_('名前'){/t}
    <span class="sort">
    {if $pager.sort_key=="member_name" && $pager.sort_type=="asc"}
    <a href="?action_member_list=&sort_key=member_name&sort_type=asc" class="asc_on">{t}1949,_('▲'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_name&sort_type=asc" class="asc">{t}1949,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="member_name" && $pager.sort_type=="desc"}
    <a href="?action_member_list=&sort_key=member_name&sort_type=desc" class="desc_on">{t}1951,_('▼'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_name&sort_type=desc" class="desc">{t}1951,_('▼'){/t}</a>
    {/if}
    </span>
    </th>

    {if !$__frame.ignore_menu.furigana}
    <th nowrap>{t}4515,_('ふりがな'){/t}
    <span class="sort">
    {if $pager.sort_key=="member_name_kana" && $pager.sort_type=="asc"}
    <a href="?action_member_list=&sort_key=member_name_kana&sort_type=asc" class="asc_on">{t}1949,_('▲'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_name_kana&sort_type=asc" class="asc">{t}1949,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="member_name_kana" && $pager.sort_type=="desc"}
    <a href="?action_member_list=&sort_key=member_name_kana&sort_type=desc" class="desc_on">{t}1951,_('▼'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_name_kana&sort_type=desc" class="desc">{t}1951,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    {/if}


    <th nowrap>{t}4516,_('グループ'){/t}
    <span class="sort">
    {if $pager.sort_key=="member_group_name" && $pager.sort_type=="asc"}
    <a href="?action_member_list=&sort_key=member_group_name&sort_type=asc" class="asc_on">{t}1949,_('▲'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_group_name&sort_type=asc" class="asc">{t}1949,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="member_group_name" && $pager.sort_type=="desc"}
    <a href="?action_member_list=&sort_key=member_group_name&sort_type=desc" class="desc_on">{t}1951,_('▼'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_group_name&sort_type=desc" class="desc">{t}1951,_('▼'){/t}</a>
    {/if}
    </span>
    </th>


    <th nowrap>{t}4517,_('アドレス'){/t}
    <span class="sort">
    {if $pager.sort_key=="member_email" && $pager.sort_type=="asc"}
    <a href="?action_member_list=&sort_key=member_email&sort_type=asc" class="asc_on">{t}1949,_('▲'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_email&sort_type=asc" class="asc">{t}1949,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="member_email" && $pager.sort_type=="desc"}
    <a href="?action_member_list=&sort_key=member_email&sort_type=desc" class="desc_on">{t}1951,_('▼'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_email&sort_type=desc" class="desc">{t}1951,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    <th nowrap>{t}4518,_('言語'){/t}
    <span class="sort">
    {if $pager.sort_key=="member_name" && $pager.sort_type=="asc"}
    <a href="?action_member_list=&sort_key=member_name&sort_type=asc" class="asc_on">{t}1949,_('▲'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_name&sort_type=asc" class="asc">{t}1949,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="member_name" && $pager.sort_type=="desc"}
    <a href="?action_member_list=&sort_key=member_name&sort_type=desc" class="desc_on">{t}1951,_('▼'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=member_name&sort_type=desc" class="desc">{t}1951,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    <th nowrap>{t}4519,_('タイムゾーン'){/t}
    <span class="sort">
    {if $pager.sort_key=="timezone" && $pager.sort_type=="asc"}
    <a href="?action_member_list=&sort_key=timezone&sort_type=asc" class="asc_on">{t}1949,_('▲'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=timezone&sort_type=asc" class="asc">{t}1949,_('▲'){/t}</a>
    {/if}
    {if $pager.sort_key=="timezone" && $pager.sort_type=="desc"}
    <a href="?action_member_list=&sort_key=timezone&sort_type=desc" class="desc_on">{t}1951,_('▼'){/t}</a>
    {else}
    <a href="?action_member_list=&sort_key=timezone&sort_type=desc" class="desc">{t}1951,_('▼'){/t}</a>
    {/if}
    </span>
    </th>
    </tr>
    </thead>
    <tbody>
    {if $rows}
        {foreach from=$rows item=row}
        {if 1 == $invitation}
            <input type="hidden" name="data[key][]" value="{$row.member_key}">
            <input type="hidden" name="data[mailAddress][]" value="{$row.member_email|escape}">
            <input type="hidden" name="data[locale][]" value="{$row.lang}">
            <input type="hidden" name="data[inviteGuestName][]" value="{$row.member_name|escape}">
        {/if}
        <tr{if $row.member_key} class="member-tr"{/if}>
        <td class="td-checkbox"><input type="checkbox" name="key[]" value="{$row.member_key}"></td>
        <td class="td-name">{$row.member_name|escape}</td>
        {if !$__frame.ignore_menu.furigana}
        <td class="td-name-kana">{$row.member_name_kana|escape}</td>
        {/if}
        <td class="td-group">{if $row.member_group_name}{$row.member_group_name|escape}{else}{t}8819,_('未所属'){/t}{/if}</td>
        <td class="td-address">{$row.member_email|escape}</td>
        <td class="td-lang">{foreach from=$__frame.lang_list key=lang_key item=lang_name}
    {if $row.lang == $lang_key}{$lang_name}{/if}
    {/foreach}</td>
        <td class="td-time">{if ($row.timezone|default:100) == "100"}{$__frame.message.MEMBER_UNDEFINED_TIMEZONE}{else}GMT {if $row.timezone >= 0}+{/if}{$row.timezone|escape}{/if}</td>
        </tr>
        {/foreach}
        {else}
        <tr>
        <td colspan="8">{t}1974,_('対象データは1件もありません'){/t}</td>
        </tr>
    {/if}
    </tbody>
    </table>

    <div class="table-cont clearfix">
    <span class="check-area">
    <input type="button" value="{t}1942,_('全て選択'){/t}" onclick="all_select('member');" class="bt-check" /><input type="button" value="{t}1943,_('選択解除'){/t}" onclick="all_clear('member');" class="bt-check" />
    </span>
    <div class="pager">
    {if $pager.range}
    <span>
        (
        {if $pager.prev}
        &nbsp;<a href="?{$pager.action}&amp;page=1&amp;page_cnt={$pager.limit}">[1]</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.prev}&amp;page_cnt={$pager.limit}">{t}504,_('前へ'){/t}</a>
        {/if}
        {foreach from=$pager.range key=key item=is_current}
            {if $is_current}
                &nbsp;<b>{$key}</b>
            {else}
                &nbsp;<a href="?{$pager.action}&amp;page={$key}&amp;page_cnt={$pager.limit}">{$key}</a>
            {/if}
        {/foreach}
        {if $pager.next}
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.next}&amp;page_cnt={$pager.limit}">{t}505,_('次へ'){/t}</a>
        &nbsp;<a href="?{$pager.action}&amp;page={$pager.last}&amp;page_cnt={$pager.limit}">[{$pager.last}]</a>
        {/if}
        &nbsp;)
    </span>{/if}
    </div>
    </div>

    <p class="add-address clearfix">{if $__frame.room_list[$room_key].room_info.max_audience_seat > 0}
    <select id="addType" name="type">
    <option value="">{t}1979,_('通常ユーザ'){/t}</option>
    <option value="1" >{t}1980,_('オーディエンス'){/t}</option>
    </select>{t}4520,_('として'){/t}&nbsp;
    {/if}

    <!-- 会議内から呼び出し -->
    {if 1 == $invitation}
        <input type="hidden" name="invitation" value="1">
        <input type="hidden" name="meeting_key" value="{$meeting_key}">
        <span class="sec-ti">{t}2376,_('差出人'){/t}</span>
        <p class="form-txt">{t}2377,_('あなたの名前、メールアドレス、メッセージを入力してください。招待メールの差出人情報となります。'){/t}</p>
        <dl id="mailSender" class="clearfix">
        <dt>{t}2378,_('名前'){/t}：</dt>
        <dd>
            <input name="info[sender]" type="text" class="input-text" id="sender" value="{$reservation_data.info.sender|escape:"html"}" />
        </dd>
        <dt>{t}2379,_('メールアドレス'){/t}：</dt>
        <dd>
            <input name="info[sender_mail]" type="text" class="input-text" id="senderMail" value="{$reservation_data.info.sender_mail|escape:"html"}" />
        </dd>
        <dt>{t}2380,_('メッセージ'){/t}：</dt>
        <dd><textarea name="info[mail_body]" cols="50" rows="3" id="mailBody">{$reservation_data.info.mail_body|escape:"html"}</textarea></dd>
        </dl>
        <span class="button"><span class="button-inner"><input type="button" value="送信する" onclick="send_invite();" class="icon i-add" /></span></span>
    <!-- 予約ページからの呼び出し -->
    {else}
        <span class="button"><span class="button-inner"><input type="button" value="{t}1981,_('追加する'){/t}" onclick="add_invite();" class="icon i-add" /></span></span>
    {/if}
    <span class="close"><a href="javascript:window.close();">{t}1936,_('閉じる'){/t}</a></span></p>
    </form>

    </div>
</body>
</html>