{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Meeting Extension Use Log"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1375,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {if $column.sort == true}
            <a href="?{$page.form.action}&sort_key={$key}&sort_type=asc">{t}1376,_('▲'){/t}</a>
        {/if}
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.form.action}&sort_key={$key}&sort_type=desc">{t}1377,_('▼'){/t}</a>
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td class="action">
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}<td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}

    </tr>
    {/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
