<div id="header" class="clearfix">

<h1><a href="/services/admin/"><img src="/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p>

<div class="support-info">
{if !$__frame.ignore_menu.support_info}
{t}8968,_('ビジネスプラス サポート(平日9：30 ～17:30 土日祝日,年末年始は休業)'){/t}&nbsp;<span>{t}8969,_('0120-688-360'){/t}</span>
{/if}

</div>
</div>

