{if $login_type == "reservation"}
  <p class="page-top"><a href="#wrapper">{t}1811,_('ページトップへ'){/t}</a></p>

  <div id="footer">
  <div id="footer-inner" class="clearfix">
  <p class="copyright">{$__frame.service_info.company_cp_right}</p>
  </div>
  </div>

{else}
  <p class="page-top"><a href="#wrapper">{t}1811,_('ページトップへ'){/t}</a></p>

  <div id="footer">
  <div id="footer-inner" class="clearfix">
  <p class="copyright">{$__frame.service_info.company_cp_right}</p>
  <p class="version">Ver.{$__frame.version}</p>
  {if $__frame.user_info && !$logout_flg && !$__frame.view_mobile_flg}
  <ul id="footer-menu">
  {if !$__frame.ignore_menu.login_as_admin  && $__frame.login_type != "invite" && $__frame.login_type != "invitedGuest" && $__frame.user_info.account_model != 'centre' && (!$__frame.member_info.use_sales && $__frame.service_mode =="sales" || $__frame.service_mode !="sales")}
  <li><a href="/services/?action_show_adminlogin=1">{t}2139,_('管理者ページ'){/t}</a></li>
  {/if}
  {if !$__frame.ignore_menu.personal_settings}
  <li><a href="/services/index.php?action_env">{t}2138,_('個人設定'){/t}</a></li>
  {/if}
  {if $__frame.user_info.account_model != 'free'}
  {if !$__frame.ignore_menu.inquiry}
  <li><a href="/services/ask/"><span class="active">{t}2129,_('お問い合わせ'){/t}</span></a></li>{/if}

  {if !$__frame.ignore_menu.tool}
  <li><a href="/services/download/"><span class="active">{t}2128,_('ツール'){/t}</span></a></li>{/if}
  {/if}
  <!-- ↑↑adminとsettingのクラスを消す↑↑　-->
  </ul>
  {/if}
  </div>
  </div>
{/if}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/debug.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/access_analyzer.t.html"}
