<div id="gnav" class="clearfix">
<div id="gnav-inner">
<li class="gnav01"><a href="/services/api.php?action_presence2_start_meeting=a"><span class="active">{t}2142,_('メインページ'){/t}</span></a></li>
{if !$__frame.ignore_menu.tool}
<li class="gnav06"><a href="/services/download/"><span class="active">{t}2128,_('ツール'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.manual}
<li class="gnav10"><a href="/services/download/index.php?action_show_manual=1"><span class="active">{t}7531,_('マニュアル'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.faq}
<li class="gnav07"><a href="/services/faq/"><span class="active">FAQ</span></a></li>{/if}
{if !$__frame.ignore_menu.inquiry}
<li class="gnav08"><a href="/custom/djanah/services/ask/"><span class="active">{t}2144,_('お問い合わせ'){/t}</span></a></li>{/if}
</ul>
{if 1 == "disable logout button"}
<p class="logout"><a href="/services/logout/">{t}2136,_('ログアウト'){/t}</a></p>
{/if}
</div>
</div>

{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}
<!-- 会議室内での音声のやり取りに問題がある場合の対処方法について -->
{if $__frame.lang == "ja_JP"}
<div id="flash-maint-col" class="maint-col">
  <p class="maint-text">{t}000000,_('Webブラウザがフリーズする、強制終了する問題について'){/t}
  <a href="https://meeting.nice2meet.us/services/maintenance/?action_desc&id=104" target="_blank">{t}6808,_('詳細はこちら'){/t}</a>{t}000000,_('（2013.07.09更新）'){/t}</p>
</div>
{/if}
<!-- chrome対応の特別メンテナンス注意文 -->
<div id="chrome-maint" class="maint-col" style="display:none">
    <p class="maint-text">{t}8188,_('V-CUBEミーティングでサポートされていないGoogle Chromeを使用しており、一部の機能が正しく動作しない場合があります。ご利用前に<a href="http://www.nice2meet.us/ja/requirements/meeting.html" target="_blank">動作環境ページ</a>をご参照ください。'){/t}</p>
</div>
{literal}
<script>
var is_chrome = navigator.userAgent.toLowerCase().indexOf('chrome') > -1;
var is_edge = navigator.userAgent.toLowerCase().indexOf('edge') > -1;
if(is_chrome == true) {
  if(is_edge != true) {
    j$("#chrome-maint").show();
  }
}
</script>
{/literal}
<!-- chrome対応の特別メンテナンス注意文 -->
