@charset "UTF-8";
/* ================================================== */

/*  Basic Tag Format  */

/* ================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
	vertical-align: top;
}
address,caption,cite,code,dfn,em,th,var {
	font-style: normal;
	font-weight: normal;
}
ol,ul {
	list-style: none;
}
caption,th {
	text-align: left;
}
h1,h2,h3,h4 {
	font-size: 100%;
	font-weight: bold;
}
h5,h6 {
	font-size: 100%;
	font-weight: normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym {
	border: 0;
}

/* new clearfix */
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* ================================================== */

/*  Base  */

/* ================================================== */

body {
font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 1.5;
color: #333;
background-color: #efefef;
text-align: center;
}

/* for WinIE7 */
*:first-child+html body {
font-size: 75%;
}
/* for WinIE6 */
* html body {
font-size: 75%;
}


/* -------------------------------------------- */
/*  link */
/* -------------------------------------------- */

a {
color: #2678C3;
text-decoration: none;
}
a:visited {
color: #095499;
}
a:hover {
text-decoration: underline; 
}


/* -------------------------------------------- */
/*  form base   */
/* -------------------------------------------- */

form {
display: inline;
}
fieldset  {
margin: 0;
padding: 0;
border: none;
}
label {
cursor:pointer;
}

input {
vertical-align: middle;
margin: 0;
padding: 0;
color: #333;
outline: none;
font-size: 100%;
}
textarea {
border: 1px solid #999999;
background-color: #F3F3F3;
margin: 3px;
padding: 2px 3px;
font-size: small;
line-height: 1.25;
}
select {
border: 1px solid #999999;
vertical-align: middle;
}
select option {
border-bottom: 1px solid #efefef;
padding: 0 3px;
line-height: 1.25;
}

.inputText,
.inputPassword,
.inputFile {
border: 1px solid #999999;
background-color: #F3F3F3;
padding: 2px 3px;
line-height: 1.25;
}


/* -------------------------------------------- */
/* 汎用クラス */
/* -------------------------------------------- */

.attention {
color: #FF0000;
}
.strong {
color: #2678C3;
font-weight: bold;
}
sub {
vertical-align: bottom !important;
}


/* ================================================== */

/*  ページレイアウト  */

/* ================================================== */

#wrapper {
background: #FFFFFF url(../images/eco_simulation/body_bk_02.gif) repeat-y top center;
text-align: left;
width: 970px;
margin: 0 auto;
}

#content {
background: transparent url(../images/eco_simulation/eco_simu_bg.gif) top center no-repeat;
text-align: center;
margin: 0 5px;
width: 960px;
padding-top: 30px;
}
h1 {
margin: 0 auto 20px;
}
p.lead {
margin: 0 auto 20px;
}

#footer {
width: 960px;
text-align: left;
}
#footer .logo-vcube {
margin: 10px 15px;
}
.copyright {
background-color: #5d5d5d;
color: #fff;
font-family: Arial, Helvetica, sans-serif;
font-size: 84%;
height: 40px;
line-height: 40px;
padding-left: 10px;
}


/* ================================================== */

/*  ECOシミュレーション  */

/* ================================================== */


#btn {
font-size: 85%;
float: left;
padding: 0 0 0 70px;
margin-top: 5px;
background: url(../images/eco_simulation/point.gif) 60px center no-repeat;
}
#open p {
color: #666;
padding: 5px 0 5px 60px;
}

#eco-meter {
width: 860px;
margin: 0 auto 20px;
padding: 10px 0 0;
text-align: left;
background: transparent url(../images/eco_simulation/eco_simu_top.gif) 0 0 no-repeat;
}
#eco-meter-inner {
width: auto;
margin: 0 auto;
padding: 0 10px 12px;
background: transparent url(../images/eco_simulation/eco_simu_bottom.gif) left bottom no-repeat;
}


.box {
clear: both;
padding: 6px;
margin: 0 0 2px;
min-height: 48px;
background-color: #efefef;
}
.goal {
background: #efefef url(../images/eco_simulation/eco_simu_1.gif) 6px 10px no-repeat;
}
.departure1 {
background: #efefef url(../images/eco_simulation/eco_simu_2.gif) 6px 10px no-repeat;
}
.num {
background: #efefef url(../images/eco_simulation/eco_simu_3.gif) 6px 10px no-repeat;
}
.person {
background: #efefef url(../images/eco_simulation/eco_simu_4.gif) 6px 10px no-repeat;
}

dl {
clear: both;
float: left;
width: 100%;
}
.goal dl,
.num dl,
.person dl {
padding: 12px 0;
}

dt {
clear: both;
font-weight: bold;
color: #444;
float: left;
margin-right: 5px;
line-height: 22px;
text-align: right;
padding-left: 58px;
width: 6.6em;
white-space: nowrap;
}
.person dt {
width: 10.6em;
}
dd {
float: left;
line-height: 22px;
}

.departure dl {
padding-bottom: 1px;
}

.inputText {
background-color: #fff !important;
width: 80px;
display: inline;
margin-right: 3px;
}
#dest,
#start1,
#start2,
#start3,
#start4,
#start5 {
width: 200px;
}

.bt-search {
background: #fff url(../images/eco_simulation/btn_search.gif) 0 0 no-repeat;
border: none;
cursor: pointer;
font-weight: bold;
height: 22px;
line-height: 22px;
margin: 0 10px 0 0;
padding: 0;
width: 65px;
}


select {
background-color: #fff !important;
margin: 3px;
}
#dest_result,
#start1_result,
#start2_result,
#start3_result,
#start4_result,
#start5_result {
background-color: #D3EDD5;
font-weight: bold;
}

#cal-col {
width: auto;
text-align: center;
margin: 8px auto 0;
width: 325px;
}
#cal-col input {
height: 38px;
display: block;
cursor: pointer;
border: none;
text-indent: -9999px;
}
#cal {
background: transparent url(../images/eco_simulation/eco_simu_bt.gif) 0 0 no-repeat;
width: 210px;
float: right;
}
#reset {
background: transparent url(../images/eco_simulation/eco_simu_reset.gif) 0 0 no-repeat;
width: 110px;
float: left;
}


#bottom-col {
background: transparent url(../images/eco_simulation/eco_simu_result_bg.gif) center top no-repeat;
width: auto;
margin: 0 auto;
height: 320px;
position: relative;
}
#result-col {
width: 620px;
text-align: left;
margin: 0 auto;
}
#result-col ul {
padding: 0;
position: relative;
top: 58px;
left: 13px;
width: 620px;
height: 45px;
overflow: visible;
}
#result-col li {
color: #555;
padding-left: 1px;
}
#result-col li img {
vertical-align: text-top;
}
*html #result-col li img {
vertical-align: middle;
}
*:first-child+html #result-col li img {
vertical-align: middle;
}
html[xmlns*=""] body:last-child #result-col li img {
vertical-align: middle;
}
#result-col li div {
display: inline;
}
#result-col li span {
color: #aaa;
}
#mTime,
#mCo2,
#mExpances,
#yTime,
#yCo2,
#yExpances {
padding: 0 2px;
}
#result-col .yen-col {
color: #000;
font-size: 140%;
font-weight: bold;
margin-bottom: 1px;
padding-left: 0;
}

#note-col {
position: absolute;
left: 0;
bottom: 0;
width: 100%;
text-align: center;
}
#note-col p {
text-align: left;
border: 1px solid #788a77;
color: #444;
width: 920px;
margin: 0 auto 15px;
line-height: 130%;
padding: 4px 5px;
}
#note-col p span {
display: block;
background-color: #a9d066;
color: #555;
}

