@charset "UTF-8";
/* CSS Document */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
    font-family: Microsoft Yahei,Verdana,Arial,Helvetica,sans-serif !important;
}
a.button25 span.btnin, span.button25 input {
    font-size: 90% !important;
}