<div id="gnav" class="clearfix">
<ul>
<li class="gnav01"><a href="/services/"><span class="active">{t}2123,_('メインページ'){/t}</span></a></li>
{if !$__frame.ignore_menu.reservation && $__frame.user_info.account_model != 'centre'}
<li class="gnav02"><a href="/services/reservation/?action_create=&amp;new=1"><span class="active">{t}2124,_('会議予約'){/t}</span></a></li>
<li class="gnav03"><a href="/services/reservation/"><span class="active">{t}2125,_('予約変更'){/t}</span></a></li>
<li class="gnav04"><a href="/services/reservation/?action_list"><span class="active">{t}2126,_('会議一覧'){/t}</span></a></li>
{/if}
{if $__frame.user_info.account_model != 'centre'}
<li class="gnav05"><a href="/services/meetinglog/"><span class="active">{t}2127,_('会議記録'){/t}</span></a></li>
{/if}
{if !$__frame.ignore_menu.tool}
<li class="gnav06"><a href="/services/download/"><span class="active">{t}2128,_('ツール・マニュアル'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.faq}
<li class="gnav07"><a href="/services/faq/"><span class="active">FAQ</span></a></li>{/if}
{if !$__frame.ignore_menu.inquiry}
<li class="gnav08"><a href="/services/ask/"><span class="active">{t}2129,_('お問い合わせ'){/t}</span></a></li>{/if}
</ul>

</div>
{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}

