<div id="header" class="clearfix">

<h1><a href="/services/"><img src="/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>

<div id="link-col">
{if !$__frame.n2my.auto_login}
<p class="logout"><a href="/services/logout/">{t}2136,_('ログアウト'){/t}</a></p>
{/if}

{if !$__frame.ignore_menu.login_as_admin }
<p id="admin-bt"><a class="button button25 b-admin" href="/services/?action_show_adminlogin=1"><span class="button-inner"><span class="btnin">{t}2139,_('管理者ページ'){/t}</span></span></a></p>
{/if}
{if $__frame.country_list|@count > 1 || $__frame.lang_list|@count > 1 || $__frame.time_zone_list|@count > 1}
<p id="personal-bt"><a class="button button25 b-personal" href="/services/index.php?action_env"><span class="button-inner"><span class="btnin icon i-personal">{t}2138,_('個人設定'){/t}</span></span></a></p>
{/if}
{if $__frame.lang == "ja_JP" && !$__frame.ignore_menu.eco_meter}
<div id="eco-setting">
<img src="/shared/images/head_eco_img.gif" width="22" height="27" />
<div id="eco-setting-inner">
    <p>{t}2134,_('現在の最寄駅'){/t} : <a href="/services/index.php?action_env#eco-meter">{if $user_station}{$user_station|escape:'html'}{else}{t}4438,_('未設定'){/t}{/if}</a><!-- {t}2135,_('ECOレポート'){/t} : {if $eco_report|escape:'html'}{t}4439,_('設定済'){/t}{else}{t}4438,_('未設定'){/t}{/if} --></p>
</div>
</div>
{/if}

</div>
</div>