<div id="gnav" class="admin-gnav clearfix">
<div id="gnav-inner">
<ul class="gnav-menu" id="menu">
<li class="gnav01"><a href="/services/admin/"><span class="active">{t}254,_('メインページ'){/t}</span></a></li>
<li class="gnav05"><a href="/services/admin/meetinglog/?reset=1"><span class="active">{t}257,_('会議記録管理'){/t}</span></a></li>
{if !$__frame.ignore_menu.admin_log}
<li class="gnav03"><a href="/services/admin/log/"><span class="active">{t}255,_('ご利用ログの照会'){/t}</span></a></li>{/if}

{if !$__frame.ignore_menu.admin_room_info}
<li class="gnav04"><a href="/services/admin/?action_room_plan&amp;setting=1"><span class="active">{t}256,_('会議室設定'){/t}</span></a></li>
{elseif $__frame.n2my.mail_wb_upload}
<li class="gnav04">
    <a href="/services/admin/?action_room_plan&amp;setting=1"><span class="active"><span class="drop">{t}256,_('会議室設定'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/?action_room_plan&amp;setting=1">{t}7,_('会議室設定'){/t}</a></li>
    <li><a href="/services/admin/room/?action_set_active">{t}666,_('メールファイル貼込み送信元設定'){/t}</a></li>
    </ul>
</li>
{/if}

{if !$__frame.ignore_menu.admin_member}
<li class="gnav02">
    <a href="/services/admin/member/"><span class="active"><span class="drop">{t}258,_('メンバー管理'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/member/?action_admin_member">{t}462,_('メンバー管理'){/t}</a></li>
    <li><a href="/services/admin/member/?action_admin_group">{t}468,_('グループ管理'){/t}</a></li>
    </ul>
</li>
{/if}

{if !$__frame.ignore_menu.display_address}
<li class="gnav09"><a href="/services/admin/addressbook/"><span class="active">{t}7607,_('アドレス帳管理'){/t}</span></a></li>
{/if}


{if !$__frame.ignore_menu.admin_security}
<li class="gnav06">
    <a href="/services/admin/security/"><span class="active"><span class="drop">{t}6626,_('セキュリティ設定'){/t}</span></span></a>
    <ul>
    <li><a href="/services/admin/security/?action_ip_list">{t}6449,_('IPアドレス制限'){/t}</a></li>
    <li><a href="/services/admin/security/?action_meeting_setting">{t}6452,_('会議室利用制限'){/t}</a></li>
    </ul>
</li>
{/if}
{if !$__frame.ignore_menu.admin_account}
<li class="gnav07"><a href="/services/admin/?action_admin_info"><span class="active">{t}259,_('アカウント情報'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.admin_inquiry}
<li class="gnav08"><a href="/custom/djanah/services/admin/ask"><span class="active">{t}260,_('お問い合わせ'){/t}</span></a></li>{/if}
</ul>
</div>
</div>


{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}
{literal}
<script type="text/javascript">
	var menu=new menu.dd("menu");
	menu.init("menu","menuhover");
</script>
<!-- ドロップダウンメニュー -->
{/literal}