{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Main Menu"}
{if $db_server_list}
<fieldset>
<legend>{t}809,_('データDB管理'){/t}</legend>
{literal}
<script type="text/javascript">
<!--
    function select_server(server_key) {
        window.open("?action_main" + "&server_key="+server_key, "_top");
    }
//-->
</script>
{/literal}
<form>
<select name="db_server" onchange="select_server(this.options[this.selectedIndex].value);">
<option value="1">{t}810,_('DBを選択してください'){/t}</option>
{foreach from=$db_server_list item=db_server}
<option value="{$db_server.server_key}" {if $smarty.request.server_key == $db_server.server_key || $db_server.server_key == $select_server_key}  selected{/if}>[ {$db_server.host_name} ]</option>
{/foreach}
</select>
</form>
{if $smarty.request.server_key || $select_server_key}
<ul>
{if $authority != 3}
<li><a href="?action_list&amp;table=user&amp;type=data&amp;sort_key=user_key&amp;check=user_id&amp;sort_type=desc&amp;regist=user_registtime&amp;after_action=action_add_room&amp;reset=1" target="contents">{t}811,_('ユーザー管理'){/t}</a></li>
<li><a href="?action_list&amp;table=member&amp;type=data&amp;sort_key=member_key&amp;regist=&amp;reset=1" target="contents">{t}812,_('メンバー一覧'){/t}</a></li>
<li><a href="?action_list&amp;table=user_group&amp;type=data&amp;sort_key=group_id&amp;regist=&amp;reset=1" target="contents">グループアカウント</a></li>
<li><a href="?action_list&amp;table=room&amp;type=data&amp;sort_key=room_key&amp;regist=&amp;reset=1" target="contents">{t}813,_('部屋一覧'){/t}</a></li>
{/if}
</ul>
{/if}
</fieldset>
<br />
{/if}
{if $authority == 2}
<fieldset>
<legend>{t}825,_('アカウントDB管理'){/t}</legend>
<ul>
<li><a href="?action_list&amp;table=sastik_account_host&amp;type=account&amp;sort_key=account_host_key&amp;reset=1&amp;check=user_id" target="contents">{t}827,_('Sastikホスト情報管理'){/t}</a></li>
<li><a href="?action_list&amp;table=sastik_account_translation&amp;type=account&amp;sort_key=account_translation_key&amp;reset=1" target="contents">{t}827,_('Sastikアカウント管理'){/t}</a></li>
<li><a href="account_translation_query.php" target="contents">{t}827,_('Sastik ID確認'){/t}</a></li>
</ul>
</fieldset>
<br />
{/if}
<br />
<div><a href="?action_staff_modify" target="contents">{t}848,_('スタッフ情報修正'){/t}</a></div>
<div><a href="?action_logout" target="_parent">{t}850,_('ログアウト'){/t}</a></div>
</body>
</html>
