{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Account Translation Query"}
{literal}
<script type="text/javascript">
<!--
	$(document).ready(function() {
		$('#check').click(function() {
			$.ajax({
				url: 'account_translation_query.php', 
				dataType: 'json', 
				type: 'post', 
				data: {
					'action_query': '1', 
					'user_id' : $('#user_id').val(), 
					'account_id' : $('#account_id').val(), 
				}, 
				success: function(data, textStatus, jqXHR) {
					member_id = data['member_id'];
					if(member_id == '') {
						$('#output_member_id').html('<span class="error">Error!</span>');
					}
					else {
						$('#output_member_id').html('<span>' + data['member_id'] + '</span>');
					}
				}, 
				error: function(jqXHR, textStatus, errorThrown) {
					$('#output_member_id').html('something wrong.');
				}
			});
		})
	});
//-->
</script>
<style type="text/css">

.error {
	color: red;
}

.strong {
	font-weight: bold;
}
</style>
{/literal}
<fieldset id="pane">
	<legend>Find MemberID</legend>
	<table>
	<tbody>
		<tr>
			<td>UserID:</td>
			<td><input type="text" name="user_id" id="user_id"></td>
		</tr>
		<tr>
			<td>SastikID:</td>
			<td><input type="text" name="account_id" id="account_id"></td>
		</tr>
		<tr>
			<td class="strong">MemberID:</td>
			<td class="strong"><output id="output_member_id">&nbsp;</output></td>
		</tr>
	</tbody>
	</table>
	<br>
	<button id="check">Check</button>
</fieldset>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}
