{literal}
<link href="/shared/js/facebox-1.3/src/facebox.css" media="screen" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/shared/js/facebox-1.3/src/facebox.js"></script>
<script type="text/javascript" src="/shared/js/play_clip.js"></script>
{/literal}
<div class="reserve-detail-col clearfix">
<table>
{if !$__frame.ignore_menu.display_room_list}
  <col class="key" />
  <col class="value" />
    <tr>
    <th>{t}2309,_('会議室'){/t}</th>
    <td><span class="roomKey">{$__frame.room_list[$reservation_data.info.room_key].room_info.room_name|escape:"html"}</span>
        {if $reservation_data.info.room_option.desktop_share or
        $reservation_data.info.room_option.high_quality or
        $reservation_data.info.room_option.teleconference or
        $reservation_data.info.room_option.video_conference or
        $reservation_data.info.room_option.h264 or
        $reservation_data.info.room_option.GlobalLink or
        $reservation_data.info.room_option.ChinaFastLine or
        $reservation_data.info.room_option.h323_number }
        <ul class="roomOption">
        {if $reservation_data.info.room_option.desktop_share}<li>{t}2343,_('PC画面共有'){/t}</li>{/if}
        {if $reservation_data.info.room_option.high_quality}<li>{t}2345,_('高画質'){/t}</li>{/if}
        {if $reservation_data.info.room_option.teleconference}<li>{t}6576,_('電話連携'){/t}</li>{/if}
        {if $reservation_data.info.room_option.video_conference}<li>{t}8445,_('テレビ会議'){/t}:&nbsp;{$reservation_data.room_option.video_conference_number}</li>{/if}
        {if $reservation_data.info.room_option.h264}<li>H.264:{if $reservation_data.room_option.h264_use_flg}ON{else}OFF{/if}</li>{/if}
        {if $reservation_data.info.room_option.GlobalLink}<li>{t}8446,_('GlobalLink'){/t}</li>{/if}
        {if $reservation_data.info.room_option.ChinaFastLine}<li>{t}7934,_('China FastLine'){/t}</li>{/if}
        {if $reservation_data.info.room_option.h323_number}<li>H323:&nbsp;{$reservation_data.room_option.h323_number}</li>{/if}
        </ul>
        {/if}
    </td>
    </tr>
{/if}
<tr>
<th>{t}2314,_('予約日時'){/t}</th>
<td>
    {$reservation_data.info.reservation_starttime|date_format:"%Y/%m/%d %H:%M"} &#65374;
    {$reservation_data.info.reservation_endtime|date_format:"%Y/%m/%d %H:%M"}&nbsp;
    (GMT {if $is_create || $is_modified}{if $reservation_data.info.reservation_place >= 0}+{/if}{$reservation_data.info.reservation_place}{else}{if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone}{/if})
</td>
</tr>
<tr>
<th>{t}2315,_('会議名'){/t}</th>
<td>{$reservation_data.info.reservation_name|escape:"html"}</td>
</tr>


{if !$__frame.ignore_menu.invite}
{if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' && $__frame.service_mode !="sales"}
  {if $reservation_data.info.is_authority_flg}
     <tr>
      <th scope="row" rowspan="1" />{t}8995,_('議長'){/t}</th>
      <td>
      <dl class="detail-people">
      <dt class="name-c">{$reservation_data.authority.name|escape:'html'}{if $__frame.lang == "ja_JP"} 様{/if}
      {foreach from=$__frame.lang_list key=lang_key item=lang_name}
      {if $reservation_data.authority.lang == $lang_key}( {$lang_name} ){/if}
      {/foreach}
      </dt>
      <dd class="mail-c">{$reservation_data.authority.email|escape:'html'}</dd>
      <dd class="timezone-c">{if $reservation_data.authority.timezone == "100"}{t}2320,_('予約者と同じタイムゾーン'){/t}{else}GMT {if $reservation_data.authority.timezone >= 0}+{/if}{$reservation_data.authority.timezone}{/if}</dd>
      </dl>
      </td>
      </tr>
  {else}
       <tr>
      <th scope="row" rowspan="1" />{t}8995,_('議長'){/t}</th>
      <td>
      {t}2350,_('設定しない')){/t}
      </td>
      </tr>
  {/if}
{/if}
{if ($reservation_data.guests||($reservation_data.guest && $reservation_data.staff)) && $reservation_data.guest_flg}
    {if $reservation_data.guests}
    {foreach from=$reservation_data.guests item=guest name=guests key=key}
        <tr>
        {if $smarty.foreach.guests.first}
            <th scope="row" rowspan="{$smarty.foreach.guests.total}" />{t}2318,_('参加者'){/t}</th>
        {/if}
        <td>
        <dl class="detail-people">
        <dt class="name">{$guest.name|escape:'html'}{if $__frame.lang == "ja_JP"} 様{/if}
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        {if $guest.lang == $lang_key}( {$lang_name} ){/if}
        {/foreach}
        {if $guest.type == "1"}
        <span> [ {t}2319,_('オーディエンス'){/t} ]</span>
        {/if}
        {if ($is_create || $is_modified) && ($__frame.user_info.account_model != "free" && $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre')}
          {if !$guest.has_address_book}
            <input type="checkbox" id="add_address" name="add_address[{$key}]" value="1">{t}8596,_('この宛先をアドレス帳に登録する'){/t}
          {/if}
        {/if}
        </dt>
        <dd class="mail">{$guest.email|escape:'html'} </dd>
        <dd class="timezone">{if $guest.timezone == "100"}{t}2320,_('予約者と同じタイムゾーン'){/t}{else}GMT {if $guest.timezone >= 0}+{/if}{$guest.timezone}{/if}</dd>
        </dl>
        </td>
        </tr>
    {/foreach}
    {/if}
    {if $reservation_data.guest}
         <tr>
        <th scope="row" rowspan="1" />{t}2318,_('参加者'){/t}</th>
        <td>
        <dl class="detail-people">
        <dt class="name">{$reservation_data.guest.name|escape:'html'}{if $__frame.lang == "ja_JP"} 様{/if}
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        {if $reservation_data.guest.lang == $lang_key}( {$lang_name} ){/if}
        {/foreach}
        {if !$reservation_data.guest.has_address_book && ($is_create || $is_modified)}
          <input type="checkbox" id="add_address" name="add_address" value="1">{t}8596,_('この宛先をアドレス帳に登録する'){/t}
        {/if}
        </dt>
        <dd class="mail">{$reservation_data.guest.email|escape:'html'}</dd>
        <dd class="timezone">{if $reservation_data.guest.timezone == "100"}{t}2320,_('予約者と同じタイムゾーン'){/t}{else}GMT {if $reservation_data.guest.timezone >= 0}+{/if}{$reservation_data.guest.timezone}{/if}</dd>
        </dl>
        </td>
        </tr>
    {/if}
    {if $reservation_data.staff}
         <tr>
        <th scope="row" rowspan="1" />{t}8496,_('スタッフ'){/t}</th>
        <td>
        <dl class="detail-people">
        <dt class="name">{$reservation_data.staff.name|escape:'html'}{if $__frame.lang == "ja_JP"} 様{/if}
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        {if $reservation_data.staff.lang == $lang_key}( {$lang_name} ){/if}
        {/foreach}
        </dt>
        <dd class="mail">{$reservation_data.staff.email|escape:'html'}</dd>
        <dd class="timezone">{if $reservation_data.staff.timezone == "100"}{t}2320,_('予約者と同じタイムゾーン'){/t}{else}GMT {if $reservation_data.staff.timezone >= 0}+{/if}{$reservation_data.staff.timezone}{/if}</dd>
        </dl>
        </td>
        </tr>
    {/if}

    {if $reservation_data.info.sender}
        <tr>
        <th scope="row" />{t}2321,_('差出人'){/t}</th>
        <td>
        <dl class="detail-people">
        <dt class="name-s">{$reservation_data.info.sender|escape:"html"}{if $__frame.lang == "ja_JP"} 様{/if}</dt>
        <dd class="mail-s">{$reservation_data.info.sender_mail|escape:"html"}</dt>
        <dd class="comment-s">{$reservation_data.info.mail_body|escape:"html"|nl2br}</dd>
        </dl>
        </td>
        </tr>
    {/if}
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' && $__frame.service_mode !="sales"}
      {if $reservation_data.info.is_organizer_flg}
         <tr>
          <th scope="row" rowspan="1" />{t}8587,_('主催者'){/t}</th>
          <td>
          <dl class="detail-people">
          <dt class="name-s">{$reservation_data.organizer.name|escape:'html'}{if $__frame.lang == "ja_JP"} 様{/if}
          {foreach from=$__frame.lang_list key=lang_key item=lang_name}
          {if $reservation_data.organizer.lang == $lang_key}( {$lang_name} ){/if}
          {/foreach}
          </dt>
          <dd class="mail-s">{$reservation_data.organizer.email|escape:'html'}</dd>
          <dd class="timezone-s">{if $reservation_data.organizer.timezone == "100"}{t}2320,_('予約者と同じタイムゾーン'){/t}{else}GMT {if $reservation_data.organizer.timezone >= 0}+{/if}{$reservation_data.organizer.timezone}{/if}</dd>
          </dl>
          </td>
          </tr>
      {else}
           <tr>
          <th scope="row" rowspan="1" />{t}8587,_('主催者'){/t}</th>
          <td>
          {t}2350,_('設定しない')){/t}
          </td>
          </tr>
      {/if}
    {/if}
    {else}
    <tr>
    <th scope="row">{t}2318,_('参加者'){/t}</th>
    <td>{t}2323,_('参加者は登録されていません'){/t}</td>
    </tr>
    {/if}
    {if $reservation_data.mail_send_type != null}
    <tr>
        <th>{t}8017,_('メール通知'){/t}</th>
        <td>
        {if $reservation_data.mail_send_type == 2}{t}8018,_('全員送信'){/t}
            {elseif $reservation_data.mail_send_type == 1}{t}8020,_('追加・変更・削除した参加者にのみ送信'){/t}
            {else}{t}8019,_('送信しない'){/t}
        {/if}
        </td>
    </tr>
    {/if}
    {if ($reservation_data.guests && $reservation_data.guest_flg) || $__frame.service_mode == "sales"}
    {if !$__frame.ignore_menu.reservation_remainder}
      <tr>
        <th>{t}8013,_('リマインダー'){/t}</th>
        <td>
          {if $reservation_data.info.is_reminder_flg == 1}{t}2353,_('設定する'){/t}{/if}
          {if $reservation_data.info.is_reminder_flg != 1}{t}2350,_('設定しない')){/t}{/if}
        </td>
      </tr>
      {/if}
{/if}
{/if}

<tr>
<th>{t}2316,_('パスワード'){/t}</th>
<td>{if $reservation_data.info.reservation_pw}{t}2317,_('有り'){/t}
      ( {if $reservation_data.info.reservation_pw_type != "2"}{t}6599,_('会議記録と入室'){/t}{else}{t}6600,_('会議記録'){/t}{/if} )
      {if $reservation_data.pw_flg == 2} ( {t}4396,_('変更しない'){/t} ){/if}
    {else}{t}4397,_('無し'){/t}{/if}
</td>
</tr>

{if $reservation_data.info.room_option.multicamera > 0}
<tr class="multiCameraSection">
<th>{t}6603,_('マルチカメラ'){/t}</th>
<td>{if $reservation_data.info.is_multicamera == 1}{t}6545,_('使用する'){/t}{else}{t}6546,_('使用しない'){/t}{/if}</td>
</tr>
{/if}

{if $reservation_data.info.room_option.video_conference > 0 && ($reservation_data.info.sip_temporary_number_address||$reservation_data.info.sip_temporary_address||$reservation_data.info.h323_temporary_number_address||$reservation_data.info.h323_temporary_address)}
  <tr class="videoConferenceSection">
  <th>{t}7644,_('テレビ会議システム専用アドレス'){/t}</th>
  <td>
    {if (!$reservation_data.info.reservation_pw || ($reservation_data.info.reservation_pw && $reservation_data.info.reservation_pw_type != "1"))}
      {if ($reservation_data.info.sip_temporary_number_address || $reservation_data.info.sip_temporary_address)}
        <span class="bold">{t}7969,_('ゲストアドレス（SIP）'){/t}</span>
        {if $reservation_data.info.sip_temporary_number_address}
          <br /><span class="selectaddress">{$reservation_data.info.sip_temporary_number_address}</span>
        {/if}
        {if $reservation_data.info.sip_temporary_address}
          <br /><span class="selectaddress">{$reservation_data.info.sip_temporary_address}</span>
        {/if}<br />
      {/if}
      {if ($reservation_data.info.h323_temporary_number_address || $reservation_data.info.h323_temporary_address)}
        <span class="bold">{t}7970,_('ゲストアドレス（H.323）'){/t}</span>
        {if $reservation_data.info.h323_temporary_number_address}
          <br /><span class="selectaddress">{$reservation_data.info.h323_temporary_number_address}</span>
        {/if}
        {if $reservation_data.info.h323_temporary_address}
          <br /><span class="selectaddress">{$reservation_data.info.h323_temporary_address}</span>
        {/if}
      {/if}
    {else}
      {t}7680,_('利用できません'){/t}
    {/if}
  </td>
</tr>
{/if}

{if !$__frame.ignore_menu.teleconference && $enable_teleconf}
<tr class="limitedFunctionSection">
<th>{t}7460,_('電話会議'){/t}</th>
<td>
<ul>
{if $reservation_data.info.tc_type == 'voip' || $is_trial}
    {t}6546,_('使用しない'){/t}
{elseif $reservation_data.info.tc_type == 'pgi'}
    <li><ul>

    {if $reservation_data.info.pgi_info}
            {if $reservation_data.info.use_pgi_dialin || $reservation_data.info.use_pgi_dialin_free}
            <li>・{t}7398,_('ダイヤルイン番号'){/t}
                ({$reservation_data.info.main_phone_number.Location})<span class="voice_conference_number">{$reservation_data.info.main_phone_number.Number|japan_tel}</span>
                <a  href="javascript:void(0)" onClick='openPGiPhoneWindow("{$reservation_data.info.meeting_session_id}")'>{t}7475,_('その他の番号'){/t} </a></li>
            {/if}
            <li>・{t}7474,_('参加者パスコード'){/t}
                <ul>
                <li><span class="voice_conference_number">{$reservation_data.info.pgi_info.pgi_m_pass_code|wordwrap:3:" ":true}</span></li>
                {if !$reservation_data.info.room_option.whiteboard && $reservation_data.info.pgi_info.pgi_l_pass_code}
                <li><span class="voice_conference_number">{$reservation_data.info.pgi_info.pgi_l_pass_code|wordwrap:3:" ":true}</span>[{t}7476,_('聞き取り専用'){/t}]</li>
                {/if}
                </ul>
                </li>

    {else}
            <li>※{t}7492,_('電話会議情報を作成中です。しばらくお待ちください。'){/t}</li>
    {/if}

        </ul>
    </li>
{elseif $reservation_data.info.tc_type == 'etc' }
    <li>{t}7506,_('電話会議(他社サービスの電話会議。※会議室内からの制御などは出来ません)'){/t}</li>
    {$reservation_data.info.tc_teleconf_note|escape:html|nl2br }
    {/if}
</ul>
</td>
</tr>
{/if}
{if $is_detail && $__frame.service_mode != "sales"}
<tr>
<th>{t}8050,_('V-CUBEモバイル用 暗証番号'){/t}</th>
<td>{$pin_cd}</td>
</tr>
{/if}
<tr class="limitedFunctionSection">
<th>{t}6607,_('機能制限'){/t}</th>
<td>{if $reservation_data.info.is_limited_function == 1}
<dl>
    {if $reservation_data.info.room_option.telephone > 0}<dt>{t}6608,_('音声通話'){/t}：{if $reservation_data.info.is_telephone == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.h323_number > 0}<dt>H.323：{if $reservation_data.info.is_h323 == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.mobile_phone_number > 0}<dt>{t}6609,_('携帯'){/t}：{if $reservation_data.info.is_mobile_phone == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.high_quality > 0}<dt>{t}6610,_('高画質'){/t}：{if $reservation_data.info.is_high_quality == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.desktop_share > 0}<dt>{t}6611,_('PC画面共有'){/t}：{if $reservation_data.info.is_desktop_share == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.desktop_share > 0 && $__frame.service_mode == "sales"}<dt>{t}8301,_('お客様側デスクトップ共有ボタン'){/t}：{if $reservation_data.info.is_customer_desktop_share_flg == 1}{t}8303,_('表示'){/t}{else}{t}8302,_('非表示'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.meeting_ssl > 0}<dt>{t}6612,_('暗号化'){/t}：{if $reservation_data.info.is_meeting_ssl == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $__frame.service_mode != "sales"}
    <dt>{t}6613,_('会議室内招待'){/t}：{if $reservation_data.info.is_invite_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    {/if}
    {if $reservation_data.info.room_option.disable_rec_flg == 0}<dt>{t}6614,_('録画'){/t}：{if $reservation_data.info.is_rec_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.disable_rec_flg == 0 && $__frame.service_mode == "sales"}<dt>{t}8294,_('自動録画'){/t}：{if $reservation_data.info.is_auto_rec_flg == 1}{t}8497,_('ON'){/t}{else}{t}8498,_('OFF'){/t}{/if}</dt>{/if}
    {if $__frame.service_mode != "sales"}
    <dt>{t}8574,_('ホワイトボード資料PDF化'){/t}：{if $reservation_data.info.is_convert_wb_to_pdf == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    {/if}
    {if $reservation_data.info.room_option.cabinet > 0}<dt>{t}6615,_('ファイル転送'){/t}：{if $reservation_data.info.is_cabinet_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $__frame.service_mode == "sales"}
    <dt>{t}8315,_('お客様カメラ利用'){/t}：{if $reservation_data.info.is_customer_camera_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    <dt>{t}8611,_('お客様側映像'){/t}：{if $reservation_data.info.is_customer_camera_display == 1}{t}8303,_('表示'){/t}{else}{t}8302,_('非表示'){/t}{/if}</dt>
    <dt>{t}8499,_('WB操作許可'){/t}：{if $reservation_data.info.is_wb_allow_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    <dt>{t}8500,_('チャット操作許可'){/t}：{if $reservation_data.info.is_chat_allow_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    <dt>{t}8501,_('印刷操作許可'){/t}：{if $reservation_data.info.is_print_allow_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    {/if}
    <!-- dt>ホワイトボードページ番号：{if $reservation_data.info.is_wb_no_flg == 1}{t}6604,_('使用する'){/t}{else}{t}6605,_('使用しない'){/t}{/if}</dt -->
</dl>
{else}{t}6604,_('制限しない'){/t}{/if}
</td>
</tr>

{if $reservation_data.storage_documents || $reservation_data.documents && ($upload_status || $is_detail)}
  {if !$is_detail && !$reservation_data.upload_flg}
    {foreach from=$not_change_reservation_data.documents key=document_id item=document name=documents}
    <tr>
      {if $smarty.foreach.documents.first}
        <th scope="row" rowspan="{$smarty.foreach.documents.total}">{t}2324,_('資料事前アップロード'){/t}</th>
      {/if}
    <td>
    <div class="document-list">
            <p class="base">
            {if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.document_index} )" alt="" border=0>{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}

            [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
            elseif $document.status == 1}{t}4581,_('変換中'){/t}{
            elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
            elseif $document.status == 3}{t}2370,_('削除'){/t}{
            else}{t}4586,_('エラー'){/t}{
            /if}</span> ]
            </p>
{section name=cnt start=1 loop=$document.document_index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.document_index} )" alt="" border=0 /></a>
{/section}
        </div>
    </td>
</tr>
    {/foreach}
  {else}
    {foreach from=$reservation_data.documents_dsp key=document_id item=document name=documents}
<tr>
    {if $smarty.foreach.documents.first}
      <th scope="row" rowspan="{$smarty.foreach.documents.total}">{t}2324,_('資料事前アップロード'){/t}</th>
    {/if}
    {if ($is_detail || $reservation_data.upload_flg && !$document.delete && !$document.is_storage)}
    <td>
        <div class="document-list" sort="{$document.sort}">
        {if ($is_detail)}
          <input type="button" class="bt-up" value="↑" name="up"><input type="button" class="bt-down" value="↓" name="down">
        {/if}
            <p class="base">
            {if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.document_index} )" alt="" border=0>{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}

            [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
            elseif $document.status == 1}{t}4581,_('変換中'){/t}{
            elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
            elseif $document.status == 3}{t}2370,_('削除'){/t}{
            else}{t}4586,_('エラー'){/t}{
            /if}</span> ]
            </p>
{section name=cnt start=1 loop=$document.document_index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.document_index} )" alt="" border=0 /></a>
{/section}
        </div>
    </td>
    {else if ($is_detail || $reservation_data.upload_flg && !$document.delete && $document.is_storage)}
    <td>
        <div class="document-list">
        {if ($is_detail)}
        <input type="button" class="bt-up" value="↑" name="up"><input type="button" class="bt-down" value="↓" name="down">
        {/if}
            <p class="base">
            {if $document.status == 2}<a href="/d/{$document.document_id}/1/" src="/d/{$document.document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.document_index} )" alt="" border=0>{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}
            </p>
{section name=cnt start=1 loop=$document.document_index}
                <a href="/d/{$document.document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document.document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.document_index} )" alt="" border=0 /></a>
{/section}
        </div>
    </td>
    {/if}
</tr>
    {/foreach}
  {/if}
{else if !$reservation_data.documents ||
         $reservation_data.documents && !$upload_status}
<tr>
<th scope="row">{t}2384,_('資料事前<br />アップロード'){/t}</th>
<td>{t}2326,_('資料は登録されていません'){/t}</td>
</tr>
{/if}
{if $reservation_data.documents && $reservation_data.delete_documents}
{foreach from=$reservation_data.delete_documents key=document_id item=document name=documents}
{if $smarty.foreach.documents.first}
<tr>
<th scope="row" rowspan="{$smarty.foreach.documents.total}">{t}2327,_('削除資料リスト'){/t}</th>
{/if}
<td>
<div class="documentList">
{if $document.name}
<p class="base">{$document.name|escape:"html"}
    [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4563,_('変換待ち'){/t}{
    elseif $document.status == 1}{t}4564,_('変換中'){/t}{
    elseif $document.status == 2}{t}4565,_('変換完了'){/t}{
    elseif $document.status == 3}{t}4566,_('削除'){/t}{
    else}{t}4567,_('エラー'){/t}{
    /if}</span> ]
    </p>
{/if}</div>
</td>
</tr>
{/foreach}
{/if}

{if $reservation_data.clips}
{foreach from=$reservation_data.clips key=clip_key item=clip name=clips}
<tr>
{if $smarty.foreach.clips.first}
<th scope="row" rowspan="{$smarty.foreach.clips.total}">{t}7435,_('動画リスト'){/t}</th>
{/if}
<td>
<div class="clipList">
    {if $is_detail}
    <p class="base"><a href='javascript:void(0);' onClick='playClip("{$clip.clip_key}");return false;'/>{$clip.meeting_clip_name|escape:"html"}</a></p>
    {elseif $clip.is_storage}
    <p class="base"><a href='javascript:void(0);' onClick='playClip("{$clip.clip_key}");return false;'/>{$clip.name|escape:"html"}</a></p>
    {else}
    <p class="base"><a href='javascript:void(0);' onClick='playClip("{$clip.clip_key}");return false;'/>{$clip.meeting_clip_name|escape:"html"}</a></p>
    {/if}
</div>
</td>
</tr>
{/foreach}
{/if}
</table>
</div>
