<div id="header" class="clearfix">

<h1><a href="/services/admin/"><img src="/custom/med-meeting/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<div class="support-info">
</div>
<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p>
</div>



