{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Manage Room"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1286,_('Stop Reservation'){/t}</span></a></li>
    </ul>
    <div id="fragment1">
    </div>
</div>
{literal}
<script type="text/javascript">
<!--
function room_expire(form){
    for (var i=0;i<form.elements.length;i++){
        if(form.elements[i].className == 'reservation_expire'  && form.elements[i].checked){
            if(confirm("{/literal}{t}991287,_('Are you sure to stop reservation?'){/t}{literal}")){
                document.expire_form._action.name = "action_reservation_room_expire";
                return document.expire_form.submit();

            }
        } else if(form.elements[i].className == 'now_delete' && form.elements[i].checked) {
            if(confirm("{/literal}{t}991287,_('Are you sure to stop reservation now?'){/t}{literal}")){
                document.expire_form._action.name = "action_delete_room";
                return document.expire_form.submit();
            }
        }
    }
}
function change_text_field(form, radio_name, status){
    for (var i=0;i<form.elements.length;i++){
        if(form.elements[i].className == 'room_expire_date_time' ||
           form.elements[i].className == 'room_expire_date_time_btn') {
            form.elements[i].disabled=status;
        }
        if(form.elements[i].className == radio_name) {
            form.elements[i].checked = true;
        } else {
            form.elements[i].checked = false;
        }
    }
}
//-->
</script>
{/literal}
<form action="{$__frame.self}" name="expire_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="action_type" value="expire" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="room_key" value="{$room_key}" />
<input type="hidden" name="temp" value="{$action}" />
<fieldset>
<legend>{t}1277,_('Stop Seting'){/t}</legend>
<table class="searchList">
<thead>
</thead>
{if $message}
<div class="required">
    <ul>{$message}</ul>
</div>
{/if}
<tbody>
<tr>
<th>{t}1269,_('Stop on'){/t}</th>
<td>
<input type="radio"  name="reservation_expire"  class="reservation_expire"" value="1"  onClick="change_text_field(this.form, 'reservation_expire', false);" checked=true />set time
</td>
<td><input type="text" id="room_expire_date_time" name="room_expire_date_time" class="room_expire_date_time" value="{$option_date_default}" readonly />
    <button type="reset" id="room_expire_date_time_btn" class="room_expire_date_time_btn"">Cal</button>
    <script type="text/javascript">
        (function(){literal}{{/literal}
            var now = new Date();
            Calendar.setup({literal}{{/literal}
                inputField  : 'room_expire_date_time',
                button      : 'room_expire_date_time_btn',
                ifFormat    : '%Y/%m/%d %H:%M:59',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true,
                disableFunc : function(date){literal}{{/literal}
                    if(date.getYear() < now.getYear() ||
                       date.getYear() == now.getYear() && date.getMonth() < now.getMonth() ||
                       date.getYear() == now.getYear() && date.getMonth() == now.getMonth() &&
                       date.getDate() < now.getDate()) return true;
            {literal}}{/literal}
        {literal}}{/literal});
        {literal}}{/literal})();
    </script>
</td>
</tr><tr>
<th>{t}1269,_('Stop now'){/t}</th>
<td colspan="2">
<input type="radio"  name="now_delete" class="now_delete" value="2" onClick="change_text_field(this.form, 'now_delete', true);" />Stop
</td>
</tr><tr>
<th></th>
<td colspan="2">
<input type="button" value="{t}999901,_('Done'){/t}" class="icon i-go" onClick="room_expire(this.form);" />
</td>
</tr>
</tbody>
</table>
</fieldset>
<br />
<input type="button" onClick="history.back();" value="{t}1284,_('Back'){/t}"/>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}