{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Manage Staff"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}993,_('Search'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/form2.t.html"}
    </div>
    <div id="fragment2">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/insert.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/pager.t.html"}
{literal}
<script type="text/javascript">
<!--
function user_delete(user_key){
    if(confirm("{/literal}{t}995,_('Are you sure to stop?'){/t}{literal}")){
        document.delete_form._action.name = "action_delete_user";
        document.delete_form.user_key.value = user_key;
        document.delete_form.submit();
    }
}
//-->
</script>
{/literal}
<input type="hidden" name="_action" value="" />
<input type="hidden" name="user_key" value="" />
<input type="hidden" name="temp" value="{$action}" />
<input type="hidden" name="type" value="{$type}" />
<input type="hidden" name="table" value="{$table}" />
</form>

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}996,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        {if $column.listform_status != "0"}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/if}
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            {t}997,_('Modify'){/t}&nbsp;|&nbsp;
            {t}999,_('Stop'){/t}
        </td>
        {foreach from=$columns key=key item=colum}
        {if $colum.listform_status != "0"}
        <td>{$column.form_status}{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/if}
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}1000,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1001,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}