{literal}
<script type="text/javascript">
<!--
function option_add(){
    document.lump_regist._action.name = "action_room_option";
    document.lump_regist.submit();
}
function plan_add(){
    document.lump_regist._action.name = "action_room_plan";
    document.lump_regist.submit();
}
function action_confirm(){
    document.lump_regist._action.name = "action_confirm";
    document.lump_regist.submit();
}
//-->
</script>

{/literal}
<form action="{$__frame.self}" name="lump_regist"  method="post">
<input type="hidden" name="_action" value="" />
<fieldset>
<legend>{t}1042,_('一括登録'){/t}</legend>
<table>
<tr>
    <td>{t}999901,_('国コード'){/t}
    <td>
        <select name="country_key">
            <option value="1" {if "" == $smarty.request.country_key || "1" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>日本</option>
            <option value="2" {if "2" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>アメリカ</option>
            <option value="3" {if "3" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>シンガポール</option>
            <option value="4" {if "4" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>マレーシア</option>
            <option value="5" {if "5" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>中国</option>
            <option value="0" {if "0" == $smarty.request.country_key|escape:'html'}selected="selected"{/if}>その他</option>
        </select>
        {$error.country_key}
    </td>
</tr><tr>
    <td>{t}999902,_('会社名'){/t}
    <span class="required">*</span></td>
    <td>
        <input type="text" name="name" value="{$smarty.request.name|escape:'html'}">
        <span class="information">{t}4672,_('例'){/t} ) {t}4673,_('ブイキューブイベント'){/t}</span>
        {$error.name}
    </td>
</tr><tr>
    <td>{t}1043,_('ユーザーID'){/t}
    <span class="required">*</span>
    </td>
    <td>
        <input type="text" name="prefix" value="{$smarty.request.prefix|escape:'html'}">
        <span class="information">{t}4672,_('例'){/t} ) vstaff_</span>
        {$error.prefix}
    </td>
</tr><tr>
    <td>連番開始数
    <span class="required">*</span></td>
    <td>
        <input type="text" name="start" value="{$smarty.request.start|escape:'html'}" size="5">
        <span class="information">{t}4672,_('例'){/t} ) {t}4674,_('「'){/t}100{t}4675,_('」と入力すると'){/t} xxx_100,xxx_101,... {t}4676,_('と'){/t}{t}1053,_('件数'){/t}{t}4677,_('分のアカウントが'){/t}{t}1056,_('作成'){/t}{t}4678,_('されます。'){/t}</span>
        {$error.start}
    </td>
</tr><tr>
    <td>0埋めの桁数
    <span class="required">*</span></td>
    <td>
        <input type="text" name="digit" value="{$smarty.request.digit|default:3|escape:'html'}" size="5" />
        {$error.digit}
    </td>
</tr><tr>
    <td>グループ課金</td>
    <td><input type="checkbox" id="group" name="group" value="1" {if $smarty.request.group == "1"} checked="checked"{/if}/> <label for="group">( 発行したアカウントをグループ単位で課金します )</label></td>
</tr><tr>
    <td>{t}1045,_('ユーザーPW'){/t}</td>
    <td>
        <input type="radio" name="user_pw" value="1" id="user_pw1" {if $smarty.request.user_pw == "1"} checked="checked"{/if} /><label for="user_pw1">{t}1046,_('ユーザーIDと同じ'){/t}</label>
        <input type="radio" name="user_pw" value="2" id="user_pw2" {if $smarty.request.user_pw != "1"} checked="checked"{/if} /><label for="user_pw2">{t}1047,_('ランダム'){/t}</label>
        {$error.user_pw}
    </td>
</tr><tr>
    <td>{t}1045,_('管理者PW'){/t}</td>
    <td>
        <input type="radio" name="user_admin_pw" value="1" id="user_admin_pw1" {if $smarty.request.user_admin_pw == "1"} checked="checked"{/if} /><label for="user_admin_pw1">{t}1046,_('ユーザーIDと同じ'){/t}</label>
        <input type="radio" name="user_admin_pw" value="2" id="user_admin_pw2" {if $smarty.request.user_admin_pw != "1"} checked="checked"{/if} /><label for="user_admin_pw2">{t}1047,_('ランダム'){/t}</label>
        {$error.user_admin_pw}
    </td>
</tr><tr>
    <td>{t}999903,_('郵便番号'){/t}</td>
    <td>
        <input type="text" name="postnumber" value="{$smarty.request.postnumber|escape:'html'}">
        <span class="information">{t}999901,_('例'){/t} ) {t}467399,_('999-9999'){/t}</span>
        {$error.postnumber}
    </td>
</tr><tr>
    <td>{t}999904,_('住所'){/t}</td>
    <td>
        <input type="text" name="address" value="{$smarty.request.address|escape:'html'}">
        <span class="information">{t}999902,_('例'){/t} ) {t}4673999,_('東京都目黒区'){/t}</span>
        {$error.address}
    </td>
</tr><tr>
    <td>{t}999905,_('電話番号'){/t}</td>
    <td>
        <input type="text" name="phone" value="{$smarty.request.phone|escape:'html'}">
        <span class="information">{t}999903,_('例'){/t} ) {t}4673999999,_('090-9999-9999'){/t}</span>
        {$error.phone}
    </td>
</tr><tr>
    <td>{t}999906,_('FAX番号'){/t}</td>
    <td>
        <input type="text" name="fax" value="{$smarty.request.fax|escape:'html'}">
        <span class="information">{t}999904,_('例'){/t} ) {t}46739999999,_('03-9999-9999'){/t}</span>
        {$error.fax}
    </td>
</tr><tr>
    <td>{t}999907,_('担当者部署'){/t}</td>
    <td>
        <input type="text" name="department" value="{$smarty.request.department|escape:'html'}">
        <span class="information">{t}999905,_('例'){/t} ) {t}4673999999999,_('中央技術部門'){/t}</span>
        {$error.department}
    </td>
</tr><tr>
    <td>{t}999908,_('担当者姓'){/t}</td>
    <td>
        <input type="text" name="lastname" value="{$smarty.request.lastname|escape:'html'}">
        {$error.lastname}
    </td>
</tr><tr>
</tr><tr>
    <td>{t}999909,_('担当者名'){/t}</td>
    <td>
        <input type="text" name="firstname" value="{$smarty.request.firstname|escape:'html'}">
        {$error.firstname}
    </td>
</tr><tr>
    <td>{t}999910,_('E-mail'){/t}</td>
    <td>
        <input type="text" name="email" value="{$smarty.request.email|escape:'html'}">
        <span class="information">{t}999906,_('例'){/t} ) {t}4673999999999,_('xxx@vcube.co.jp'){/t}</span>
        {$error.email}
    </td>
</tr><tr>
    <td>{t}105599,_('開始日'){/t}
    <span class="required">*</span></td>
    <td><input type="text" id="starttime" name="starttime" value="{$smarty.request.starttime|escape:'html'}" />
        <button type="reset" id="starttime_btn">Cal</button>
        {literal}
        <script type="text/javascript">
        Calendar.setup({
            inputField  : 'starttime',
            button      : 'starttime_btn',
            ifFormat    : '%Y/%m/%d 00:00:00',
            showsTime   : true,
            singleClick : true,
            weekNumbers : true,
            cache       : true
        });
        {/literal}
        </script>
        {$error.starttime}
    </td>
</tr><tr>
    <td>停止日</td>
    <td><input type="text" id="deletetime" name="deletetime" value="{$smarty.request.deletetime|escape:'html'}" />
        <button type="reset" id="deletetime_btn">Cal</button>
        {literal}
        <script type="text/javascript">
        Calendar.setup({
            inputField  : 'deletetime',
            button      : 'deletetime_btn',
            ifFormat    : '%Y/%m/%d 00:00:00',
            showsTime   : true,
            singleClick : true,
            weekNumbers : true,
            cache       : true
        });
        {/literal}
        </script>
        {$error.deletetime}
    </td>
</tr><tr>
    <td>{t}999911,_('イントラFMS'){/t}
    <td>
        <select name="intra_fms">
            <option value="">選択してください</option>
            <option value="1" {if "1" == $smarty.request.intra_fms|escape:'html'}selected="selected"{/if}>利用</option>
            <option value="0" {if "0" == $smarty.request.intra_fms|escape:'html'}selected="selected"{/if}>なし</option>
        </select>
        {$error.intra_fms}
    </td>
</tr><tr>
    <td>ステータス
    <span class="required">*</span></td>
    <td>
        <select name="user_status">
            <option value="">選択してください</option>
            <option value="1" {if "1" == $smarty.request.user_status|escape:'html'}selected="selected"{/if}>利用中</option>
            <option value="2" {if "2" == $smarty.request.user_status|escape:'html'}selected="selected"{/if}>トライアル中</option>
            <option value="0" {if "0" == $smarty.request.user_status|escape:'html'}selected="selected"{/if}>無効</option>
        </select>
        {$error.user_status}
    </td>
</tr><tr>
    <td>{t}999912,_('削除ステータス'){/t}
    <td>
        <select name="user_delete_status">
            <option value="1" {if "1" == $smarty.request.user_delete_status|escape:'html'}selected="selected"{/if}>停止予定</option>
            <option value="2" {if "2" == $smarty.request.user_delete_status|escape:'html'}selected="selected"{/if}>停止</option>
            <option value="0" {if "" == $smarty.request.user_delete_status || "0" == $smarty.request.user_delete_status|escape:'html'}selected="selected"{/if}>なし</option>
        </select>
        {$error.user_delete_status}
    </td>
</tr><tr>
    <td>{t}999910,_('課金モデル'){/t}
    <td>
        <select name="account_model">
            <option value="">選択してください</option>
            <option value="member" {if "member" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>メンバー課金</option>
            <option value="centre" {if "centre" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>センター課金</option>
            <option value="free" {if "free" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>フリー</option>
            <option value="" {if "" == $smarty.request.account_model|escape:'html'}selected="selected"{/if}>なし</option>
        </select>
        {$error.account_model}
    </td>
</tr><tr>
    <td>登録メンバー数上限（人数）</td>
    <td>
        <input type="text" name="max_member_count" value="{$smarty.request.max_member_count|escape:'html'}" size="10" />
        {$error.max_member_count}
    </td>
</tr><tr>
    <td>請求
    <td>
        <select name="invoice_flg">
            <option value="1" {if "" == $smarty.request.invoice_flg || "1" == $smarty.request.invoice_flg|escape:'html'}selected="selected"{/if}>請求対象</option>
            <option value="0" {if "0" == $smarty.request.invoice_flg|escape:'html'}selected="selected"{/if}>請求対象外</option>
        </select>
        {$error.invoice_flg}
    </td>
</tr><tr>
    <td>請求月
    <td>
        <select name="payment_terms">
            <option value="pre" {if "pre" == $smarty.request.payment_terms|escape:'html'}selected="selected"{/if}>前請求</option>
            <option value="on" {if "on" == $smarty.request.payment_terms|escape:'html'}selected="selected"{/if}>当月請求</option>
            <option value="post" {if "" == $smarty.request.payment_terms || "post" == $smarty.request.payment_terms|escape:'html'}selected="selected"{/if}>後請求</option>
        </select>
        {$error.payment_terms}
    </td>
</tr><tr>
    <td>{t}999913,_('備考'){/t}</td>
    <td>
        <textarea name="memo"  cols="40"  rows="2">{$smarty.request.memo|escape:'html'}</textarea>
        {$error.memo}
    </td>
</tr><tr>
    <td>{t}999914,_('プレゼンスチャット'){/t}
    <td>
        <select name="has_chat">
            <option value="">選択してください</option>
            <option value="" {if "" == $smarty.request.has_chat|escape:'html'}selected="selected"{/if}>なし</option>
            <option value="1" {if 1 == $smarty.request.has_chat|escape:'html'}selected="selected"{/if}>あり</option>
        </select>
        {$error.has_chat}
    </td>
</tr><tr>
    <td>{t}999915,_('サイボウズ連携オプション'){/t}
    <td>
        <select name="is_cybozu_option">
            <option value="0" {if "" == $smarty.request.is_cybozu_option || "0" == $smarty.request.is_cybozu_option|escape:'html'}selected="selected"{/if}>なし</option>
            <option value="1" {if "1" == $smarty.request.is_cybozu_option|escape:'html'}selected="selected"{/if}>あり</option>
        </select>
        {$error.is_cybozu_option}
    </td>
</tr><tr>
    <td>{t}999916,_('動画共有オプション'){/t}
    <td>
        <select name="use_clip_share">
            <option value="0" {if "" == $smarty.request.use_clip_share || "0" == $smarty.request.use_clip_share|escape:'html'}selected="selected"{/if}>なし</option>
            <option value="1" {if "1" == $smarty.request.use_clip_share|escape:'html'}selected="selected"{/if}>あり</option>
        </select>
        {$error.use_clip_share}
    </td>
</tr><tr>
    <td>{t}999917,_('動画共有使用容量（MB）'){/t}</td>
    <td>
        <input type="text" name="clip_share_storage_size" value="{$smarty.request.clip_share_storage_size|escape:'html'}" size="10" />
        {$error.clip_share_storage_size}
    </td>
</tr><tr>
    <td>{t}999918,_('契約サービス'){/t}
    <td>
        <select name="service_name">
            <option value="V-CUBE Meeting"{if "" == $smarty.request.service_name || "V-CUBE Meeting" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>: V-CUBE Meeting</option>
            <option value="paperless"{if "paperless" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>paperless: paperless.nice2meet.us</option>
            <option value="pgi"{if "pgi" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>pgi: pgi.nice2meet.us</option>
            <option value="tact"{if "tact" == $smarty.request.service_name|escape:'html'}selected="selected"{/if}>tact: schoolie-gaia.nice2meet.us</option>
        </select>
        {$error.service_name}
    </td>
</tr><tr>
    <td>{t}999919,_('代理店'){/t}
    <td>
        <select name="agency" id="agency">
            <option value="">{t}1398,_('選択してください'){/t}</option>
            {foreach from=$agency_list item=agency}
            <option value="{$agency.agency_id}" {if $smarty.request.agency == $agency.agency_id}seleced{/if}>{$agency.agency_name|escape:"html"}</option>
            {/foreach}
        </select>
        {$error.service_name}
    </td>
</tr><tr>
    <td>部屋名
    <span class="required">*</span></td>
    <td>
        <input type="radio" name="room_name" id="room_name1" value="user_id"{if $smarty.request.room_name == 'user_id'} checked="checked"{/if} /><label for="room_name1">ユーザーIDと同じ</label>
        <input type="radio" name="room_name" id="room_name2" value="account_name"{if $smarty.request.room_name == 'account_name'} checked="checked"{/if} /><label for="room_name2">会社名と同じ</label>
        {$error.room_name}
    </td>
</tr><tr>
    <td>{t}999919,_('最大参加者数'){/t}</td>
    <td>
        <input type="text" name="max_seat" value="{if $max_seat != ""}{$max_seat}{else}{$smarty.request.max_seat|escape:'html'}{/if}" size="10" />
        {$error.max_seat}
    </td>
</tr><tr>
    <td>{t}999920,_('最大オーディエンス数'){/t}</td>
    <td>
        <input type="text" name="max_audience_seat" value="{if $max_audience_seat != "" }{$max_audience_seat}{else}{$smarty.request.max_audience_seat|escape:'html'}{/if}" size="10" />
        {$error.max_audience_seat}
    </td>
</tr><tr>
    <td>{t}999921,_('最大資料ユーザ数'){/t}</td>
    <td>
        <input type="text" name="max_whiteboard_seat" value="{if $max_whiteboard_seat != ""}{$max_whiteboard_seat}{else}{$smarty.request.max_whiteboard_seat|escape:'html'}{/if}" size="10" />
        {$error.max_whiteboard_seat}
    </td>
</tr><tr>
    <td>{t}1050,_('プラン'){/t}
    <td>
        <select name="service_key">
        {foreach from=$plan_list item=service}
            <option value="{$service.service_key}"
                {if $smarty.request.service_key == $service.service_key || $service_key ==  $service.service_key} selected="selected"{/if}>
                {$service.service_name|escape:"html"}
            </option>
        {/foreach}
        </select>
        {$error.service_key}
        <input type="button" onclick="plan_add();" value="{t}1281,_('設定'){/t}"/>
    </td>
</tr>
<tr>
    <td>
        <legend>{t}999922,_('オプション'){/t}</legend>
    </td><td>
        <table class="searchList">
            <tr>
                <th>{t}999922,_('オプション'){/t}</th>
                <td>
                    <select name="service_option_key">
                  {foreach from=$service_option key=key item=row}
                      {if $row.service_option_key != "7" || $service_key != "45" && $service_key != "46" && $service_key != "47"}
                             <option value="{$row.service_option_key}">
                                {$row.service_option_name|escape:"html"}
                                ( {t}999923,_('オプションキー'){/t} : {$row.service_option_key} )
                                </option>
                            {/if}
                  {/foreach}
              </select>
                </td>
            </tr>
            <tr>
                <th>{t}999924,_('追加日'){/t}</th>
                <td>
                    <input type="text" id="option_start_time" name="option_start_time" value="{$option_date_default}" />
                    <button type="reset" id="option_start_time_btn">Cal</button>
                    <script type="text/javascript">
                        Calendar.setup({literal}{{/literal}
                            inputField  : 'option_start_time',
                            button      : 'option_start_time_btn',
                            ifFormat    : '%Y/%m/%d 00:00:00',
                            showsTime   : true,
                            singleClick : true,
                            weekNumbers : true,
                            cache       : true
                            {literal}}{/literal});
                    </script>
                </td>
            </tr>
                <td colspan="2" align="center">
                   <input type="button" onclick="option_add();" value="{t}1281,_('追加'){/t}"/>
                   <input type="button" onclick="plan_add();" value="{t}1281,_('クリア'){/t}"/>
               </td>
            </tr>
            {if $service_option_data}
            <tr>
                <th colspan="2"  align="center">{t}999925,_('追加済み'){/t}</th>
            </tr>
            <tr>
                <th>{t}999922,_('オプション'){/t}</th>
                <th>{t}999924,_('追加日'){/t}</th>
            </tr>
                {foreach from=$service_option_data key=key item=row}
            <tr>
                <td>
                    {$row.service_option_name|escape:"html"} ( {t}999923,_('オプションキー'){/t} : {$row.service_option_key} )
                </td>
                <td>{$row.option_start_time}</td>
            </tr>
                {/foreach}
            {/if}
        </table>
    </td>
</tr><tr>
    <td>{t}999924,_('登録ユーザー数'){/t}
    <span class="required">*</span></td>
    <td>
        <input type="text" name="end" value="{$smarty.request.end|escape:'html'}" size="5" />
        <span class="information">{t}1054,_('最大1000件まで'){/t}</span>
        {$error.end}
    </td>
</tr>
<tr>
    <td></td>
    <td><input type="button" onclick="action_confirm();" value="{t}105699,_('確認'){/t}"></td>
</tr>
</table>
</fieldset>
</form>
