	.dhtmlgoodies_tree,#floatingContainer{
		margin:0px;
		padding:0px;

	}

	#navpane-inner {
	   _width: 195px; 
        overflow-x: auto;
        padding: 20px 0;
        border-top: 1px solid #ccc;
}

/* for WinIE7 */
*+html #navpane-inner {
    overflow-x: scroll;
}

	.dhtmlgoodies_tree ul{	/* Sub menu groups */
		margin-left:0px;	/* Left spacing */
		padding-left:8px;
		display:none;	/* Initially hide sub nodes */
	}
	
	#floatingContainer ul{
		margin-left:20px;	/* Left spacing */
		padding-left:0px;	
	}
	.dhtmlgoodies_tree li,#floatingContainer li{	/* Nodes */
		list-style-type:none;
		vertical-align:middle;
		
	}
	
	.dhtmlgoodies_tree li div {
	   margin-bottom: 5px;
	   padding: 3px 0;
	   white-space: nowrap;
	}
	
    .dhtmlgoodies_tree li div img {
        cursor: pointer;
    }
    
    .dhtmlgoodies_tree li div .folder {
        margin: 0 10px 0 5px;
    }
	
	.dhtmlgoodies_tree li a,#floatingContainer li a{	/* Node links */
		color:#000;
		text-decoration:none;
		font-family:arial;
		line-height:13px;
		
	}
	
	.dhtmlgoodies_tree li a.highlightedNodeItem{
		color:#FFF;
		background-color:#009;
	}
	
		
	.dhtmlgoodies_tree input.folderTreeTextBox{	/* Css for the text input - rename item */
		font-size:10px;
		margin:0px;
		padding:0px;
		height:12px;
	}

    .dhtmlgoodies_tree li a:hover {
        color:#f58426;
    }

	#dhtmlgoodies_tree2 .active_type {
    font-weight:bold;
    color:#f58426;
}

.popup_layer #dhtmlgoodies_tree2 {
    height: 120px;
    overflow: auto;
    margin-bottom: 15px;
}

.popup_layer #dhtmlgoodies_tree2 span img {
    margin-right: 5px;
}

.folder_menu {
    margin-left: 5px;
}

.folder_menu img {
    opacity: 0.75;
}

.folder_menu img:hover {
    opacity: 1.0;
}

    .tree-menu {
        border: 1px solid #c1c1c1;
        background-color: #f5f5f5;
        width: 100px;
    }
    
    .tree-menu a {
        color: #000;
        text-decoration: none;
        display: block;
        padding: 5px 10px;
    }
    
    .tree-menu a:hover {
        background-color: #dfdfdf;
    }
