{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="DB Status"}
{foreach from=$rows key=section item=group}
{$section}
<table class="searchList">
<thead>
    <tr>
        <th nowrap>Variable Name</th>
        <th nowrap>Value</th>
    </tr>
</thead>
<tbody>
    {foreach from=$group key=name item=value}
    <tr>
        <td class="action">{$name|escape:'html'}</td>
        <td>{$value|escape:'html'}</td>
    </tr>
    {/foreach}
</tbody>
</table>
{/foreach}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}