@charset "UTF-8";
/* ================================================== */

/*  Basic Tag Format  */

/* ================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,img,iframe {
    border: 0;
    vertical-align: top;
}

address,caption,cite,code,dfn,em,strong,th,var {
    font-style: normal;
    font-weight: normal;
}

ol,ul {
    list-style: none;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after {
    content:'';
}

abbr,acronym {
    border: 0;
}


/* ================================================== */

/*  Base  */

/* ================================================== */

body {
        font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", "Meiryo",
"Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", Arial, Helvetica, sans-serif;
        line-height: 1.5;
        color: #333;
        background: #003273 url(../images/bg.gif) 0 0 repeat-x;
        font-size: 12px;
}

/* for WinIE7 */
*:first-child+html body {
    font-size: 75%;
}

/* for WinIE6 */
* html body {
    font-size: 75%;
}


/* -------------------------------------------- */
/*  form   */
/* -------------------------------------------- */

form {
        display: inline;
}

input, select, textarea {
        font-family: inherit;
        font-size: inherit;
        vertical-align: middle;
}

input[type="text"],
input[type="password"],
textarea {
        border:1px solid #7F9DB9;
}

textarea {
        width:100%;
        /width: 99%; /*IE6,7ハック*/
        line-height:1.25;
}

label {
        cursor:pointer;
        margin-left: 3px;
}


/* -------------------------------------------- */
/*  Base Common   */
/* -------------------------------------------- */

.clear {
    clear: both;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-table;
    min-height: 1%;
}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */



/* ================================================== */

/*  common  */

/* ================================================== */


/* -------------------------------------------- */
/*  ヘッダー   */
/* -------------------------------------------- */

#header {
    width: 950px;
    margin: 0 auto;
    padding: 13px 0 14px;
}
#header img {
    float: left;
}
#header .right {
    float: right;
    margin-right: 7px;
}

/* -------------------------------------------- */
/*  メイン   */
/* -------------------------------------------- */

#main-col {
    width: auto;
    background-color: #dfe5ec;
}

.contents {
    width: 950px;
    margin: 0 auto;
    padding: 14px 0 26px;
}

.content {
    float: left;
    width: 475px;
    height: 135px;
    background: transparent url(../images/box.gif) 0 0 no-repeat;
}

.room {
    height: 135px!important;
    background-position: 15px 8px;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
}
/* for WinIE6
* html .room {
    overflow: visible!important;
} */

.room1 {
    background-image: url(../images/img_01.gif);
}
.room2 {
    background-image: url(../images/img_02.gif);
}
.room3 {
    background-image: url(../images/img_03.gif);
}
.room4 {
    background-image: url(../images/img_04.gif);
}
.room5 {
    background-image: url(../images/img_05.gif);
}
.room6 {
    background-image: url(../images/img_06.gif);
}.room7 {
    background-image: url(../images/img_01.gif);
}
.room8 {
    background-image: url(../images/img_02.gif);
}
.room9 {
    background-image: url(../images/img_03.gif);
}
.room10 {
    background-image: url(../images/img_04.gif);
}
.room11 {
    background-image: url(../images/img_05.gif);
}
.room12 {
    background-image: url(../images/img_06.gif);
}

.text {
	width: 250px;
    position: absolute;
    left: 85px;
    color: #111;
    font-weight: bold;
    padding-top: 50px;
}

.subject {
    float: left;
    padding-right: 10px;
    font-size: 33px;
	line-height: 1.0;
	white-space: nowrap;
}
.name {
    float: left;
    font-size: 18px;
	line-height: 33px;
	white-space: nowrap;
}
.teacher {
    font-size: 13px;
}

.icon {
    position: absolute;
    top: 43px;
    right: 19px;
    width: 119px;
    height: 44px;
}


/* -------------------------------------------- */
/*  サブ   */
/* -------------------------------------------- */

#sub-col {
    width: 100%;
    background-color: #fff;
}
.sub-col-inner {
    width: 950px;
    margin: 0 auto;
    padding: 10px 0 20px;
}

#sub-col dl {
}
#sub-col dt {
    font-weight: bold;
    padding: 10px 0;
}
#sub-col dd {
    padding-bottom: 10px;
}

/* -------------------------------------------- */
/*  フッター   */
/* -------------------------------------------- */

#footer {
    width: 950px;
    margin: 0 auto;
}
.copyright {
    margin: 30px 0;
    color: #8099b9;
    font-size: 84%;
    font-family: Arial,Helvetica,sans-serif;
}

.allert {
color: #ff0000;
}

.alertindex {
color: #ff0000;
padding: 10px;
font-weight: bold;
}

