{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="User Use Summary"}
<fieldset>
<legend>{t}1316,_('Search'){/t}</legend>
<table class="searchList">
<form action="" name="form">
<tr>
    <th>{t}1317,_('Start'){/t}</th>
    <td>
        <input type="text" name="start" value="{$start|escape:'html'}" />
        <input type="button" onclick="displayCalendar(this.form.elements['start'],'yyyy-mm-dd hh:ii:00',this,true)" value="Cal"/>
    </td>
    <th>{t}1318,_('End'){/t}</th>
    <td>
        <input type="text" name="end" value="{$end|escape:'html'}" />
        <input type="button" onclick="displayCalendar(this.form.elements['end'],'yyyy-mm-dd hh:ii:00',this,true)" value="Cal"/>
    </td>
    <td><input type="submit" name="action_all_user_total"></td>
</tr>
</form>
</table>
</fieldset>
<br />
<table class="searchList">
<thead>
    <tr>
        <th>{t}1319,_('User ID'){/t}</th>
        <th>{t}1320,_('Company Name'){/t}</th>
        <th>{t}1321,_('Total Time'){/t}</th>
        <th>{t}1322,_('Total Use Count'){/t}</th>
        <th>{t}1323,_('Total Person Count'){/t}</th>
        <th>{t}1324,_('Room ID'){/t}</th>
        <th>{t}1325,_('Room Name'){/t}</th>
        <th>{t}1326,_('Using Time'){/t}</th>
    </tr>
</thead>
<tbody>
    {foreach from=$room_data item=user}
    {foreach from=$user.rooms item=room name="room"}
    {if $smarty.foreach.room.iteration == 1}
    <tr>
        <td rowspan="{$smarty.foreach.room.total}"><a href="?action_list&amp;table=user&amp;type=data&amp;sort_key=user_key&amp;check=user_id&amp;form[user_id]={$room.user_id}" target="_self">{$room.user_id|escape:"html"}</a></td>
        <td rowspan="{$smarty.foreach.room.total}">{$room.user_company_name|escape:"html"}</td>
        <td align="right" rowspan="{$smarty.foreach.room.total}">{$user.total.use_time}</td>
        <td align="right" rowspan="{$smarty.foreach.room.total}">{$user.total.meeting_cnt}</td>
        <td align="right" rowspan="{$smarty.foreach.room.total}">{$user.total.participant_cnt}</td>
        <td>{$room.room_key|escape:"html"}</td>
        <td>{$room.room_name|escape:"html"}</td>
        <td align="right">{$room.use_time}</td>
    </tr>
    {else}
    <tr>
        <td>{$room.room_key|escape:"html"}</td>
        <td>{$room.room_name|escape:"html"}</td>
        <td align="right">{$room.use_time}</td>
    </tr>
    {/if}
    {/foreach}
    {/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}
