{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Meeting Use Log"}
<div id="container">
    <ul>
        <li><a href="?action_total_user#fragment1"><span>{t}1336,_('User Monthly Frequcency'){/t}</span></a></li>
    </ul>
    <div id="fragment1">
        <fieldset>
        <legend>{t}1337,_('User Using Count'){/t}</legend>
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/form2.t.html"}

<div>
{$now_date|date_format:"%Y{t}4721,_('Year'){/t}%m{t}4722,_('Month'){/t}"}{t}4723,_('Minute'){/t}
<a href="?{$page.action}&form[yy]={$prev_date|date_format:'%Y'}&form[mm]={$prev_date|date_format:'%m'}">{t}1339,_('Cunrrent Month'){/t}</a> |
<a href="?{$page.action}&form[yy]={$smarty.now|date_format:'%Y'}&form[mm]={$smarty.now|date_format:'%m'}">{t}1340,_('Previous'){/t}</a> |
<a href="?{$page.action}&form[yy]={$next_date|date_format:'%Y'}&form[mm]={$next_date|date_format:'%m'}">{t}1341,_('Next'){/t}</a>
</div>
<br />
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
        <th>{t}4724,_('Using Time'){/t} ( {t}4723,_('Minutes'){/t} ) </th>
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
        <td align="right">{$row.meeting_use_minute}</td>
    </tr>
    {/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/csv_download.t.html"}
        </fieldset>
    </div>
</div>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}