<form action="{$__frame.self}" name="search_form" method="post">
<fieldset>
<legend>{t}1349,_('Search Filter'){/t}</legend>
<table class="searchList">
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <th>{t}1350,_('User ID'){/t}</th>
        <td><input type="text" name="cond[user_id]" size="10" value="{$request.cond.user_id|escape:'html'}" /></td>
    </tr><tr>
        <th>{t}1351,_('Date'){/t}</th>
        <td>
            <select name="year">
            {foreach from=$year_list item=yy}
                <option value="{$yy}" {if $yy == $request.year}selected="selected"{/if}>{$yy}</option>
            {/foreach}
            </select> {t}4725,_('Year'){/t}
            <select name="month">
            {foreach from=$month_list item=mm}
                <option value="{$mm}" {if $mm == $request.month}selected="selected"{/if}>{$mm}</option>
            {/foreach}
            </select> {t}4726,_('月'){/t}
        </td>
    </tr><tr>
        <th>{t}1352,_('Status'){/t}</th>
        <td>
            <select name="cond[user_status]" {if $column.sub_type == "set"}multiple{/if}>
                <option value="">{t}1353,_('choose one'){/t}</option>
                {foreach from=$user_columns.user_status.item.select key=_key item=select}
                <option value="{$select.value}" {if $select.value == $request.user_status|escape:'html'}selected="1"{/if}>{$select.data}</option>
                {/foreach}
            </select>
        </td>
    </tr><tr>
        <th>{t}1354,_('Account Model'){/t}</th>
        <td>
            <select name="cond[account_model]" {if $column.sub_type == "set"}multiple{/if}>
                <option value="">{t}1353,_('choose one'){/t}</option>
                {foreach from=$user_columns.account_model.item.select key=_key item=select}
                <option value="{$select.value}" {if $select.value == $request.account_model|escape:'html'}selected="1"{/if}>{$select.data}</option>
                {/foreach}
            </select>
        </td>
    </tr><tr>
        <td></td>
        <td><input type="submit" name="action_total_user"></td>
    </tr>
</table>
</fieldset>
</form>
<table class="searchList">
<thead>
    <tr>
        {foreach from=$columns key=key item=column}
            {if $column.id == "user_id"}
            <th>{$column.label|escape:'html'}</th>
            <th>{t}1356,_('Company Name'){/t}</th>
            <th>{t}1354,_('Account Model'){/t}</th>
            <th>{t}1352,_('Status'){/t}</th>
            <th>{t}1359,_('Start Time'){/t}</th>
            {else}
            <th>{$column.label|escape:'html'}</th>
            {/if}
        {/foreach}
    </tr>
</thead>
<tbody>
    {if $user_logs}
        {foreach from=$user_logs key=key item=row}
        <tr>
            {foreach from=$columns key=key item=column}
            {if $column.id == "user_id"}
            <td>{$row.user_info.user_id|escape:'html'}</td>
            <td>{$row.user_info.user_company_name|escape:'html'}</td>
            <td>{if $row.user_info.account_model == "member"}{t}1360,_('Member'){/t}{elseif $row.user_info.account_model == "centre"}Centre{else}{t}4727,_('Common'){/t}{/if}</td>
            <td>{if $row.user_info.user_status == "1"}{t}1361,_('Active'){/t}{elseif $row.user_info.user_status == "2"}{t}4728,_('Trial'){/t}{/if}</td>
            <td>{$row.user_info.user_starttime}</td>
            {else}
            <td>{$row.$key|escape:'html'}</td>
            {/if}
            {/foreach}
        </tr>
        {/foreach}
    {/if}
</tbody>
</table>
