<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content= "{$__frame.service_info.meta_keywords}"/>
<meta name="description" content="{$__frame.service_info.meta_description}" />
<link rel="stylesheet" type="text/css" href="/custom/pigeone/lang/common/css/import.css?{$__frame.meeting_version}" media="all" />
<link rel="shortcut icon" href="/custom/pigeone/favicon.ico" type="image/vnd.microsoft.icon">
<script type="text/javascript" src="/shared/js/lib/prototype.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/shared/js/lib/jquery.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/shared/js/common.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/lang/{$__frame.lang}/js/html.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/lang/{$__frame.lang}/js/custom.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/shared/js/original.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/shared/js/interaction.js?{$__frame.meeting_version}"></script>
<!-- script type="text/javascript" src="/shared/js/lib/footerfixed.js"></script -->
<script type="text/javascript" src="/shared/js/lib/smoothscroll.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/shared/js/lib/dropdown.js?{$__frame.meeting_version}"></script>
<script type="text/javascript" src="/shared/js/lib/highlightinput.js?{$__frame.meeting_version}"></script>
<script src="/shared/js/lib/jquery.bgiframe.js?{$__frame.meeting_version}" type="text/javascript"></script>
<!--<script type="text/javascript" src="/shared/js/lib/minmax.js"></script>-->
<script src="/shared/js/lib/jquery/ezpz_tooltip/jquery.ezpz_tooltip.min.js?{$__frame.meeting_version}" type="text/javascript"></script>
{if $__frame.lang == "zh_CN" || $__frame.lang == "zh_TW"}<link rel="stylesheet" type="text/css" href="/shared/css/zh-add.css?{$__frame.meeting_version}" media="all" />{/if}