<hr />
<span class="footerLink">
<a href="#top">TOP</a>
</span>
<span class="footerInfo">
サーバ時間:{$__frame.server_time|date_format:'%Y/%m/%d %H:%M:%S'} |
処理時間:{$__frame.passage_time}秒
</span>
</body>
</html>