<form action="{$__frame.self}" name="search_form" method="post">
<fieldset>
<legend>Search Form</legend>
<table>
    {foreach from=$columns key=key item=column}
    {if $column.search}
    {if $column.searchform_status == 1}
    <tr>
        <td>{$column.label|escape:'html'}</td>
        <td>
        {if $column.item.relation_data}
            <select name="form[{$key}]" {if $column.sub_type == "set"}multiple{/if}>
                <option value="">{t}1095,_('選択してください'){/t}</option>
                {foreach from=$column.item.relation_data key=_key item=name}
                <option value="{$_key}" {if $_key == $request.$key|escape:'html'}selected="1"{/if}>{$_key}: {$name}</option>
                {/foreach}
            </select>
        {elseif $column.sub_type}
            <select name="form[{$key}]" {if $column.sub_type == "set"}multiple{/if}>
                <option value="">{t}1095,_('選択してください'){/t}</option>
                {foreach from=$column.item.select key=_key item=select}
                <option value="{$select.value}" {if $select.value == $request.$key|escape:'html'}selected="1"{/if}>{$select.value}: {$select.data}</option>
                {/foreach}
            </select>
        {elseif $column.type == "number"}
            {if $column.search == "equal"}
                <input type="text" name="form[{$key}]" size="10" value="{$request.$key|escape:'html'}" />
            {elseif $column.search == "range"}
                <input type="text" name="form[{$key}][min]" size="10" value="{$request.$key.min|escape:'html'}" /> {t}4680,_('～'){/t}
                <input type="text" name="form[{$key}][max]" size="10" value="{$request.$key.max|escape:'html'}" />
            {else}
                <input type="text" name="form[{$key}]" size="10" value="{$request.$key|escape:'html'}" />
            {/if}
        {elseif $column.type == "string"}
            <input type="text" name="form[{$key}]" size="{if $column.size > 70}70{else}{$column.size}{/if}" maxlength="{$column.size}" value="{$request.$key|escape:'html'}" />
        {elseif $column.type == "text"}
            <input type="text" name="form[{$key}]" size="50" value="{$request.$key|escape:'html'}" />
        {elseif $column.type == "date"}
            <input type="text" id="search_{$key}_min" name="form[{$key}][min]" value="{$request.$key.min|escape:'html'}" />
            <button type="reset" id="search_{$key}_min_btn">Cal</button>
             {t}4680,_('～'){/t}
            <input type="text" id="search_{$key}_max" name="form[{$key}][max]" value="{$request.$key.max|escape:'html'}" />
            <button type="reset" id="search_{$key}_max_btn">Cal</button>
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'search_{$key}_min',
        button      : 'search_{$key}_min_btn',
        ifFormat    : '%Y/%m/%d %H:%M:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
    Calendar.setup({literal}{{/literal}
        inputField  : "search_{$key}_max",
        button      : "search_{$key}_max_btn",
        ifFormat    : "%Y/%m/%d %H:%M:00",
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        {elseif $column.type == "time"}
            <input type="text" name="form[{$key}]" size="{if $column.size > 70}70{else}{$column.size}{/if}" maxlength="{$column.size}" value="{$request.$key|escape:'html'}" />
        {/if}
        </td>
    </tr>
    {/if}
    {/if}
    {/foreach}
    <tr>
        <th></th>
        <td>
            <select name="page_cnt">
                <option value="2"{if $page.pager.limit == 2} selected="selected"{/if}>{t}1097,_('2 件'){/t}</option>
                <option value="20"{if $page.pager.limit == 20} selected="selected"{/if}>{t}1098,_('20 件'){/t}</option>
                <option value="50"{if $page.pager.limit == 50} selected="selected"{/if}>{t}1099,_('50 件'){/t}</option>
                <option value="100"{if $page.pager.limit == 100} selected="selected"{/if}>{t}1100,_('100 件'){/t}</option>
            </select>
            <input type="submit" name="{$page.action}" value="{t}1101,_('検索'){/t}"/>
            <input type="reset" value="{t}1102,_('リセット'){/t}" />
        </td>
    </tr>
</table>
</fieldset>
</form>
