<span class="pagerCount">{t}1115,_('全'){/t}{$page.pager.total}{t}4681,_('件中'){/t} {$page.pager.start}{t}4682,_('～'){/t}{$page.pager.end}{t}4683,_('件'){/t}</span>
<span class="pagerLink">
{if $page.pager.range}
    (
    <a href="?{$page.action}&amp;page=1">[1]</a>
    <a href="?{$page.action}&amp;page={$page.pager.prev}"><b>&lt;</b></a>
    {foreach from=$page.pager.range key=key item=is_current}
        {if $is_current}
            <b>{$key}</b>
        {else}
            <a href="?{$page.action}&amp;page={$key}">{$key}</a>
        {/if}
    {/foreach}
    <a href="?{$page.action}&amp;page={$page.pager.next}"><b>&gt;</b></a>
    <a href="?{$page.action}&amp;page={$page.pager.last}">[{$page.pager.last}]</a>
    )
{/if}
</span>