<div id="header">
<h1>{if $__frame.user_info}<a href="/services/">{else}<a href="/services/login/">{/if}<img src="/custom/med-meeting/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<div class="support-info">
{if $__frame.user_info.account_model == "free"}
{t}7674,_('有料プランのご契約申込・カスタマーサポート（平日 09:00-17:00 電話受付）'){/t}<span>{t}7675,_('0570-07-0710'){/t}</span>
{else}
{t}7665,_('カスタマーサポート（24時間365日 電話受付）'){/t}<span>{t}7666,_('0570-00-2192'){/t}</span>
{/if}
</div>
</div>
