<form id='upload_form' onSubmit='validateUpload();return false;' method='POST' enctype="multipart/form-data" action='/services/clip/?action_upload'>
	<table>
		<tr>
		<th>{t}7406,_('ファイルアップロード'){/t}</th>
		<td>
			<input id='clip_file' name='clip_file' type='file'/>
			<span class="bold">{t}7407,_('動画タイトル'){/t}：</span><input name='clip_title' id='clip_title' type='text'/>
			<span class="button"><span class="button-inner">
    			<input value="{t}7408,_('アップロード'){/t}" type="submit" class="icon i-go" />
    		</span></span>
			<input type="hidden" name="__submit_key" value="{$__submit_key}" />
		</td>
		</tr>
	</table>
</form>



