{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Add Free Member"}
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>{t}1211,_('Member Name'){/t}</th>
            <th>{t}1211,_('PW'){/t}</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{$member_name|escape:"html"}</td>
            <td>{$member_pass|escape:"html"}</td>
        </tr>
    </tbody>
    </table>

    <br />

    <a href="paperless.php?action_member_list&table=member&type=data&sort_key=member_key&form[user_key]={$user_key|escape:'html'}" target="contents">Back to List</a>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}