{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Add Paperless User"}
{literal}
<script type="text/javascript">
<!--
function add(){
    if(confirm("{/literal}{t}1396,_('Are you sure to add?'){/t}{literal}")){
        document.add_form._action.name = "action_add_user_complete";
        document.add_form.submit();
    }
}
//-->
</script>

{/literal}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<fieldset>
<legend>Paperless User Add Form</legend>
<table>
    <tr>
        <td>{t}1397,_('User ID'){/t}</td>
        <td><input type="text" name="add_form[user_id]" size="50" value="{$add_user_form.user_id}" />
        {if $message.user_id}<br /><span class="required">{$message.user_id}</span>{/if}</td>
    </tr>
    <tr>
        <td>{t}1398,_('Company Name'){/t}</td>
        <td><input type="text" name="add_form[user_company_name]" size="50" value="{$add_user_form.user_company_name}" />
        {if $message.user_company_name}<br /><span class="required">{$message.user_company_name}</span>{/if}</td>
    </tr>
    <tr>
        <td>{t}1398,_('Post Number'){/t}</td>
        <td><input type="text" name="add_form[user_company_postnumber]" size="50" value="{$add_user_form.user_company_postnumber}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('Address'){/t}</td>
        <td><input type="text" name="add_form[user_company_address]" size="50" value="{$add_user_form.user_company_address}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('Tel'){/t}</td>
        <td><input type="text" name="add_form[user_company_phone]" size="50" value="{$add_user_form.user_company_phone}" />
        {if $message.user_company_phone}<br /><span class="required">{$message.user_company_phone}</span>{/if}</td>
    </tr>
    <tr>
        <td>{t}1398,_('Department'){/t}</td>
        <td><input type="text" name="add_form[user_staff_department]" size="50" value="{$add_user_form.user_staff_department}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('Family Name'){/t}</td>
        <td><input type="text" name="add_form[user_staff_lastname]" size="50" value="{$add_user_form.user_staff_lastname}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('First Name'){/t}</td>
        <td><input type="text" name="add_form[user_staff_firstname]" size="50" value="{$add_user_form.user_staff_firstname}" /></td>
    </tr>
    <tr>
        <td>{t}1398,_('Email Address'){/t}</td>
        <td><input type="text" name="add_form[user_staff_email]" size="50" value="{$add_member_form.user_staff_email}" />
        {if $message.user_staff_email}<br /><span class="required">{$message.user_staff_email}</span>{/if}</td>
    </tr>
    <tr>
        <td>{t}1399,_('Agency'){/t}</td>
        <td><select name="add_form[agency]" id="agency">
                <option value="">{t}1398,_('choose one'){/t}</option>
                {foreach from=$agency_list item=agency}
                <option value="{$agency.agency_id}" {if $add_member_form.agency == $agency.agency_id}seleced{/if}>{$agency.agency_name|escape:"html"}</option>
                {/foreach}
        </select></td>
    </tr>
    <tr>
        <td>{t}1386,_('Start Time'){/t}</td>
        <td><input type="text" id="add_user_starttime" name="add_form[user_starttime]" value="" />
            <button type="reset" id="add_user_starttime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'add_user_starttime',
        button      : 'add_user_starttime_btn',
        ifFormat    : '%Y/%m/%d 00:00:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
            <input type="button" onclick="add();" value="{t}1407,_('Add'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}