{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Member"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1196,_('Download Template'){/t}</span></a></li>
        <li><a href="#fragment2"><span>{t}1197,_('Import'){/t}</span></a></li>
        <li><a href="#fragment3"><span>{t}1198,_('Export'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        <span class="information">{t}1199,_('Please download the CSV file before add.'){/t}</span><br />
        <form action="nagase.php" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1200,_('Download CSV File'){/t}</legend>
        <span class="attention">{t}1201,_('In order to avoid the garbage character, please use the UTF-8 Encode.'){/t}<br />
        {t}4694,_('If you want to edit it with a Spreadsheet Software, please use OpenOffice or anther one, instead of MS Excel.'){/t}<br />
        {t}4697,_('If you have any problem, please contact the CTU.'){/t}</span><br />
        <a href="http://ja.openoffice.org/download/">{t}1202,_('Download OpenOffice Here'){/t}</a><br /><br />
        <input type="submit" name="action_download" value="{t}1203,_('Download CSV file template'){/t}" />
        </fieldset>
        </form>
    </div>

    <div id="fragment2">
        <span class="information">{t}1204,_('Please specifying the existing user ID, then upload the CSV file that you edited.'){/t}</span><br />
        {foreach from=$form_err_msg item=err_msg}
        <span class="attention">{$err_msg|escape:"html"}</span><br />
        {/foreach}
        <form action="nagase.php#fragment2" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1197,_('Import'){/t}</legend>
        <table>
        <tr>
        <td>User ID</td>
        <td><input type="text" name="user_id" value="{$smarty.request.user_id|escape:'html'}" /></td>
        </tr>
        <tr>
        <td>CSV File</td>
        <td><input type="file" name="import_file" size="40"/></td>
        </tr>
        <tr>
        <td>Password</td>
        <td>
            <input type="checkbox" name="auto_pw" value="1" id="auto_pw"{if $smarty.request.auto_pw == 1} checked="checked"{/if} />
            <label for="auto_pw">Auto Generate(CSV File First)</label>
        </td>
        </tr>
        <tr>
        <td>Group</td>
        <td>
            <input type="checkbox" name="auto_group" value="1" id="auto_group"{if $smarty.request.auto_group == 1} checked="checked"{/if} />
            <label for="auto_group">Auto entry the group if doesn't exist.</label>
        </td>
        </tr>
        <tr>
        <td>For Old Version</td>
        <td>
            <input type="checkbox" name="strict" value="1" id="strict"{if $smarty.request.strict == 1} checked="checked"{/if} />
            <label for="strict">{t}4701,_('Carefully check the member info'){/t} ( 4.2{t}4702,_('Remove the check for previous versions.'){/t} ) </label>
        </td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" name="action_import_confirm" value="{t}1207,_('Confirm Import'){/t}" /></td>
        </tr>
        </table>
        </fieldset>
{if $rows}
{literal}
<script type="text/javascript">
<!--
    function form_submit(frm) {
        if (confirm("{/literal}{t}1208,_('Are you sure to add?'){/t}{literal}")) {
            frm.submit();
        }
    }
// -->
</script>
{/literal}
    <form action="nagase.php"  method="post">
    <fieldset>
    <legend>{t}1209,_('Confirm'){/t}</legend>
    <div class="title">User Information</div>
    <table class="searchList">
    <tr>
        <td class="action">User Name</td>
        <td>{$user_info.user_company_name}</td>
    </tr>
    <tr>
        <td class="action">Account Type</td>
        <td>{$user_info.account_model}</td>
    </tr>
    </table>
    {if $err_flg == 1}
    <span class='required'>{t}1210,_('Input Error, please check again.'){/t}</span>
    {/if}
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}1211,_('Member ID'){/t}</th>
            <th>{t}1212,_('Password'){/t}</th>
            <th>{t}1213,_('Name'){/t}</th>
            <th>{t}1213,_('Name'){/t} ( {t}4703,_('Reading'){/t} ) </th>
            <th>{t}1215,_('Email'){/t}</th>
            <th>{t}1216,_('Group'){/t}</th>
            <th>{t}1217,_('Group KEY'){/t}</th>
            <th>timezone</th>
            <th>lang</th>
            <th>member_type</th>
            <th>room_key</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$rows key=i item=row}
        <tr{if $row.error} class="warn"{/if}>
            <td{if $row.error} rowspan="2"{/if}>{$i+1}</td>
            <td>{$row.member_id|escape:"html"}</td>
            <td>{if $row.member_pass}{$row.member_pass|escape:"html"}{else}{if $smarty.request.auto_pw == 1}<span class="attention">(Auto)</span>{/if}{/if}</td>
            <td>{$row.member_name|escape:"html"}</td>
            <td>{$row.member_name_kana|escape:"html"}</td>
            <td>{$row.member_email|escape:"html"}</td>
            <td>{$row.member_group_name|escape:"html"}</td>
            <td>{if $row.member_group}{$row.member_group|escape:"html"}{else}{if $row.member_group_name && $smarty.request.auto_group == 1}<span class="attention">(Auto Add)</span>{/if}{/if}</td>
            <td>{$row.timezone|escape:"html"}</td>
            <td>{$row.lang|escape:"html"}</td>
            <td>{$row.member_type|escape:"html"}</td>
            <td>{$row.room_key|escape:"html"}</td>
        </tr>
        {if $row.error}
        <tr class="warn">
            <td colspan="9" style="text-align: left;">
            {foreach from=$row.error key=key item=err_msg}
                [ {$key} ] <b>{$row.$key}</b> <span class='attention'>{$err_msg}</span><br />
            {/foreach}
            </td>
        </tr>
        {/if}
    {/foreach}
    </tbody>
    </table>
    {if $err_flg == 0}
    <input type="hidden" name="auto_pw" value="{$smarty.request.auto_pw}"/>
    <input type="hidden" name="auto_group" value="{$smarty.request.auto_group}"/>
    <input type="hidden" name="strict" value="{$smarty.request.strict}"/>
    <input type="hidden" name="user_id" value="{$smarty.request.user_id}"/>
    <input type="hidden" name="action_import" />
    {if $service_list}
    <label for="service_key">Sales Plan</label>
    <select name="service_key" id="service_key">
    	{foreach from=$service_list item=service}
    	<option value="{$service.service_key}">{$service.service_name|escape:"html"}</option>
    	{/foreach}
    </select>
    <span>Please select a sales plan, and sales room will be automatically generated.</span><br />
    {/if}
    <input type="button" value="{t}1218,_('Add'){/t}" onclick="form_submit(this.form);" />
    {/if}
    </form>
    </fieldset>
{/if}
        </form>
    </div>

    <div id="fragment3">
        <span class="information">{t}1219,_('Please specifying the existing user ID, then export.'){/t}</span><br />
        <form action="nagase.php" method="post" >
        <fieldset>
        <legend>{t}1198,_('Export'){/t}</legend>
        {t}4699,_('User'){/t}ID : <input type="text" name="user_id" value="{$smarty.request.user_id|escape:'html'}" />
        <input type="submit" name="action_export" value="{t}1198,_('Export'){/t}" />
        </fieldset>
        </form>
    </div>
</div>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}