{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Member"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1224,_('Search'){/t}</span></a></li>
        <li><a href="member_csv.php#fragment1"><span>Manage by CSV</span></a></li>
        <li><a href="nagase.php#fragment1"><span>for nagase</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th nowrap>{t}1226,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;sort_key={$key}&amp;sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td>
            <a href="?action_modify&amp;type=data&amp;table=member&amp;key=member_key&amp;value={$row.member_key|escape:'html'}&amp;uptime=update_datetime">{t}1421,_('Modify'){/t}</a>
            {if $row.member_status == "0"}&nbsp;|&nbsp;<a href="?action_service_login&amp;id={$row.member_id|escape:'url'}&amp;type=member" target="_blank">{t}1227,_('Login'){/t}</a>{/if}
            {if $row.member_status == "0"}&nbsp;|&nbsp;<a href="?action_delete_member&amp;member_key={$row.member_key|escape:'html'}&amp;user_key={$row.user_key|escape:'html'}" onclick="return confirm('{t}1419,_('Are you sure to stop?'){/t}')">{t}1423,_('Stop'){/t}</a>{/if}
            {if $row.room_key}&nbsp;|&nbsp;<a href="?action_list&amp;user_key={$row.user_key|escape:'html'}&amp;member_key={$row.member_key|escape:'html'}&amp;type=member_room">{t}1424,_('Member Room'){/t}</a>{/if}
            {if $row.member_type != "centre" && $row.member_type != "terminal"}&nbsp;|&nbsp;<a href="?action_add_sales_room&amp;user_key={$row.user_key|escape:'html'}&amp;member_key={$row.member_key|escape:'html'}">{t}11111111,_('Add Sales room'){/t}</a>{/if}
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<!--
<input type="button" value="{t}1228,_('全て選択'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1229,_('選択解除'){/t}" class="inputCalendar" onclick="all_clear();" />
 -->
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/csv_download.t.html"}
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}