<a href="./enquete.php">Enquete list</a>
<table border=1>
<tr>
    <th>NO</th>
    <th>USER ID</th>
{foreach from=$model key=key item=column}
    <th>{$column.question}</th>
{/foreach}
    <!-- th>SESSION</th -->
    <th>DATE</th>
</tr>
{foreach from=$rows item=row}
<tr>
    <td>{$row.id}</td>
    <td>{$row.user_id}</td>
{foreach from=$model key=key item=column}
    <td>{$row.$key}</td>
{/foreach}
    <!-- td>{$row.session}</td -->
    <td>{$row.create_datetime}</td>
</tr>
{/foreach}
</table>