{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage FAQ"}
<form action="faq.php" method="post">
<table class="searchList">
    <col class="key" />
    <col class="value" />
    <tbody>
    <tr>
        <th>{t}774,_('Category'){/t}</th>
        <td colspan="2">
            {if $cat_num == "1"}{t}4616,_('Our Services'){/t}
            {elseif $cat_num == "2"}{t}4617,_('Price and Plan'){/t}
            {elseif $cat_num == "3"}{t}4618,_('Requirement'){/t}
            {elseif $cat_num == "4"}{t}4619,_('Trouble Shooting'){/t}
            {elseif $cat_num == "5"}{t}4620,_('Mac'){/t}{/if}
        </td>
    </tr>
    <tr>
        <th>{t}775,_('Sub-category'){/t}</th>
        <td colspan="2">
        {if $sub_num == "1"}{t}4621,_('Service General'){/t}
        {elseif $sub_num == "2"}{t}4622,_('Meeting'){/t}
        {elseif $sub_num == "3"}{t}4623,_('Seminar'){/t}{/if}
        </td>
    </tr>
    <tr>
        <th>{t}776,_('Display Type'){/t}</th>
        <td colspan="2">
        {if $faq_type == "1"}{t}4624,_('Common Service'){/t}
        {elseif $faq_type == "2"}{t}4625,_('User Only'){/t}
        {elseif $faq_type == "3"}{t}4626,_('Member Price-Mode Only'){/t}{/if}
        </td>
    </tr>
    <tr>
        <th>FAQ</th>
        <th>Original</th>
        <th>Translation</th>
    </tr>
    <tr>
        <th>{t}777,_('Ask'){/t}</th>
        <td>{$original_q|escape:"html"|nl2br}</td>
        <td>{$q|escape:"html"}</td>
    </tr>
    <tr>
        <th>{t}778,_('Answer'){/t}</th>
        <td>{$original_a|escape:"html"|nl2br}</td>
        <td>{$a|escape:"html"|nl2br}</td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2">
            <input type="hidden" name="foo" value="bar" />
            <input type="submit" value="{t}779,_('Back'){/t}" class="inputSubmit" name="action_new"/>
            <input type="submit" value="{t}780,_('Send'){/t}" class="inputSubmit" name="action_complete"/>
        </td>
    </tr>
    </tbody>
</table>
</form>

</body></html>