{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage FAQ"}
<form action="faq.php" method="post">
<p class="attention">There is no reflect to modify the Original, Sorry...</p>
<table class="searchList">
    <tr>
        <th>{t}782,_('Category'){/t}</th>
        <td colspan="2">
        <select name="cat_num" >
            <option value="1" {if $cat_num == "1"}selected="selected"{/if}>{t}783,_('Our Services'){/t}</option>
            <option value="2" {if $cat_num == "2"}selected="selected"{/if}>{t}784,_('Price and Plan'){/t}</option>
            <option value="3" {if $cat_num == "3"}selected="selected"{/if}>{t}785,_('Requirement'){/t}</option>
            <option value="4" {if $cat_num == "4"}selected="selected"{/if}>{t}786,_('Trouble Shooting'){/t}</option>
            <option value="5" {if $cat_num == "5"}selected="selected"{/if}>{t}787,_('Mac'){/t}</option>
        </select>
        </td>
    </tr>
    <tr>
        <th>{t}788,_('Sub-category'){/t}</th>
        <td colspan="2">
        <select name="sub_num" >
            <option value="1" {if $sub_num == "1"}selected="selected"{/if}>{t}789,_('Service General'){/t}</option>
            <option value="2" {if $sub_num == "2"}selected="selected"{/if}>{t}790,_('Meeting'){/t}</option>
            <option value="3" {if $sub_num == "3"}selected="selected"{/if}>{t}791,_('Seminar'){/t}</option>
        </select>
        </td>
    </tr>
    <tr>
        <th>{t}792,_('Display Type'){/t}</th>
        <td colspan="2">
        <select name="faq_type" >
            <option value="1" {if $faq_type == "1"}selected="selected"{/if}>{t}793,_('Common Service'){/t}</option>
            <option value="2" {if $faq_type == "2"}selected="selected"{/if}>{t}794,_('User Only'){/t}</option>
            <option value="3" {if $faq_type == "3"}selected="selected"{/if}>{t}795,_('Price-Mode Member Only'){/t}</option>
        </select>
        </td>
    </tr>
    <tr>
        <th>FAQ</th>
        <th>Original</th>
        <th>Translation</th>
    </tr>
    <tr>
        <th>{t}796,_('Ask'){/t}</th>
        <td><textarea name="original_q" cols="60" rows="4" >{$original_q|escape:'html'}</textarea></td>
        <td><textarea name="q" cols="60" rows="4" >{$q|escape:'html'}</textarea></td>
    </tr>
    <tr>
    </tr>
    <tr>
        <th>{t}797,_('Answer'){/t}</th>
        <td><textarea name="original_a" cols="60" rows="20" >{$original_a|escape:'html'}</textarea></td>
        <td><textarea name="a" cols="60" rows="20" >{$a|escape:'html'}</textarea></td>
    </tr>
    <tr>
        <th></th>
        <td colspan="2">
            <input type="hidden" name="key" value="{$key}" />
            <input type="submit" value="{t}798,_('Back'){/t}" class="inputSubmit" name="action_top"/>
            <input type="submit" value="{t}799,_('Send'){/t}" class="inputSubmit" name="action_confirm"/>
        </td>
    </tr>
    </tbody>
</table>
</form>

</body></html>