{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Meeting List"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1177,_('Search'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        <form action="{$__frame.self}" name="search_form" method="post">
		<fieldset>
		<legend>Search Form</legend>
		<table>
			
			<tr>
				<td>user id</td>
				<td>
					<input type="text" name="form[user_id]" size="20" value="{$request.user_id|escape:'html'}">
				</td>
			</tr><tr>
				<td>start time</td>
				<td>
					<input type="text" id="search_meeting_start_datetime_min" name="form[meeting_start_datetime][min]" value="{$request.meeting_start_datetime.min|escape:'html'}" />
					<button type="reset" id="search_meeting_start_datetime_min_btn">Cal</button>
					 {t}4680,_(' - '){/t}
					<input type="text" id="search_meeting_start_datetime_max" name="form[meeting_start_datetime][max]" value="{$request.meeting_start_datetime.max|escape:'html'}" />
					<button type="reset" id="search_meeting_start_datetime_max_btn">Cal</button>
					<script type="text/javascript">
					Calendar.setup({literal}{{/literal}
						inputField  : 'search_meeting_start_datetime_min',
						button      : 'search_meeting_start_datetime_min_btn',
						ifFormat    : '%Y/%m/%d %H:%M:00',
						showsTime   : true,
						singleClick : true,
						weekNumbers : true,
						cache       : true
					{literal}}{/literal});
					Calendar.setup({literal}{{/literal}
						inputField  : "search_meeting_start_datetime_max",
						button      : "search_meeting_start_datetime_max_btn",
						ifFormat    : "%Y/%m/%d %H:%M:00",
						showsTime   : true,
						singleClick : true,
						weekNumbers : true,
						cache       : true
					{literal}}{/literal});
				</script>
				</td>
			<tr>
			<th></th>
				<td>
					<select name="page_cnt">
						<option value="2"{if $page.pager.limit == 2} selected="selected"{/if}>{t}1097,_('2 items'){/t}</option>
						<option value="20"{if $page.pager.limit == 20} selected="selected"{/if}>{t}1098,_('20 items'){/t}</option>
						<option value="50"{if $page.pager.limit == 50} selected="selected"{/if}>{t}1099,_('50 items'){/t}</option>
						<option value="100"{if $page.pager.limit == 100} selected="selected"{/if}>{t}1100,_('100 items'){/t}</option>
					</select>
					<input type="submit" name="{$page.action}" value="Search"/>
					<input type="reset" value="{t}1102,_('Reset'){/t}" />
				</td>
			</tr>
		</table>
		</fieldset>
		</form>
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}1179,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        {if $column.listform_status != "0"}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&sort_key={$key}&sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&sort_key={$key}&sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/if}
        {/foreach}
		<th nowrap>
			conference id
		</th>
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            <a href="../admin_tool/?action_meeting_detail&meeting_key={$row.meeting_key}">{t}1180,_('Detail'){/t}</a>&nbsp;|&nbsp;
            {if $row.server_key > 0 && $row.is_active == 0}
            <a href="http://{$fms.server_info[$row.server_key].server_address}:{$fms.server_info[$row.server_key].server_port}/log_filter/index.html?&app_name={$fms.app_name}&meeting_key={$row.fms_path}{if (strnatcasecmp($row.version, '4.5.5.0') == -1)}{$row.meeting_key}{else}{$row.meeting_session_id}{/if}" target="_blank">{t}1185,_('FMS Log'){/t}</a> (<a href="http://{$fms.server_info[$row.server_key].server_address}:{$fms.server_info[$row.server_key].server_port}/fms_log.php?&app_name={$fms.app_name}&meeting_key={$row.fms_path}{if (strnatcasecmp($row.version, '4.5.5.0') == -1)}{$row.meeting_key}{else}{$row.meeting_session_id}{/if}" target="_blank">{t}1185,_('Text'){/t}</a>)
            {/if}<br />
        </td>
        {foreach from=$columns key=key item=colum}
        {if $colum.listform_status != "0"}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/if}
        {/foreach}
		<td>
		{$row.conference_id}
		</td>
    </tr>
    {/foreach}

</tbody>
</table>
<!--
<input type="button" value="{t}1187,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1188,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
 -->
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/csv_download.t.html"}
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
