{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Member"}

<select name=year>
    {html_options options=$info.yearlist selected=$info.year}
</select>

<select name=month>
    {html_options options=$info.monthlist selected=$info.month}
</select>

{foreach from=$info.userList item=userInfo}

<table>
<tr>
    <th>user_company</th>
    <td>{$userInfo.user_company_name}</td>
</tr>

{foreach from=$userInfo.roomList item=roomInfo}
<tr>
    <td valign="top">
        room_key: {$roomInfo.room_key}<br />
        member_key: {$roomInfo.member_key}<br />
        member_name: {$roomInfo.member_name}<br />
    </td>
    <td>
        {if $roomInfo.meetingList}
        {foreach from=$roomInfo.meetingList item=meetingInfo}

        <table>
            <tr>
                <td valign="top">
                    meeting_key: {$meetingInfo.meeting_key}<br />
                    meeting_name: {$meetingInfo.meeting_name}<br />
                    actual_start_datetime: {$meetingInfo.actual_start_datetime}<br />
                    actual_end_datetime: {$meetingInfo.actual_end_datetime}<br />
                </td>
                <td>
                    {foreach from=$meetingInfo.memberList item=participantInfo}
                        participant_name: {$participantInfo.member_name}<br />
                        participant_id: {$participantInfo.member_id}<br />
                        participant_email: {$participantInfo.member_email}<br />
                        use_count: {$participantInfo.use_count}<br />
                        uptime_start: {$participantInfo.uptime_start}<br />
                        uptime_end: {$participantInfo.uptime_end}<br />
                        <hr>
                    {/foreach}
                </td>
            </tr>
        </table>
        {/foreach}
        {/if}
    </td>
</tr>

{/foreach}
</table>

{/foreach}


<div style="clear: both;">
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
</div>