{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title=""}

<select name=year>
    {html_options options=$info.yearlist selected=$info.year}
</select>

<select name=month>
    {html_options options=$info.monthlist selected=$info.month}
</select>
<input type="button" value="button">

{foreach from=$info.userList item=userInfo}

<table>
<tr>
    <th>user_company</th>
    <td>{$userInfo.user_company_name}</td>
</tr>

{foreach from=$userInfo.memberList item=memberInfo}
<tr>
    <td valign="top">
    member_id: {$memberInfo.member_id}<br>
    member_name: {$memberInfo.member_name}<br>
    count: {$memberInfo.count}<br>
    hispec: {$memberInfo.hispec}<br>
    guest_count: {$memberInfo.guest_count}<br>
    <input type="button" value="detail" onclick="javascript:location.href='?action_show_detail&member_id={$memberInfo.member_id}&dsn={$userInfo.dsn}&year={$info.year}&month={$info.month}'" />
    </td>
    <td>
    </td>
</tr>

{/foreach}
</table>

{/foreach}


<div style="clear: both;">
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
</div>