{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title=""}



<table>
<tr>
    <th>memberInfo</th>
    <td>
    member_id: {$info.memberInfo.member_id}<br>
    member_name: {$info.memberInfo.member_name}<br>
    </td>
</tr>

{foreach from=$info.meetingList item=meetingInfo}
<tr>
    <td valign="top">
    meeting_name: {$meetingInfo.meeting_name}<br>
    meeting_size_used: {$meetingInfo.meeting_size_used}<br>
    use_count: {$meetingInfo.use_count}<br>
    actual_start_datetime: {$meetingInfo.actual_start_datetime}<br>
    actual_end_datetime: {$meetingInfo.actual_end_datetime}<br>
    participantList:<br>
    {foreach from=$meetingInfo.participantList item=participantInfo}
        {$participantInfo.participant_name}<br>
    {/foreach}
    <hr>
    </td>
    <td>
    </td>
</tr>

{/foreach}
</table>



<div style="clear: both;">
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
</div>