{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Main Menu"}
{if $db_server_list}
<fieldset>
<legend>{t}809,_('Database Management'){/t}</legend>
{literal}
<script type="text/javascript">
<!--
    function select_server(server_key) {
        window.open("?action_main" + "&server_key="+server_key, "_top");
    }
//-->
</script>
{/literal}
<form>
<select name="db_server" onchange="select_server(this.options[this.selectedIndex].value);">
<option value="1">{t}810,_('Please choose a DB'){/t}</option>
{foreach from=$db_server_list item=db_server}
<option value="{$db_server.server_key}" {if $smarty.request.server_key == $db_server.server_key || $db_server.server_key == $select_server_key}  selected{/if}>[ {$db_server.host_name} ]</option>
{/foreach}
</select>
</form>
{if $smarty.request.server_key || $select_server_key}
<ul>
{if $authority != 3}
<li><a href="?action_list&amp;table=user&amp;type=data&amp;sort_key=user_key&amp;check=user_id&amp;sort_type=desc&amp;regist=user_registtime&amp;after_action=action_add_room&amp;reset=1" target="contents">{t}811,_('User List'){/t}</a></li>
<li><a href="?action_list&amp;table=user_room_setting&amp;type=data&amp;sort_key=user_room_setting_key&amp;sort_type=desc&amp;reset=1" target="contents">User Room Setting List</a></li>
<li><a href="free.php?action_list&amp;sort_key=user_key&amp;check=user_id&amp;sort_type=desc&amp;reset=1" target="contents">{t}838,_('Free Account List'){/t}</a></li>
<li><a href="?action_list&amp;table=member&amp;type=data&amp;sort_key=member_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}812,_('Member List'){/t}</a></li>
<li><a href="?action_list&amp;table=user_group&amp;type=data&amp;sort_key=group_id&amp;regist=&amp;reset=1" target="contents">Account Group List</a></li>
<li><a href="?action_list&amp;table=room&amp;type=data&amp;sort_key=room_registtime&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}813,_('Room List'){/t}</a></li>
<li><a href="?action_list&amp;table=member_room_relation&amp;type=data&amp;sort_key=member_room_relation_id&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}00000,_('Member-Room Relation List'){/t}</a></li>
<li><a href="?action_list&amp;table=reservation&amp;type=data&amp;sort_key=reservation_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}814,_('Reservation List'){/t}</a></li>
<li><a href="?action_list&amp;table=reservation_user&amp;type=data&amp;sort_key=r_user_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}815,_('Invitee List'){/t}</a></li>
<li><a href="?action_list&amp;table=meeting&amp;type=data&amp;sort_key=meeting_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}816,_('Meeting List'){/t}</a></li>
<li><a href="?action_list&amp;table=meeting_sequence&amp;type=data&amp;sort_key=meeting_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">Meeting Sequence List</a></li>
<li><a href="?action_list&amp;table=meeting_options&amp;type=data&amp;sort_key=meeting_options_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}817,_('Meeting Options List'){/t}</a></li>
<li><a href="?action_list&amp;table=meeting_function_count_log&amp;type=data&amp;sort_key=meeting_function_count_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}11111,_('Meeting Function Count'){/t}</a></li>
<li><a href="?action_list&amp;table=ordered_service_option&amp;type=data&amp;sort_key=ordered_service_option_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}818,_('Room Options List'){/t}</a></li>
<li><a href="?action_list&amp;table=participant&amp;type=data&amp;sort_key=participant_key&amp;regist=&amp;reset=1" target="contents">{t}819,_('Participant List'){/t}</a></li>
<li><a href="?action_list&amp;table=inbound&amp;type=data&amp;sort_key=inbound_key&amp;regist=&amp;reset=1" target="contents">{t}0000,_('Inbound List'){/t}</a></li>
<li><a href="?action_list&amp;table=inbound_log&amp;type=data&amp;sort_key=inbound_log_key&amp;regist=&amp;reset=1" target="contents">{t}0000,_('Inbound Log'){/t}</a></li>
<li><a href="?action_list&amp;table=document&amp;type=data&amp;sort_key=document_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}820,_('Convert Document List'){/t}</a></li>
<li><a href="?action_list&amp;table=address_book&amp;type=data&amp;sort_key=address_book_key&amp;regist=&amp;reset=1" target="contents">{t}821,_('Address Book'){/t}</a></li>
<li><a href="?action_list&amp;table=eventlog&amp;type=data&amp;sort_key=eventlog_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}822,_('Event Log'){/t}</a></li>
<li><a href="?action_list&amp;table=operation_log&amp;type=data&amp;sort_key=operation_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">Access Log</a></li>
<li><a href="?action_list&amp;table=fms_watch_status&amp;type=data&amp;sort_key=watch_status_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}823,_('FMS Sequence List'){/t}</a></li>
<li><a href="?action_list&amp;table=fms_deny&amp;type=data&amp;sort_key=fms_deny_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}823,_('FMS Deny List'){/t}</a></li>
<li><a href="?action_list&amp;table=answersheet&amp;type=data&amp;sort_key=answersheet_id&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">Survey List</a></li>
<li><a href="?action_list&amp;table=answer&amp;type=data&amp;sort_key=answer_id&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">Survey Questions</a></li>
<li><a href="?action_list&amp;table=answer_branch&amp;type=data&amp;sort_key=answer_branch_id&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">Survey Answers</a></li>
<li><a href="?action_datacenter_list&amp;table=datacenter_priority&amp;sort_key=datacenter_priority_key&amp;reset=1" target="contents">{t}828,_('DataCenter Priority List'){/t}</a></li>
<li><a href="?action_datacenter_list&amp;table=datacenter_ignore&amp;sort_key=datacenter_ignore_key&amp;reset=1" target="contents">{t}828,_('DataCenter Ignore List'){/t}</a></li>
<li><a href="?action_list&amp;table=ives_setting&amp;sort_key=ives_setting_key&amp;type=data&amp;sort_type=desc&amp;reset=1" target="contents">{t}9999,_('IVeS Configuration'){/t}</a></li>
<li><a href="?action_list&amp;table=video_conference&amp;sort_key=video_conference_key&amp;type=data&amp;sort_type=desc&amp;reset=1" target="contents">{t}9999,_('Video Conference List'){/t}</a></li>
<li><a href="?action_list&amp;table=video_conference_participant&amp;sort_key=video_participant_key&amp;type=data&amp;sort_type=desc&amp;reset=1" target="contents">{t}9999,_('Video Conference Participants List'){/t}</a></li>
<li><a href="?action_list&amp;table=video_conference_operation_log&amp;sort_key=operation_key&amp;type=data&amp;sort_type=desc&amp;reset=1" target="contents">{t}9999,_('Video Conference Operation Log'){/t}</a></li>
<li><a href="faq.php" target="contents">{t}840,_('FAQ List'){/t}</a></li>
<li><a href="maintenance.php" target="contents">{t}839,_('Notification List'){/t}</a></li>
<li><a href="?action_list&amp;table=notification&amp;type=account&amp;sort_key=id&amp;sort_type=desc&amp;regist=create_datetime&amp;reset=1" target="contents">Update Notification List</a></li>
<li><a href="?action_list&amp;type=data&amp;table=ping_failed&amp;sort_key=ping_failed_id&amp;reset=1" target="contents">PING FAILED</a></li>
<li><a href="?action_list&amp;type=data&amp;table=max_connect_log&amp;sort_key=max_connect_log_key&amp;sort_type=desc&amp;regist=create_datetime&amp;reset=1" target="contents">Max connect log</a></li>
<li><a href="?action_list&amp;table=user_agent&amp;type=account&amp;sort_key=user_agent_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">Meeting Usage Statistics</a></li>
<li><a href="?action_list&amp;table=agency&amp;type=account&amp;sort_key=agency_id&amp;regist=create_datetime&amp;sort_type=desc&amp;reset=1" target="contents">{t}837,_('Agency List'){/t}</a></li>
<!-- li><a href="?action_user_total" target="contents">利用統計</a></li -->
<li><a href="?action_list&amp;table=storage_file&amp;type=data&amp;sort_key=storage_file_key&amp;regist=&amp;sort_type=desc&amp;reset=1" target="contents">{t}111111,_('Storage List'){/t}</a></li>
{/if}
</ul>
{/if}
</fieldset>
<br />
{/if}
{if $authority == 2}
<fieldset>
<legend>{t}825,_('Account Database Management'){/t}</legend>
<ul>
<li><a href="?action_list&amp;table=db_server&amp;type=account&amp;sort_key=server_key&amp;regist=server_registtime&amp;reset=1" target="contents">{t}827,_('Database Server List'){/t}</a></li>
<li><a href="?action_list&amp;table=datacenter&amp;type=account&amp;sort_key=datacenter_key&amp;regist=create_datetime&amp;reset=1" target="contents">{t}828,_('DataCenter List'){/t}</a></li>
<li><a href="?action_list&amp;table=fms_server&amp;type=account&amp;sort_key=server_key&amp;regist=create_datetime&amp;reset=1" target="contents">{t}829,_('FMS Server List'){/t}</a></li>
<li><a href="?action_list&amp;table=sharing_server&amp;type=account&amp;sort_key=server_key&amp;regist=create_datetime&amp;reset=1" target="contents">{t}830,_('Sharing Server List'){/t}</a></li>
<li><a href="?action_list&amp;table=mcu_server&amp;type=account&amp;sort_key=server_key&amp;regist=create_datetime&amp;reset=1" target="contents">{t}1111111111,_('MCU Server List'){/t}</a></li>
<li><a href="?action_list&amp;table=media_mixer&amp;type=account&amp;sort_key=media_mixer_key&amp;regist=create_datetime&amp;reset=1" target="contents">{t}1111111111,_('Media mixer List'){/t}</a></li>
<li><a href="?action_list&amp;table=user&amp;type=account&amp;sort_key=user_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}831,_('User List'){/t}</a></li>
<li><a href="?action_list&amp;table=relation&amp;type=account&amp;sort_key=user_key&amp;regist=&amp;reset=1" target="contents">{t}832,_('Relational Data List'){/t}</a></li>
<li><a href="?action_list&amp;table=staff&amp;type=account&amp;sort_key=staff_key&amp;regist=create_datetime&amp;sort_type=desc&amp;reset=1" target="contents">{t}833,_('Staff List'){/t}</a></li>
<li><a href="?action_list&amp;table=service&amp;type=account&amp;sort_key=service_key&amp;regist=service_registtime&amp;form[service_status]=1" target="contents">{t}834,_('Service Plan List'){/t}</a></li>
<li><a href="?action_list&amp;table=service_option&amp;type=account&amp;sort_key=service_option_key&amp;regist=&amp;reset=1" target="contents">{t}835,_('Service Option List'){/t}</a></li>
<li><a href="?action_list&amp;table=operation_log&amp;type=account&amp;sort_key=operation_key&amp;sort_type=desc&amp;regist=&amp;reset=1" target="contents">{t}836,_('Operation Log'){/t}</a></li>
<li><a href="?action_list&amp;table=ip_whitelist&amp;type=account&amp;sort_key=user_key&amp;regist=&amp;reset=1" target="contents">IP Restriction</a></li>
<li><a href="?action_list&amp;table=api_auth&amp;type=account&amp;sort_key=api_no&amp;regist=create_datetime&amp;reset=1" target="contents">{t}827,_('API_KEY'){/t}</a></li>
<li><a href="appli_manager.php" target="contents">{t}111111,_('Manage Application'){/t}</a></li>
</ul>
</fieldset>
<br />
<fieldset>
<legend>{t}837,_('Management Tools'){/t}</legend>
<ul>
<li><a href="setup/index.php" target="contents">{t}838,_('Install Configuration'){/t}</a></li>
<!-- li><a href="transit.php" target="contents">{t}841,_('一括経路検索'){/t}</a></li -->
<li><a href="member.php" target="contents">{t}842,_('Charging members'){/t}</a></li>
<!--li><a href="daily_operation.php" target="contents">{t}843,_('Manually Plan/Option Change'){/t}</a></li -->
<!--li><a href="up.php" target="contents">{t}844,_('マニュアル更新ツール'){/t}</a></li -->
<!--li><a href="hdd_notice.php" target="contents">{t}845,_('HDD容量確認'){/t}</a></li -->
<li><a href="?action_db_status" target="contents">{t}846,_('DB Status'){/t}</a></li>
<li><a href="update.php" target="contents">{t}847,_('Version Update'){/t}</a></li>
<li><a href="meetinglist.php" target="contents">{t}847,_('VideoConference&Meeting List'){/t}</a></li>
</ul>
</fieldset>
<br />

<br />
<fieldset>
<legend>{t}000000,_('For Development Only'){/t}</legend>
<ul>
<li><a href="/admin_tool/ives/recovery.php" target="contents">{t}0000000,_('Recovery Teleconference Did'){/t}</a></li>
</ul>
</fieldset>
<br />
{/if}
<br />
<div><a href="?action_staff_modify" target="contents">{t}848,_('Manage Staff Information'){/t}</a></div>
<div><a href="../index.php" target="contents">{t}849,_('Service Page'){/t}</a></div>
<div><a href="?action_logout" target="_parent">{t}850,_('Logout'){/t}</a></div>
</body>
</html>
