{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Top Page"}
<span class="menu">
<a href="?{$page.form.action}&amp;day={$day.prev_week}">{t}877,_('Previous Week'){/t}</a> |
<a href="?{$page.form.action}&amp;day={$day.prev_day}">{t}878,_('Previous Day'){/t}</a> |
<a href="?{$page.form.action}&amp;day=">{$day.current|date_format:"%Y"}{t}879,_(' Year'){/t}{$day.current|date_format:"%m"}{t}4708,_(' Month'){/t}{$day.current|date_format:"%d"}{t}4709,_(' Day'){/t}</a> |
<a href="?{$page.form.action}&amp;day={$day.next_day}">{t}880,_('Next Day'){/t}</a> |
<a href="?{$page.form.action}&amp;day={$day.next_week}">{t}881,_('Next Week'){/t}</a>
</span>
<br />
<br />
<a href="?action_meeting&form[meeting_start_datetime][min]={$day.prev_week|date_format:'%Y-%m-%d 00:00:00'}&form[meeting_start_datetime][max]={$day.current|date_format:'%Y-%m-%d 23:59:59'}">{t}882,_('View Schedule'){/t}</a> ({t}883,_('A Week'){/t} : {$day.prev_week|date_format:"%Y/%m/%d"}{t}4395,_('～'){/t}{$day.current|date_format:"%Y/%m/%d"}) <br />
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}884,_('アクション'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td class="action">
            <a href="?action_meeting_detail&meeting_key={$row.meeting_key}">{t}885,_('Meeting Details'){/t}</a>
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}<td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}

    </tr>
    {/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/memo.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
