{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage DB Server"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/insert.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.form.action}&sort_key={$key}&sort_type=asc">{t}927,_('▲'){/t}</a>
        {/if}
        {if $column.sort == true}
            <a href="?{$page.form.action}&sort_key={$key}&sort_type=desc">{t}928,_('▼'){/t}</a>
        {/if}
        </th>
        {/foreach}
        <th class="action">{t}929,_('Action'){/t}</th>
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
        <td class="action">
            <a href="?action_db_create&key={$row.server_key}">{t}930,_('Generate Database'){/t}</a>
            <a href="?action_db_server&key={$row.room_key|escape:'html'}">{t}931,_('Modify'){/t}</a>
            <a href="?action_db_server&key={$row.room_key|escape:'html'}">{t}932,_('Delete'){/t}</a>
        </td>
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}933,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}934,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
