@charset "UTF-8";

/* ================================================== */

/*  Basic Tag Format  */

/* ================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    vertical-align: top;
}
address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4 {
    font-size: 100%;
    font-weight: bold;
}
h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border: 0;
}

.clear {
    clear: both;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* ieのバグ対応 */
* html             { zoom: 1; } /* IE6 */
*:first-child+html { zoom: 1; } /* IE7 */


/* ================================================== */

/*  Base  */

/* ================================================== */

body {
font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", Verdana, "ＭＳ Ｐゴシック", "MS P Gothic", Arial, Helvetica, sans-serif;
font-size: 12px;
line-height: 1.5;
color: #333;
background-color: #FFFFFF;
}

/* for WinIE7 */
*:first-child+html body {
font-size: 75%;
}
/* for WinIE6 */
* html body {
font-size: 75%;
}

#wrapper {
background: #fff;
width: 960px;
margin: 0 auto;
}

/* -------------------------------------------- */
/*  link */
/* -------------------------------------------- */

a {
color: #2682c3;
text-decoration: underline;
outline: none;
}
a:hover {
text-decoration: none;
}
a:visited {
color: #096499;
}

#room-col a,
#footer a {
color: #333;
}

/* -------------------------------------------- */
/*  table   */
/* -------------------------------------------- */

#content table,
#content th,
#content td,
.option-detail table,
.option-detail th,
.option-detail td {
border: 1px solid #d7d1cf;
}
#content table,
.option-detail table {
clear: both;
border-collapse: collapse;
border-spacing: 0;
empty-cells: show;
border-width: 1px;
margin: 0 auto 10px;
width: 100%;
overflow: auto;
padding: 0;
}
#content table table {
margin: 5px auto;
}
#content .table80 {
width: 80%;
}
.option-detail table {
width: 95%;
margin-top: 10px;
}
#content th,
#content td,
.option-detail th,
.option-detail td {
border-width: 0 1px 1px 0;
padding: 5px 7px;
text-align: left;
}
#content th,
.option-detail th {
background-color: #ffe1c5;
font-weight: bold;
color: #4a4038;
}
.option-detail th {
width: 30%;
}
#content thead th {
border-bottom-style: double;
border-bottom-width: 3px;
text-align: center;
padding: 5px 7px;
white-space: nowrap;
}


/* m/o（＆click）でハイライト */
table.highlight tr.over td,
table.highlight tr:hover td {
background-color: #fff5db;
}
/*
table.highlight tr.click td {
background-color: #fde3e1;
}*/

/* table sort */
thead .sort a {
vertical-align: middle;
width: 13px;
height: 13px;
text-indent: -9999px;
cursor: pointer;
margin: 0 -1px;
display: inline-block;
overflow: hidden;
font-size: 0;
line-height: 0;
}
.asc {
background: #ffffff url(../images/btn_asc.gif) center left no-repeat;
}
.asc_on {
background: #ffffff url(../images/btn_asc_on.gif) center left no-repeat;
}
.desc {
background: #ffffff url(../images/btn_desc.gif) center left no-repeat;
}
.desc_on {
background: #ffffff url(../images/btn_desc_on.gif) center left no-repeat;
}
/*テーブル下の説明Box */
.ex-btm-table {
	width: 80%;
	margin: 0 auto;
	font-size: 88%;
}

/* -------------------------------------------- */
/*  form   */
/* -------------------------------------------- */

form {
display: inline;
}
fieldset  {
margin: 0;
padding: 0;
border: none;
}
label {
cursor:pointer;
}
input, select, textarea {
color: #444;
vertical-align: middle;
}
input[type="radio"] {
	vertical-align: middle;
}
textarea {
border: 1px solid #7f9db9;
background-color: #F3F3F3;
padding: 2px 2px 1px;
font-family: monospace;
font-size: small;
}
select {
vertical-align: middle;
}
select option {
border-bottom: 1px solid #efefef;
}

/* table内 */
#content table select,
#content table textarea {
margin: 2px 0;
}

.input-text,
.input-name,
.input-mail,
.input-tel,
.input-company,
.input-pass,
.input-file,
.input-title,
.input-date,
.input-day,
.input-size {
border: 1px solid #7f9db9;
background-color: #F3F3F3;
/*padding: 2px 2px 1px;*/
margin: 2px 0;
font-family: monospace;
}
.input-name {
width: 200px;
}
.input-mail {
width: 250px;
}
.input-tel {
width: 200px;
}
.input-company {
width: 250px;
}
.input-pass {
width: 250px;
}
.input-file {
}
.input-title {
width: 260px;
}
.input-date {
width: 100px;
}
.input-day {
width: 2.5em;
}
.input-size {
width: 4em;
}

input[type="text"],
input[type="password"],
textarea {
border: 1px solid #7f9db9;
background-color: #f9f9f9;
padding: 3px;
}

table input[type="text"],
table input[type="password"],
table textarea {
background-color: #fff;
}

input[type="text"][disabled] {
border: 1px solid #eee;
color: #999;
}

input[type=text]:focus,
input[type=password]:focus,
input[type=radio]:focus,
input[type=checkbox]:focus,
textarea:focus,
select:focus,
button.focus,
button:focus {
border-color: #f90;
background: #fff;
}

/* Only IE (interaction.js) */
input.focus,
textarea.focus {
border: 1px solid #f90;
background: #fff;
}
/* Only IE6
* html input.focus {
padding: 2px 3px;
}
* html textarea.focus {
padding: 2px;
} */



/* -------------------------------------------- */
/*  common */
/* -------------------------------------------- */

.attention {
color: #FF0000;
}
.notes {
color: #a5562e;
}
.bold {
font-weight: bold;
}
.strong {
color: #f26b00;
font-weight: bold;
font-size: 134%;
}
#telNo div.strong {
	margin: 15px 0 5px;
}
.small {
font-size: 84%;
line-height: 140%;
}
sub {
vertical-align: middle !important;
}

.center {
text-align: center;
}

.form-txt {
color: #666;
padding: 5px 0 0;
clear: both;
}


/* カレンダー　*/
.bt-cal {
width: 16px;
height: 16px;
border: none;
font-size: 0;
cursor: pointer;
background: #ffffff url(../images/icon_cal.gif) 0 0 no-repeat;
text-indent: -9999px;
overflow: hidden;
}

/* 全て選択・選択解除　*/
.bt-check {
width: 60px;
height: 20px;
line-height: 20px;
background: #ffffff url(../images/btn_check.gif) top left no-repeat;
border: none;
font-size: 10px;
font-weight: normal;
margin: 0 3px 0 0;
padding: 0 0 1px;
cursor: pointer;
}

/* pager */
.pager {
margin: 0 auto 2px;
width: 100%;
float: left;
}
.pager p {
float: left;
}
.show-num {
float: right;
margin: 0;
padding: 0;
_padding-bottom: 1px;
}
.show-num fieldset {
display: inline;
margin: 0;
padding: 0;
vertical-align: middle;
}
.total {
padding: 0 3px;
}

/* sort（上下）*/
.bt-up,
.bt-down {
width: 18px;
height: 18px;
border: none;
margin: 2px 3px;
cursor: pointer;
float: left;
text-indent: -9999px;
}
.bt-up {
background: #ffffff url(../images/btn_up.gif) top left no-repeat;
}
.bt-down {
background: #ffffff url(../images/btn_down.gif) top left no-repeat;
}
/* ツールチップ */
.tooltip {
display: none;
position: absolute;
padding: 6px 8px;
color: #f8f8f8;
font-weight: normal;
border: 1px solid #444;
text-align: left;
opacity: 0.97;
background-color: #555;
z-index: 100!important;
}
.tooltip_ {
position: absolute;
padding: 6px 8px;
color: #f8f8f8;
font-weight: normal;
border: 1px solid #444;
text-align: left;
opacity: 0.97;
background-color: #555;
z-index: 100!important;
}
.question {
display: inline-block;
background: url(../images/question.gif) left top no-repeat;
width: 16px;
height: 16px;
text-indent: -9999px;
margin-left: 3px;
line-height: 16px;
}


/* 部屋オプション */
.roomKey {
float: left;
}
.roomOption {
float: left;
margin: 3px 5px;
}
.roomOption li {
float: left;
display: block;
border: 1px solid #a5562e;
margin-right: 5px;
padding: 0 5px;
color: #a5562e;
font-size: 84%;
line-height: 16px;
}

/* 部屋オプション（onだけ色付き） */
.roomOption-color li {
border: 1px solid #ccc;
color: #ccc;
}
.roomOption-color .on {
border: 1px solid #a5562e;
color: #a5562e;
}


/* 会議室選択 */
.select-col {
padding-bottom: 8px;
float: left;
}
.select-col select {
margin-bottom: 5px;
}

/* 検索 */
.search-col {
clear: both;
margin: 0 auto 20px;
border: 1px solid #ddd;
background-color: #fff;
padding: 1px;
position: relative;
}
.search-col-inner {
background-color: #eaeaea;
padding: 10px;
}
.search-list {
clear: both;
padding-bottom: 2px;
}
.search-list input,
.search-list select {
margin: 2px 3px;
}
.search-list li {
float: left;
padding-right: 15px;
}
.search-check {
padding-top: 2px;
_padding-top: 0;
}
.search-btns {
position: absolute;
right: 10px;
top: 28px;
}


/* ================================================== */

/*  header */

/* ================================================== */

#header {
width: 960px;
margin: 0 auto;
padding: 0 20px;
height: 70px;
position: relative;
}
#header h1 {
float: left;
margin-top: 13px;
}
.support-info {
float: right;
font-weight: bold;
color: #333;
font-size: 95%;
margin-top: 7px;
padding-right: 5px;
}
.support-info span {
color: #1772b3;
font-weight: bold;
font-family: Arial, Helvetica;
font-size: 155%
}
.admin-tit {
background: url("../images/admin_header_line.gif") 0 0 no-repeat;
float: left;
font-size: 134%;
line-height: 31px;
margin-top: 17px;
margin-left: 15px;
padding-left: 12px;
}
#header .button25 {
margin-left: 7px;
}
#header a span {
font-size: 100%;
}
#personal-bt,
#admin-bt,
#user-bt {
float: right;
}
#personal-bt .icon {
color: #777;
padding-left: 22px !important;
}
#admin-bt a span,
#user-bt a span {
color: #fff;
}
.eco-period {
cursor: pointer;
}

/*-------------------------------------*/
/* gnav */
/*------------------------------------- */

#gnav {
background: transparent url(../images/gnav_bg.gif) 0 0 repeat-x;
}
#gnav-inner {
width: 960px;
margin: 0 auto;
padding: 0 20px;
}
#gnav.admin-gnav {
background: transparent url(../images/admin_gnav_bg.gif) 0 0 repeat-x;
}
#gnav.admin-gnav #gnav-inner {
width: 960px;
margin: 0 auto;
padding: 0 20px;
}

#gnav li {
float: left;
line-height: 42px;
}
#gnav li a {
color: #fff;
text-decoration: none;
display: block;
font-weight: bold;
padding: 2px 10px 0;
padding: 2px 8px 0\9; /* IE8 and below */
}
#gnav li a:hover {
background: transparent url(../images/gnav_bg_hover.gif) 0 0 repeat-x;
}
#gnav.admin-gnav li a:hover {
background: transparent url(../images/admin_gnav_bg_hover.gif) 0 0 repeat-x;
}
.drop {
background: transparent url(../images/gnav_arrow.gif) right center no-repeat!important;
padding-right: 14px;
display: block;
}
#gnav.admin-gnav .drop {
background: transparent url(../images/admin_gnav_arrow.gif) right center no-repeat!important;
}
#gnav-inner .logout {
line-height: 42px;
padding-top: 2px;
text-align: right;
}
#gnav-inner .logout a {
color: #f6cba7;
text-decoration: none;
}
.admin-page .logout {
margin-top: 5px;
text-align: right;
font-weight: normal;
line-height: inherit;
font-size: 100%;
}
.admin-page .logout a {
color: #666;
text-decoration: none;
}
#user-top .logout a:hover,
.admin-page .logout a:hover {
text-decoration: underline;
}

/* ドロップダウンメニュー */

.dropdown dd {
position: absolute;
overflow: hidden;
display: none;
background-color: #fff;
z-index: 200;
opacity: 0;
}
/* for WinIE7 */
*:first-child+html .dropdown dd {
overflow: visible;
}

.dropdown dd ul {
border: 1px solid #bbb;
border-top: none;
white-space: nowrap;
}
.dropdown dd li {
display: inline;
float: none!important;
_height: 1%;/* IEハック */
}
.dropdown dd li a {
color: #333!important;
font-weight: normal!important;
background-image: none!important;
padding: 4px 10px 0!important;
}
.dropdown dd li a:hover {
background-image: none!important;
background-color: #fbd38c!important;
}
#gnav.admin-gnav .dropdown dd li a:hover {
background-color: #eee!important;
}

/* アクティブメニュー（ユーザー） */

#user-top .gnav01 a,
#reservation .gnav02 a,
#reservation-edit .gnav03 a,
#weekly .gnav04 a,
#log .gnav05 a,
#download .gnav06 a,
#faq .gnav07 a,
#ask .gnav08 a,
#clip .gnav09 a,
#manual .gnav10 a {
background: transparent url(../images/tab_left.gif) 0 0 no-repeat;
padding: 0 0 0 2px;
}
#user-top .gnav01 a:hover,
#reservation .gnav02 a:hover,
#reservation-edit .gnav03 a:hover,
#weekly .gnav04 a:hover,
#log .gnav05 a:hover,
#download .gnav06 a:hover,
#faq .gnav07 a:hover,
#ask .gnav08 a:hover,
#clip .gnav09 a:hover,
#manual .gnav10 a:hover {
background: transparent url(../images/tab_left.gif) 0 0 no-repeat;
}
#user-top .gnav01 .active,
#reservation .gnav02 .active,
#reservation-edit .gnav03 .active,
#weekly .gnav04 .active,
#log .gnav05 .active,
#download .gnav06 .active,
#faq .gnav07 .active,
#ask .gnav08 .active,
#clip .gnav09 .active,
#manual .gnav10 .active {
display:block;
background: transparent url(../images/tab_right.gif) right 0 no-repeat;
margin-right:2px;
padding: 3px 18px 0 12px;
color: #333;
}

/* アクティブメニュー（管理者） */

#admin-top .gnav01 a,
#log .admin-gnav .gnav05 a,
#show-log .gnav03 a,
#room .gnav04 a,
#member .gnav02 a,
#security .gnav06 a,
#account .gnav07 a,
#address .gnav09 a,
#ask .admin-gnav .gnav08 a {
background: transparent url(../images/tab_left.gif) 0 0 no-repeat;
padding: 0 0 0 2px;
}
#admin-top #gnav .gnav01 a:hover,
#log #gnav.admin-gnav .gnav05 a:hover,
#show-log #gnav .gnav03 a:hover,
#room #gnav .gnav04 a:hover,
#member #gnav .gnav02 a:hover,
#security #gnav .gnav06 a:hover,
#account #gnav .gnav07 a:hover,
#address #gnav .gnav09 a:hover,
#ask #gnav.admin-gnav .gnav08 a:hover {
background: transparent url(../images/tab_left.gif) 0 0 no-repeat;
}
#admin-top .gnav01 .active,
#log .admin-gnav .gnav05 .active,
#show-log .gnav03 .active,
#room .gnav04 .active,
#member .gnav02 .active,
#security .gnav06 .active,
#account .gnav07 .active,
#ask .admin-gnav .gnav08 .active,
#address .gnav09 .active {
display:block;
background: transparent url(../images/admin_tab_right.gif) right 0 no-repeat;
margin-right:2px;
padding: 4px 14px 0 8px;
color: #333;
}
#room .gnav04 .drop,
#member .gnav02 .drop,
#security .gnav06 .drop {
background: transparent url(../images/gnav_active_arrow.gif) right center no-repeat!important;
}


/* ================================================== */

/*  footer  */

/* ================================================== */


/* page-top */
.page-top {
margin-top: 40px;
text-align: right;
width: 960px;
margin: 0 auto;
padding: 0 20px;
}
.page-top a {
background: url(../images/icon_pagetop.gif) 0 center no-repeat;
margin-right: 15px;
padding-left: 15px;
}
#footer {
margin-top: 10px;
background: #eee url(../images/footer_bg.gif) left top repeat-x;
height: 150px;
}
#footer-inner {
width: 960px;
margin: 0 auto;
padding: 0 20px;
line-height: 42px;
}
.copyright {
color: #666666;
font-family: Arial, Helvetica, sans-serif;
font-size: 84%;
float: left;
}
#footer-menu li {
float: right;
text-align: right;
}

.admin a {
background: url(../images/icon_admin.gif) 0 center no-repeat;
margin-right: 15px;
padding-left: 22px;
}
.setting a {
background: url(../images/icon_setting.gif) 0 center no-repeat;
margin-right: 15px;
padding-left: 22px;
}

/* ================================================== */

/*  ページレイアウト  */

/* ================================================== */

#inner-col {
padding: 15px 15px 0;
min-height: 400px;
}
#content {
padding: 0 10px 50px;
}

/* -------------------------------------------- */
/* パンくず */
/* -------------------------------------------- */

#breadcrumb {
margin-bottom: 15px;
font-size: 90%;
}

/* -------------------------------------------- */
/* 見出し */
/* -------------------------------------------- */

h2 {
background: url(../images/h2.gif) 0 0 repeat-x;
font-size: 134%;
font-weight: bold;
line-height: 44px;
margin-bottom: 20px;
padding-top: 4px;
padding-left: 10px;
height: 48px;
}
.gbar {
background: url(../images/h2.gif) 0 0 repeat-x;
margin-bottom: 20px;
height: 48px;
}
.gbar h2 {
font-size: 134%;
font-weight: bold;
line-height: 44px;
padding: 4px 20px 0;
margin: 0 auto;
width: 960px;
}
#content h3 {
border: 1px solid #ccc;
border-left: 6px solid #ed6d00!important;
font-size: 117%;
line-height: 32px;
margin-bottom: 15px;
padding-left: 10px;
}
#content h4 {
background-color: #ffe2c5;
padding: 4px 10px;
margin-bottom: 10px;
}


/* -------------------------------------------- */
/* 共通コラム系 */
/* -------------------------------------------- */

.column {
clear: both;
width: auto;
padding-bottom: 25px;
}
.upper-col {
margin-bottom: 15px;
}

/* error */
.error-col {
background-color: #f2f2f2;
padding: 10px 15px;
margin: 0 auto 10px;
border: 1px solid #ff0000;
}
.error-col li {
color: #FF0000;
font-weight: bold;
list-style-type: none;
}
.error80 {
width: 700px;
}


/* block -1カラム */
.block1 {
padding: 5px 15px 25px;
}

/* block -2カラム（h4の2カラム） */
.block2 {
width: 425px;
padding: 5px 15px 25px;
float: left;
}

.block4 {
width: 100%;
padding: 5px 15px 25px;
float: left;
}

/* block -2カラム（h3の2カラム） */
.content-nopad {
padding: 0!important;
}
.content-nopad .block2 {
width: 435px;
}
.content-nopad .block2 p {
float: left;
padding-left: 10px;
width: 330px;
}
.content-nopad .block2 .button {
float: right;
margin-right: 10px;
}
.block3 {
padding: 10px 5px;
}

/* ================================================== */

/*  ログイン、ログアウト、エラー画面など  */

/* ================================================== */

#prompt #inner-col {
margin-top: -15px;
}
#prompt th {
width: 25%;
}
#prompt .btn-area {
margin-bottom: 15px;
}
#prompt .toHome {
margin: 25px 25px 5px;
}
#prompt .toHome p {
	margin-bottom: 10px;
}
#prompt .msg-col {
padding: 40px 0;
text-align: center;
}
.hspace-text {
	margin-right: 2em;
}

/* 会議時間外 */
.error-time {
margin: 0 auto 20px;
text-align: center;
}
.error-time .attention {
margin-bottom: 1em;
}
.error-time p {
margin: 0 auto;
font-weight: bold;
}
.error-details {
margin: 0 auto 30px;
text-align: center;
}


/* 環境確認(チェッカー) */
.checker #content-inner {
background-color: #CCC;
text-align: center;
}
#checker-select {
width: 216px;
border: 1px solid #666;
margin: 0 auto;
}

/*パスワードリセット*/
#prompt #inner-col img {
	vertical-align: middle;
}
#prompt p.edit {
	width: 36%;
	text-align: left;
	margin: 2em auto 4em;
	font-size: 88%;
	border: 1px solid #999;
	padding: 10px;
}
/* ================================================== */

/*  個人設定  */

/* ================================================== */

#personal th {
width: 25%;
}


/* ================================================== */

/*  お問い合わせ  */

/* ================================================== */

#ask th {
width: 25%;
}
#ask_contents {
width: 97%;
}


/* ================================================== */

/*  お知らせ  */

/* ================================================== */

#maintenance th {
width: 15%;
text-align: center;
font-weight: normal;
}
#maintenance #date {
font-weight: bold;
color: #555;
padding-bottom: 15px;
}


/* ================================================== */

/*  ユーザメインページ  */

/* ================================================== */

#user-top #breadcrumb {
display: none;
}
#user-top #inner-col {
padding: 20px 15px 70px;
}
#user-top h2 {
background: url(../images/h2_main.gif) 0 0 repeat-x;
font-size: 115%;
padding-left: 10px;
padding-top: 3px;
line-height: 32px;
margin-bottom: 13px;
height: 32px;
}

#main-col {
float: left;
width: 715px;
}
#sidemenu {
float: right;
width: 200px;
}

/* -------------------------------------------- */
/*  会議室情報　 */
/* -------------------------------------------- */

#room-col {
margin-bottom: 25px;
position: relative;
width: 713px;
}
#room-col .pager {
padding: 0 10px 3px;
width: 694px;
}
#room-col .pager p {
float: left;
}
#room-col #pager {
float: right;
padding-top: 2px;
}
#room-col #pager a {
margin-left: 8px;
color: #555;
}
#room-col .total {
font-size: 115%;
}
/* prev/next */
.bt-prev,
.bt-next {
cursor: pointer;
float: left;
}
.bt-prev a {
background: transparent url(../images/btn_prev.gif) center left no-repeat;
padding-left: 16px;
display: block;
float: left;
}
.bt-next a {
background: transparent url(../images/btn_next.gif) center right no-repeat;
padding-right: 16px;
display: block;
float: left;
}

/* -------------------------------------------- */
/*  部屋　 */
/* -------------------------------------------- */

.roomMain {
clear: both;
border: 1px solid #ccc;
z-index: 1;
}
/* 会議中 */
.roomHeadInner-nowmtg {
background: url(../images/room_title_bg_nowmtg.gif) top left repeat-x;
padding: 4px 10px;
height: 34px;
}
.status-nowmtg span {
color: #b16e05;
}
.status-nowmtg .key {
color: #FFF;
}
#room-col .status-nowmtg {
background-color: #FFF;
padding: 0px 12px;
line-height: 24px;
border-radius: 2px;
-webkit-border-radius: 2px;    /* Safari,Google Chrome用 */
-moz-border-radius: 2px;   /* Firefox用 */
}

/* 空室 */
.roomHeadInner-vacant {
background: url(../images/room_title_bg.gif) top left repeat-x;
padding: 4px 10px;
height: 34px;
}
#room-col .status-vacant {
background-color: #FFF;
padding: 0px 12px;
line-height: 24px;
border-radius: 2px;
-webkit-border-radius: 2px;    /* Safari,Google Chrome用 */
-moz-border-radius: 2px;   /* Firefox用 */
}

/* ステータス */
#room-col .condition {
float: left;
margin-right: 8px;
}
#room-col .status {
font-size: 110%;
font-weight: bold;
overflow: hidden;
float: left;
}


/* 会議室名 */
#room-col h4 {
float: left;
color: #FFFFFF;
line-height: 24px;
}

/* 部屋オプション（トップ用） */
#room-col .roomOption {
float: right;
margin: 4px 0 0;
}
#room-col .roomOption li {
background-color: #b77858;
border: none;
margin: 0 0 0 4px;
color: #9c4b22;
}
#room-col .roomOption .on {
background-color: #fff;
}
.roomDetail {
min-height: 259px;
height: auto !important;
height: 259px;
height: 265px;
_height: 258px; /* ie6 */
}
.roomDetailInner {
padding: 9px 8px 8px 20px;
_padding: 8px 8px 7px 20px; /* ie6 */
margin-top: -10px;
}

/* 参加者一覧 */
.participantBlock {
float: left;
width: 426px;
}
.roomDetail .number {
white-space: nowrap;
padding-right: 15px;
}
.participant_num {
font-size: 250%;
font-weight: bold;
font-family: Arial, Helvetica;
}
.audience_num {
font-size: 200%;
font-weight: bold;
font-family: Arial, Helvetica;
}
.all_num {
padding-left: 2px;
color: #333;
}
.all_num span {
padding-left: 2px;
}
.audience .all_num,
.whiteboardAudience .all_num {
font-size: 90%;
}

.participant {
float: left;
width: 100%;
min-height: 124px;
height: auto !important;
height: 124px;
border-bottom: 1px solid #ccc;
overflow: hidden;
}
.single-type {
border: none;
}
.participantList li {
display: inline;
margin-right: 0.5em;
}
.audience {
float: left;
width: 200px;
padding-top: 3px;
min-height: 124px;
margin-right: 23px;
}
.whiteboardAudience {
float: left;
width: 200px;
padding-top: 3px;
min-height: 124px;
}


/* 会議に参加する */
.roomJoin {
float: right;
width: 239px;
height: 251px;
_height: 253px; /* ie6 */
background: transparent url(../images/room_enter.gif) bottom center no-repeat;
}
.roomJoinInner {
padding: 20px;
}
.enterAudience {
padding: 0 0 10px 20px
}
.enterOption {
margin: 0 15px;
border-top: 1px solid #ccc;
padding-top: 10px;
padding-left: 10px;
}
.enterOption li label {
padding-left: 4px;
}
.btn-enter {
background: transparent url(../images/btn_enter.gif) 0 0 no-repeat;
border: none!important;
width: 200px;
height: 76px;
margin-bottom: 13px;
text-align: center;
text-shadow: #FFF 1px 1px 0px;
cursor: pointer!important;
font-weight: bold;
font-size: 150%;
color: #6e490e;
}
.btn-enter-audience {
background: transparent url(../images/btn_enter.gif) 0 0 no-repeat;
border: none!important;
width: 200px;
height: 76px;
margin-bottom: 13px;
text-align: center;
text-shadow: #FFF 1px 1px 0px;
cursor: pointer!important;
font-weight: bold;
font-size: 120%;
color: #6e490e;
}
.btn-enter:hover,
.btn-enter-audience:hover {
background: transparent url(../images/btn_enter_on.gif) 0 0 no-repeat;
}
.btn-audience {
border: none;
background: transparent url(../images/icon_enter.gif) left center no-repeat;
padding-left: 18px;
color: #333333;
font-size: 12px;
text-decoration: underline;
overflow: visible;
}
.btn-audience:hover {
text-decoration: none;
}
.roomJoin .button,
.roomJoin .button-inner,
.roomJoin .icon {
width: 195px;
text-align: left;
}


/*上書き*/
.roomJoin .button {
margin-top: 0!important;
}
.roomJoin .icon {
padding-left: 25px !important;
}
.roomJoin p,
.roomJoin dl {
clear: both;
padding: 2px 0;
color: #9c4b22;
}
.roomJoin p input {
margin-right: 2px;
}
* html .roomJoin p input {
margin-left: -3px;
}
*:first-child+html .roomJoin p input {
margin-left: -3px;
}
.roomJoin dt {
float: left;
margin-right: 5px;
}
.roomJoin dd {
float: left;
}

/* 旧バージョン */
.old-btn {
background-color: #dfa364;
border: 1px solid #d99a58;
width: 197px;
margin: 5px 0;
}
.old-btn a {
padding-left: 8px;
width: 190px;
display: block;
cursor: pointer;
color: #fff!important;
font-size: 84%;
text-decoration: none!important;
line-height: 16px;
}
.old-btn-disabled {
width: 189px;
color: #fff!important;
font-size: 84%;
line-height: 16px;
padding-left: 8px;
}

.roomJoin .old-btn ul {
margin: 0 0 6px 9px;
}
.roomJoin .oldBt {
width: 180px;
border: 1px solid #fff;
background-color: #efefef;
text-align: left;
font-size: 84%;
cursor: pointer;
padding: 0 3px;
margin-top: 1px;
}
/* ie6,7に適用 */
* html .roomJoin .oldBt { font-size: 75% }
*:first-child+html .roomJoin .oldBt { font-size: 75% }


/* 会議室にメッセージを送る
#room-col .send-msg {
clear: both;
margin: 8px 15px 0;
padding: 10px 0 2px;
background: #fff url(../images/dot.gif) 0 0 repeat-x;
}*/
.msg {
width: 465px;
margin: 0;
}
.msg-bt {
border: none;
background: url(../images/btn_icons/mail.gif) 5px center no-repeat;
font-weight: bold;
cursor: pointer;
padding-left: 22px;
}
/* ie6,7に適用、8は必要なし */
* html .msg-bt {
overflow: visible;
width: 0;
}
*:first-child+html .msg-bt {
overflow: visible;
}

/* 開催中・もうすぐ開催 */
#room-col .reserveTime {
margin: 0 15px;
padding: 5px 0 0;
}
#room-col .statusTable {
clear: both;
padding: 10px;
width: 90%;
margin: 10px auto;
border: 3px solid #dddddd;
}
#room-col .statusTable p {
float: left;
line-height: 25px;
margin-right: 5px;
}
#room-col .statusTable .notes {
color: #ff0000;
}
.statusTable p a {
margin-left: 1em;
}
#room-col .nowmtg {
float: left;
margin-right: 8px;
display: block;
font-weight: bold;
padding: 4px 10px;
color: #FFF;
background-color: #d80202;
border-radius: 2px;
-webkit-border-radius: 2px;    /* Safari,Google Chrome用 */
-moz-border-radius: 2px;   /* Firefox用 */
}
#room-col .almost {
float: left;
margin-right: 8px;
display: block;
font-weight: bold;
padding: 4px 10px;
color: #FFF;
background-color: #71a91b;
border-radius: 2px;
-webkit-border-radius: 2px;    /* Safari,Google Chrome用 */
-moz-border-radius: 2px;   /* Firefox用 */
}
.statusTable span.reservedTitle {
margin-left: 1em;
}
#room-col .statusTable ul {
float: right;
}
#room-col .statusTable li {
float: left;
padding-right: 12px;
line-height: 20px;
}

/* 詳細 */
#room-col .bt-detail,
#room-col .bt-del {
font-size: 84%;
}
#room-col .bt-detail a {
background: url(../images/icon_right.gif) center left no-repeat;
padding-left: 14px;
}
/* 中止 */
#room-col .bt-del {
text-align: right;
line-height: 24px;
}
#room-col .bt-del a {
background: url(../images/icon_del.gif) center left no-repeat;
padding-left: 14px;
color: #D80202;
}

/* 予約一覧 */
.roomReserve {
border: 1px solid #ccc;
border-top: none;
}
.reservedList {
min-height: 8px;
_height: 1%;
}
.reservedListHeader {
background-color: #efefef;
padding: 0 10px;
font-size: 84%;
color: #333;
height: 30px;
line-height: 31px;
}
.reservedListHeader .userGuide li {
float: left;
}
.reservedListHeader .userGuide li.help a {
background: url(../images/icon_help.gif) 0 center no-repeat;
padding-left: 22px;
padding-right: 15px;
display: block;
}
.link-blank {
background: url(../images/icon_blank.gif) right center no-repeat;
padding-right: 16px;
}
.reservedListHeader .userGuide li.message a {
background: url(../images/icon_mail.gif) 0 center no-repeat;
padding-left: 22px;
padding-right: 15px;
display: block;
}
.reservedListHeader .userGuide li.register a {
background: url(../images/icon_register.gif) 0 center no-repeat;
padding-left: 22px;
padding-right: 15px;
display: block;
cursor: pointer;
}
.reservedListHeader .close {
float: right;
}
.reservedListHeader h5 {
float: left;
}
.reservedListHeader h5 span {
padding: 0 2px;
}

/* 予約一覧table */
.reservedListTable {
border: none;
}
.reservedListTable table,
.reservedListTable th,
.reservedListTable td {
border: none;
}
.reservedListTable table {
clear: both;
margin: 8px 20px;
}
.reservedListTable td {
padding: 4px 5px;
text-align: left;
}
.reservedDate span {
margin-right: 0.5em;
}
.reservedDate .startDate {
background: url(../images/icon_schedule.gif) left center no-repeat;
padding-left: 20px;
}

/* ご利用の前に（１部屋契約用）*/
#beforeUsing dl {
padding: 5px 10px 0;
}
#beforeUsing dt {
margin: 0 10px 15px 0;
float: left;
clear: left;
}
#beforeUsing dd {
float: left;
width: 620px;
padding-bottom: 15px;
}
#beforeUsing .title {
font-weight: bold;
color: #444;
border-bottom: 1px solid #ccc;
margin-bottom: 5px;
}

/* ご利用の前に（ポップアップ）*/

.mainpop #beforeUsing dl {
padding: 10px 0 0;
}
.mainpop #beforeUsing dd {
width: 440px;
}

/* この部屋のオプション（ポップアップ）*/
.option-detail {
padding: 0 10px;
}
.option-detail table p {
margin: 8px 0 5px;
padding: 6px;
border: 3px solid #DDD;
}

/* -------------------------------------------- */
/* サイドメニュー
/* -------------------------------------------- */

#sidemenu h4 {
height: 25px;
color: #fff;
line-height: 25px;
background-color: #666;
padding-left: 6px;
}
#sidemenu a,
#sidemenu a:hover {
color: #555;
}
#sidemenu a:visited {
color: #333;
}
#maintInfo,
#usefulTool {
margin-bottom: 10px;
border: 1px solid #ccc;
background-color: #efefef;
}

/* ご利用の前に（２部屋契約以上） */
#beforeUsing-bt {
margin-bottom: 10px;
background: transparent url(../images/sub_bt_before01.gif) top left no-repeat;
width: 200px;
overflow: hidden;
}
#beforeUsing-bt a {
background: transparent url(../images/sub_bt_before02.gif) bottom left no-repeat;
display: block;
color: #555;
font-weight: bold;
padding: 6px 10px 6px 17px;
text-decoration: none;
}
#beforeUsing-bt a:hover {
text-decoration: underline;
}

/* サポート＃、spacialバナー */
#sidemenu .spacial {
margin-top: 10px;
margin-bottom: 10px;
}

#main-tel {
	margin-bottom: 10px;
}

/* お知らせ */
#maintInfo {
position: relative;
}
.maintBt a {
position: absolute;
top: 3px;
right: 10px;
color: #fff!important;
font-size: 84%;
}
#maintInfo dl {
padding: 8px 8px 4px;
line-height: 130%;
}
#maintInfo dt {
background: url(../images/icon_right.gif) 0 1px no-repeat;
text-indent: 15px;
}
#maintInfo dd {
margin-bottom: 7px;
}

/* 便利なツール */
#usefulTool ul {
padding: 8px 8px 4px;
}
#usefulTool li {
padding-left: 20px;
margin-bottom: 6px;
}
#usefulTool #presenceAppli {
background: url(../images/icon_tool_pre.gif) left center no-repeat;
}
#usefulTool #checker2 {
background: url(../images/icon_tool_ch2.gif) left center no-repeat;
}
#usefulTool #sharing {
background: url(../images/icon_tool_sh3.gif) left center no-repeat;
}
#usefulTool #sharing2 {
background: url(../images/icon_tool_sh2.gif) left center no-repeat;
}

/* バナー */
.banner-col {
display: none; /*非表示*/
padding-bottom: 9px;
}
.banner-col li {
margin-bottom: 6px;
}

/* --------------------------------------------------*/
/* 複数部屋契約レイアウト
/* --------------------------------------------------*/
*:first-child+html .multiRooms { /* ie7 */
margin-bottom: 25px;
}
.roomLists {
width: 229px;
height: 336px;
float: left;
background: url(../images/multilist_bg.png) 0 0 no-repeat;
z-index: 10;
position: relative;
_position: inherit;
}
.roomLists ul {
height: 260px;
}
.roomLists .roomListTitle {
height: 43px;
padding-left: 22px;
line-height: 43px;
margin-right: 2px;
}
.roomLists li a{
height: 51px;
padding-left: 22px;
line-height: 51px;
display: block;
margin: 0 13px 1px 1px;
text-decoration: none;
color: #333333;
overflow: hidden;
}
.roomLists li.active a{
background-color: #e2f2f7;
}
.roomLists li.active {
background: url(../images/multilist_active.gif) 216px center no-repeat;
}
.roomLists li a:hover {
color: #2682C3;
}
.roomListNavOpacity {
filter: alpha(opacity=30);
-moz-opacity:0.3;
opacity:0.3;
}
.multiRooms #room-col {
float: left;
margin-left: -13px;
position: relative;
}
.roomListNav {
text-align: center;
line-height: 29px;
_padding-top: 5px; /* IE6 */
height: 31px;
margin-right: 13px;
}
.roomListNav .current {
margin: 0 1em;
font-size: 90%;
}
.roomListNav img {
vertical-align: middle;
}

/* --------------------------------------------------*/
/* イントラＦＭＳ
/* --------------------------------------------------*/

.intraOption {
background-color: #f8d188!important;
}
.nointra-col .roomHead {
padding-bottom: 0!important;
}
.nointra-col h5,
.nointra-col .close {
visibility: hidden!important;
}
#nointra-img {
text-align: center;
margin-top: 70px;
}
#nointra-img p {
font-weight: bold;
color: #ff0000;
}


/* ================================================== */

/*  会議記録、会議記録管理  */

/* ================================================== */

.no-room {
padding: 20px 0;
}

/* table
--------------------------------------------------*/
#log col.date {
width: 135px;
}
#log .td-checkbox {
width: 24px;
text-align: center;
}
#log .td-time {
width: 80px;
text-align: right;
}
#log .td-storage {
min-width: 54px;
text-align: right;
}
#log .td-button {
width: 66px;
text-align: center;
}

/* 記録内容アイコン　*/
#log .td-lists li {
float: left;
padding: 2px 5px;
background-color: #777;
color: #fff;
font-size: 84%;
margin: 2px;
}

/* 使用容量　*/
#log .capacity {
padding-bottom: 15px;
}

/* オーディエンス */
.audience-name {
clear: both;
background-color: #999;
color: #fff;
float: left;
margin-right: 5px;
overflow: hidden;
padding: 0 5px;
font-size: 84%;
}

/* 選択＆削除エリア */
.table-cont {
clear: both;
padding: 5px 0;
}
.check-area {
float: left;
margin-right: 10px;
}
.table-cont p {
float: left;
}
.table-cont p select {
margin: 0 3px;
}

/* パスワード設定画面 */
#log-pwd {
background: #EFEFEF;
margin: 0 auto;
text-align: center;
width: 500px;
position: relative;
font-size: 80%;
}
#log-pwd #body {
background: none;
text-align: left;
width: 500px;
}
#log-pwd #body-inner {
background: none;
width: 500px;
}
#log-pwd #content {
margin: auto;
border: none;
background-color: #EFEFEF;
min-height: 300px;
}
#log-pwd #closeWinSection {
text-align: center;
}

/* --------------------------------------------------*/
/* 会議記録詳細*/
/* --------------------------------------------------*/

/* 一覧へ戻る */
.toList {
font-size: 100% !important;
padding-bottom: 10px;
}
.toList .button {
margin-left: 3px !important;
}

/* table
--------------------------------------------------*/
.log-detail-col th {
white-space: nowrap;
width: 25%;
}
.log-detail-col .td-cabinet a {
margin-right: 5px;
}
.log-detail-col #OndemandUrl {
width: 260px;
margin: 0 3px 0 0;
}
.log-detail-col .movie-title {
font-weight: bold;
color: #294D6D;
margin-right: 5px;
padding-left: 5px;
line-height: 24px;
}
.log-detail-col .movie-public .movie-title {
line-height: 30px;
}
.log-detail-col .movie-public {
margin: 2px 0;
padding: 2px 0;
background-color: #eee;
line-height: 30px;
width: 100%;
}
.log-detail-col #btn-movie {
margin-right: 5px;
}
.log-detail-col #btn-movie span.button,
.log-detail-col #btn-movie span.button-inner,
.log-detail-col #btn-movie input,
.log-detail-col #btn-notes span.button,
.log-detail-col #btn-notes span.button-inner,
.log-detail-col #btn-notes input {
min-width: 69px;
}
/* ie8 */
html>/**/body .log-detail-col #btn-movie span.button,
html>/**/body .log-detail-col #btn-movie span.button-inner,
html>/**/body .log-detail-col #btn-movie input,
html>/**/body .log-detail-col #btn-notes span.button,
html>/**/body .log-detail-col #btn-notes span.button-inner,
html>/**/body .log-detail-col #btn-notes input {
min-width/**/: 40px\9 !important;
}

/* ECOボタン */
#eco-btn-mtg img {
margin: 2px 0;
cursor: pointer;
}
* html #eco-btn-mtg img {
margin: 2px 1px;
}
*:first-child+html #eco-btn-mtg img {
margin: 2px 1px;
}


/* ================================================== */

/*  会議予約  */

/* ================================================== */


/*--------------------------------------------------*/
/* 予約テーブル */
/*--------------------------------------------------*/

#content .reserve-col thead th {
padding: 3px;
}
#content .reserve-col thead th {
padding: 5px;
}
.reserve-col th {
white-space: nowrap;
}
.reserve-col input,
.reserve-col select {
margin-right: 3px;
}

/* 行追加ボタン */
.reserve-col .add-sec {
width: 100%;
text-align: center;
padding-bottom: 5px;
}


/* 会議室
--------------------------------------------------*/
.room-col select {
float: left;
}


/* 予約日時
--------------------------------------------------*/

#content .date-col #timeTable th {
background-color: #eee;
}
.date-col #timeTable {
margin-top: 10px;
}
.date-col #timeTable table {
margin-top: 3px;
}
.date-col #timeTable .date {
width: 50%;
}

.date-col .timezone-sec {
vertical-align: middle;
margin: 5px auto;
}
.date-col .calender-sec {
overflow: auto;
}


/* 予約日時テーブル
--------------------------------------------------*/
.listRest {
text-align: right;
}
.nowMtg {
background-color: #f8dcda;
}
.nowMtgImg,
.doneMtgImg {
color: #fff;
padding: 2px 5px;
font-size: 84%;
height: 12px;
line-height: 12px;
vertical-align: middle;
display: inline-block;
margin-right: 5px;
text-align: center;
}
.nowMtgImg {
background-color: #c40100;
}
.doneMtgImg {
background-color: #666;
}


/* パスワード
--------------------------------------------------*/
.pass-here {
margin-bottom: 5px;
}
.pass-here input {
margin-left: 10px;
}

/* 音声通話タイプ
--------------------------------------------------*/
#voice_conference_info {
	margin: 1em;
	border-top: 1px solid #ccc;
	padding-top: 10px;
}
.voice_conference_number {
	font-weight: bold;
	margin: 0 0.5em 0 1em;
	background-color: #ddd;
}

/* 機能制限
--------------------------------------------------*/
.function-col table th {
width: 20%;
white-space: nowrap;
}


/* 開催通知
--------------------------------------------------*/

/* 招待者 */
.sec-ti {
float: left;
color: #fff;
background-color: #4A4038;
padding: 1px 10px;
display: block;
margin: 10px 5px 0 0;
overflow: hidden;
height: 20px;
line-height: 20px;
}
#address_book {
margin-top: 10px!important;
}
.icon_question {
float: right;
display: block;
font-size: 84%;
background: #fff url(../images/icon_timezone.gif) 0 0 no-repeat;
text-indent: 15px;
line-height: 13px;
margin-top: -10px;
}
#guest-sec .name {
width: 44%;
}
#guest-sec .email {
width: 56%;
}
#guest-sec .input-name {
width: 81%;
margin: 0 3px 0 0;
}
#guest-sec .input-mail {
width: 96%;
margin: 0;
}

/* 差出人*/
#sender-sec {
background: url(../images/dot.gif) 0 0 repeat-x;
margin-top: 3px;
}
#mailSender dt {
float: left;
clear: both;
line-height: 20px;
margin-right: 3px;
white-space: nowrap;
width: 8em;
text-align: right;
}

/* 資料事前アップロード
--------------------------------------------------*/
#upload-sec .sort {
width: 64px;
}
* html #upload-sec .sort {
width: 56px;
}
*:first-child+html #upload-sec .sort {
width: 56px;
}
#upload-sec .td-check {
text-align: center;
}
#upload-sec .delete {
width: 86px;
text-align: center;
}


/*--------------------------------------------------*/
/* 詳細テーブル、確認テーブル */
/*--------------------------------------------------*/

.reserve-detail-col th {
width: 120px;
white-space: nowrap;
}
.reserve-detail-col .roomOption {
clear: both;
margin: 5px 0;
}

.detail-people {
padding: 2px;
}
.detail-people dd {
margin-left: 22px;
display: block;
width: auto;
}
/* 参加者 */
.detail-people .name {
background: url(../images/icon_view01.gif) #fff left center no-repeat;
padding-left: 20px;
}
/* メール */
.detail-people .mail {
background: url(../images/icon_view02.gif) #fff left center no-repeat;
padding-left: 18px;
}
/* 時差 */
.detail-people .timezone {
background: url(../images/icon_view03.gif) #fff left center no-repeat;
padding-left: 18px;
}
/* 差出人 */
.detail-people .name-s {
background: url(../images/icon_view01s.gif) #fff left center no-repeat;
padding-left: 20px;
}
/* 送信元メール */
.detail-people .mail-s {
background: url(../images/icon_view02s.gif) #fff left center no-repeat;
padding-left: 18px;
}
/* コメント */
.detail-people .comment-s {
background: url(../images/icon_view03s.gif) #fff left 3px no-repeat;
padding-left: 18px;
}

/* ファイル事前アップロード */
.document-list p {
padding-left: 20px;
}
.document-list .base {
background: url(../images/icon_view04.gif) #FFFFFF left center no-repeat;
}
.document-list .image {
background: url(../images/icon_view05.gif) #FFFFFF left center no-repeat;
}
.document-list .excel {
background: url(../images/icon_view06.gif) #FFFFFF left center no-repeat;
}
.document-list .adobe {
background: url(../images/icon_view07.gif) #FFFFFF left center no-repeat;
}
.document-list .word {
background: url(../images/icon_view08.gif) #FFFFFF left center no-repeat;
}
.document-list .ppt {
background: url(../images/icon_view09.gif) #FFFFFF left center no-repeat;
}
.uploadDone .wait {
color: #666666;
}
.uploadDone .pending {
color: #FF9900;
}
.uploadDone .done {
color: #333333;
}
.uploadDone .error {
color: #ff0000;
}

/* 動画アップロード */
.clipList p {
padding-left: 20px;
}
.clipList .base {
background: url(../images/icon_video.gif) #FFFFFF left 0 no-repeat;
}

/* ================================================== */

/*  予約変更  */

/* ================================================== */

.list-col .date {
width: 47%;
}
.list-col .td-detail,
.list-col .td-edit {
width: 66px;
text-align: center;
}

/*--------------------------------------------------*/
/* 変更テーブル */
/*--------------------------------------------------*/

#reservation-edit .reserve-col .roomOption {
float: none;
margin: 5px 0;
}


/* ================================================== */

/*  会議一覧  */

/* ================================================== */

#weekly .pager {
margin: 0 auto 20px;
}
#weekly .sun {
color: #cc0000!important;
}
#weekly .sat {
color: #0033cc!important;
}
#weekly thead th {
background-color: #ffe1c5;
font-weight: bold;
color: #4a4038;
}
#weekly td {
width: 77px;
font-size: 84%;
line-height: 110%;
}


/* ================================================== */

/*  会議予約- アドレス帳  */

/* ================================================== */

#addressbook .star {
display: none !important;
}
#addressbook {
background: #fff;
margin: 0 !important;
padding: 10px !important;
width: auto;
position: relative;
}
#addressbook .pager {
width: auto!important;
}
#addressbook .close {
clear: both;
font-size: 84%;
line-height: 10px;
position: absolute;
top: 15px;
right: 10px;
}
#addressbook .close a {
background: #fff url(../images/icon_close.gif) left center no-repeat;
padding-left: 15px;
}

/* 検索 */
#addressbook .search-col {
margin-bottom: 5px;
}
#addressbook .search-col-inner {
padding: 7px 10px;
}
#addressbook #searchWindow {
width: 280px;
}

/*  table   */
#addressbook table,
#addressbook th,
#addressbook td {
border: 1px solid #d7d1cf;
}
#addressbook table {
clear: both;
width: 100%;
overflow: auto;
padding: 0;
}
#addressbook td {
padding: 3px 5px;
}
#addressbook th {
background-color: #ffe1c5;
padding: 4px 5px;
color: #4a4038;
font-weight: bold;
}
#addressbook thead th {
border-bottom-style: double;
border-bottom-width: 3px;
text-align: center;
padding: 5px 7px;
white-space: nowrap;
}
/* ie6,7,8と最後でfxとかに適用 */
#addressbook td { height: 29px; }
* html #addressbook td { height: 29px; }
*:first-child+html #addressbook td { height: 29px; }
head~/* */body #addressbook td { height: 29px;}
html:not(:target) #addressbook td { height: 36px; }
/* safari用 */
html[xmlns*=""] body:last-child#addressbook td {
height: 29px;
}
#addressbook .share-tr {
background-color: #eee;
}
#addressbook .td-checkbox {
width: 24px;
text-align: center;
}
#addressbook .td-edit,
#addressbook .td-del {
width: 64px;
text-align: center;
}
#addressbook .table-cont {
padding-bottom: 0;
}
#addressbook .check-area {
margin-right: 5px;
}


/* -------------------------------------------- */
/*  メンバー、アドレス共通  */
/* -------------------------------------------- */

#addressbook .form-txt {
padding: 0 0 10px;
line-height: 140%;
}

/* メニュータブ */
#addressbook ul {
width: auto;
border-bottom: 5px solid #f38326;
margin-bottom: 10px;
}
#addressbook li {
text-align: center;
float: left;
}
#addressbook li a {
background: transparent url(../images/tab-l.gif) left top no-repeat;
text-decoration: none;
font-weight: bold;
display: block;
margin: 0 6px 0 0;
padding: 0 0 0 5px;
overflow: hidden;
}
#addressbook li a span {
background: transparent url(../images/tab-r.gif) right top no-repeat;
color: #f26b00;
display: block;
padding: 8px 15px 4px 8px;
}
#addressbook li a:hover,
#addressbook .index #tab-address a,
#addressbook .member #tab-mem a {
background-position: 0% -42px;
margin-top: 0;
}
#addressbook li a:hover span,
#addressbook .index #tab-address a span,
#addressbook .member #tab-mem a span {
color: #fff;
background-position: 100% -42px;
}

#member_type {
margin: 0 3px;
}

/* 追加するボタン */
#addressbook .add-address {
clear: both;
text-align: center;
position: relative;
}
#addressbook .add-address .close {
right: 0;
}

/*  新規登録ボタン  */
#addressbook .add-new {
margin-top: -5px;
margin-bottom: 8px;
}

/* -------------------------------------------- */
/*  新規登録ページ  */
/* -------------------------------------------- */

#addressbook .close-input {
clear: both;
font-size: 84%;
line-height: 10px;
width: 100%;
text-align: right;
}
#addressbook .close-input a {
background: #fff url(../images/icon_close.gif) left center no-repeat;
padding-left: 15px;
}
#addressbook h2 {
background: url(../images/h2_main.gif) 0 0 repeat-x;
font-size: 115%;
padding-left: 10px;
padding-top: 3px;
line-height: 32px;
margin-top: 10px;
margin-bottom: 10px;
height: 32px;
}
/* ie用 */
* html #addressbook h3 {
border-top: 6px solid #2678C3;
}
*:first-child+html #addressbook h3 {
border-top: 6px solid #2678C3;
}
/* safari用 */
html[xmlns*=""] body:last-child #addressbook h3 {
border-top: 6px solid #2678C3;
}
#addressbook .err_msg {
color: #ff0000;
}


/* ================================================== */

/*  会議予約- タイムゾーン  */

/* ================================================== */

.popup {
background: #fff;
margin: 0 !important;
padding: 10px !important;
width: auto;
line-height: 140%;
position: relative;
}
.popup .close {
font-size: 84%;
text-align: right;
margin-bottom: 5px;
}
.popup .close a {
margin: 0 auto;
background: #fff url(../images/icon_close.gif) left center no-repeat;
padding-left: 15px;
}
.popup .close-bottom {
text-align: center;
}
.popup h2 {
background: url(../images/h2_main.gif) 0 0 repeat-x;
font-size: 115%;
padding-left: 10px;
padding-top: 3px;
line-height: 32px;
margin-bottom: 15px;
height: 32px;
}
.popup h3 {
background-color: #ffe2c5;
padding: 4px 10px;
}
.popup h4 {
font-weight: bold;
margin-bottom: 5px;
border-bottom: 1px solid #ccc;
}

.popup p,
.popup ol,
.popup ul {
margin-bottom: 1em;
}

.popup ol ul {
margin-left: 2em;
}

/*  table   */
.popup table,
.popup th,
.popup td {
border: 1px solid #fff;
}
.popup table {
margin: 10px auto;
width: 98%;
overflow: auto;
}
.popup .th {
border-width: 0 1px 1px 0;
padding: 0 0 0 5px;
text-align: left;
width: 3.5em;
white-space: nowrap !important;
}
.popup td {
border-width: 0 1px 1px 0;
padding: 0;
}
.popup .tr_back {
background-color: #eee;
}


/* ================================================== */

/*  ダウンロード */

/* ================================================== */

#download h4 span {
font-size: 84%;
font-weight: normal !important;
color: #555;
padding-left: 8px;
vertical-align: baseline;
}
#download .block2 img {
float: right;
padding: 0 0 15px 10px;
}
#download .block2 p,
#download .block4 p,
#manual .block2 p,
#manual .block2 p,
#address .block2 p {
padding-left: 10px;
padding-bottom: 8px;
}
#download .notes {
padding-top: 5px;
}
#download .button-area,
#manual .button-area,
#address .button-area {
padding-bottom: 5px;
padding-left: 10px;
}
#mm li {
margin: 5px 10px;
}
#mm li span {
color: #999;
}

#download .sh2border {
width:95%;
margin-top: 10px;
padding-top: 10px;
border-top: 1px solid #CCC;
}
#download .small {
padding-top: 5px;
}
#prompt .lead {
	margin: 15px 0 0;
}
.lead {
	margin-bottom: 10px;
}
#download .block2 .banner img {
	float: left;
	padding: 5px 10px 0 5px;
}
#download .block2 .echo-step img {
	float: none;
	padding: 0;
}



/* エコキャン */

.echo-inner {
margin: 0 10px;
}
.echo-inner .right {
float: right;
padding: 0 0 10px 10px;
}
.echo-exam {
padding: 5px 0;
}
#echo li {
list-style: disc;
list-style-position: outside;
margin-left: 25px;
}
#echo .button-area {
padding: 10px 0 20px;
}
#echo span.button {
margin: 0 6px 0 4px!important;
}
.echo-notes {
padding-bottom: 10px;
font-size: 84%;
line-height: 130%;
}
.echo-notes p {
padding-bottom: 5px;
}


.echo-step {
float: left;
width: 95%;
margin-left: 10px;
margin-top: 15px;
background-color: #cddadc;
}
.echo-step-inner {
margin: 3px;
background-color: #fff;
}
.echo-step h5 {
padding: 3px 10px;
font-weight: bold;
background-color: #cddadc;
margin-bottom: 1px;
}
.echo-step li {
list-style: none!important;
margin-left: 0!important;
}
.echo-step li a {
display: block;
cursor: pointer;
padding: 5px 10px;
height: 20px;
line-height: 20px;
}
.echo-step li a:hover {
background-color: #ecf4f6;
}
.echo-step .tit {
background: url("../images/point-normal.gif") left center no-repeat;
padding-left: 18px;
font-weight: bold;
}
.echo-step li .fxmn {
padding: 0 15px 20px;
}
.echo-step li dt {
margin: 10px 0 3px;
padding-left: 3px;
border-left: 6px solid #333;
}
.echo-step li dd {
}
.echo-step li img {
margin: 5px 0 15px;
}
.echo-step .border {
border: 1px solid #ccc;
}
.echo-step .nomargin {
margin-bottom: 0!important;
}
.echo-step .selected .tit {
background: url("../images/point-open.gif") left center no-repeat!important;
}


/* flash_
--------------------------------------------------*/
#flash-download p {
margin: 0 20px 25px;
}
#flash-download a img {
margin: 0 20px;
}


/* ================================================== */

/*  FAQ  */

/* ================================================== */

#faq .block1 ul {
margin: 0 10px;
}
#faq .block1 li {
display: block;
background: url(../images/faq_img_q.gif) left top no-repeat;
margin-bottom: 5px;
padding-left: 15px;
}

/* 答え */
#faq .block1 dl {
margin: 0 10px 25px;
}
#faq .block1 dt {
background: url(../images/faq_img_q.gif) left top no-repeat;
font-weight: bold;
padding-left: 15px;
padding-bottom: 15px;
}
#faq .block1 dd {
background: url(../images/faq_img_a.gif) left top no-repeat;
padding-left: 15px;
margin-left: 20px;
}


/* ================================================== */

/*  管理-メインページ  */

/* ================================================== */


/* ================================================== */

/*  管理-ご利用ログの照会  */

/* ================================================== */

#show-log .block2 div {
padding-left: 10px;
padding-bottom: 5px;
}
#show-log tbody th {
background-color: #fff;
}
#show-log .priceplan-col tbody th {
background-color: #eee;
}
#show-log .priceplan-col thead th {
background-color: #777;
color: #fff;
font-weight: normal;
}
#show-log tbody th {
background-color: #fff;
}
#show-log .td-time {
width: 100px;
text-align: right;
}

.table-note {
width: 100%;
text-align: right;
padding-bottom: 5px;
margin-top: -5px;
}


/* ================================================== */

/*  管理-会議室設定  */

/* ================================================== */

.th-restrict {
width: 11em;
word-wrap: break-word;
}

#room .all-col {
padding: 5px 0 15px;
margin-left: -8px;
}

/* 各会議テーブル */
.room-set-col {
position: relative!important;
border: 2px solid #a5562e;
margin-bottom: 15px;
}
.room-set-col .button {
float: right;
position: relative;
top: 2px;
}
#room .room-set-col table,
#room .room-set-col th,
#room .room-set-col td {
border: none;
margin: 0 auto;
}
.room-set-col .td-sort {
background-color: #a5562e;
padding: 2px!important;
width: 46px;
}
.room-set-col .td-sort .bt-up {
background: url("../images/room_btn_up.gif");
width: 15px;
height: 15px;
}
.room-set-col .td-sort .bt-down {
background: url("../images/room_btn_down.gif");
width: 15px;
height: 15px;
}
.room-set-col .title {
padding-bottom: 6px;
margin-bottom: 10px;
border-bottom: 1px solid #ddd;
}
.room-set-col .title p {
font-weight:bold;
line-height: 200%;
}
.room-set-col .roomOption ul {
margin-left: -5px;
}

#room .room-set-col .set-table {
clear: none;
}
#room .room-set-col .set-table01,
#room .room-set-col .set-table02 {
width: 50%;
margin-bottom: 5px;
float: left;
}
#room .room-set-col .set-table th {
width: 40%;
border-bottom: 1px solid #fff;
vertical-align: top;
white-space: nowrap;
font-size: 84%;
}
.room-set-col .set-table td {
border-bottom: 1px solid #fff;
font-size: 84%;
}


/* メール資料貼込み */
#room #mailfile p {
float: left;
margin: 0;
padding: 5px 10px 0 0;
}


/* --------------------------------------------------*/
/* 会議室設定変更 */
/* --------------------------------------------------*/
#tooltip3 {
position: absolute;
z-index: 9999;
}

#room .room-edit-col .error {
clear: both;
}
#room .room-edit-col th {
width: 20%;
white-space: nowrap;
}
.room-edit-col input,
.room-edit-col select {
margin-right: 3px;
z-index: 1!important;
}


/* プロトコル・ポート制限 */
#room .port-sec {
float: left;
width: auto;
border: none;
margin: 0;
}
#room .port-sec td {
vertical-align: top;
border: none;
padding: 5px 3px;
}
.port-sec .valid,
.port-sec .invalid {
color: #fff;
padding: 2px 5px;
}
.port-sec .invalid {
background-color: #666;
}
.port-sec .valid {
background-color: #a5562e;
}
.port-sec select {
width: 180px;
overflow: auto;
margin: 0 0 2px;
}
.port-sec .select-box {
background-color: #ddd;
padding: 8px;
float: left;
}
.select-box .bt-up {
margin: 2px 5px 2px 0;
width: 15px;
height: 15px;
overflow: hidden;
background: url("../images/btn_port_up.gif");
}
.select-box .bt-down {
margin: 2px 5px 2px 0;
width: 15px;
height: 15px;
overflow: hidden;
background: url("../images/btn_port_down.gif");
}
.port-sec .td-arrow {
vertical-align: middle!important;
width: 20px;
}
.port-sec .td-arrow a {
margin: 3px 0 3px 3px;
font-weight: bold;
color: #000;
font-size: 120%;
}
#rtmp_protocol {
clear: both;
}


/* 入室時初期画面 */

.layout-col li {
border: 2px solid #ddd;
background-color: #eee;
float: left;
text-align: center;
width: 110px;
margin: 5px 3px;
padding: 8px;
}
.layout-col img {
margin: 5px auto;
border: 1px solid #333;
}
.layout-col .attention {
margin-top: 3px;
text-align: left;
}


#room .file-sec table,
#room .file-sec th,
#room .file-sec td {
border: none;
margin: 0 auto;
}
#room .file-sec th {
color: #333;
vertical-align: top;
line-height: 24px;
width: 10%;
text-align: right;
padding: 3px 0;
background-color: #fff;
}
#room .file-sec td {
padding: 3px 0;
}
#room .file-sec .form-txt {
padding: 0;
line-height: 24px;
}
.file-type ul {
clear: both;
margin-left: 3px;
float: left;
width: 100%;
}
.file-type li {
float: left;
width: 5em;
white-space: nowrap;
line-height: 24px;
}

#cabinetForm {
margin-top: 5px;
}
.file-add {
padding: 4px 9px 4px 6px;
margin: 2px 0;
background-color: #ddd;
float: left;
clear: both;
}
.file-type-cabinet .input-text {
width: 5em;
margin-right: 3px;
}
.file-type-cabinet ul {
clear: both;
margin-left: 6px;
}

/* --------------------------------------------------*/
/* メール資料貼込み設定 */
/* --------------------------------------------------*/

#room .mail-col th {
width: 25%;
}
#room .td-button {
width: 64px;
text-align: center;
}

#room .addMail {
padding-bottom: 10px;
}


/* ================================================== */

/*  管理-メンバー管理  */

/* ================================================== */


#member .td-button {
width: 64px;
text-align: center;
}

/* メンバー管理 */
.addMember {
padding-bottom: 10px;
}
#member .member-col th {
width: 25%;
}

/* グループ管理 */
.addGroup {
padding-bottom: 10px;
}
.addGroup p {
padding-bottom: 10px;
}


/* ================================================== */

/*  セキュリティ設定  */

/* ================================================== */

/* IPアドレス制限 */
.addIP {
padding-bottom: 10px;
}
.addIP p {
clear: both;
}
.myIP {
float: left;
background-color: #ddebfd;
padding: 6px 15px;
margin: 10px 0;
}
#security .td-status {
width: 150px;
text-align: center;
}
#security .td-button {
width: 64px;
text-align: center;
}
#security .disabled {
filter: alpha(opacity=40);
-moz-opacity:0.4;
opacity:0.4;
}
#security .disabled input,
#security .disabled span.button-inner,
#security .disabled span.button {
cursor: default !important;
}


/* 会議利用制限 */
.limitmtg-col th {
width: 25%;
white-space: nowrap;
}
.limitmtg-col input,
.limitmtg-col select {
margin-right: 3px;
}



/* ================================================== */

/*  管理-アカウント情報  */

/* ================================================== */

#account th {
width: 25%;
white-space: nowrap;
}


/* ================================================== */

/*  まだ使ってるかも知れないボタン  */

/* ================================================== */

.bt70-r,
.bt70-x,
.bt70-p,
.bt70-r-table {
width: 67px;
height: 25px;
line-height: 25px;
border: none;
font-size: 10px;
font-weight: bold;
margin: 2px;
padding: 0 0 0 15px;
cursor: pointer;
}
.bt70-r,
.bt70-r-table {
background: #ffffff url(../images/submitBt_70_28_r.gif) top left no-repeat;
}
.bt70-x {
background: #ffffff url(../images/submitBt_70_28_x.gif) top left no-repeat;
}
.bt70-p {
background: #ffffff url(../images/submitBt_70_28_p.gif) top left no-repeat;
}
.bt100-p {
width: 97px;
height: 25px;
line-height: 25px;
border: none;
font-size: 10px;
font-weight: bold;
margin: 2px;
padding: 0 0 0 15px;
cursor: pointer;
background: #ffffff url(../images/submitBt_100_28_p.gif) top left no-repeat;
}


/* ================================================== */
/*  trial-enq（トライアルアンケート）  */
/* ================================================== */

#trial-enq {
margin: 15px auto 40px;
width: 94%;
}
#trial-enq li label {
	margin-right: 1.3em;
}
#trial-enq .inner {
padding: 15px;
background: #fbf5e1;
}
#trial-enq .outer {
background: #ffc38d;
padding: 8px;
}
#trial-enq h5 {
border-bottom: 2px dotted #ffc38d;
font-size: 115%;
font-weight: bold;
margin-bottom: 5px;
padding-bottom: 10px;
color: #000;
}
#trial-enq li {
list-style-position: outside;
list-style-type: decimal;
margin-left: 20px;
_margin-left: 23px;
margin-bottom: 7px;
}
#trial-enq ul.first li {
list-style-position: outside;
list-style-type: none;
margin-bottom: 7px;
margin-left: 0;
}
#trial-enq li ul li {
list-style-type: lower-alpha;
}
#trial-enq textarea {
width: 96%;
}
#trial-enq .enq-ti {
padding: 10px 0 5px;
font-weight: bold;
}
#trial-enq .enq-ti .small {
font-weight: normal;
padding-left: 1em;
}
#trial-enq .check-list {
	margin-bottom: 2px;
}

#enq-submit {
text-align: center;
padding: 10px 0 5px;
}

.terms-block {
border-top: 1px dotted #999;
margin-top: 20px;
padding: 5px 10px 10px;
}

/* ================================================== */
/*  maintenance（メンテ情報）  */
/* ================================================== */

.maint-col {
border: 1px solid #fb4638;
color: #666;
width: 928px;
margin: 10px auto;
}
.maint-title {
float: left;
color: #fff;
background-color: #fb4638;
padding: 10px 10px;
margin-right: 10px;
}
.maint-text {
padding: 10px 0;
background-color: #ffffcc;
font-weight: bold;
color: #ff0000;
}

/* ================================================== */

/*  動画  */

/* ================================================== */

/*--------------------------------------------------*/
/* 動画一覧 */
/*--------------------------------------------------*/
#clip_title {
	width: 250px;
}
#clip_title,
#clip_file {
	margin-right: 15px;
}
#upload_form table {
	margin-bottom: 25px;
}
#upload_form table td {
	background-color: #eaeaea;
}
.video_clips {
	float: left;
	width: 216px;
	height: 137px;
	position: relative;
	background: #ffffff url(../images/video_bg.gif) top left no-repeat;
	margin: 0 10px 10px 0;
}
.video_title,
.video_thumb,
.video_time,
.video_btn,
.video_size {
	position: absolute;
}

.video_title {
	top: 10px;
	left: 9px;
	padding-left: 18px;
	background: url(../images/video_title_icon.gif) center left no-repeat;
	font-weight: bold;
}
.video_thumb {
	top: 45px;
	left: 12px;
}
.video_time {
	top: 85px;
	left: 122px;
}
.video_size {
	top: 104px;
	left: 122px;
}
.video_btn {
	top: 45px;
	left: 122px;
}
.check_clip_label {
	font-weight: bold;
}
.check_clip_block {
	position: absolute;
	width: 80px;
	padding: 5px;
	top: 0;
	left: 106px;
	background-color: #FFE1C5;
}
.check_clip_block input {
	vertical-align: text-top;
}

.relay_clips {
	margin-bottom: 20px;
}
.relay_clips span {
	font-weight: bold;
}

/*--------------------------------------------------*/
/* 動画詳細 */
/*--------------------------------------------------*/
.video_detail_block {
	margin-bottom: 20px;
}

.video_preview {
	width: 400px;
	float: left;
}
.video_detail {
	width: 490px;
	float: right;
}
.video_detail table th {
	width: 6em;
}
.video_detail input[type="text"],
.video_detail textarea {
	width: 90%;
}

.video_detail_block+.btn-area {
	margin-bottom: 20px;
}
.error_box {
	background-color: #FFE1C5;
	padding: 8px;
	text-align: center;
	margin-bottom: 10px;
	border: 2px solid #ff0000;
}
.error_box span {
	color: #ff0000;
	font-weight: bold;
}
.attention-inner-col {
	float: left;
	font-weight: bold;
	width: 80%;
	padding-top: 8px;
}
.attention-inner-btn {
	float: right;
	width: 20%;
	text-align: right;
}
/* ================================================== */
/*  telNo  */
/* ================================================== */
#telNo h3 {
	background-color: #ffffff;
	margin-top: 15px;
}


/* ================================================== */
/*  IEキャッシュ対策  */
/* ================================================== */

html {
  filter: expression(document.execCommand("BackgroundImageCache",false, true));
}
