@charset "UTF-8";


/* ログイン、個人設定
-------------------------------------------- */

#eco-meter {
width: 670px;
margin: 5px auto;
padding: 5px 7px 7px;
border: 3px solid #95d4ac;
}
#eco-meter .head-col {
width: 100%;
height: 20px;
margin-bottom: 10px;
position: relative;
}
#eco-btns {
position: absolute;
top: 2px;
right: 0;
width: 112px;
}
#eco-btns li {
text-indent: -9999px;
}
#eco-btns li a {
float: right;
width: 112px;
height: 17px;
margin-bottom: 2px;
}
.eco-btn01 a {
background: transparent url(../images/eco_btn_whats.gif) 0 0 no-repeat;
}
.eco-btn02 a {
background: transparent url(../images/eco_btn_structure.gif) 0 0 no-repeat;
}
.eco-btn03 a {
background: transparent url(../images/eco_btn_simu.gif) 0 0 no-repeat;
}

.station-select {
padding-left: 15px;
}
.procedure {
height: 18px;
padding-left: 16px;
background: transparent url(../images/eco_procedure.gif) 0 0 no-repeat;
}
#station-col select {
margin-right: 5px;
width: 150px;
}
#station-col #result,
#station-col span {
float: left;
font-weight: bold;
}
.station-inner {
background-color: #d3edd5;
padding: 5px 10px;
float: left;
margin: 0 3px 3px;
}


#eco-meter .explain {
padding: 4px 0 2px 15px;
color: #666;
font-size: 85%;
line-height: 130%;
}
#eco-meter .explain sub {
color: #666;
}
#eco-meter .attention {
font-weight: normal;
}
#eco-place {
width: 350px;
background-color: #ffffcc;
margin-right: 3px;
}

#eco-meter .bt-search {
min-width: 65px;
font-size: 12px;
}

/* 個人設定 */

#eco-repo-col {
padding-left: 15px;
}
#eco-repo-col p {
clear: both;
color: #47a76a;
padding-top: 10px;
}
#eco-repo-col #eco-repo {
margin-right: 3px;
}
#eco-repo-col span {
vertical-align: middle;
}
#ecorepoForm table {
width: 100%;
margin: 5px auto;
}
#ecorepoForm th {
background-color: #c7e8ca;
color: #444;
}


/* 全ページのヘッダー
-------------------------------------------- */
#eco-setting {
position: absolute;
top: 33px;
right: 24px;
border: 2px solid #b0dcc0;
line-height: 23px;
padding: 0 10px;
border-radius: 4px;
-webkit-border-radius: 4px;    /* Safari,Google Chrome用 */
-moz-border-radius: 4px;   /* Firefox用 */
}
#eco-setting img {
float: left;
}
#eco-setting-inner {
float: left;
/*overflow: hidden; */
}
#eco-setting li {
float: left;
padding-left: 0.5em;
}

/* メインページ（累計）
-------------------------------------------- */

#sidemenu #eco-col {
margin-bottom: 10px;
background: transparent url(../images/sub_eco_top.gif) 0 0 no-repeat;
text-align: center;
}
#sidemenu #eco-col-inner {
background: transparent url(../images/sub_eco_bottom.gif) bottom left no-repeat;
padding: 8px;
}
#eco-setting .key {
color: #666666;
font-size: 95%;
}
#eco-setting .value {
color: #333333;
font-size: 120%;
font-weight: bold;
}

/* 会議記録閲覧
-------------------------------------------- */

#eco-btn-month {
float: right;
cursor: pointer;
}
#eco-btn-mtg img {
margin: 2px 0;
cursor: pointer;
}
* html #eco-btn-mtg img {
margin: 2px 1px;
}
*:first-child+html #eco-btn-mtg img {
margin: 2px 1px;
}


/* ECOメーターとは？
-------------------------------------------- */

#ecopop-whats {
overflow: auto;
background: transparent url(../images/ecowhats_bg.gif) right bottom no-repeat;
}
#ecopop-whats h2 {
background: transparent url(../images/ecowhats_h2.gif) repeat-x;
height: 41px;
margin: 0 10px 10px;
padding: 0;
}
#ecopop-whats h2 img {
margin: 9px 0;
float: left;
}
#ecopop-whats .dl-btn {
float: right;
margin-top: 3px;
}
#eco-content {
padding: 0 10px 10px;
}

#ecopop-whats #example-col {
float: right;
width: 200px;
border: 1px solid #5fafcd;
margin: 0 0 10px 5px;
padding: 1px;
}
#ecopop-whats #example-col-inner {
width: auto;
background-color: #fff;
border: 2px solid #c6e3ec;
padding: 10px 12px;
}
#ecopop-whats #example-col p {
color: #666;
font-weight: bold;
padding-bottom: 5px;
}
#ecopop-whats #example-col sub {
color: #666;
}
#ecopop-whats #txt-col {
margin: 0 auto 10px;
}
#ecopop-whats dl {
width: 100%;
background: #fff url(../images/dot.gif) 0 0.6em repeat-x;
float: left;
margin-top: 2px;
}
#ecopop-whats dt {
float: left;
background-color: #fff;
padding-right: 3px;
}
#ecopop-whats dd {
float: right;
background-color: #fff;
padding-left: 3px;
}
#ecopop-whats #step-col {
margin-right: 90px;
}
.step-title {
margin-bottom: 2px;
color: #5fafcd;
font-weight: bold;
}
#step-col li {
margin-bottom: 4px;
list-style: none;
background: #fff url(../images/eco_point.gif) 0 2px no-repeat;
padding-left: 10px;
}


/* ECOメーターのしくみ
-------------------------------------------- */

#ecopop-whats.ecopop-structure {
background: none!important;
}
.ecopop-structure #eco-content {
height: 258px;
}
#ecopop-whats #term-col {
line-height: 120%;
font-size: 84%;
}
#ecopop-whats #term-col .lead {
font-size: 110%;
}
#ecopop-whats #term-col p {
padding-bottom: 10px;
}
#ecopop-whats #term-col ol {
padding-left: 20px;
padding-bottom: 10px;
}
#ecopop-whats #term-col li {
padding-bottom: 2px;
list-style-image:outside;
list-style-type: decimal;
}
#ecopop-whats .structure-title {
padding-bottom: 3px !important;
color: #5fafcd;
font-weight: bold;
}


/* ポップアップ
-------------------------------------------- */

body#ecopop {
background: #fff;
margin: 0 !important;
padding: 0 !important;
width: auto;
line-height: 140%;
}
#ecopop .close {
text-align: center;
}


/* 会議毎と月毎の共通 */

#ecopop-mtg,
#ecopop-month {
background: #fff url(../images/ecopop_bg_bottom.gif) bottom right repeat-x;
}
#ecopop-mtg #eco-content,
#ecopop-month #eco-content {
width: auto;
background: transparent url(../images/ecopop_bg_top.gif) top left repeat-x;
padding: 15px 10px 40px;
}
#ecopop .head-col {
width: 100%;
float: left;
margin-bottom: 5px;
}
#eco-logo {
float: left;
}
#ecopop .print {
float: right;
cursor: pointer;
}
#ecopop .head-col a img {
float: right;
margin-right: 5px;
}


/* 月毎 */

#ecopop-month {
width: 771px;
min-height: 640px;
}

#ecopop-month .column {
clear: both;
width: 100%;
margin: 0 auto;
text-align: left;
padding-bottom: 15px;
}
#ecopop-month .title-col {
background: transparent url(../images/eco_month_title.gif) 0 0 no-repeat;
width: 751px;
height: 35px;
position: relative;
margin-bottom: 8px;
float: left;
}
#ecopop-month #year-col .title-col {
background: transparent url(../images/eco_year_title.gif) 0 0 no-repeat;
}
#ecopop-month .date-col {
color: #ffffff;
font-weight: bold;
font-size: 120%;
line-height: 35px;
margin-top: 1px;
vertical-align: middle;
position: absolute;
top: 0;
left: 100px;
}
#ecopop-month #year-col .date-col {
position: absolute;
left: 10px;
}
#ecopop-month .title-col span,
#ecopop-month .title-col span a {
width: 37px;
height: 17px;
display: block;
text-indent: -9999px;
overflow: hidden;
}
#ecopop-month .title-col .prev {
position: absolute;
top: 9px;
left: 7px;
background: transparent url(../images/eco_month_prev.gif) 0 0 no-repeat;
}
#ecopop-month .title-col .next {
position: absolute;
top: 9px;
left: 47px;
background: transparent url(../images/eco_month_next.gif) 0 0 no-repeat;
}
#ecopop-month .title-col .disabled {
filter: alpha(opacity=50);
-moz-opacity:0.5;
opacity:0.5;
z-index: 10;
}


/* データ */

#ecopop .left-col {
float: left;
padding: 0 5px 0 7px;
}
#ecopop .data-col {
background: transparent url(../images/ecomonth_value_bg2.gif) bottom left repeat-y;
width: 364px;
padding-bottom: 14px;
}
#ecopop .data-col-inner {
background: transparent url(../images/ecomonth_value_bg1.gif) top left no-repeat;
padding: 14px 15px 0;
}
#ecopop .data-col table {
width: 334px;
margin: 0;
}
#ecopop .data-col tr {
line-height: 25px;
background: transparent url(../images/dot.gif) center left repeat-x;
}
#ecopop .data-col th {
font-weight: normal;
font-size: 12px;
}
#ecopop .data-col th span {
padding: 0 10px 0 15px;
background: #fff url(../images/ecopop_point.gif) center left no-repeat;
}
#ecopop .data-col td.value {
text-align: right;
font-size: 12px;
}
#ecopop .data-col td.value span {
background-color: #fff;
padding-left: 5px;
}
#ecopop .data-col .num-co2,
#ecopop .data-col .num-traffic,
#ecopop .data-col .num-time {
font-weight: bold;
}


/* 木 */

#ecopop .right-col {
width: 365px;
float: left;
}
#ecopop .tree-col {
background: transparent url(../images/ecomonth_tree_bg2.gif) bottom left repeat-y;
width: 365px;
margin: 0;
padding-bottom: 8px;
}
#ecopop .tree-col-inner {
background: transparent url(../images/ecomonth_tree_bg1.gif) top left no-repeat;
padding: 11px 4px 0;
}
#ecopop .tree-col img {
vertical-align: middle;
}
#ecopop .tree-col p {
line-height: 15px;
padding: 0 6px;
color: #444;
}
#ecopop .tree-col p.txt-blue {
color: #007fbf;
}
#ecopop .tree-col .num-co2 {
padding: 0 3px;
font-weight: bold;
}
#ecopop .tree-col #tree-num {
background-color: #fff;
margin: 3px 0 4px;
padding: 5px 0;
text-align: center;
}
#ecopop #month-col .tree-col #tree-num {
padding: 5px 0 1px;
}
#ecopop .tree-col p.txt-tree {
position: relative;
display: inline;
padding: 0;
}
#ecopop .tree-col .num-month {
color: #666;
position: absolute;
top: 0;
left: 5px;
line-height: 100%;
margin-top: -5px;
}
/* ie6,7,8,safari用 */
* html #ecopop .tree-col .num-month {
position: absolute;
top: 16px;
margin-top: 0;
}
*:first-child+html #ecopop .tree-col .num-month {
position: absolute;
top: 16px;
margin-top: 0;
}
html>/**/body #ecopop .tree-col .num-month {
position/**/: absolute\9;
top: 16px;
margin-top: 0;
}
html[xmlns*=""] body:last-child #ecopop .tree-col .num-month {
position: absolute;
top: 1px;
left: 4px;
}

#ecopop .tree {
padding-left: 6px;
}
.num-tree {
font-size: 220%;
color: #ff6f05;
font-weight: bold;
vertical-align: middle;
font-family: Arial, Helvetica, sans-serif;
}
#ecopop .num-tree .sub {
font-size: 45%;
color: #666;
padding: 4px;
}

#ecopop .tree-col p.lastm-tree {
padding: 3px 0 1px;
background-color: #eeede6;
margin: 1px 1px 0;
color: #555;
}

#ecopop .notes {
margin: 0;
font-size: 85%;
color: #888;
line-height: 120%;
padding-top: 3px;
}



/* グラフ */

#ecopop-month #graph-col {
background-color: #e0e0d8;
padding: 6px 4px;
margin-bottom: 10px;
text-align: center;
}
#ecopop-month dl {
float: left;
width: 245px;
margin-right: 4px;
}
#ecopop-month #graph-time {
margin-right: 0;
}
#ecopop-month dt span {
font-size: 85%;
}
#ecopop-month dd.graph {
display: block;
width: 245px;
background-color: #fff;
}
#ecopop-month dd.graph img {
width: 245px !important;
}



/* 会議毎 */

#ecopop-mtg {
width: 611px;
min-height: 520px;
}

#ecopop-mtg .column {
clear: both;
width: 100%;
margin: 0 auto;
text-align: left;
padding-bottom: 10px;
}
#ecopop-mtg .title-col {
width: 591px;
float: left;
}
#ecopop-mtg .title-col dt {
float: left;
clear: left;
margin-bottom: 3px;
margin-right: 8px;
}
#ecopop-mtg .title-col dd {
float: left;
width: 500px;
height: 30px;
line-height: 30px;
font-size: 120%;
font-weight: bold;
overflow: hidden;
}
#ecopop-mtg .title-col dd span {
color: #888;
font-weight: normal;
font-size: 70%;
padding-left: 5px;
}


/* データ */

#ecopop-mtg .left-col {
float: left;
padding: 0 5px 0 0;
margin-left: -3px;
}
#ecopop-mtg .data-col {
background: transparent url(../images/ecomtg_value_bg2.gif) bottom left repeat-y;
width: 284px;
}
#ecopop-mtg .data-col-inner {
background: transparent url(../images/ecomtg_value_bg1.gif) top left no-repeat;
}
#ecopop-mtg .data-col table {
width: 254px;
}


/* 木 */

#ecopop-mtg .right-col {
width: 305px;
}
#ecopop-mtg .tree-col {
background: transparent url(../images/ecomtg_tree_bg2.gif) bottom left repeat-y;
width: 305px;
}
#ecopop-mtg .tree-col-inner {
background: transparent url(../images/ecomtg_tree_bg1.gif) top left no-repeat;
}


/* 参加者テーブル */

.participant-p {
background-color: #eee;
text-align: left;
padding-top: 1px;
}

#participant-table {
margin-bottom: 10px;
}
#participant-table table,
#participant-table th,
#participant-table td {
border: 1px solid #ccc;
}
#participant-table table {
background-color: #fff;
clear: both;
border-collapse: collapse;
border-spacing: 0;
empty-cells: show;
border-width: 1px;
margin: 1px 0 0 1px;
width: 573px;
overflow: auto;
padding: 0;
}
#participant-table th,
#participant-table td {
border-width: 0 1px 1px 0;
padding: 2px 4px;
text-align: left;
}
#participant-table th {
background-color: #61b37f;
font-weight: normal;
color: #fff;
}
#participant-table thead th {
border-bottom-style: double;
border-bottom-width: 3px;
text-align: center;
padding: 2px 4px;
}
#participant-table .td-right {
text-align: right!important;
}
#participant-table #sum {
background-color: #fedbdb;
}

.ecopop-mtg #participant-table {
max-height: 200px;
overflow-y: scroll;
overflow-x: none;
}


/* 編集ページ */

.ecopop-edit #participant-table {
width: 100%;
}
.ecopop-edit #participant-table thead th {
white-space: nowrap;
}
.ecopop-edit #participant-table .td-radio {
text-align: center!important;
width: 4em;
}
.ecopop-edit #participant-table .inputText {
width: 96%;
}
.ecopop-edit p {
padding-bottom: 10px;
text-indent: 18px;
line-height: 18px;
text-align: left;
font-weight: bold;
background: transparent url(../images/eco_procedure.gif) left top no-repeat;
}
.ecopop-edit p .note {
font-weight: normal!important;
}
