{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Manage User"}
{literal}
<script type="text/javascript">
<!--
    function form_submit(frm) {
        if (confirm("{/literal}{t}1208,_('Are you sure to do?'){/t}{literal}")) {
            frm.submit();
        }
    }
// -->
</script>
{/literal}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>Download Template</span></a></li>
        <li><a href="#fragment2"><span>{t}1197,_('Import'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        <span class="information">{t}1199,_('Please add a CSV file.'){/t}</span><br />
        <form action="auto_expire.php" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1200,_('Download CSV File'){/t}</legend>
        <span class="attention">{t}1201,_('In order to avoid the garbage character, please use the UTF-8 Encode.'){/t}<br />
        {t}4694,_('If you want to edit it with a Spreadsheet Software, please use OpenOffice or anther one, instead of MS Excel.'){/t}<br />
        {t}4697,_('If you have any problem, please contact the CTU.'){/t}</span><br />
        <a href="http://ja.openoffice.org/download/">{t}1202,_('Download OpenOffice Here'){/t}</a><br /><br />
        <input type="submit" name="action_download" value="{t}1203,_('Download CSV file template'){/t}" />
        </fieldset>
        </form>
    </div>

    <div id="fragment2">
        <span class="information">{t}1204,_('Upload Modified CSV File'){/t}</span><br />
        {foreach from=$form_err_msg item=err_msg}
        <span class="attention">{$err_msg|escape:"html"}</span><br />
        {/foreach}
        <form action="auto_expire.php#fragment2" method="post" enctype="multipart/form-data">
        <fieldset>
        <legend>{t}1197,_('Import'){/t}</legend>
        <table>
        <tr>
        <td>CSV File</td>
        <td><input type="file" name="import_file" size="40"/></td>
        </tr>
        <tr>
        <td></td>
        <td><input type="submit" name="action_import_confirm" value="{t}1207,_('Confirm Import'){/t}" /></td>
        </tr>
        </table>
        </fieldset>
        {if $err_flg == 0 && $rows}
            <fieldset>
            <legend>{t}1209,_('Confirm'){/t}</legend>
            <table class="searchList" width="95%">
            <thead>
            <tr>
                <th>no</th>
                <th>{t}991211,_('User ID'){/t}</th>
                <th>{t}991212,_('Stop Date'){/t}</th>
            </tr>
            </thead>
            <tbody>
            {foreach from=$rows key=i item=row}
                <tr>
                    <td>{$i+1}</td>
                    <td>{$row.user_id|escape:"html"}</td>
                    <td>{$row.user_expiredatetime|escape:"html"}</td>
                </tr>
                {if $row.error}
                    <tr class="warn">
                        <td colspan="9" style="text-align: left;">
                            {foreach from=$row.error key=key item=err_msg}
                                [ {$key} ] <b>{$row.$key}</b> <span class='attention'>{$err_msg}</span><br />
                            {/foreach}
                        </td>
                    </tr>
                {/if}
            {/foreach}
            </tbody>
            </table>
            <input type="button" value="{t}1218,_('Add'){/t}" onclick="form_submit(this.form);" />
            {if $err_flg == 0}
                <input type="hidden" name="user_id" value="{$smarty.request.user_id}"/>
                <input type="hidden" name="user_expire_date_time" value="{$smarty.request.user_expire_date_time}"/>
                <input type="hidden" name="action_import" />
            {/if}
            </fieldset>
        {/if}
        </form>
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}