{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Manage User"}
{t 1=$result.ok}4704,_('Stop Reservation Count : %1$s items'){/t}<br />
{t 1=$result.ng}4706,_('Fail Count : %1$s items'){/t}<br />
{if $ok_user_list}
Succeed List
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}991211,_('User ID'){/t}</th>
            <th>{t}991212,_('Stop Date'){/t}</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$ok_user_list key=i item=row}
        <tr>
            <td>{$i+1}</td>
            <td>{$row.user_id|escape:"html"}</td>
            <td>{$row.user_expiredatetime|escape:"html"}</td>
        </tr>
    {/foreach}
    </tbody>
    </table>
{/if}
{if $ng_user_list}
Fail List
    <table class="searchList" width="95%">
    <thead>
        <tr>
            <th>no</th>
            <th>{t}1211,_('User ID'){/t}</th>
            <th>{t}1212,_('Stop Date'){/t}</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$ng_user_list key=i item=row}
        <tr>
            <td>{$i+1}</td>
            <td>{$row.user_id|escape:"html"}</td>
            <td>{$row.user_expiredatetime|escape:"html"}</td>
        </tr>
    {/foreach}
    </tbody>
    </table>
{/if}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}