{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Entry Users Info"}
<table class="searchList" width="100%">

{foreach from=$rows key=i item=row}
    {if $row.user_data.error}
        <div class="required">※Error exists.
        {foreach from=$row.user_data.error key=i item=error}
            {if $error}
                <div class="required">
                    <ul>
                        <!-- start display errors -->
                        {$error}
                        <!-- end display errors -->
                    </ul>
            {/if}
        {/foreach}
    {/if}
    </div>
{/foreach}

<thead>
    <tr>
        <th>no</th>
        <th>{t}999901,_('Country Code'){/t}</th>
        <th>{t}999902,_('Company Name'){/t}</th>
        <th>{t}1035,_('User ID'){/t}</th>
        <th>{t}1036,_('User PW'){/t}</th>
        <th>{t}1037,_('Admin PW'){/t}</th>
        <th>{t}999903,_('ZipCode'){/t}</th>
        <th>{t}999904,_('Address'){/t}</th>
        <th>{t}999905,_('Tel'){/t}</th>
        <th>{t}999906,_('Fax'){/t}</th>
        <th>{t}999907,_('Division'){/t}</th>
        <th>{t}999908,_('Family Name'){/t}</th>
        <th>{t}999909,_('First Name'){/t}</th>
        <th>{t}999910,_('E-mail'){/t}</th>
        <th>{t}1041,_('Start Time'){/t}</th>
        <th>{t}999912,_('Delete Status'){/t}</th>
        <th>{t}999913,_('Notes'){/t}</th>
        <th>{t}999914,_('Presence Chat'){/t}</th>
        <th>{t}999915,_('Cybozu Cooperation Options '){/t}</th>
        <th>{t}999916,_('Video Sharing Options'){/t}</th>
        <th>{t}999917,_('Capacity of Video Sharing (MB)'){/t}</th>
        <th>{t}999918,_('Service Contract'){/t}</th>
        <th>{t}1039,_('Room Name'){/t}</th>
        <th>{t}999919,_('Max Participant'){/t}</th>
        <th>{t}999920,_('Max Audience'){/t}</th>
        <th>{t}999921,_('Max Whiteboard User'){/t}</th>
        <th>{t}1040,_('Plan'){/t}</th>
        {foreach from=$rows key=i item=row}
            {if $i < 1}
                {foreach from=$row.option_data key=j item=row}
                <th>{t}999922,_('Option'){/t}_{$j+1}</th>
                <th>{t}999924,_('Create Time'){/t}_{$j+1}</th>
                {/foreach}
            {/if}
        {/foreach}
    </tr>
</thead>
<tbody>
{foreach from=$rows key=i item=row}
    <tr>
        <td>{$i+1}</td>
        <td>{$row.user_data.country_key|escape:"html"}</td>
        <td>{$row.user_data.user_company_name|escape:"html"}</td>
        <td>{$row.user_data.user_id|escape:"html"}</td>
        <td>{$row.user_data.user_password|escape:"html"}</td>
        <td>{$row.user_data.user_admin_password|escape:"html"}</td>
        <td>{$row.user_data.user_company_postnumber|escape:"html"}</td>
        <td>{$row.user_data.user_company_address|escape:"html"}</td>
        <td>{$row.user_data.user_company_phone|escape:"html"}</td>
        <td>{$row.user_data.user_company_fax|escape:"html"}</td>
        <td>{$row.user_data.user_staff_department|escape:"html"}</td>
        <td>{$row.user_data.user_staff_lastname|escape:"html"}</td>
        <td>{$row.user_data.user_staff_firstname|escape:"html"}</td>
        <td>{$row.user_data.user_staff_email|escape:"html"}</td>
        <td>{$row.user_data.user_starttime|date_format:"%Y-%m-%d %H:%M"}</td>
        <td>{$row.user_data.user_delete_status|escape:"html"}</td>
        <td>{$row.user_data.memo|escape:"html"}</td>
        <td>{$row.user_data.has_chat|escape:"html"}</td>
        <td>{$row.user_data.is_cybozu_option|escape:"html"}</td>
        <td>{$row.user_data.use_clip_share|escape:"html"}</td>
        <td>{$row.user_data.clip_share_storage_size|escape:"html"}</td>
        <td>{$row.user_data.service_name|escape:"html"}</td>
        <td>{$row.room_data.room_name|escape:"html"}</td>
        <td>{$row.room_data.max_seat|escape:"html"}</td>
        <td>{$row.room_data.max_audience_seat|escape:"html"}</td>
        <td>{$row.room_data.max_whiteboard_seat|escape:"html"}</td>
        <td>{$row.room_data.service_key} : {$plan_list[$row.room_data.service_key].service_name}</td>
        {foreach from=$row.option_data key=i item=row}
            <td>{if $row.service_option_name != ""}{$row.service_option_name|escape:"html"} ( {t}1279,_('Option Key'){/t} : {$row.service_option_key} ){/if}</td>
            <td>{$row.option_start_time}</td>
        {/foreach}
    </tr>
{/foreach}
</tbody>
</table>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}