{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage User"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1058,_('Entry All'){/t}</span></a></li>
    </ul>
    <div id="fragment1">
        <span class="attention">{t}1059,_('Generate user and room at the same time.'){/t}</span>
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/auto/form.t.html"}
    </div>
</div>
{if $rows}
{literal}
<script type="text/javascript">
<!--
    function form_submit(frm) {
        if (confirm("{/literal}{t}1396,_('Are you sure to add?'){/t}{literal}")) {
            frm.submit();
        }
    }
// -->
</script>
{/literal}
    <form action="auto.php"  method="post">
    <fieldset>
    <legend>{t}1061,_('Confirm'){/t}</legend>
    {if $err_flg}
    <span class='required'>{t}1062,_('Input Error, please review again,'){/t}</span>
    {/if}
    <table class="searchList" width="100%">
    <thead>
        <tr>
            <th>no</th>
            <th>User ID</th>
            <th>User PW</th>
            <th>{t}999901,_('Company Name'){/t}</th>
            <th>{t}1064,_('Room Name'){/t}</th>
            <th>{t}1065,_('Service Plan'){/t}</th>
        </tr>
    </thead>
    <tbody>
    {foreach from=$rows key=i item=row}
        <tr{if $row.error} class="warn"{/if}>
            <td{if $row.error} rowspan="2"{/if}><input type="checkbox" name="create_list[]" value="{$row.user_id}" checked="checked" /> {$i+1}</td>
            <td>{$row.user_id|escape:"html"}</td>
            <td>{$row.user_pw|escape:"html"}</td>
            <td>{$row.user_name|escape:"html"}</td>
            <td>{$row.room_name|escape:"html"}</td>
            <td>{$row.service_key|escape:"html"} : {$plan_list[$row.service_key].service_name}</td>
        </tr>
        {if $row.error}
        <tr class="warn">
            <td colspan="6" style="text-align: left;">
            {foreach from=$row.error key=key item=err_msg}
                [ {$key} ] <b>{$row.$key}</b> <span class='required'>{$err_msg}</span><br />
            {/foreach}
            </td>
        </tr>
        {/if}
    {/foreach}
    </tbody>
    </table>
    {if !$err_flg}
    <input type="hidden" name="action_create" />
    <input type="button" value="{t}1066,_('Add'){/t}" onclick="form_submit(this.form);" />
    {/if}
</form>
</fieldset>
{/if}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}