<p class="page-top"><a href="#wrapper">{t}1811,_('ページトップへ'){/t}</a></p>

<div id="footer">
<div id="footer-inner" class="clearfix">
<p class="copyright">{$__frame.service_info.company_cp_right}</p>
<p class="tel"><img src="/custom/cybozu-trial/lang/common/images/support_pop.gif" alt="カスタマーサポートへのご連絡の際はcybozu.comのWeb会議トライアルユーザであることをお伝えください。" /><img src="/custom/cybozu-trial/lang/common/images/foot_tel_cy.gif" alt="カスタマーサポート" /></p>
</div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/debug.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/access_analyzer.t.html"}
