<div id="header">
<h1>{if $centre_admin_flg || $__frame.center_admin_login}<a href="/services/login/centre.php">{elseif $__frame.user_info}<a href="/services/">{else}<a href="/services/login/">{/if}<img src="/custom/pgi-doc/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
</div>
