{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Meeting List"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1177,_('Search'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}
{literal}
<script type="text/javascript">
<!--
    function stopMeeting(room_key, meeting_ticket) {
        if (confirm("{t}1178,_('Are you sure to cancel the meeting?'){/t}")) {
            url = "?action_meeting_stop=&room_key="+room_key+"&meeting_ticket="+meeting_ticket;
            location.href=url;
        }
        return false;
    }
// -->
</script>
{/literal}
<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}1179,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        {if $column.listform_status != "0"}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&sort_key={$key}&sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&sort_key={$key}&sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/if}
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            <a href="?action_meeting_detail&meeting_key={$row.meeting_key}">{t}1180,_('Detail'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_list&amp;table=participant&amp;type=data&amp;sort_key=participant_key&amp;form[meeting_key]={$row.meeting_key|escape:'html'}&reset=2">{t}1181,_('Participants'){/t}</a>&nbsp;|&nbsp;
            <a href="?action_list&amp;table=document&amp;type=data&amp;sort_key=document_key&amp;form[meeting_key]={$row.meeting_key|escape:'html'}&reset=2">{t}1182,_('Convert Documents'){/t}</a><br />&nbsp;|&nbsp;
            <a href="?action_room_detail&amp;room_key={$row.room_key|escape:'html'}&reset=2">{t}1183,_('Room Detail'){/t}</a>&nbsp;|&nbsp;
            {if $authority == 2}<a href="?action_modify&amp;type=data&amp;key=meeting_key&amp;table=meeting&amp;value={$row.meeting_key|escape:'html'}&amp;uptime=update_datetime">{t}1184,_('Modify'){/t}</a>&nbsp;|&nbsp;{/if}
            {if $row.server_key > 0}
            <a href="?action_list&table=ping_failed&type=data&sort_key=ping_failed_id&form[meeting_key]={$row.meeting_key|escape:'html'}">PING FAILED</a>&nbsp;|&nbsp;
            {/if}
            {if $row.server_key > 0 && $row.is_active == 0}
            <a href="http://{$fms.server_info[$row.server_key].server_address}:{$fms.server_info[$row.server_key].server_port}/log_filter/index.html?&app_name={$fms.app_name}&meeting_key={$row.fms_path}{if (strnatcasecmp($row.version, '4.5.5.0') == -1)}{$row.meeting_key}{else}{$row.meeting_session_id}{/if}" target="_blank">{t}1185,_('FMS Log'){/t}</a>
            {elseif $row.server_key > 0 && $row.is_active == 1}
            <a href="javascript:stopMeeting('{$row.room_key}', '{$row.meeting_ticket}')">{t}1186,_('Force Stop'){/t}</a>
            {else}
            {t}4693,_('Hasn\'t started yet'){/t}
            {/if}<br />
        </td>
        {foreach from=$columns key=key item=colum}
        {if $colum.listform_status != "0"}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/if}
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<!--
<input type="button" value="{t}1187,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}1188,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
 -->
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/csv_download.t.html"}
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}