{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Application"}
{literal}
<style>
#container {
    display: inline;
}
tr {

}
tr th{
    width: 80px;
    padding: 2px 5px;
}
tr td{
    width: 80px;
    padding: 2px 5px;
}
.update-td {
    width: 470px;
}
.update-td input[type="text"] {
    width: 120px;
}
</style>
<script>
function file_release(file_key) {
    window.location.href = 'appli_manager.php?action_set_release=1&file_key='+file_key;
}
function file_upload(type) {
    alert(type);
    var $form = $('form#staging');
    if(type == "installer") {
        // if(!$('input.installerFile').val()) {
        //     alert("please select a file to upload");
        //     return false;
        // }
        var $input = $("<input>").attr("type", "hidden").attr("name", "action_upload_file").val("1");
        $form.append($input);
        $input = $("<input>").attr("type", "hidden").attr("name", "type").val(type);
        $form.append($input);
        $input = $("<input>").attr("type", "hidden").attr("name", "version").val($('input.installerVersion').val());
        $form.append($input);
        $input = $("<input>").attr("type", "file").attr("name", "file").val($('input.installerFile').val());
        //alert($input.val());
        $form.append($input);
    }
    $('form#staging').submit();
}
</script>
{/literal}
<div id="container">
    <p style="color:red;">{$err_message}</p>
    <div>
        <h3>Staging</h3>
        <table>
            <tbody>
                <tr>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Size</th>
                    <th>Hash</th>
                    <th />
                    <th class="update-td">New File</th>
                </tr>
                <tr>
                   
                    <td>Installer</td>
                    <td>{$staging_installer.version}</td> 
                    <td>{$staging_installer.file_size}</td>
                    <td>{$staging_installer.hash}</td>
                    <td>
                        <input type="button" value="release" {if !$staging_installer.appli_file_key}disabled="disabled"{/if} onclick="file_release({$staging_installer.appli_file_key})"></td>
                    <td class="update-td">
                        <form id="installer" action="appli_manager.php" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="action_upload_file" value="1">
                            <input type="hidden" name="type" value="installer">
                            <input type="text" name="version" placeholder="version">
                            <input type="file" name="upload_file">
                            <input type="submit" value="upload">
                        </form>
                    </td>
                    <td></td>
                </tr>
                <tr>
                    <td>Binary</td>
                    <td>{$staging_binary.version}</td> 
                    <td>{$staging_binary.file_size}</td>
                    <td>{$staging_binary.hash}</td>
                    <td>
                        <input type="button" value="release" {if !$staging_binary.appli_file_key}disabled="disabled"{/if} onclick="file_release({$staging_binary.appli_file_key})"></td>
                    <td class="update-td">
                        <form id="binary" action="appli_manager.php" method="post" enctype="multipart/form-data">
                            <input type="hidden" name="action_upload_file" value="1">
                            <input type="hidden" name="type" value="binary">
                            <input type="text" name="version" placeholder="version">
                            <input type="file" name="upload_file">
                            <input type="submit" value="upload">
                        </form>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr noshade size=1 width="100%" style="margin:20px 0">
        <h3>Release</h3>
        <table>
            <tbody>
                <tr>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Size</th>
                    <th>Hash</th>
                </tr>
                <tr>
                    <td>Installer</td>
                    <td>{$released_installer.version}</td> 
                    <td>{$released_installer.file_size}</td>
                    <td>{$released_installer.hash}</td>
                </tr>
                <tr>
                    <td>Binary</td>
                    <td>{$released_binary.version}</td> 
                    <td>{$released_binary.file_size}</td>
                    <td>{$released_binary.hash}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h3>Release</h3>
        <table>
            <tbody>
                <tr>
                    <th>Type</th>
                    <th>Version</th>
                    <th>Size</th>
                    <th>Hash</th>
                </tr>
                <tr>
                    <td>Installer</td>
                    <td>{$released_installer.version}</td> 
                    <td>{$released_installer.size}</td>
                    <td>{$released_installer.hash}</td>
                </tr>
                <tr>
                    <td>Binary</td>
                    <td>{$released_binary.version}</td> 
                    <td>{$released_binary.size}</td>
                    <td>{$released_binary.hash}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
