<div id="header" class="clearfix">
<h1><a href="/services/"><img src="/custom/pigeone/lang/common/images/logo.gif" alt="pigeOne!" /></a></h1>
{if !$__frame.ignore_menu.support_info}
<div class="support-info">
{t}1111111111,_('プロダクト・サポート（平日 10:00～17:00　電話受付）'){/t}<span>03-4577-8609</span>
</div>
{/if}

</div>
</div>
