{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/head.t.html" title="Meeting Detail"}
<div class="title">{t}1158,_('[Meeting Detail]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        <th nowrap>{t}1159,_('Item'){/t}</th>
        <th nowrap>{t}1160,_('Value'){/t}</th>
    </tr>
</thead>
<tbody>
    {foreach from=$meeting_detail key=key item=value}
    <tr>
        <td class="action">{$meeting_columns.$key.label}</td>
        {if $key == 'meeting_key'}
        <td>{$value|escape:'html'} | <a href="index.php?action_list&type=data&table=ping_failed&sort_key=ping_failed_id&form[meeting_key]={$meeting_detail.meeting_key}" target="_blank">PING FAILED</a></td>
        {else}
        <td>{$value|escape:'html'}</td>
        {/if}
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1161,_('[Meeting Option]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        {foreach from=$meeting_option_columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$meeting_option_list item=row}
    <tr>
        {foreach from=$meeting_option_columns key=key item=colum}
        <td>{$row[$key]|escape:'html'}{if $key=="option_key"} : ( {$row.option_name} ){/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1162,_('[DataCenter Switch]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1163,_('Action'){/t}</th>
        {foreach from=$server_change_columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$server_change_list item=row}
    <tr>
        <td class="action">
            <a href="http://{$fms.server_info[$row.server_key].server_address}:{$fms.server_info[$row.server_key].server_port}/log_filter/index.html?&app_name={$fms.app_name}&meeting_key={$meeting_detail.fms_path}{if (strnatcasecmp($meeting_detail.version, '4.5.5.0') == -1)}{$meeting_detail.meeting_key}{else}{$meeting_detail.meeting_session_id}{/if}" target="_blank">{t}1164,_('FMS Log'){/t}</a>
           (<a href="http://{$fms.server_info[$row.server_key].server_address}:{$fms.server_info[$row.server_key].server_port}/fms_log.php?&app_name={$fms.app_name}&meeting_key={$meeting_detail.fms_path}{if (strnatcasecmp($meeting_detail.version, '4.5.5.0') == -1)}{$meeting_detail.meeting_key}{else}{$meeting_detail.meeting_session_id}{/if}" target="_blank">{t}1164,_('Text'){/t}</a>)
            | <a href="index.php?action_list&type=data&table=ping_failed&sort_key=ping_failed_id&form[meeting_key]={$meeting_detail.meeting_key}&form[sequence_key]={$row.meeting_sequence_key}" target="_blank">PING FAILED</a>
        </td>
        {foreach from=$server_change_columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1165,_('[Meeting Use Period]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1163,_('Action'){/t}</th>
        {foreach from=$meeting_uptime_columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$meeting_uptime_list item=row}
    <tr>
        <td class="action">
        </td>
        {foreach from=$meeting_uptime_columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1167,_('[Reservation Detail]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        <th nowrap>{t}1159,_('Item'){/t}</th>
        <th nowrap>{t}1160,_('Value'){/t}</th>
    </tr>
</thead>
<tbody>
    {foreach from=$reservation_detail key=key item=value}
    <tr>
        <td class="action">{$reservation_columns.$key.label}</td>
        <td>{$value|escape:'html'}</td>
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1170,_('[Invitees List]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        {foreach from=$invite_columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$invite_list item=row}
    <tr>
        {foreach from=$invite_columns key=key item=colum}
        <td>{$row[$key]|escape:'html'}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1171,_('[Participants List]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        {foreach from=$participant_columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$participant_list item=row}
    <tr>
        {foreach from=$participant_columns key=key item=colum}
        <td>{$row[$key]|escape:'html'}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1172,_('[Use Period]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        <th nowrap colspan="2">{t}4691,_('Use Period'){/t} ( {t}4692,_(' Minutes'){/t} ) </th>
    </tr>
</thead>
<tbody>
    {foreach from=$use_time key=key item=val}
    <tr>
        <td>{if !$key}{t}1174,_('Meeting Period'){/t}{else}{$key|escape:'html'}{/if}</td>
        <td>{$val|escape:'html'}</td>
    </tr>
    {/foreach}
</tbody>
</table>
<br />
<div class="title">{t}1175,_('[Document List]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        {foreach from=$document_columns key=key item=column}
        <th nowrap>{$column.label|escape:'html'}</th>
        {/foreach}
        <th>{t}1071,_('First Page'){/t}</th>
    </tr>
</thead>
<tbody>
    {foreach from=$document_list item=row}
    <tr>
        {foreach from=$document_columns key=key item=colum}
        <td>{$row[$key]|escape:'html'}</td>
        {/foreach}
        <td>
        {if $row.document_status == '2'}
        {if $row.document_format == 'bitmap'}
        <a target="_blank" href="{$smarty.const.N2MY_BASE_URL}/docs/{$row.document_path|escape:'html'}/{$row.document_id|escape:'html'}/{$row.document_id|escape:'html'}_1.jpg">{t}1072,_('Image'){/t}</a>
        {elseif $row.document_format == 'vector'}
        <a target="_blank" href="{$smarty.const.N2MY_BASE_URL}/docs/{$row.document_path|escape:'html'}/{$row.document_id|escape:'html'}/{$row.document_id|escape:'html'}_1.swf">SWF</a>
        {/if}
        {/if}
        </td>
    </tr>
    {/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="viewer_tool/include/foot.t.html"}
