<div class="reserve-detail-col clearfix">
<table>
{if !$__frame.ignore_menu.display_room_list}
    <tr>
    <th>{t}2309,_('会議室'){/t}</th>
    <td><span class="roomKey">{$__frame.room_list[$reservation_data.info.room_key].room_info.room_name|escape:"html"}
        {if $__frame.room_list[$reservation_data.info.room_key].options.desktop_share or
        $__frame.room_list[$reservation_data.info.room_key].options.meeting_ssl or
        $__frame.room_list[$reservation_data.info.room_key].options.high_quality or
        $__frame.room_list[$reservation_data.info.room_key].options.h323_number}</span>
        <ul class="roomOption">{if $__frame.room_list[$reservation_data.info.room_key].options.desktop_share}<li>{t}2310,_('共有'){/t}</li>{/if}
        {if $__frame.room_list[$reservation_data.info.room_key].options.meeting_ssl}<li>{t}2311,_('暗号化'){/t}</li>{/if}
        {if $__frame.room_list[$reservation_data.info.room_key].options.high_quality}<li>{t}2312,_('高画質'){/t}</li>{/if}
        {if $__frame.room_list[$reservation_data.info.room_key].options.h323_number}<li>H323:&nbsp;{$__frame.room_list[$reservation_data.info.room_key].options.h323_number}</li>{/if}</ul>
        {/if}
    </td>
    </tr>
{/if}
<tr>
<th>{t}2314,_('予約日時'){/t}</th>
<td>
    {$reservation_data.info.reservation_starttime|date_format:"%Y/%m/%d %H:%M"} &#65374;
    {$reservation_data.info.reservation_endtime|date_format:"%Y/%m/%d %H:%M"}&nbsp;
    (GMT {if $reservation_data.info.reservation_place >= 0}+{/if}{$reservation_data.info.reservation_place})
</td>
</tr>
<tr>
<th>{t}2315,_('会議名'){/t}</th>
<td>{$reservation_data.info.reservation_name|escape:"html"}</td>
</tr>
<tr>
<th>{t}2316,_('パスワード'){/t}</th>
<td>{if $reservation_data.info.reservation_pw}{t}2317,_('有り'){/t}
      ( {if $reservation_data.info.reservation_pw_type != "2"}{t}6599,_('会議記録と入室'){/t}{else}{t}6600,_('会議記録'){/t}{/if} )
      {if $reservation_data.pw_flg == 2} ( {t}4396,_('変更しない ){/t}{/if}
    {else}{t}4397,_('無し'){/t}{/if}
</td>
</tr>

{if $reservation_data.info.room_option.multicamera > 0}
<tr class="multiCameraSection">
<th>{t}6603,_('マルチカメラ'){/t}</th>
<td>{if $reservation_data.info.is_multicamera == 1}{t}6545,_('使用する'){/t}{else}{t}6546,_('使用しない'){/t}{/if}</td>
</tr>
{/if}

<tr class="limitedFunctionSection">
<th>{t}6607,_('機能制限'){/t}</th>
<td>{if $reservation_data.info.is_limited_function == 1}
<dl>
    {if $reservation_data.info.room_option.telephone > 0}<dt>{t}6608,_('音声通話'){/t}：{if $reservation_data.info.is_telephone == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.h323_number > 0}<dt>H.323：{if $reservation_data.info.is_h323 == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.mobile_phone_number > 0}<dt>{t}6609,_('携帯'){/t}：{if $reservation_data.info.is_mobile_phone == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.high_quality > 0}<dt>{t}6610,_('高画質'){/t}：{if $reservation_data.info.is_high_quality == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.desktop_share > 0}<dt>{t}6611,_('共有'){/t}：{if $reservation_data.info.is_desktop_share == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    {if $reservation_data.info.room_option.meeting_ssl > 0}<dt>{t}6612,_('暗号化'){/t}：{if $reservation_data.info.is_meeting_ssl == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    <dt>{t}6613,_('会議室内招待'){/t}：{if $reservation_data.info.is_invite_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    <dt>{t}6614,_('録画'){/t}：{if $reservation_data.info.is_rec_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>
    {if $reservation_data.info.room_option.cabinet > 0}<dt>{t}6615,_('ファイル転送'){/t}：{if $reservation_data.info.is_cabinet_flg == 1}{t}6604,_('制限しない'){/t}{else}{t}6605,_('制限する'){/t}{/if}</dt>{/if}
    <!-- dt>ホワイトボードページ番号：{if $reservation_data.info.is_wb_no_flg == 1}{t}6604,_('使用する'){/t}{else}{t}6605,_('使用しない'){/t}{/if}</dt -->
</dl>
{else}{t}6604,_('制限しない'){/t}{/if}
</td>
</tr>

{if !$__frame.ignore_menu.invite}
{if $reservation_data.guests && $reservation_data.guest_flg}
    {foreach from=$reservation_data.guests item=guest name=guests}
    <tr>
    {if $smarty.foreach.guests.first}
        <th scope="row" rowspan="{$smarty.foreach.guests.total}" />{t}2318,_('参加者'){/t}</th>
    {/if}
    <td>
    <dl class="detail-people">
    <dt class="name">{$guest.name|escape:'html'}{if $__frame.lang == "ja_JP"} 様{/if}
    {foreach from=$__frame.lang_list key=lang_key item=lang_name}
    {if $guest.lang == $lang_key}( {$lang_name} ){/if}
    {/foreach}
    {if $guest.type == "1"}
    <span class="audience"> [ {t}2319,_('オーディエンス'){/t} ]</span>
    {/if}
    </dt>
    <dd class="mail">{$guest.email|escape:'html'}</dd>
    <dd class="timezone">{if $guest.timezone == "100"}{t}2320,_('予約者と同じタイムゾーン'){/t}{else}GMT {if $guest.timezone >= 0}+{/if}{$guest.timezone}{/if}</dd>
    </dl>
    </td>
    </tr>
    {/foreach}
    {if $reservation_data.info.sender}
        <tr>
        <th scope="row" />{t}2321,_('差出人'){/t}</th>
        <td>
        <dl class="detail-people">
        <dt class="name-s">{$reservation_data.info.sender|escape:"html"}{if $__frame.lang == "ja_JP"} 様{/if}</dt>
        <dd class="mail-s">{$reservation_data.info.sender_mail|escape:"html"}</dt>
        <dd class="comment-s">{$reservation_data.info.mail_body|escape:"html"|nl2br}</dd>
        </dl>
        </td>
        </tr>
    {/if}
    {else}
    <tr>
    <th scope="row">{t}2318,_('参加者'){/t}</th>
    <td>{t}2323,_('参加者は登録されていません'){/t}</td>
    </tr>
    {/if}
    {if $reservation_data.mail_send_type != null}
	<tr>
		<th>{t}8017,_('メール通知'){/t}</th>
		<td>
			{if $reservation_data.mail_send_type == 2}{t}8018,_('全員送信'){/t}
			{elseif $reservation_data.mail_send_type == 1}{t}8020,_('追加・変更・削除した参加者にのみ送信'){/t}
			{else}{t}8019,_('送信しない'){/t}
			{/if}
		</td>
	</tr>
	{/if}
    {if $reservation_data.guests && $reservation_data.guest_flg}
      <tr>
        <th>{t}8013,_('リマインダー'){/t}</th>
        <td>
          {if $reservation_data.info.is_reminder_flg == 1}{t}2353,_('設定する'){/t}{/if}
          {if $reservation_data.info.is_reminder_flg != 1}{t}2350,_('設定しない')){/t}{/if}
        </td>
      </tr>
    {/if}
{/if}

{if $reservation_data.documents && ($upload_status || $is_detail)}
{if !$is_detail && !$reservation_data.upload_flg}
{foreach from=$not_change_reservation_data.documents key=document_id item=document name=documents}
<tr>
{if $smarty.foreach.documents.first}
    <th scope="row" rowspan="{$smarty.foreach.documents.total}">{t}992384,_('資料事前<br />アップロード'){/t}</th>
{/if}
    <td>
        <div class="document-list">
            <p class="base">
            {if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.index} )" alt="" border=0>{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}

            [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
            elseif $document.status == 1}{t}4581,_('変換中'){/t}{
            elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
            elseif $document.status == 3}{t}2370,_('削除'){/t}{
            else}{t}4586,_('エラー'){/t}{
            /if}</span> ]
            </p>
{section name=cnt start=1 loop=$document.index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.index} )" alt="" border=0 /></a>
{/section}
        </div>
    </td>
</tr>
{/foreach}
{else}
{foreach from=$reservation_data.documents key=document_id item=document name=documents}
<tr>
{if $smarty.foreach.documents.first}
    <th scope="row" rowspan="{$smarty.foreach.documents.total}">{t}2384,_('資料事前<br />アップロード'){/t}</th>
{/if}
{if ($is_detail || $reservation_data.upload_flg && !$document.delete)}
    <td>
        <div class="document-list">
            <p class="base">
            {if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.index} )" alt="" border=0>{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}

            [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
            elseif $document.status == 1}{t}4581,_('変換中'){/t}{
            elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
            elseif $document.status == 3}{t}2370,_('削除'){/t}{
            else}{t}4586,_('エラー'){/t}{
            /if}</span> ]
            </p>
{section name=cnt start=1 loop=$document.index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.index} )" alt="" border=0 /></a>
{/section}
        </div>
    </td>
{/if}
</tr>
{/foreach}
{/if}
{else if !$reservation_data.documents ||
         $reservation_data.documents && !$upload_status}
<tr>
<th scope="row">{t}2384,_('資料事前<br />アップロード'){/t}</th>
<td>{t}2326,_('資料は登録されていません'){/t}</td>
</tr>
{/if}
{if $reservation_data.documents && $reservation_data.delete_documents}
{foreach from=$reservation_data.delete_documents key=document_id item=document name=documents}
{if $smarty.foreach.documents.first}
<tr>
<th scope="row" rowspan="{$smarty.foreach.documents.total}">{t}2327,_('削除資料リスト'){/t}</th>
{/if}
<td>
<div class="documentList">
{if $document.name}
<p class="base">{$document.name|escape:"html"}
    [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4563,_('変換待ち'){/t}{
    elseif $document.status == 1}{t}4564,_('変換中'){/t}{
    elseif $document.status == 2}{t}4565,_('変換完了'){/t}{
    elseif $document.status == 3}{t}4566,_('削除'){/t}{
    else}{t}4567,_('エラー'){/t}{
    /if}</span> ]
    </p>
{/if}</div>
</td>
</tr>
{/foreach}
{/if}
</table>
</div>
