<div class="reserve-col clearfix">
<!-- h3>{t}2341,_('予約情報'){/t}</h3 -->

<table>
<col class="key" />
<col class="value" />
<tr class="room-col">
<th>{t}2342,_('会議室'){/t}</th>
<td>
{if !$__frame.ignore_menu.display_room_list && !$reservation_data.info.meeting_key}
    <select name="info[room_key]" id="roomKey">
    {if $is_ss_watcher_account}
        {foreach from=$__frame.room_list item=room}
            {if $room.room_info.room_key == $reservation_data.info.room_key }
            <option value="{$room.room_info.room_key}" selected="selected">{$room.room_info.room_name|escape:"html"}</option>
            {/if}
        {/foreach}
    {else}
        {foreach from=$__frame.room_list item=room}
            <option value="{$room.room_info.room_key}"{if $reservation_data.info.room_key == $room.room_info.room_key} selected="selected"{/if}>{$room.room_info.room_name|escape:"html"}</option>
        {/foreach}
    {/if}
    </select>
{elseif $reservation_data.info.meeting_key}
    <input type="hidden" id="roomKey" value="{$reservation_data.info.room_key}" />
    {$__frame.room_list[$reservation_data.info.room_key].room_info.room_name|escape:"html"}
{else}
    <input type="hidden" id="roomKey" value="{$reservation_data.info.room_key}" />
    {$__frame.room_list[$reservation_data.info.room_key].room_info.room_name|escape:"html"}
{/if}
{if $reservation_data.info.room_option.desktop_share or
    $reservation_data.info.room_option.high_quality or
    $reservation_data.info.room_option.teleconference or
    $reservation_data.info.room_option.video_conference or
    $reservation_data.info.room_option.h264 or
    $reservation_data.info.room_option.GlobalLink or
    $reservation_data.info.room_option.ChinaFastLine or
    $reservation_data.info.room_option.h323_number or
    $reservation_data.info.room_option.record_gw }
    <ul class="roomOption">
        {if $reservation_data.info.room_option.desktop_share}<li>{t}2343,_('PC画面共有'){/t}</li>{/if}
        {if $reservation_data.info.room_option.high_quality}<li>{t}2345,_('高画質'){/t}</li>{/if}
        {if $reservation_data.info.room_option.teleconference}<li>{t}6576,_('電話連携'){/t}</li>{/if}
        {if $reservation_data.info.room_option.video_conference}<li>{t}8445,_('テレビ会議'){/t}:&nbsp;{$reservation_data.info.room_option.video_conference_number}</li>{/if}
        {if $reservation_data.info.room_option.h264}<li>H.264:{if $reservation_data.info.room_option.h264_use_flg}ON{else}OFF{/if}</li>{/if}
        {if $reservation_data.info.room_option.GlobalLink}<li>{t}8446,_('GlobalLink'){/t}</li>{/if}
        {if $reservation_data.info.room_option.ChinaFastLine}<li>{t}7934,_('China FastLine'){/t}</li>{/if}
        {if $reservation_data.info.room_option.h323_number}<li>H323:&nbsp;{$reservation_data.info.room_option.h323_number}</li>{/if}
        {if $reservation_data.info.room_option.record_gw}<li>{t}6577,_('録画GW'){/t}</li>{/if}
    </ul>
{/if}
{if $__frame.user_info.use_port_plan == "1" && $__frame.user_info.entry_mode !== "0"}
    <br>
    <br>
    {t}9373,_('選択した部屋に入れる最大の人数です。'){/t}
    <table>
        <th >{t}567,_('通常ユーザー'){/t}</font></th>
        <th >{t}9193,_('資料共有ユーザ'){/t}</font></th>
        <tr>
        {if $__frame.room_list[$reservation_data.info.room_key].options.whiteboard}
            <td >0{t}7634,_('人'){/t}</td>
        {else}
            <td >{$__frame.room_list[$reservation_data.info.room_key].room_info.max_seat}{t}7634,_('人'){/t}</td>
        {/if}
        <td >{$__frame.room_list[$reservation_data.info.room_key].room_info.max_whiteboard_seat}{t}7634,_('人'){/t}</td>
    </table>
{/if}
</td>
</tr>

<tr class="date-col">
<th>{t}2347,_('予約日時'){/t}</th>
<td>
{if $reservation_data.info.status != "now"}
    {* calendar *}
    {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="user/reservation/calender.t.html"}
{else}
    {$reservation_data.info.reservation_starttime|date_format:"%Y/%m/%d %H:%M"} &#65374;
    {$reservation_data.info.reservation_endtime|date_format:"%Y/%m/%d %H:%M"}&nbsp;&nbsp;
    (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
{/if}
</td>
</tr>
{if $__frame.user_info.use_port_plan == "1" && $__frame.user_info.entry_mode !== "0"}
  <tr class="port-count">
    <th >{t}9387,_('最大参加者数'){/t}</th>
    <td>
        <p>
            <span class="button button22">
              <span class="button-inner">
                <input id="view_restPortButton" class="icon i-search" type="button" onclick ="view_restPort('{$reservation_data.info.room_key}','{$reservation_data.info.reservation_session}')" value="{t}9353,_('空き状況更新'){/t}"></input>
              </span>
            </span>
            <font color="#ff0000">{t}9393,_('最大参加者数を設定する前に、「空き状況更新」ボタンをクリックしてください。'){/t}</font>
        </p>
        <span>
            {if $reservation_data.info.max_port} {$reservation_data.info.max_port} {t}6525,_('→'){/t} {/if}
            <select id="select_max_port" name="info[max_port]"></select>
        </span>
    <span id="rest_port"></span>
  </td>
  </tr>
{/if}

<tr class="name-col">
<th>{t}2348,_('会議名'){/t}</th>
<td>
{if $reservation_data.info.status != "now"}
    <input name="info[reservation_name]" id="reservationName" type="text" class="input-title" value="{$reservation_data.info.reservation_name|escape:"html"}"/>
{else}
    {$reservation_data.info.reservation_name|escape:"html"}
{/if}
</td>
</tr>

<!-- 詳細設定 -->
<tr>
<th>{t}8502,_('詳細設定'){/t}</th>
<td class="detail_setting">
{if !$__frame.ignore_menu.invite}
{if !($reservation_data.has_guest == 1 && $reservation_data.is_modified == 1) && $__frame.service_mode !="sales" }
<p class="detail_setting_ti">
<input type="checkbox" id="guest_on" name="guest_flg" value="1" {if $reservation_data.guest_flg == 1} checked="checked"{/if}/><label for="guest_on">{t}8503,_('招待メール設定'){/t}</label><span class="open_arrow">{t}8504,_('開く'){/t}</span></p>
{else}
<input type="hidden" id="guest_on" name="guest_flg" value="1">
{/if}


    <!-- ここから動的に表示ON/OFF -->
    <div id="guest-col" class="clearfix detail_setting_cont"{if $reservation_data.guest_flg != 1} style="display: none;"{/if}>

    {if !$__frame.ignore_menu.reservation_remainder}
    <div id="reminder-sec" {if $reservation_data.guest_flg == 0}style="display:none"{/if} class="check-area">
    <p><input type="checkbox" id="is_reminder_flg_on" name="info[is_reminder_flg]" value="1" {if $reservation_data.info.is_reminder_flg == "1"}checked="checked"{/if}/><label for="is_reminder_flg_on">{t}8013,_('リマインダー'){/t}</label><span id="target1" class="question">{t}6508,_('？'){/t}</span></p>
    <div id="tooltip1" class="tooltip">{t}8014,_('※「利用する」を選択すると、会議開始の1～2時間前に各参加者へ開催通知を再送信します。<br />会議開始時刻が1時間以内の場合は送信されません。'){/t}</div>
    </div>
    {else}
    <input type="hidden" name="info[is_reminder_flg]" value="0">
    {/if}
    <!-- ここまでリマインダー -->

    {if $__frame.user_info.guest_mail_type == 1 && $custom_dir == "common"}
    <div id="mail-type-sec" {if $reservation_data.guest_flg == 0}style="display:none"{/if} class="check-area">
    <p>
    <input type="checkbox" id="mail_type_on" name="info[mail_type]" value="html" {if $reservation_data.info.mail_type == "html"}checked="checked"{/if}/><label for="mail_type_on">{t}8512,_('メールHTML化'){/t}</label></p>
    </div>
    {/if}
    <!-- ここまでメールHTML化 -->

    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' && $__frame.service_mode !="sales" && $__frame.user_info.meeting_version >= "4.7.0.0"}
    <div class="clear"></div>
    <div id="authority-sec" class="clear">
        <span class="sec-ti">{t}8995,_('議長'){/t}</span>
        <span id="target14" class="question">{t}6508,_('？'){/t}</span>
        <div id="tooltip14" class="tooltip">{t}8996,_('議長モードを設定することができます。<br />議長モードは入室者の発言や映像を制限することができます。'){/t}</div>
        <p class="form-txt">
        {if $reservation_data.info.status != "now"}
            <input type="checkbox" id="authority_on" name="info[is_authority_flg]" value="1" {if $reservation_data.info.is_authority_flg == "1"}checked="checked"{/if} {if $reservation_data.info.status == "now"}disabled="disabled"{/if}/><label for="authority_on">{t}2353,_('設定する'){/t}</label><span>（{t}9042,_('尚、モバイル端末での予約議長はご利用になれません。'){/t}）</span>
        {elseif $reservation_data.info.is_authority_flg == 1}
            <input type="checkbox" id="authority_on" value="1" checked="checked" disabled="disabled"/><label for="authority_on">{t}2353,_('設定する'){/t}</label>
            <input type="hidden" name="info[is_authority_flg]" value="1">
        {else}
            <input type="hidden" id="authority_on" value="0" />&nbsp;
            {t}4575,_('設定なし'){/t}
        {/if}
        </p>
        <div id="authority_form" {if $reservation_data.info.is_authority_flg != 1} style="display: none;"{/if}>
            {if $is_modified != true}
            <p class="form-txt">{t}8997,_('議長の情報を入力してください。'){/t}</p>
            {else}
            <p class="form-txt">{t}8998,_('議長を変更する・新たに設定する場合は、変更後の議長情報を入力してください。'){/t}</p>
            {/if}
            <dl id="mailSender" class="clearfix">
                <input name="authority[r_user_session]" value="{$reservation_data.authority.r_user_session|escape:'html'}" type="hidden">
                <dt>{t}2378,_('名前'){/t} : </dt>
                <dd>
                    <input name="authority[name]" type="text" class="input-name" id="authority_name" value="{$reservation_data.authority.name|escape:"html"}" />
                    {if $is_modified != true}
                    <input type="checkbox" id="authority_name_save" name="authority_name_save" value="1" {if $reservation_data.authority_name_save == 1} checked="checked"{/if}>{t}7876,_('この情報を保存する'){/t}
                    {/if}
                </dd>
                <dt>{t}2379,_('メールアドレス'){/t} : </dt>
                <dd>
                    <input name="authority[email]" type="text" class="input-mail" id="authority_mail" value="{$reservation_data.authority.email|escape:"html"}" />
                    {if $is_modified != true}
                    <input type="checkbox" id="authority_email_save" name="authority_email_save" value="1" {if $reservation_data.authority_email_save == 1} checked="checked"{/if}>{t}7876,_('この情報を保存する'){/t}
                    {/if}
                </dd>
                <dt>{t}2367,_('言語'){/t} : </dt>
                <dd>
                  <select name="authority[lang]">
                  {foreach from=$__frame.lang_list key=lang_key item=lang_name}
                    <option value="{$lang_key}" {if $lang_key == $reservation_data.authority.lang|default:$member.lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
                  {/foreach}
                  </select>
                </dd>
                <dt>{t}2368,_('タイムゾーン'){/t} : </dt>
                <dd>
                    <select name="authority[timezone]">
                        <option value="100" {if $reservation_data.authority.timezone == "100"}selected="selected"{/if}>{t}2361,_('予約者と同じ'){/t}</option>
                        {foreach from=$__frame.time_zone_list item=tz}
                        <option value="{$tz.key}"{if $tz.key === $reservation_data.authority.timezone|default:$member.timezone} selected="selected"{/if}>GMT {if $tz.key >= 0}+{/if}{$tz.key}</option>
                        {/foreach}
                    </select>
                </dd>
            </dl>
        </div>
    </div>
    {else}
    <input type="hidden" id="authority_on" value="0" />&nbsp;
    {/if}
    <!-- ここまで議長権設定 -->

    <div id="guest-sec" class="clear">
    <span class="sec-ti">{t}2358,_('参加者'){/t}</span>
    {if $__frame.user_info.account_model != "free" && $__frame.member_info.member_type != "free"}
    <span class="button button22 b22-blue" id="address_book"><span class="button-inner">
    <input type="button" value="{t}2359,_('アドレス帳を開く'){/t}" class="icon i-address" />
    </span></span>
    {/if}
    <p class="form-txt">{t}2360,_('招待したい方の情報を入力してください。招待可能な人数は契約内容をご確認ください。'){/t}</p>

    <div id="guests" style="display: none;">
    {t}2378,_('名前'){/t} :
    <input type="text" id="name" name="name" value="" size="13" class="input-name" />
    <input type="hidden" id="member_key" name="member_key" value="" />
    &nbsp;{t}2379,_('メールアドレス'){/t} :
    <input type="text" id="email" name="email" value="" size="30" class="input-mail" />
    &nbsp;
    <br />
    <select id="lang" name="lang">
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        <option value="{$lang_key}" {if $lang_key == $guest.r_user_lang|default:$cookie_lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
        {/foreach}
    </select>
    <select id="timezone" name="timezone">
        <option value="100">{t}2361,_('予約者と同じ'){/t}</option>
        {foreach from=$__frame.time_zone_list item=tz}
        <option value="{$tz.key}"{if $guest.r_user_place === $tz.key} selected="selected"{/if}>{$tz.value}</option>
        {/foreach}
    </select>
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
        <select id="type" name="type">
        <option value="">{t}2362,_('通常ユーザ'){/t}</option>
        <option value="1" >{t}2363,_('オーディエンス'){/t}</option>
        </select>
    {/if}
    </div>

    <a href="javascript:void(0);" class="icon_question go_timezone" id="go_timezone">{t}2364,_('タイムゾーンについて'){/t}</a>
    {if $__frame.service_mode =="sales"}
    <table id="sales-guest-table">
    <col class="name" />
    <col class="email" />
    <col class="lang" />
    <col class="time" />
    <thead>
    <tr>
    <th>{t}2365,_('名前'){/t}</th>
    <th>{t}2366,_('メール'){/t}</th>
    <th>{t}2367,_('言語'){/t}</th>
    <th>{t}2368,_('タイムゾーン'){/t}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <input name="guest[r_user_session]" value="{$reservation_data.guest.r_user_session|escape:'html'}" type="hidden">
    <input name="guest[member_key]" value="{$reservation_data.guest.member_key|escape:'html'}" type="hidden">
    <td>
    <input class="input-name" name="guest[name]" value="{$reservation_data.guest.name|escape:'html'}" type="text" />
    </td>
    <td>
    <input class="input-mail" name="guest[email]" value="{$reservation_data.guest.email|escape:'html'}" type="text" />
    </td>
    <td>
    <select name="guest[lang]">
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        <option value="{$lang_key}" {if $lang_key == $reservation_data.guest.lang|default:$cookie_lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
        {/foreach}
    </select>
    </td>
    <td>
    <select name="guest[timezone]">
        <option value="100" {if $reservation_data.guest.timezone == "100"}selected="selected"{/if}>{t}2361,_('予約者と同じ'){/t}</option>
        {foreach from=$__frame.time_zone_list item=tz}
        <option value="{$tz.key}"{if $reservation_data.guest.timezone === $tz.key} selected="selected"{/if}>GMT {if $tz.key >= 0}+{/if}{$tz.key}</option>
        {/foreach}
    </select>
    </td>
    </tr>
    </tbody>
    </table>
    {else}
    <table id="table1" onclick="return myTableHandler.call(this, event);">
    <col class="name" />
    <col class="email" />
    <col class="lang" />
    <col class="time" />
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
        <col class="type" />
    {/if}
    <col class="delete" />
    <thead>
    <tr>
    <th>{t}2365,_('名前'){/t}</th>
    <th>{t}2366,_('メール'){/t}</th>
    <th>{t}2367,_('言語'){/t}</th>
    <th>{t}2368,_('タイムゾーン'){/t}</th>
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
        <th>{t}2369,_('タイプ'){/t}</th>
    {/if}
    <th>{t}2370,_('削除'){/t}</th>
    </tr>
    </thead>
    <tbody>
    {foreach from=$reservation_data.guests item=guest}
    <tr>
    <input name="guests[r_user_session][]" value="{$guest.r_user_session|escape:'html'}" type="hidden">
    <input name="guests[member_key][]" value="{$guest.member_key|escape:'html'}" type="hidden">
    <td>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' || ($__frame.user_info.account_model == 'member' && ($__frame.user_info.external_user_invitation_flg || $__frame.user_info.external_member_invitation_flg))}
        <input class="input-name" name="guests[name][]" value="{$guest.name|escape:'html'}" type="text" />
    {else}
        <input class="input-name disabled" name="guests[name][]" value="{$guest.name|escape:'html'}" type="text" readonly="readonly" />
    {/if}
    </td>
    <td>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' || ($__frame.user_info.account_model == 'member' && ($__frame.user_info.external_user_invitation_flg || $__frame.user_info.external_member_invitation_flg))}
        <input class="input-mail" name="guests[email][]" value="{$guest.email|escape:'html'}" type="text" />
    {else}
        <input class="input-mail disabled" name="guests[email][]" value="{$guest.email|escape:'html'}" type="text" readonly="readonly" />
    {/if}
    </td>
    <td>
    <select name="guests[lang][]">
        {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        <option value="{$lang_key}" {if $lang_key == $guest.lang|default:$cookie_lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
        {/foreach}
    </select>
    </td>
    <td>
    <select name="guests[timezone][]">
    <option value="100" {if $guest.r_user_place == "100"}selected="selected"{/if}>{t}2361,_('予約者と同じ'){/t}</option>
        {foreach from=$__frame.time_zone_list item=tz}
        <option value="{$tz.key}"{if $guest.timezone === $tz.key} selected="selected"{/if}>GMT {if $tz.key >= 0}+{/if}{$tz.key}</option>
        {/foreach}
    </select>
    </td>
    {if $__frame.room_list[$reservation_data.info.room_key].room_info.max_audience_seat > 0}
    <td>
        <select name="guests[type][]">
        <option value="">{t}2362,_('通常ユーザ'){/t}</option>
        <option value="1"{if $guest.type == "1"} selected="selected"{/if}>{t}2363,_('オーディエンス'){/t}</option>
        </select>
    </td>
    {/if}
    <td><input type="button" name="invite_del" value="" class="del_btn" /></td>
    </tr>
    {/foreach}
    </tbody>
    </table>

    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' || ($__frame.user_info.account_model == 'member' && ($__frame.user_info.external_user_invitation_flg || $__frame.user_info.external_member_invitation_flg))}
        <p class="add-sec">
        <span class="button button25"><span class="button-inner"><input type="button" id="add_invite" value="{t}2375,_('参加者追加'){/t}" class="icon i-add" />
        </span></span></p>
    {/if}
    {/if}
    </div>

    <!-- スタッフ -->
    {if $__frame.service_mode =="sales"}
    <div id="staff-sec" class="clearfix">
        <span class="sec-ti">{t}8496,_('スタッフ'){/t}</span>
        <p class="form-txt">{t}8505,_('スタッフの情報を入力してください。'){/t}</p>
        <table id="sales-staff-table">
        <col class="name" />
        <col class="email" />
        <col class="lang" />
        <col class="time" />
        <thead>
        <tr>
        <th>{t}2365,_('名前'){/t}</th>
        <th>{t}2366,_('メール'){/t}</th>
        <th>{t}2367,_('言語'){/t}</th>
        <th>{t}2368,_('タイムゾーン'){/t}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <input name="staff[r_user_session]" value="{$reservation_data.staff.r_user_session|escape:'html'}" type="hidden">
        <input name="staff[member_key]" value="{$reservation_data.staff.member_key|default:$member.member_key}" type="hidden" />
        <td>
        <input class="input-name" name="staff[name]" value="{$reservation_data.staff.name|default:$member.member_name|escape:'html'}" type="text" />
        </td>
        <td>
        <input class="input-mail" name="staff[email]" value="{$reservation_data.staff.email|default:$member.member_email|escape:'html'}" type="text" />
        </td>
        <td>
        <select name="staff[lang]">
            {foreach from=$__frame.lang_list key=lang_key item=lang_name}
            <option value="{$lang_key}" {if $lang_key == $reservation_data.staff.lang|default:$member.lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
            {/foreach}
        </select>
        </td>
        <td>
        <select name="staff[timezone]">
            <option value="100" {if $reservation_data.staff.timezone == "100"}selected="selected"{/if}>{t}2361,_('予約者と同じ'){/t}</option>
            {foreach from=$__frame.time_zone_list item=tz}
            <option value="{$tz.key}"{if $tz.key === $reservation_data.staff.timezone|default:$member.timezone} selected="selected"{/if}>GMT {if $tz.key >= 0}+{/if}{$tz.key}</option>
            {/foreach}
        </select>
        </td>
        </tr>
        </tbody>
        </table>
    </div>
    
    <!-- MTGVFOUR-827 監視者 -->
      <div class="clear"></div>
      <div id="authority-sec" class="clear">
        <span class="sec-ti">{t}9439,_('監視者'){/t}</span>
        <span id="target14" class="question">{t}6508,_('？'){/t}</span>
        <div id="tooltip14" class="tooltip">{t}9440,_('監視者を設定することができます。'){/t}</div>
        <p class="form-txt"> 
        {if $reservation_data.info.status != "now"}
            <input type="checkbox" id="manager_on" name="is_manager" value="1" {if $reservation_data.info.is_manager == "1"}checked="checked"{/if}/><label for="manager_on">{t}2353,_('設定する'){/t}</label><span>（{t}9447,_('モバイル端末からはご利用になれません'){/t}）</span>
        {elseif $reservation_data.info.is_manager == 1}
            <input type="checkbox" id="manager_on" value="1" checked="checked" disabled="disabled"/><label for="manager_on">{t}2353,_('設定する'){/t}</label><span>（{t}9447,_('モバイル端末からはご利用になれません'){/t}）</span>
            <input type="hidden" name="is_manager" value="1">
        {else}
            <input type="checkbox" id="manager_on" name="is_manager" value="1" /><label for="manager_on">{t}2353,_('設定する'){/t}</label><span>（{t}9447,_('モバイル端末からはご利用になれません'){/t}）</span>
        {/if}
        </p>
        <div id="manager_form" {if $reservation_data.info.is_manager != "1"} style="display: none;"{/if}>        
        {if $is_modified != true}
            <p class="form-txt">{t}9441,_('監視者の情報を入力してください。'){/t}</p>
            {else}
            <p class="form-txt">{t}9442,_('監視者を変更する・新たに設定する場合は、変更後の監視者情報を入力してください。'){/t}</p>
            {/if}
            <dl id="mailSender" class="clearfix">
                <input name="manager[r_user_session]" value="{$reservation_data.manager.r_user_session|escape:'html'}" type="hidden">
                <dt>{t}2378,_('名前'){/t} : </dt>
                <dd>
                    <input name="manager[name]" type="text" class="input-name" id="manager_name" value="{$reservation_data.manager.name|escape:"html"}" />
                    {if $is_modified != true}
                      <input type="checkbox" id="manager_name_save" name="manager_name_save" value="1" {if $reservation_data.manager_name_save == 1} checked="checked"{/if}>{t}7876,_('この情報を保存する'){/t}
                    {/if}
                </dd>
                <dt>{t}2379,_('メールアドレス'){/t} : </dt>
                <dd>
                    <input name="manager[email]" type="text" class="input-mail" id="manager_mail" value="{$reservation_data.manager.email|escape:"html"}" />
                    {if $is_modified != true}
                      <input type="checkbox" id="manager_email_save" name="manager_email_save" value="1" {if $reservation_data.manager_email_save == 1} checked="checked"{/if}>{t}7876,_('この情報を保存する'){/t}
                    {/if}
                </dd>
                <dt>{t}2367,_('言語'){/t} : </dt>
                <dd>
                  <select name="manager[lang]">
                  {foreach from=$__frame.lang_list key=lang_key item=lang_name}
                    <option value="{$lang_key}" {if $lang_key == $reservation_data.manager.lang|default:$member.lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
                  {/foreach}
                  </select>
                </dd>
                <dt>{t}2368,_('タイムゾーン'){/t} : </dt>
                <dd>
                    <select name="manager[timezone]">
                        <option value="100" {if $reservation_data.manager.timezone == "100"}selected="selected"{/if}>{t}2361,_('予約者と同じ'){/t}</option>
                        {foreach from=$__frame.time_zone_list item=tz}
                        <option value="{$tz.key}"{if $tz.key === $reservation_data.manager.timezone|default:$member.timezone} selected="selected"{/if}>GMT {if $tz.key >= 0}+{/if}{$tz.key}</option>
                        {/foreach}
                    </select>
                </dd>
            </dl>
          </div>
        </div>
      {/if}
    <!-- ここまで監視者 -->

    <!-- 差出人 -->
    <div id="sender-sec" class="clearfix">
    <span class="sec-ti">{t}2376,_('差出人'){/t}</span>
    <p class="form-txt">{t}2377,_('あなたの名前、メールアドレス、メッセージを入力してください。招待メールの差出人情報となります。'){/t}</p>
    <dl id="mailSender" class="clearfix">
    <dt>{t}2378,_('名前'){/t} : </dt>
    <dd>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
        <input name="info[sender]" type="text" class="input-name" id="sender" value="{$reservation_data.info.sender|escape:"html"}" />
        {if $is_modified != true}
        <input type="checkbox" id="name_save" name="name_save" value="1" checked="checked">{t}7876,_('この情報を保存する'){/t}
        {/if}
    {else}
        <input name="info[sender]" type="text" class="input-name disabled" id="sender" value="{$reservation_data.info.sender|escape:"html"}" readonly="readonly" />
    {/if}
    </dd>
    <dt>{t}2379,_('メールアドレス'){/t} : </dt>
    <dd>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' }
        <input name="info[sender_mail]" type="text" class="input-mail" id="senderMail" value="{$reservation_data.info.sender_mail|escape:"html"}" />
        {if $is_modified != true}
        <input type="checkbox" id="email_save" name="email_save" value="1" checked="checked">{t}7876,_('この情報を保存する'){/t}
        {/if}
    {else}
        <input name="info[sender_mail]" type="text" class="input-mail disabled" id="senderMail" value="{$reservation_data.info.sender_mail|escape:"html"}" readonly="readonly" />
    {/if}
    </dd>
    <dt>{t}2380,_('メッセージ'){/t} : </dt>
    <dd><textarea name="info[mail_body]" cols="80" rows="3" id="mailBody">{$reservation_data.info.mail_body|escape:"html"}</textarea></dd>
    </dl>
    {if $__frame.n2my.auto_address_book}
        <p class="form-txt">{t}2381,_('メールアドレスを自動でアドレス帳に登録します。'){/t}</p>
        <input type="radio" id="auto_addressbook_off" name="info[auto_addressbook_flg]" value="0" {if $reservation_data.info.auto_addressbook_flg != 1} checked="checked"{/if}/><label for="auto_addressbook_off">{t}2350,_('設定しない'){/t}</label>&nbsp;
        <input type="radio" id="auto_addressbook_on" name="info[auto_addressbook_flg]" value="1" {if $reservation_data.info.auto_addressbook_flg == 1} checked="checked"{/if}/><label for="auto_addressbook_on">{t}2353,_('設定する'){/t}</label>
    {/if}
    </div>
    {if $__frame.user_info.account_model != 'member' && $__frame.user_info.account_model != 'centre' && $__frame.service_mode !="sales"}
    <div id="sender-sec" class="clearfix">
    <span class="sec-ti">{t}8587,_('主催者'){/t}</span>
    <span id="target13" class="question">{t}6508,_('？'){/t}</span>
    <div id="tooltip13" class="tooltip">{t}8618,_('※会議の主催者が差出人と異なる場合にご利用ください。（例：代理で予約した場合など）<br />「差出人と同じ」もしくは「主催者名を入力する」を選択すると、招待メール等に主催者項目が追加されます。'){/t}</div>
    <p class="form-txt">
      <input type="radio" id="organizer_off" name="info[is_organizer_flg]" value="0" {if $reservation_data.info.is_organizer_flg == null || $reservation_data.info.is_organizer_flg == "0"}checked="checked"{/if}/><label for="organizer_off">{t}2350,_('設定しない'){/t}</label>&nbsp;
      {if $is_modified != true}
      <input type="radio" id="organizer_sender" name="info[is_organizer_flg]" value="2" {if $reservation_data.info.is_organizer_flg == "2"}checked="checked"{/if}/><label for="organizer_sender">{t}8613,_('差出人と同じ'){/t}</label>&nbsp;
      {/if}
      <input type="radio" id="organizer_on" name="info[is_organizer_flg]" value="1" {if $reservation_data.info.is_organizer_flg == "1"}checked="checked"{/if}/><label for="organizer_on">{t}8614,_('主催者名を入力する'){/t}</label>&nbsp;
    </p>
    <div id="orgnaizer_form" {if $reservation_data.info.is_organizer_flg != 1} style="display: none;"{/if}>
    {if $is_modified != true}
    <p class="form-txt">{t}8588,_('会議主催者の名前を入力してください。'){/t}</p>
    {else}
    <p class="form-txt">{t}8622,_('主催者を変更する・新たに設定する場合は、変更後の主催者情報を入力してください。'){/t}</p>
    {/if}
    <dl id="mailSender" class="clearfix">
    <input name="organizer[r_user_session]" value="{$reservation_data.organizer.r_user_session|escape:'html'}" type="hidden">
    <dt>{t}2378,_('名前'){/t} : </dt>
    <dd>
        <input name="organizer[name]" type="text" class="input-name" id="organizer_name" value="{$reservation_data.organizer.name|escape:"html"}" />
        {if $is_modified != true}
        <input type="checkbox" id="organizer_name_save" name="organizer_name_save" value="1" checked="checked">{t}7876,_('この情報を保存する'){/t}
        {/if}
    </dd>
    <dt>{t}2379,_('メールアドレス'){/t} : </dt>
    <dd>
        <input name="organizer[email]" type="text" class="input-mail" id="organizer_mail" value="{$reservation_data.organizer.email|escape:"html"}" />
        {if $is_modified != true}
        <input type="checkbox" id="organizer_email_save" name="organizer_email_save" value="1" checked="checked">{t}7876,_('この情報を保存する'){/t}
        {/if}
    </dd>
    <dt>{t}2367,_('言語'){/t} : </dt>
    <dd>
      <select name="organizer[lang]">
      {foreach from=$__frame.lang_list key=lang_key item=lang_name}
        <option value="{$lang_key}" {if $lang_key == $reservation_data.organizer.lang|default:$member.lang}selected="selected"{/if}>{$lang_name|escape:"html"}</option>
      {/foreach}
      </select>
    </dd>
    <dt>{t}2368,_('タイムゾーン'){/t} : </dt>
    <dd>
        <select name="organizer[timezone]">
            <option value="100" {if $reservation_data.organizer.timezone == "100"}selected="selected"{/if}>{t}2361,_('予約者と同じ'){/t}</option>
            {foreach from=$__frame.time_zone_list item=tz}
            <option value="{$tz.key}"{if $tz.key === $reservation_data.organizer.timezone|default:$member.timezone} selected="selected"{/if}>GMT {if $tz.key >= 0}+{/if}{$tz.key}</option>
            {/foreach}
        </select>
    </dd>
    </dl>
    </div>
    </div>
    {else}
    <input type="hidden" id="organizer_on" value="0" />&nbsp;
    <input type="hidden" id="organizer_sender" name="info[is_organizer_flg]" value="0" />&nbsp;
    {/if}
    </div>
    <!-- ここまで動的に表示ON/OFF -->
{/if}



<!-- ここまで招待メール設定 -->
{if $reservation_data.is_modified == 1}
<div id="mail-send-sec" {if $reservation_data.guest_flg == 0}style="display:none"{/if}>
<p class="detail_setting_ti">
<input type="checkbox" id="mail_send_on" name="mail_send_flg" value="1" {if $reservation_data.mail_send_type > 0}checked="checked"{/if}/><label for="mail_send_on">{t}8017,_('メール通知'){/t}</label></p>
<!-- ここから動的に表示ON/OFF -->
    <div id="mail_send-cont" class="clearfix detail_setting_cont" {if $reservation_data.mail_send_type == 0} style="display: none;"{/if}>
    <p>
<input type="radio" id="mail_send_all" name="mail_send_type" value="2" {if $reservation_data.mail_send_type == 2}checked="checked"{/if}/>
<label for="mail_send_all">{t}8018,_('全員送信'){/t}</label>&nbsp;&nbsp;&nbsp;
<input style="display:none;" type="radio" id="mail_send_none" name="mail_send_type" value="0" {if $reservation_data.mail_send_type == 0}checked="checked"{/if}/>
<label style="display:none;" for="mail_send_none">{t}8019,_('送信しない'){/t}</label>&nbsp;&nbsp;&nbsp;
{if $reservation_data.has_guest == 1}
<input type="radio" id="mail_send_modify" name="mail_send_type" value="1" {if $reservation_data.mail_send_type == 1}checked="checked"{/if}/>
<label for="mail_send_modify">{t}8020,_('追加・変更・削除した参加者にのみ送信'){/t}</label>&nbsp;&nbsp;
{/if}
    </div>
    </p>
</div>
{/if}
<!-- ここまでメール通知 -->


{if $reservation_data.info.status != "now"}
    <input type="hidden" name="security_pw_flg" value="{$reservation_data.info.security_pw_flg}" />
    <p class="detail_setting_ti">
{if $reservation_data.info.security_pw_flg == 0}
<input type="checkbox" id="pass_on" name="pw_flg" value="1" {if $reservation_data.pw_flg || $reservation_data.info.security_pw_flg == 1}checked="checked"{/if}/><label for="pass_on">{t}8506,_('パスワード設定'){/t}</label>
{else if}
<input type="checkbox" checked="checked" name="pw_flg" disabled="disabled" id="pass_on" />{t}8506,_('パスワード設定'){/t}
{/if}

<span class="open_arrow">{t}8504,_('開く'){/t}</span></p>

    <!-- ここから動的に表示ON/OFF -->
{if $reservation_data.info.security_pw_flg == 1}
    <input type="hidden" name="pw_flg" value="1">
    <div id="pwForm_security" class="clearfix detail_setting_cont" style="display: block; visibility: visivle;">
{else}
    <div id="pwForm" class="clearfix detail_setting_cont" {if $reservation_data.pw_flg != 1 && $reservation_data.pw_flg != 2 } style="display: none;"{/if}>
{/if}
    {if $reservation_data.info.old_reservation_pw && $reservation_data.info.meeting_key}
        <input type="radio" id="pass_change" name="change_flg" value="1" {if $reservation_data.change_flg == 1}checked="checked"{/if}/><label for="pass_change">{t}2351,_('変更する'){/t}</label>&nbsp;
        <input type="radio" id="pass_no" name="change_flg" value="2" {if $reservation_data.change_flg != 1}checked="checked"{/if}/><label for="pass_no">{t}2352,_('変更しない'){/t}</label>&nbsp;
    {else}
        <input type="hidden" id="pass_change" name="change_flg" value="1" />
    {/if}
    <div class="pass-here">
    <p class="form-txt">{t}6598,_('パスワードを設定する項目を選択してください。'){/t}</p>
    <input type="radio" id="pw_type1" name="info[reservation_pw_type]" value="1"{if $reservation_data.info.reservation_pw_type != "2"} checked="checked"{/if} /> <label for="pw_type1">{t}6599,_('会議記録と入室'){/t}</label>
    <br /><input type="radio" id="pw_type2" name="info[reservation_pw_type]" value="2"{if $reservation_data.info.reservation_pw_type == "2"} checked="checked"{/if} /> <label for="pw_type2">{t}6600,_('会議記録'){/t}</label>
    </div>
    <div class="passwordSection">
    <fieldset>
    <p class="attention">{t}6601,_('※半角英数字 6文字以上、16文字以内で入力してください'){/t}</p>
    <input name="info[reservation_pw]" type="password" class="input-pass" id="reservationPw" value="" maxlength="16" autocomplete="off" />
    <br /><input name="info[reservation_pw_confirm]" type="password" class="input-pass" id="reservationPwConfirm" value="" maxlength="16" autocomplete="off" />（ {t}6602,_('確認用'){/t} ）
    </fieldset>
    </div>
    </div>
    <!-- ここまで表示ON/OFFエリア -->

{else}
<p class="detail_setting_ti">{t}8506,_('パスワード設定'){/t}</p>
<p class="clearfix detail_setting_cont">{if ! $reservation_data.info.reservation_pw}{t}4575,_('設定なし'){/t}{else}{t}4576,_('設定有り'){/t} {if $reservation_data.info.reservation_pw_type != "2"}({t}6599,_('会議記録と入室'){/t}){elseif $reservation_data.pw_type == 2}{t}6600,_('会議記録'){/t}{/if}{/if}
<input type="hidden" id="pass_no" name="pw_flg" value="3" /></p>
{/if}
<!-- ここまでパスワード設定 -->


{if $reservation_data.info.room_option.multicamera > 0}
{if $reservation_data.info.status != "now"}
<p class="detail_setting_ti">
<input type="checkbox" onclick="multicamera_select()" id="multicamera_on" name="info[is_multicamera]" value="1" {if $reservation_data.info.is_multicamera != "0"}checked="checked"{/if}/><label for="multicamera_on" onclick="return clickFormLabel(this)">{t}6603,_('マルチカメラ'){/t}</label></p>
{else}
<p class="detail_setting_ti">{t}6603,_('マルチカメラ'){/t}:
{if $reservation_data.info.is_multicamera == "1"}{t}6545,_('使用する'){/t}{else}{t}6546,_('使用しない'){/t}
{/if}</p>
{/if}
{/if}
<!-- ここまでマルチカメラ設定 -->


{if !$__frame.ignore_menu.teleconference && $enable_teleconf}
{if $reservation_data.info.status != "now"}
    <p class="detail_setting_ti">
    {if $reservation_data.info.tc_type == "pgi"}
        <input type="checkbox" id="teleconf_flg" name="teleconf_flg" value="1" checked="checked"/>
        <label for="teleconf_flg">{t}7460,_('電話会議'){/t}</label>&nbsp;
    </p>
    <div id="teleconf-sec" class="clearfix detail_setting_cont">
    {else}
        <input type="checkbox" id="teleconf_flg" name="teleconf_flg" value="1" {if $reservation_data.info.teleconf_flg == 1}checked="checked"{/if}/>
        <label for="teleconf_flg">{t}7460,_('電話会議'){/t}</label>&nbsp;
    </p>
    <div id="teleconf-sec" class="clearfix detail_setting_cont"{if $reservation_data.info.teleconf_flg == 0} style="display: none;"{/if}>
    {/if}
    <!-- ここから動的に表示ON/OFF -->
        {if $is_trial}
        <p class='attention bold'>{t}7464,_('トライアルでは、電話会議をご利用いただくことはできません。'){/t}</p>
        {elseif !$room_info.room_info.use_teleconf}
        <p class='attention bold'>{t}7504,_('管理者設定によって電話会議の使用は無効に設定されています。'){/t}</p>
        <p class='attention bold'>{t}7505,_('ご利用になるには管理者の同意に基づき設定を有効にする必要があります。'){/t}</p>
        {/if}
        <ul>
            <li class="form-list">
                <div id="pgi_info" >
                    <p><a href='javascript:void(0);' class="icon_question go_dial" onClick='openPGiDescription()'>{t}7468,_('ダイヤルイン'){/t} / {t}7467,_('ダイヤルアウト'){/t}</a></p>
                    <table>
                    {foreach from=$pgi_dial_configs item=conf}
                        <tr>
                            <th>{if $conf.name.enable == 'use_pgi_dialin'}
                                {t}7465,_('ダイヤルイン（ローカル）'){/t}
                            {elseif $conf.name.enable == 'use_pgi_dialin_free'}
                                {t}7466,_('ダイヤルイン（フリーダイヤル）'){/t}
                            {elseif $conf.name.enable == 'use_pgi_dialout'}
                                {t}7467,_('ダイヤルアウト'){/t}
                            {elseif $conf.name.enable == 'use_pgi_dialin_lo_call'}
                                {t}9137,_('ダイヤルイン(ローコール)'){/t}
                            {/if}
                            </th>
                            <td>
                                <input type="radio" name="info[{$conf.name.enable}]" id="{$conf.name.enable}" value="1" {if $reservation_data.info[$conf.name.enable]} checked {/if} {if !$conf.enable} disabled{/if} />
                                <label for="{$conf.name.enable}">{t}6545,_('使用する'){/t}</label>
                                <input type="radio" name="info[{$conf.name.enable}]" id="{$conf.name.disable}" value="0" {if !$reservation_data.info[$conf.name.enable]} checked {/if} />
                                <label for="{$conf.name.disable}">{t}6546,_('使用しない'){/t}</label>
                            </td>
                        </tr>
                    {/foreach}
                    </table>
                </div>
            </li>
        </ul>
        <!-- voice_conference_info -->
    </div>
{/if}
{/if}
<!-- ここまで音声通話タイプ設定 -->

<!--
{if $reservation_data.info.status == "now"}
{if $reservation_data.info.room_option.video_conference > 0 && $reservation_data.info.sip_temporary_address}

<p class="detail_setting_ti">{t}7644,_('テレビ会議システム専用アドレス'){/t}</p>
{if $reservation_data.info.sip_temporary_address}
{if (!$reservation_data.info.reservation_pw || ($reservation_data.info.reservation_pw && $reservation_data.info.reservation_pw_type != "1"))}
<span class="bold">{t}7969,_('ゲストアドレス（SIP）'){/t}</span>
<br /><span class="selectaddress">{$reservation_data.info.sip_temporary_number_address}</span>
<br /><span class="selectaddress">{$reservation_data.info.sip_temporary_address}</span><br />
<span class="bold">{t}7970,_('ゲストアドレス（H.323）'){/t}</span>
<br /><span class="selectaddress">{$reservation_data.info.h323_temporary_number_address}</span>
<br /><span class="selectaddress">{$reservation_data.info.h323_temporary_address}</span>
{else}
{t}7680,_('利用できません'){/t}
{/if}
{/if}

{/if}
{/if}-->
<!-- テレビ会議システム専用アドレス設定 いらない -->
    {if $reservation_data.info.status != "now"}
    <p class="detail_setting_ti">
    <input type="checkbox" id="limited_function_on" name="info[is_limited_function]" value="1" {if $reservation_data.info.is_limited_function == 1}checked="checked"{/if}/><label for="limited_function_on">{t}6607,_('機能制限'){/t}</label><span class="open_arrow">{t}8504,_('開く'){/t}</span></p>
        <!-- ここから動的に表示ON/OFF -->
    <div id="limited_function-sec" class="clearfix detail_setting_cont"{if $reservation_data.info.is_limited_function == 0} style="display: none;"{/if}>
    <table id="orgTable" onclick="return myTableHandler.call(this, event); ">
    {if $reservation_data.info.room_option.telephone > 0}
    <tr class="telephoneSection">
    <th>{t}6608,_('音声通話'){/t}</th>
    <td><p><input type="radio" id="telephone_on" name="info[is_telephone]" value="1" {if $reservation_data.info.is_telephone != "0"}checked="checked"{/if}/><label for="telephone_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="telephone_off" name="info[is_telephone]" value="0" {if $reservation_data.info.is_telephone == "0"}checked="checked"{/if}/><label for="telephone_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.h323_number > 0}
    <tr class="h323Section">
    <th>H.323</th>
    <td><p><input type="radio" id="h323_on" name="info[is_h323]" value="1" {if $reservation_data.info.is_h323 != "0"}checked="checked"{/if}/><label for="h323_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="h323_off" name="info[is_h323]" value="0" {if $reservation_data.info.is_h323 == "0"}checked="checked"{/if}/><label for="h323_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.high_quality > 0}
    <tr class="highQualitySection">
    <th>{t}6610,_('高画質'){/t}</th>
    <td><p><input type="radio" id="high_quality_on" name="info[is_high_quality]" value="1" {if $reservation_data.info.is_high_quality != "0"}checked="checked"{/if}/><label for="high_quality_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="high_quality_off" name="info[is_high_quality]" value="0" {if $reservation_data.info.is_high_quality == "0"}checked="checked"{/if}/><label for="high_quality_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.desktop_share > 0}
    <tr class="desktopShareSection">
    <th>{t}6611,_('PC画面共有'){/t}</th>
    <td><p><input type="radio" id="desktop_share_on" name="info[is_desktop_share]" value="1" {if $reservation_data.info.is_desktop_share != "0"}checked="checked"{/if}/><label for="desktop_share_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="desktop_share_off" name="info[is_desktop_share]" value="0" {if $reservation_data.info.is_desktop_share == "0"}checked="checked"{/if}/><label for="desktop_share_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {if $__frame.service_mode == "sales"}
    <tr class="customerDesktopShareSection">
    <th>{t}8301,_('お客様側デスクトップ共有ボタン'){/t}</th>
    <td><p><input type="radio" id="is_customer_desktop_share_on" name="info[is_customer_desktop_share_flg]" value="1" {if $reservation_data.info.is_customer_desktop_share_flg != "0"}checked="checked"{/if}/><label for="is_customer_desktop_share_on">{t}8303,_('表示'){/t}</label>&nbsp;
        <input type="radio" id="is_customer_desktop_share_off" name="info[is_customer_desktop_share_flg]" value="0" {if $reservation_data.info.is_customer_desktop_share_flg == "0"}checked="checked"{/if}/><label for="is_customer_desktop_share_off">{t}8302,_('非表示'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}
    {/if}

    {if $reservation_data.info.room_option.meeting_ssl > 0}
    <tr class="meetingSslSection">
    <th>{t}6612,_('暗号化'){/t}</th>
    <td><p><input type="radio" id="meeting_ssl_on" name="info[is_meeting_ssl]" value="1" {if $reservation_data.info.is_meeting_ssl != "0"}checked="checked"{/if}/><label for="meeting_ssl_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="meeting_ssl_off" name="info[is_meeting_ssl]" value="0" {if $reservation_data.info.is_meeting_ssl == "0"}checked="checked"{/if}/><label for="meeting_ssl_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}
    {if $__frame.service_mode != "sales" && $reservation_data.info.room_option.is_invite_button && ($__frame.user_info.account_model != "member" || $__frame.user_info.external_user_invitation_flg || $__frame.user_info.external_member_invitation_flg)}
    <tr class="inviteSection">
    <th>{t}9237,_('会議内招待'){/t}</th>
    <td><p><input type="radio" id="invite_on" name="info[is_invite_flg]" value="1" {if $reservation_data.info.is_invite_flg != "0"}checked="checked"{/if}/><label for="invite_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="invite_off" name="info[is_invite_flg]" value="0" {if $reservation_data.info.is_invite_flg == "0"}checked="checked"{/if}/><label for="invite_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}
    {if $reservation_data.info.room_option.disable_rec_flg == 0}
    <tr class="recSection">
    <th>{t}6614,_('録画'){/t}</th>
    <td><p>
        <input type="radio" id="rec_on" name="info[is_rec_flg]" value="1" {if $reservation_data.info.is_rec_flg != "0"}checked="checked"{/if}/><label for="rec_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="rec_off" name="info[is_rec_flg]" value="0" {if $reservation_data.info.is_rec_flg == "0"}checked="checked"{/if}/><label for="rec_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td>
    </tr>
    {if $__frame.service_mode == "sales"}
    <tr class="autoRecSection">
    <th>{t}8294,_('自動録画'){/t}</th>
    <td><p><input type="radio" id="is_auto_rec_on" name="info[is_auto_rec_flg]" value="1" {if $reservation_data.info.is_auto_rec_flg != "0"}checked="checked"{/if}/><label for="auto_rec_on">{t}8497,_('ON'){/t}</label>&nbsp;
        <input type="radio" id="is_auto_rec_off" name="info[is_auto_rec_flg]" value="0" {if $reservation_data.info.is_auto_rec_flg == "0"}checked="checked"{/if}/><label for="is_auto_rec_off">{t}8498,_('OFF'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}
    {/if}

    {if $__frame.service_mode != "sales"  && $reservation_data.info.room_option.is_convert_wb_to_pdf == 1}
    <tr class="cabinetSection">
    <th>{t}8574,_('ホワイトボード資料PDF化'){/t}</th>
    <td><p><input type="radio" id="convert_wb_to_pdf_on" name="info[is_convert_wb_to_pdf]" value="1" {if $reservation_data.info.is_convert_wb_to_pdf != "0"}checked="checked"{/if}/><label for="convert_wb_to_pdf_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="convert_wb_to_pdf_off" name="info[is_convert_wb_to_pdf]" value="0" {if $reservation_data.info.is_convert_wb_to_pdf == "0"}checked="checked"{/if}/><label for="convert_wb_to_pdf_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $reservation_data.info.room_option.cabinet > 0}
    <tr class="cabinetSection">
    <th>{t}6615,_('ファイル転送'){/t}</th>
    <td><p><input type="radio" id="cabinet_on" name="info[is_cabinet_flg]" value="1" {if $reservation_data.info.is_cabinet_flg != "0"}checked="checked"{/if}/><label for="cabinet_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="cabinet_off" name="info[is_cabinet_flg]" value="0" {if $reservation_data.info.is_cabinet_flg == "0"}checked="checked"{/if}/><label for="cabinet_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}

    {if $__frame.service_mode == "sales"}
    <tr class="customerCameraSection">
    <th>{t}8315,_('お客様カメラ利用'){/t}</th>
    <td><p><input type="radio" id="is_customer_camera_on" name="info[is_customer_camera_flg]" value="1" {if $reservation_data.info.is_customer_camera_flg == "1"}checked="checked"{/if}/><label for="is_customer_camera_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="is_customer_camera_off" name="info[is_customer_camera_flg]" value="0" {if $reservation_data.info.is_customer_camera_flg == "0"}checked="checked"{/if}/><label for="is_customer_camera_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    <tr class="customerCameraDisplaySection">
    <th>{t}8611,_('お客様側映像'){/t}</th>
    <td><p><input type="radio" id="is_customer_camera_display_on" name="info[is_customer_camera_display]" value="1" {if $reservation_data.info.is_customer_camera_display == "1"}checked="checked"{/if}/><label for="is_customer_camera_display_on">{t}8303,_('表示'){/t}</label>&nbsp;
        <input type="radio" id="is_customer_camera_display_off" name="info[is_customer_camera_display]" value="0" {if $reservation_data.info.is_customer_camera_display == "0"}checked="checked"{/if}/><label for="is_customer_camera_display_off">{t}8302,_('非表示'){/t}</label>&nbsp;</p>
    </td></tr>
    <tr class="wbAllowSection">
    <th>{t}8507,_('WB操作許可'){/t}</th>
    <td><p><input type="radio" id="is_wb_allow_on" name="info[is_wb_allow_flg]" value="1" {if $reservation_data.info.is_wb_allow_flg != "0"}checked="checked"{/if}/><label for="is_wb_allow_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="is_wb_allow_off" name="info[is_wb_allow_flg]" value="0" {if $reservation_data.info.is_wb_allow_flg == "0"}checked="checked"{/if}/><label for="is_wb_allow_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    <tr class="chatAllowSection">
    <th>{t}8508,_('チャット操作許可'){/t}</th>
    <td><p><input type="radio" id="is_chat_allow_on" name="info[is_chat_allow_flg]" value="1" {if $reservation_data.info.is_chat_allow_flg != "0"}checked="checked"{/if}/><label for="is_chat_allow_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="is_chat_allow_off" name="info[is_chat_allow_flg]" value="0" {if $reservation_data.info.is_chat_allow_flg == "0"}checked="checked"{/if}/><label for="is_chat_allow_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    <tr class="printAllowSection">
    <th>{t}8509,_('印刷操作許可'){/t}</th>
    <td><p><input type="radio" id="is_print_allow_on" name="info[is_print_allow_flg]" value="1" {if $reservation_data.info.is_print_allow_flg != "0"}checked="checked"{/if}/><label for="is_print_allow_on">{t}6604,_('制限しない'){/t}</label>&nbsp;
        <input type="radio" id="is_print_allow_off" name="info[is_print_allow_flg]" value="0" {if $reservation_data.info.is_print_allow_flg == "0"}checked="checked"{/if}/><label for="is_print_allow_off">{t}6605,_('制限する'){/t}</label>&nbsp;</p>
    </td></tr>
    {/if}
    <input type="hidden" id="wb_no_on" name="info[is_wb_no_flg]" value="{$reservation_data.info.is_wb_no_flg|escape:"html"}" />
    <!-- tr class="wbNoSection">
    <th>ホワイトボードページ番号</th>
    <td><p><input type="radio" id="wb_no_on" name="info[is_wb_no_flg]" value="1" {if $reservation_data.info.is_wb_no_flg != "0"}checked="checked"{/if}/><label for="wb_no_on">{t}6604,_('使用する'){/t}</label>&nbsp;
        <input type="radio" id="wb_no_off" name="info[is_wb_no_flg]" value="0" {if $reservation_data.info.is_wb_no_flg == "0"}checked="checked"{/if}/><label for="wb_no_off">{t}6605,_('使用しない'){/t}</label>&nbsp;</p>
    </td></tr -->
    </table>
    </div>
{else}
    <p class="detail_setting_ti">{t}6607,_('機能制限'){/t}</p>
    <p class="clearfix detail_setting_cont">{if $reservation_data.info.is_limited_function == 1}{t}4576,_('設定有り'){/t}{else}{t}4575,_('設定なし'){/t}{/if}</p>
{/if}

<!-- ここまで機能制限 -->

{if !$__frame.view_mobile_flg}
{if $reservation_data.info.status != "now"}

<p class="detail_setting_ti">
<input type="checkbox" id="upload_on" name="upload_flg" value="1" {if $reservation_data.upload_flg == 1}checked="checked"{/if}/><label for="upload_on">{t}2324,_('資料事前アップロード'){/t}</label><span class="open_arrow">{t}8504,_('開く'){/t}</span><span id="target3" class="question">{t}6508,_('？'){/t}</span></p>
<div id="tooltip3" class="tooltip">
<p>{t}2388,_('会議中ホワイトボードに表示したい資料を事前にアップロードすることができます。'){/t}</p>
<p><span class="bold">{t}4588,_('対応フォーマット'){/t} : </span>{if $display_filetype}{$display_filetype}
        <br /><span class="bold">{t}4577,_('サイズ'){/t} : </span>
        {if $document_list}{$document_list|escape:"html"} = {t 1=$room_info.room_info.whiteboard_size}6444,_('１ファイルにつき %1$s MBまで'){/t}
        {/if}
        <br />
        {if $image_list}{$image_list|escape:"html"} = {if $room_info.room_info.whiteboard_size > 5}{assign var='image_size' value=5}{else}{assign var='image_size' value=$room_info.room_info.whiteboard_size}{/if}{t 1=$image_size}6444,_('１ファイルにつき %1$s MBまで'){/t}{/if}
    {else}{t}6616,_('指定無し'){/t}{/if}</p>

    <p><span>{t}6659,_('※【高画質モード（ベータ版）】について<br />「高画質」を選択すると、ホワイトボードで拡大表示にしても資料が鮮明に表示されます。<br />（変換には通常よりも時間がかかる場合があります）<br />Word、Excel、PowerPointは高画質モードで変換が可能です。それ以外のファイルは<br />「高画質」を選択しても高画質モードで変換されません。'){/t}</span></p>
</div>

    <!-- ここから動的に表示ON/OFF -->
    <div id="upload-sec" class="clearfix detail_setting_cont" {if $reservation_data.upload_flg != 1} style="display: none;"{/if}>
    <p class="attention">{t}8485,_('※表示順位の設定は登録完了後の予約一覧から行えます'){/t}</p>
    <h3>{t}8510,_('パソコン'){/t}</h3>
    <div id="targetEl" class="list-col clearfix">
    <table id="orgTable" onclick="return myTableHandler.call(this, event); ">
    <col class="file" />
    <col class="name" />
    <col class="delete" />
    <thead>
    <tr>
    <th>{t}2390,_('ファイル'){/t}</th>
    <th>{t}8428,_('会議室内でのファイル名'){/t}</th>
    <th class="td-edit">{t}2370,_('削除'){/t}</th>
    </tr>
    </thead>
    <tbody id="docTableBody">
    {foreach from=$reservation_data.documents key=document_id item=document}
    {if ($document.name || $document_id) && !$document.not_delete && !$document.delete && !$document.is_storage}
        <tr>
        {if $document.error != 0}
        <td><input type="file" name="document[]" size="25" class="input-file" /></td>
        <td><input type="hidden" name="sort[]" class="document_sort" /><input type="text" name="filename[]" class="inputDoc" value="{$document.name|escape:'html'}" /></td>
        {else}
        <td>
        <div class="document-list">
            <p class="base">
            {if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.document_index} )" alt="" border="0">{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}
            [ <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
            elseif $document.status == 1}{t}4581,_('変換中'){/t}{
            elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
            elseif $document.status == 3}{t}2370,_('削除'){/t}{
            else}{t}4586,_('エラー'){/t}{
            /if}</span> ]
            </p>
{section name=cnt start=1 loop=$document.document_index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.document_index} )" alt="" border="0"></a>
{/section}
        </div>
        </td>
        <td><input type="hidden" name="sort[{$document_id}]" class="document_sort" /><input type="text" name="filename[{$document_id}]" class="inputDoc" value="{$document.name|escape:'html'}" class="inputDoc"/></td>
        {/if}
    <td class="td-edit"><input type="button" name="invite_del" value="{t}2370,_('削除'){/t}" class="bt70-x" /></td>
    </tr>
    {/if}
    {/foreach}
</tbody>
</table>


<p class="add-sec">
<span class="button button25"><span class="button-inner">
{if !$__frame.ignore_menu.document_vector}
<input type="hidden" id="document_vector" value="1" />
{/if}
<input type="button" id="add_document" value="{t}2396,_('資料追加'){/t}" class="icon i-add" />
</span></span></p>

{if !$__frame.ignore_menu.use_storage}
    <h3>{t}8102,_('ストレージ'){/t}</h3>
    <table onclick="return myTableHandler.call(this, event);">
    <col class="name" />
    <col class="file" />
    <col class="delete" />
    <thead>
    <tr>
    <th>{t}2390,_('ファイル'){/t}</th>
    <th>{t}8428,_('会議室内でのファイル名'){/t}</th>
    <th class="td-edit">{t}2370,_('削除'){/t}</th>
    </tr>
    </thead>
    <tbody id="storageDocTableBody">
    {foreach from=$reservation_data.documents key=document_id item=document}
    {if ($document.name || $document_id) && !$document.not_delete && !$document.delete && $document.is_storage == 1}
    <tr>
        <td>
            <div class="document-list">
                <p class="base">{if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.document_index} )" alt="" border="0">{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}
                <span class="uploadDone" id="{$document_id}"></span>
                </p>
                {section name=cnt start=1 loop=$document.document_index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.document_index} )" alt="" border="0"></a>
                {/section}
            </div>
        </td>
        <td>
            <input type="hidden" name="sort[{$document_id}]" class="document_sort" />
            <input type="text" name="filename[{$document_id}]" class="inputDoc" value="{$document.name|escape:'html'}" class="inputDoc"/>
        </td>
        <td class="td-edit"><input type="button" name="del" value="{t}2370,_('削除'){/t}" class="bt70-x"></td>
    </tr>
    {/if}
    {/foreach}
    {foreach from=$reservation_data.clips key=clip_id item=clip}
    {if ($clip.clip_key)}
    <tr>
        <td>
            <p class="base"><a href='javascript:void(0);' onClick='playClip("{$clip.clip_key}");return false;'/>{$clip.meeting_clip_name|escape:"html"}{$clip.name|escape:"html"}</a></p>
        </td>
        <td>
            <input type='text' name='meeting_clip_name[{$clip_id}]' value="{$clip.meeting_clip_name}{$clip.name}" class="inputDoc">
        </td>
        <td class="td-edit"><input type="button" name="del" value="{t}2370,_('削除'){/t}" class="bt70-x"></td>
    </tr>
    {/if}
    {/foreach}
    {foreach from=$reservation_data.storage_documents key=document_id item=document}
    {if ($document.name || $document_id)}
    <tr>
        <td>{$document.name}</td>
        <td>
            <input type='hidden' name='storage_file_id[]' value="{$document.storage_file_key}">
            <input type='text' name='storage_file_name[]' value="{$document.name}" class="inputDoc">
        </td>
        <td class="td-edit"><input type="button" name="del" value="{t}2370,_('削除'){/t}" class="bt70-x"></td>
    </tr>
    {/if}
    {/foreach}
     </tbody>
     </table>
     <p class="add-sec">
<span class="button button25"><span class="button-inner">
            <input id="shared_file_list" class="icon i-add" value="{t}8429,_('ストレージからアップロード'){/t}" type='button'>
        </span></span></p>
{/if}

</div>

{else}
    <p class="detail_setting_ti">{t}2324,_('資料事前アップロード'){/t}</p>
    {if $reservation_data.documents || $reservation_data.clips}
    {foreach from=$reservation_data.documents key=document_id item=document name=documents}
        <div class="now">
        <div class="document-list">
        {if $document.name || $document_id && $document.is_storage == 0}
            <p class="base">{if $document.status == 2}<a href="/d/{$document_id}/1/" src="/d/{$document_id}/1/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( 1 / {$document.document_index} )" alt="" border=0>{/if}{$document.name|escape:"html"}{if $document.status == 2}</a>{/if}
                ( <span class="uploadDone" id="{$document_id}">{if $document.status == 0}{t}4582,_('変換待ち'){/t}{
                elseif $document.status == 1}{t}4581,_('変換中'){/t}{
                elseif $document.status == 2}{t}4583,_('変換完了'){/t}{
                elseif $document.status == 3}{t}2370,_('削除'){/t}{
                else}{t}4586,_('エラー'){/t}{
                /if}</span> )
            </p>
            {section name=cnt start=1 loop=$document.document_index}
                <a href="/d/{$document_id}/{$smarty.section.cnt.index+1}/" src="/d/{$document_id}/{$smarty.section.cnt.index+1}/" rel="shadowbox[docs]{if $document.format == 'vector'};width=640;height=480;player=swf{else};player=img{/if}" title="{$document.name|escape:'html'} ( {$smarty.section.cnt.index+1} / {$document.document_index} )" alt="" border=0 /></a>
            {/section}
            <input type="hidden" name="filename[{$document_id}]" size="10" class="inputDoc" value="{$document.name|escape:'html'}" />
        {/if}</div></div>
    {/foreach}
    {foreach from=$reservation_data.clips key=clip_id item=clip}
    <div class="now">
    <div class="clipList">
    {if ($clip.clip_key)}
        <p class="base"><a href='javascript:void(0);' onClick='playClip("{$clip.clip_key}");return false;'/>{$clip.meeting_clip_name|escape:"html"}{$clip.name|escape:"html"}</a></p>
        <input type='hidden' name='meeting_clip_name[{$clip_id}]' value="{$clip.meeting_clip_name}{$clip.name}" class="inputDoc">
    {/if}
    </div></div>
    {/foreach}
    {else}
        <p class="clearfix detail_setting_cont">{t}2326,_('資料は登録されていません'){/t}</p></td>
    {/if}
{/if}

</div>
{/if}
        <!-- ここまで動的に表示ON/OFF -->
<!-- ここまで資料事前アップロード -->


<!--{if $__frame.user_info.use_clip_share}
<p class="detail_setting_ti">
<input type="checkbox" id="clip_on" name="clip_flg" value="1" {if $reservation_data.clip_flg == 1} checked="checked"{/if}/><label for="clip_on">{t}7428,_('動画設定'){/t}</label><span id="target2" class="question">{t}6508,_('？'){/t}</span></p>
<div id="tooltip2" class="tooltip">
{t}7429,_('「動画一覧」にアップロードされている動画を会議中に再生できます。再生する動画は次の画面で選択します。'){/t}<br />
{t}7472,_('動画のアップロード後に変換処理を行う為、変換には時間がかかります。変換時間は動画の容量、再生時間によって変わります。'){/t}
</div>

{/if}-->
<!-- ここまで動画設定 -->
</td>
</tr>
</table>
</div>
