     {if $list}<table border="0">
<thead>
<tr>
<th>{t}8511,_('当日の予約状況'){/t}</th>
</tr>
</thead>
<tbody>
   <tr>
     <td>

     {foreach from=$list item=row}
     {if $row.status == "end"}
     <p><span class="doneMtgImg">{t}2430,_('終了'){/t}</span>{$row.reservation_starttime|date_format:"%H:%M"} {t}4800,_('～'){/t}
    {$row.reservation_endtime|date_format:"%H:%M"} (GMT {if $timezone >= 0}+{/if}{$timezone})　{$row.reservation_name|escape:"html"}</p>

     {elseif $row.status == "now"}
     <p><span class="nowMtgImg">{t}2431,_('開催中'){/t}</span>{$row.reservation_starttime|date_format:"%H:%M"} {t}4800,_('～'){/t}
     {$row.reservation_endtime|date_format:"%H:%M"} (GMT {if $timezone >= 0}+{/if}{$timezone})　{$row.reservation_name|escape:"html"}</p>

     {else}
     <p>{$row.reservation_starttime|date_format:"%H:%M"} {t}4800,_('～'){/t}
    {$row.reservation_endtime|date_format:"%H:%M"} (GMT {if $timezone >= 0}+{/if}{$timezone})　{$row.reservation_name|escape:"html"}</p>

     {/if}
     {/foreach}

     </td>
   </tr>
</tbody>
</table>
     {/if}