{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage Update Notification"}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}952,_('Search'){/t}</span></a></li>
        {if $authority != 0}<li><a href="#fragment2"><span>{t}953,_('Entry'){/t}</span></a></li>{/if}
    </ul>

    <div id="fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/form2.t.html"}
    </div>
    <div id="fragment2">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/insert.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/pager.t.html"}

<form action="" name="list_form">
<table class="searchList">
<thead>
    <tr>
        <th nowrap>&nbsp;</th>
        <th class="action">{t}954,_('Action'){/t}</th>
        {foreach from=$columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&sort_key={$key}&sort_type=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&sort_key={$key}&sort_type=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$rows item=row}
    <tr>
        <td><input type="checkbox" name="keys[]"></td>
        <td class="action">
            <a href="?action_modify&type=account&amp;table=notification&key=id&value={$row.id|escape:'html'}&uptime=update_datetime">{t}955,_('Modify'){/t}</a>
            {if $row.is_available == "1"}&nbsp;|&nbsp;<a href="?action_delete&type=account&key=server_key&value={$row.server_key|escape:'html'}&status_key=is_available" onclick="return confirm('{t}956,_('Are you sure to stop?'){/t}')">{t}957,_('Stop'){/t}</a>{/if}
        </td>
        {foreach from=$columns key=key item=colum}
        <td>{$row.$key|escape:'html'}
        {if $colum.item.relation_data}
            {foreach from=$row.$key item=value}
                {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
            {/foreach}
        {elseif $colum.item.select}
            {foreach from=$colum.item.select item=select}
                {if $select.value == $row.$key} ( {$select.data|escape:'html'} ) {/if}
            {/foreach}
        {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
<input type="button" value="{t}958,_('select all'){/t}" class="inputCalendar" onclick="all_select();" />
<input type="button" value="{t}959,_('deselect all'){/t}" class="inputCalendar" onclick="all_clear();" />
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}