<p class="page-top"><a href="#wrapper">{t}1811,_('ページトップへ'){/t}</a></p>

<div id="footer">
<div id="footer-inner" class="clearfix">
<p class="footer-logo">{if !$__frame.ignore_menu.company_logo}
{if $__frame.service_info.company_site}<a href="{$__frame.service_info.company_site}" target="_blank">{/if}
<img src="/custom/fileforce/lang/common/images/ff_logo.gif" alt="fileforce" />
{if $__frame.service_info.company_site}</a>{/if}
{/if}</p>
<p class="copyright">{$__frame.service_info.company_cp_right}</p>
</div>
</div>

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/debug.t.html"}
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="include/access_analyzer.t.html"}
