<div id="header" class="clearfix">

<h1><a href="/services/admin/"><img src="/custom/cybozu/lang/common/images/logo.gif" alt="{$__frame.service_info.full_name} on cybozu.com" /></a></h1>



<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p>
</div>

