{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Flash Version"}
<div id="container">
    <ul>
        <li><a href="?action_total_user#fragment1"><span>{t}1301,_('Flash Version Check'){/t}</span></a></li>
    </ul>
    <div id="fragment1">
    <fieldset>
    <legend>{t}1301,_('Flash Version Check'){/t}</legend>

        <form action="{$__frame.self}" name="search_form" method="post">
        <fieldset>
        <legend>Search Form</legend>
        <table class="searchList">
            <tr>
                <th>{t}1304,_('User ID'){/t}</th>
                <td><input type="text" name="form[user_id]" size="10" value="{$smarty.request.form.user_id|escape:'html'}" /></td>
            </tr><tr>
                <th>{t}1305,_('Status'){/t}</th>
                <td>
                    <select name="form[user_status]">
                        <option value="">{t}1306,_('choose one'){/t}</option>
                        {foreach from=$user_columns.user_status.item.select key=_key item=select}
                        <option value="{$select.value}" {if $select.value == $smarty.request.form.user_status|escape:'html'}selected="1"{/if}>{$select.data}</option>
                        {/foreach}
                    </select>
                </td>
            </tr><tr>
                <th>{t}1307,_('Request Target'){/t}</th>
                <td>
                    <select name="form[invoice_flg]">
                        <option value="">{t}1306,_('choose one'){/t}</option>
                        {foreach from=$user_columns.invoice_flg.item.select key=_key item=select}
                        <option value="{$select.value}" {if $select.value == $smarty.request.form.invoice_flg|escape:'html'}selected="1"{/if}>{$select.data}</option>
                        {/foreach}
                    </select>
                </td>
            </tr><tr>
                <th>{t}1309,_('Flash Version'){/t}</th>
                <td>
                    {html_checkboxes name="form[flash_version]" options=$version_list selected=$smarty.request.form.flash_version separator=" "}
                </td>
            </tr><tr>
        <th>{t}1310,_('Period'){/t}</th>
        <td>
            <input id="search_create_datetime_min" name="form[create_datetime][min]" value="{$smarty.request.form.create_datetime.min|escape:'html'}" type="text">
            <button type="reset" id="search_create_datetime_min_btn">Cal</button>
             {t}4718,_('～'){/t}
            <input id="search_create_datetime_max" name="form[create_datetime][max]" value="{$smarty.request.form.create_datetime.max|escape:'html'}" type="text">
            <button type="reset" id="search_create_datetime_max_btn">Cal</button>
{literal}
<script type="text/javascript">
    Calendar.setup({
        inputField  : 'search_create_datetime_min',
        button      : 'search_create_datetime_min_btn',
        ifFormat    : '%Y/%m/%d %H:%M:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    });
    Calendar.setup({
        inputField  : "search_create_datetime_max",
        button      : "search_create_datetime_max_btn",
        ifFormat    : "%Y/%m/%d %H:%M:00",
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    });
</script>
{/literal}
                </td>
    </tr>
            </tr><tr>
                <td></td>
                <td><input type="submit" name="action_flash_version"></td>
            </tr>
        </table>
        </form>
        </fieldset>

        <br />
        <table class="searchList">
        <thead>
            <tr>
                <th>{t}1304,_('User ID'){/t}</th>
                <th>{t}1312,_('Company Name'){/t}</th>
                <th>{t}1309,_('Flash Version'){/t}</th>
                <th>{t}1314,_('Count'){/t}</th>
            </tr>
        </thead>
        <tbody>
        {if $rows}
            {foreach from=$rows key=key item=row}
            <tr>
                <td>{$row.user_id|escape:"html"}</td>
                <td>{$row.user_company_name|escape:"html"}</td>
                <td>{$row.flash_version|escape:"html"}</td>
                <td>{$row.count|escape:"html"}</td>
            </tr>
            {/foreach}
        {/if}
        </tbody>
        </table>
    </fieldset>

    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
