{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Room Use Log"}
<form action="{$__frame.self}" name="search_form" method="post">
<fieldset>
<legend>Search Form</legend>
<table class="searchList">
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <th>{t}1327,_('User ID'){/t}</th>
        <td><input type="text" name="user_id" size="10" value="{$user_id|escape:'html'}" /></td>
        <th>{t}1328,_('Start'){/t}</th>
        <td>
            <input type="text" id="start" name="start" value="{$start|escape:'html'}" />
            <button type="reset" id="start_btn">Cal</button>
            <script type="text/javascript">
                Calendar.setup({literal}{{/literal}
                    inputField  : 'start',
                    button      : 'start_btn',
                    ifFormat    : '%Y-%m-%d %H:%M:00',
                    showsTime   : true,
                    singleClick : true,
                    weekNumbers : true,
                    cache       : true
                {literal}}{/literal});
            </script>
        </td>
        <th>{t}1329,_('End'){/t}</th>
        <td>
            <input type="text" id="end" name="end" value="{$end|escape:'html'}" />
            <button type="reset" id="end_btn">Cal</button>
            <script type="text/javascript">
                Calendar.setup({literal}{{/literal}
                    inputField  : 'end',
                    button      : 'end_btn',
                    ifFormat    : '%Y-%m-%d %H:%M:00',
                    showsTime   : true,
                    singleClick : true,
                    weekNumbers : true,
                    cache       : true
                {literal}}{/literal});
            </script>
        </td>
        <td><input type="submit" name="action_user_total"></td>
    </tr>
</table>
</fieldset>
</form>
<table class="searchList">
<thead>
    <tr>
        <th nowrap>{t}1330,_('Room Key'){/t}</th>
        <th nowrap>{t}1331,_('Room Name'){/t}</th>
        <th nowrap>{t}1332,_('Count'){/t}</th>
        <th nowrap>{t}4719,_('Time'){/t} ( {t}4720,_('Minutes'){/t} ) </th>
    </tr>
</thead>
<tbody>
    {if $use_data}
        {foreach from=$use_data key=room_key item=row}
        <tr>
            <td>{$room_key|escape:'html'}</td>
            <td>{$row.room_name|escape:'html'}</td>
            <td>{$row.use_count|escape:'html'}</td>
            <td>{$row.use_time|escape:'html'}</td>
        </tr>
        {/foreach}
        <tr>
            <td colspan="2">{t}1334,_('Total'){/t}</td>
            <td>{$total.count|escape:'html'}</td>
            <td>{$total.use_time|escape:'html'}</td>
        </tr>
    {/if}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}