{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="HDD Used"}
<table class="searchList">
<thead>
    <tr>
        <th>{t}1344,_('User ID'){/t}</th>
        <th>{t}1345,_('Company Name'){/t}</th>
        <th>{t}1346,_('Room ID'){/t}</th>
        <th>{t}1347,_('Contract Capacity'){/t}</th>
        <th>{t}1348,_('Used Capacity(MB)'){/t}</th>
        <th>%</th>
    </tr>
</thead>
<tbody>
    {foreach from=$room_data item=user}
    {foreach from=$user item=room}
    <tr {if $room.use_percent > 80} class="alert"{/if}>
        <td><a href="?action_list&amp;table=user&amp;type=data&amp;sort_key=user_key&amp;check=user_id&amp;form[user_id]={$room.user_id}" target="_self">{$room.user_id|escape:"html"}</a></td>
        <td>{$room.user_company_name|escape:"html"}</td>
        <td>{$room.room_key|escape:"html"}</td>
        <td align="right">{$room.max_size}</td>
        <td align="right">{$room.uze_size}</td>
        <td align="right">{$room.use_percent|string_format:'%.2f'}%</td>
    </tr>
    {/foreach}
    {/foreach}
</tbody>
</table>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}
