<div id="header" class="clearfix">

<h1>{if $__frame.user_info}<a href="/services/reservation/yoyaku.php?action_create=&new=1">{else}<a href="/services/login/yoyaku.php">{/if}<img src="/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
{if !$__frame.ignore_menu.support_info}
<div class="support-info">
{t}76650001,_('カスタマーサポート'){/t}<span>{t}76650002,_('cs-meeting@axlbox.com'){/t}</span>
</div>
{/if}
<span style="font-size: 140%; position:absolute; top:15px; left:300px;">予約専用のページです。</span>
<span style="font-size: 90%; position:absolute; top:40px; left:300px;">※会議への参加・録画の視聴などはできません。</span>
</div>

