<div id="header">
<h1>{if $centre_admin_flg || $__frame.center_admin_login}<a href="/services/login/centre.php">{elseif $__frame.user_info}<a href="/services/">{else}<a href="/services/login/">{/if}<img src="/lang/{$__frame.lang}/images/sales/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
{if !$__frame.ignore_menu.support_info}
<div class="support-info">
{t}76650001,_('カスタマーサポート'){/t}<span>{t}76650002,_('cs-meeting@axlbox.com'){/t}</span>
</div>
{/if}
</div>
