<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="keywords" content= "{$__frame.service_info.meta_keywords}"/>
<meta name="description" content="{$__frame.service_info.meta_description}" />
<link rel="stylesheet" type="text/css" href="/shared/css/import.css?{$__frame.meeting_version}" media="all" />
<script src="/shared/js/lib/prototype.js?{$__frame.meeting_version}" type="text/javascript"></script>
<script src="/shared/js/lib/jquery.js?{$__frame.meeting_version}" type="text/javascript"></script>
<script src="/shared/js/common.js?{$__frame.meeting_version}" type="text/javascript"></script>
<script type="text/javascript" src="/shared/js/interaction.js?{$__frame.meeting_version}"></script>
{if $__frame.lang == "zh_CN" || $__frame.lang == "zh_TW"}<link rel="stylesheet" type="text/css" href="/shared/css/zh-add.css" media="all" />{/if}