<div id="footer">
    <address><a href="{$__frame.service_info.company_site}" target="_blank"><img src="/{$__frame.lang}/shared/images/vcube_logo.gif" alt="{$__frame.service_info.company_cp_right}" width="192" height="33" border="0" /></a></address>
    <div id="info">
        <ul>
            <li id="info01"><a href="/{$__frame.lang}/sitemap/"><span>サイトマップ</span></a></li>
            <li id="info02"><a href="/{$__frame.lang}/privacy/"><span>個人情報保護ポリシー</span></a></li>
            <li id="info03"><a href="/{$__frame.lang}/terms/"><span>利用規約</span></a></li>
            <li id="info04"><a href="/{$__frame.lang}/company/"><span>運営会社</span></a></li>
            <li id="info05"><a href="/{$__frame.lang}/link/"><span>リンク</span></a></li>
        </ul>
    </div>
    <div id="accessLog" style=" visibility: hidden; ">
        <script type="text/javascript">
        <!--
        document.write("<img src='/cgi-bin/als/acclog.cgi?");
        document.write("referrer="+document.referrer+"&");
        document.write("width="+screen.width+"&");
        document.write("height="+screen.height+"&");
        document.write("color="+screen.colorDepth+"'>");
        // -->
        </script>
    </div>
</div>