{if $__frame.service_mode == "meeting" && $is_one_account && $is_set_all == 0}
<tr>
<th>{t}9220,_('利用可能メンバー登録'){/t}<span id="target32" class="question">{t}6508,_('？'){/t}</span><div id="tooltip32" class="tooltip">{t}9221,_('「利用可能メンバーを限定」を選択するとリストが表示されます。<br />右側の「メンバーリスト」から左側の「利用可能メンバーリスト」に移動することで、<br />この会議室を利用できるメンバーを限定することができます。'){/t}</div></th>
<td>
    <input type="radio" name="has_member_whitelist" id="member_whitelist_off" value="0"{if !$room_info.has_member_whitelist} checked="checked"{/if} /><label for="member_whitelist_off">{t}9222,_('全てのメンバーで利用'){/t}</label>
    <input type="radio" name="has_member_whitelist" id="member_whitelist_on" value="1"{if $room_info.has_member_whitelist} checked="checked"{/if} /><label for="member_whitelist_on">{t}9223,_('利用可能メンバーを限定'){/t}</label>　
    <div id="member_whitelist">
    <table border="0" class="port-sec">
    <tr>
    <td>
    <input type="hidden" id="whitelist_members" name="whitelist_members" value="">
    <p class="valid_Member">{t}9226,_('利用可能メンバーリスト'){/t}</p>
	<div class="select-box-member clearfix">
	<p><input type="text" id="search_member_allow" value="" class="input-text" /><span class="button button22 b22-blue"><span class="button-inner"><input type="button" value="{t}406,_('検索'){/t}" onClick="searchMember('allow');"/></span></span></p>
    <select id="member_whitelist_allow" multiple="multiple" size="10">
{if $member_whitelist_allow}
{foreach from=$member_whitelist_allow item=member_allow}
    <option value="{$member_allow.member_key}">{$member_allow.member_name|escape:"html"}</option>
{/foreach}
{/if}
    </select>
    </div>
	</td>
    <td class="td-arrow-member">
    <a class="button button22" href='javascript:;void(0);' onclick='moveWhiteListLeft("member_whitelist");'><span class="button-inner"><span class="btnin">{t}6526,_('←'){/t}{t}9231,_('登録'){/t}</span></span></a>
	<a class="button button22" href='javascript:;void(0);' onclick='moveWhiteListRight("member_whitelist");'><span class="button-inner"><span class="btnin">{t}6525,_('→'){/t}{t}523,_('削除'){/t}</span></span></a>
    </td>
    <td>
    <p class="invalid_Member">{t}9227,_('メンバーリスト'){/t}</p>
	<div class="select-box-member clearfix">
	<p><input type="text" id="search_member_deny" value="" class="input-text" /><span class="button button22 b22-blue"><span class="button-inner"><input type="button" value="{t}406,_('検索'){/t}" onClick="searchMember('deny');"/></span></span></p>
    <select id="member_whitelist_deny" multiple="multiple" size="10">
{if $member_whitelist_deny}
{foreach from=$member_whitelist_deny item=member_deny}
    <option value="{$member_deny.member_key}">{$member_deny.member_name|escape:"html"}</option>
{/foreach}
{/if}
    </select>
    </div>
    </td>
    </tr>
    </table>
    </div>
</td>
</tr>
{/if}

{if $__frame.user_info.meeting_version >= "4.7.0.0" && !$__frame.ignore_menu.teleconference && ($enable_teleconf)}
 <tr>
    <th>{t}7460,_('電話会議連携'){/t}<span id="target26" class="question">{t}6508,_('？'){/t}</span><div id="tooltip26" class="tooltip">{t}9077,_('「使用する」に設定すると、電話での音声参加が可能となります。<br />参加方法は、電話から会議室へアクセスするダイヤルインと、会議室から呼び出すダイヤルアウトの２つ方法があります。<br />海外やインターネットでの接続が不安定な拠点などとも安定した音声会議を行うことができます。なお、従量課金制となります。'){/t}</div></th>
    <td>
    <input type="radio" name="use_teleconf" id="teleconf_on" value="1"{if $room_info.use_teleconf && !$is_trial} checked="checked"{/if} {if $is_trial}disabled='disabled'{/if}/><label for="teleconf_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="use_teleconf" id="teleconf_off" value="0"{if !$room_info.use_teleconf || $is_trial } checked="checked"{/if} /><label for="teleconf_off">{t}6546,_('使用しない'){/t}</label>
{if $is_trial}
<p class='attention'>{t}7464,_('トライアルでは、電話会議をご利用いただくことはできません。'){/t}</p>
{/if}

{$error_info.teleconf}
<div id="teleconfForm">
    <p class="attention">
        {t}7533,_('[使用する]を選択すると電話会議が有効になり、通話時間に応じた電話会議ご利用料金を別途ご請求させていただきます。'){/t}
    </p>
    <table>
        <tr><th>{t}7465,_('ダイヤルイン（ローカル）'){/t}</th>
            <td>
                <input type="radio" name="use_pgi_dialin" id="use_pgi_dialin" value="1"{if $room_info.use_pgi_dialin} checked="checked"{/if} />
                <label for="use_pgi_dialin">{t}6545,_('使用する'){/t}</label>
                <input type="radio" name="use_pgi_dialin" id="un_use_pgi_dialin" value="0"{if !$room_info.use_pgi_dialin} checked="checked"{/if} />
                <label for="un_use_pgi_dialin">{t}6546,_('使用しない'){/t}</label>
            </td>
        </tr>
        <tr><th>{t}7466,_('ダイヤルイン（フリーダイヤル）'){/t}</th>
            <td>
                <input type="radio" name="use_pgi_dialin_free" id="use_pgi_dialin_free" value="1"{if $room_info.use_pgi_dialin_free} checked="checked"{/if} />
                <label for="use_pgi_dialin_free">{t}6545,_('使用する'){/t}</label>
                <input type="radio" name="use_pgi_dialin_free" id="un_use_pgi_dialin_free" value="0"{if !$room_info.use_pgi_dialin_free} checked="checked"{/if} />
                <label for="un_use_pgi_dialin_free">{t}6546,_('使用しない'){/t}</label>
            </td>
        </tr>
        <tr><th>{t}9137,_('ダイヤルイン(ローコール)'){/t}</th>
            <td>
                <input type="radio" name="use_pgi_dialin_lo_call" id="use_pgi_dialin_lo_call" value="1"{if $room_info.use_pgi_dialin_lo_call} checked="checked"{/if} />
                <label for="use_pgi_dialin_lo_call">{t}6545,_('使用する'){/t}</label>
                <input type="radio" name="use_pgi_dialin_lo_call" id="un_use_pgi_dialin_lo_call" value="0"{if !$room_info.use_pgi_dialin_lo_call} checked="checked"{/if} />
                <label for="un_use_pgi_dialin_lo_call">{t}6546,_('使用しない'){/t}</label>
            </td>
        </tr>
        <tr><th>{t}7467,_('ダイヤルアウト'){/t}</th>
            <td>
                <input type="radio" name="use_pgi_dialout" id="use_pgi_dialout" value="1"{if $room_info.use_pgi_dialout} checked="checked"{/if} />
                <label for="use_pgi_dialout">{t}6545,_('使用する'){/t}</label>
                <input type="radio" name="use_pgi_dialout" id="un_use_pgi_dialout" value="0"{if !$room_info.use_pgi_dialout} checked="checked"{/if} />
                <label for="un_use_pgi_dialout">{t}6546,_('使用しない'){/t}</label>
            </td>
        </tr>
    </table>
</div>
</td>
</tr>
{/if}
<!-- {if $room_info.options.video_conference}
<tr>
<th>{t}9135,_('テレビ会議連携HD利用設定'){/t}<span id="target28" class="question">{t}6508,_('？'){/t}</span><div id="tooltip28" class="tooltip">{t}9136,_('テレビ会議接続利用時のテレビ会議側の受信映像がHDになります'){/t}</div></th>
<td>
<input type="radio" name="mcu_hd_flg" id="mcu_hd_flg_on" value="1"{if $ives_setting.mcu_hd_flg} checked="checked"{/if} /><label for="mcu_hd_flg_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="mcu_hd_flg" id="mcu_hd_flg_off" value="0"{if !$ives_setting.mcu_hd_flg} checked="checked"{/if} /><label for="mcu_hd_flg_off">{t}6546,_('使用しない'){/t}</label>
</td>
</tr>
{/if}
 -->{if ($__frame.user_info.meeting_version >= "4.7.0.0" && $room_info.options.h264 == "1" && !$__frame.user_info.use_stb) || $enable_h264}
<tr>
<th>{t}7648,_('H.264'){/t}<span id="target11" class="question">{t}6508,_('？'){/t}</span><div id="tooltip11" class="tooltip">{t}7671,_('映像の送受信に従来方式よりも優れた圧縮率のH.264コーデックを使うことで、クリアで鮮明な画質で会議ができます。'){/t}</div></th>
<td>
<input type="radio" name="default_h264_use_flg" id="h264_on" value="1"{if $room_info.default_h264_use_flg} checked="checked"{/if} /><label for="h264_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="default_h264_use_flg" id="h264_off" value="0"{if !$room_info.default_h264_use_flg} checked="checked"{/if} /><label for="h264_off">{t}6546,_('使用しない'){/t}</label>
<p class="attention small">{t}7679,_('※H.264を「使用する」に設定した場合、使用しない場合に比べて高いCPU性能が求められます。詳しい動作環境については<a href="http://www.nice2meet.us/ja/requirements/meeting.html" target="_blank">こちら</a>をご確認ください。'){/t}</p>
</td>
</tr>
{else if $__frame.user_info.use_stb}
<input type="hidden" name="default_h264_use_flg" value="1">
{/if}
{if !$__frame.ignore_menu.reservation}
<tr>

{if $__frame.user_info.use_port_plan == "1" && $__frame.user_info.entry_mode !== "0"}
{else}
<th>{t}8619,_('会議の延長禁止設定'){/t}<span id="target21" class="question">{t}6508,_('？'){/t}</span><div id="tooltip21" class="tooltip">{t}8620,_('※「使用する」に設定すると、会議終了時 間(または次の会議開催時間)に自動的 に退室となります。'){/t}</div></th>
<td>
<input type="radio" name="prohibit_extend_meeting_flg" id="prohibit_extend_meeting_on" value="1"{if $room_info.prohibit_extend_meeting_flg} checked="checked"{/if} /><label for="prohibit_extend_meeting_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="prohibit_extend_meeting_flg" id="prohibit_extend_meeting_off" value="0"{if !$room_info.prohibit_extend_meeting_flg} checked="checked"{/if} /><label for="prohibit_extend_meeting_off">{t}6546,_('使用しない'){/t}</label>
<p class="attention small">{t}8621,_('※前の会議終了時間と次の会議の開催時間が同時刻の場合、入室 に時間がかかる場合があります。'){/t}</p></td>
{/if}
</tr>
{/if}
{if !$__frame.user_info.use_stb}
{if !$__frame.isVersion4650  && $__frame.user_info.account_model !="member" || $__frame.user_info.external_user_invitation_flg || $__frame.user_info.external_member_invitation_flg}
<tr>
<th>{t}9237,_('会議内招待'){/t}<span id="target35" class="question">{t}6508,_('？'){/t}</span><div id="tooltip35" class="tooltip">{t}9238,_('「使用しない」に設定すると、会議内招待ボタンが非表示になり、会議中に招待ができなくなります。'){/t}</div></th>
<td>
<input type="radio" name="is_invite_button" id="is_invite_button_on" value="1"{if $room_info.is_invite_button} checked="checked"{/if} /><label for="is_invite_button_on">{t}6545,_('使用する'){/t}</label>
<input type="radio" name="is_invite_button" id="is_invite_button_off" value="0"{if !$room_info.is_invite_button} checked="checked"{/if} /><label for="is_invite_button_off">{t}6546,_('使用しない'){/t}</label>
</tr>
{/if}
{if $__frame.isVersion4650}
<input type="hidden" name="is_invite_button" value="1" />
{/if}
{if !$rec_disable_flag}
<tr>
<th>{t}7681,_('録画機能'){/t}<span id="target12" class="question">{t}6508,_('？'){/t}</span><div id="tooltip12" class="tooltip">{t}7682,_('※「録画を禁止する」に設定すると、会議の録画を禁止することができます。'){/t}</div></th>
<td>
<input type="radio" name="disable_rec_flg" id="rec_on" value="0"{if !$room_info.disable_rec_flg} checked="checked"{/if} /><label for="rec_on">{t}7683,_('録画を許可する'){/t}</label>　
<input type="radio" name="disable_rec_flg" id="rec_off" value="1"{if $room_info.disable_rec_flg} checked="checked"{/if} /><label for="rec_off">{t}7684,_('録画を禁止する'){/t}</label>
</td>
</tr>
{/if}
{/if}
<tr>
<th>{t}6529,_('ホワイトボード制限'){/t}</th>
<td class="file-sec">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<th>{t}6530,_('ページ数：'){/t}</th>
<td><p><select name="whiteboard_page">
<option{if $room_info.whiteboard_page == "1"} selected="selected"{/if}>1</option>
<option{if $room_info.whiteboard_page == "3"} selected="selected"{/if}>3</option>
<option{if $room_info.whiteboard_page == "5"} selected="selected"{/if}>5</option>
<option{if $room_info.whiteboard_page == "10"} selected="selected"{/if}>10</option>
<option{if $room_info.whiteboard_page == "15"} selected="selected"{/if}>15</option>
<option{if $room_info.whiteboard_page == "25"} selected="selected"{/if}>25</option>
<option{if $room_info.whiteboard_page == "50"} selected="selected"{/if}>50</option>
<option{if $room_info.whiteboard_page == "75"} selected="selected"{/if}>75</option>
<option{if $room_info.whiteboard_page == "100"} selected="selected"{/if}>100</option>
</select>{t}6531,_('ページ／１ファイル'){/t}</p>
<p class="attention small">{t}6532,_('※このページ数は、ホワイトボードに貼り込む枚数の制限です。'){/t}</p></td>
</tr>
<tr>
<th>{t}6533,_('容量：'){/t}</th>
<td><p><select name="whiteboard_size">
<option{if $room_info.whiteboard_size == "1"} selected="selected"{/if}>1</option>
<option{if $room_info.whiteboard_size == "3"} selected="selected"{/if}>3</option>
<option{if $room_info.whiteboard_size == "5"} selected="selected"{/if}>5</option>
<option{if $room_info.whiteboard_size == "10"} selected="selected"{/if}>10</option>
<option{if $room_info.whiteboard_size == "15"} selected="selected"{/if}>15</option>
<option{if $room_info.whiteboard_size == "20"} selected="selected"{/if}>20</option>
</select>{t}6534,_('MB／１ファイル'){/t}</p>
<p class="attention small">{t}6535,_('※画像ファイルの容量は上記容量が5MB以上の場合は5MB、それ以下の場合は上記設定が有効となります。'){/t}</p>
</td>
</tr>
<tr>
<th>{t}6536,_('ファイル形式：'){/t}</th>
<td class="file-type">
<ul>
{foreach from=$document_files key=type item=document_file}
{if $type!=xdw}
<li><input type="checkbox" name="whiteboard_filetype[document][]" value="{$type}"  id="file-{$type}"{ if $room_info.whiteboard_filetype.$type} checked="checked"{/if}  /> <label for="file-{$type}">{$type}</label></li>
{/if}
{/foreach}
</ul>
<ul>
{foreach from=$image_files key=type item=image_file}
<li><input type="checkbox" name="whiteboard_filetype[image][]" value="{$type}"  id="file-{$type}"{ if $room_info.whiteboard_filetype.$type} checked="checked"{/if}  /> <label for="file-{$type}">{$type}</label></li>
{/foreach}
</ul>
</td>
</tr>
</table>

</td>
</tr>


<tr>
<th>{t}6690,_('ホワイトボードページ番号表示'){/t}<span id="target1" class="question">{t}6508,_('？'){/t}</span><div id="tooltip1" class="tooltip">{t}6691,_('表示する場合は、ホワイトボードに貼り込んだ資料の下にページ番号が表示されます。'){/t}</div></th>
<td>
<input type="radio" name="is_wb_no" id="is_wb_no_on" value="1"{if $room_info.is_wb_no} checked="checked"{/if} /><label for="is_wb_no_on">{t}6692,_('表示する'){/t}</label>　
<input type="radio" name="is_wb_no" id="is_wb_no_off" value="0"{if !$room_info.is_wb_no} checked="checked"{/if} /><label for="is_wb_no_off">{t}6693,_('表示しない'){/t}</label>
</td>
</tr>

<tr {if $__frame.service_mode == "sales" || $__frame.isVersion4650 }style="display:none"{/if}>
<th>{t}8574,_('ホワイトボード資料PDF化'){/t}<span id="target34" class="question">{t}6508,_('？'){/t}</span><div id="tooltip34" class="tooltip">{t}9235,_('「使用する」にすると、会議中にホワイトボードに貼り込んだ資料をPDF形式で保存することができます。'){/t}</div></th>
<td>
<input type="radio" name="is_convert_wb_to_pdf" id="is_convert_wb_to_pdf_on" value="1"{if $room_info.is_convert_wb_to_pdf} checked="checked"{/if} /><label for="is_convert_wb_to_pdf_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="is_convert_wb_to_pdf" id="is_convert_wb_to_pdf_off" value="0"{if !$room_info.is_convert_wb_to_pdf} checked="checked"{/if} /><label for="is_convert_wb_to_pdf_off">{t}6546,_('使用しない'){/t}</label>
</td>
</tr>
{literal}
<script type="text/javascript">
j$(function() {
	if(j$("input[name='is_convert_wb_to_pdf']:checked").val() == "0" || j$("input[name='is_personal_wb']:checked").val() == "0"){
		j$("#is_convert_personal_wb_to_pdf_off").attr("checked", true);
		j$("input[name='is_convert_personal_wb_to_pdf']").attr("disabled", true);
	}
	j$("input[name='is_convert_wb_to_pdf']").click(controlConvertPersonalWBtoPDF);
	j$("input[name='is_personal_wb']").click(controlConvertPersonalWBtoPDF);

	function controlConvertPersonalWBtoPDF(){
		var is_personal_wb = j$("input[name='is_personal_wb']:checked").val();
		var is_convert_wb_to_pdf = j$("input[name='is_convert_wb_to_pdf']:checked").val();
		if(is_personal_wb == "1" && is_convert_wb_to_pdf == "1"){
			j$("#is_convert_personal_wb_to_pdf_on").attr("checked", true);
			j$("input[name='is_convert_personal_wb_to_pdf']").attr("disabled", false);
		}else{
			j$("#is_convert_personal_wb_to_pdf_off").attr("checked", true);
			j$("input[name='is_convert_personal_wb_to_pdf']").attr("disabled", true);
		}
	}
});
</script>
{/literal}
<tr {if $__frame.isVersion4650}style="display:none"{/if}>
<th>{t}8631,_('個人ホワイトボード'){/t}<span id="target20" class="question">{t}6508,_('？'){/t}</span><div id="tooltip20" class="tooltip">{t}8632,_('「使用しない」に設定すると、ボタンがグレーアウトし書き込み・保存ができません'){/t}</div></th>
<td>
<input type="radio" name="is_personal_wb" id="is_personal_wb_on" value="1"{if $room_info.is_personal_wb} checked="checked"{/if} /><label for="is_personal_wb_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="is_personal_wb" id="is_personal_wb_off" value="0"{if !$room_info.is_personal_wb} checked="checked"{/if} /><label for="is_personal_wb_off">{t}6546,_('使用しない'){/t}</label>
</td>
</tr>

<tr {if $__frame.service_mode == "sales" || $__frame.isVersion4650 }style="display:none"{/if}>
<th>{t}9229,_('個人ホワイトボード資料PDF化'){/t}<span id="target33" class="question">{t}6508,_('？'){/t}</span><div id="tooltip33" class="tooltip">{t}9230,_('会議中に個人ホワイトボードに取り込んだ資料を、PDF保存することができます。'){/t}</div></th>
<td>
<input type="radio" name="is_convert_personal_wb_to_pdf" id="is_convert_personal_wb_to_pdf_on" value="1"{if $room_info.is_convert_personal_wb_to_pdf} checked="checked"{/if} /><label for="is_convert_personal_wb_to_pdf_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="is_convert_personal_wb_to_pdf" id="is_convert_personal_wb_to_pdf_off" value="0"{if !$room_info.is_convert_personal_wb_to_pdf} checked="checked"{/if} /><label for="is_convert_personal_wb_to_pdf_off">{t}6546,_('使用しない'){/t}</label>
</td>
</tr>


{if $__frame.n2my.mail_wb_upload}
<tr>
<th>{t}6537,_('メールファイル貼込み'){/t}</th>
<td>
<input type="radio" name="mfp" value="all" id="is_active_0"{if $room_info.mfp == "all"} checked="checked"{/if}><label for="is_active_0">{t}6538,_(' 全受信を許可する'){/t}</label><br />
<input type="radio" name="mfp" value="select" id="is_active_1"{if $room_info.mfp == "select"} checked="checked"{/if}><label for="is_active_1">{t}6539,_(' 登録されたメールアドレスからのみ受信を許可する'){/t}</label><br />
<input type="radio" name="mfp" value="deny" id="is_active_2"{if $room_info.mfp == "deny"} checked="checked"{/if}><label for="is_active_2">{t}6540,_(' 全受信を拒否する'){/t}</label>
{$error_info.mfp.err_msg}
<p class="form-txt">{t 1="/services/admin/room/?action_set_active"}6541,_('送信元メールアドレスの登録は<a href="%1$s" target="_blank">メールファイル貼込み送信元設定</a>からできます。'){/t}</p>
</td>
</tr>
{else}
<input type="hidden" name="mfp" value="{$room_info.mfp}" />
{/if}


<tr>
<th>{t}6544,_('ファイル転送'){/t}</th>
<td>
<input type="radio" name="cabinet" id="cabinet_on" value="1"{if $room_info.cabinet == 1} checked="checked"{/if}/><label for="cabinet_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="cabinet" id="cabinet_off" value="0"{if $room_info.cabinet != 1} checked="checked"{/if} /><label for="cabinet_off">{t}6546,_('使用しない'){/t}</label>
{$error_info.cabinet}

<!-- ここから動的にon/off -->
<div id="cabinetForm" class="file-sec">
<table border="0" cellpadding="0" cellspacing="0">
<tr>
<th>{t}6533,_('容量：'){/t}</th>
<td><select name="cabinet_size">
<option{if $room_info.cabinet_size == "1"} selected="selected"{/if}>1</option>
<option{if $room_info.cabinet_size == "3"} selected="selected"{/if}>3</option>
<option{if $room_info.cabinet_size == "5"} selected="selected"{/if}>5</option>
<option{if $room_info.cabinet_size == "10"} selected="selected"{/if}>10</option>
<option{if $room_info.cabinet_size == "15"} selected="selected"{/if}>15</option>
<option{if $room_info.cabinet_size == "20"} selected="selected"{/if}>20</option>
</select>{t}6534,_('MB／１ファイル'){/t}</td>
</tr>
<tr>
<th>{t}6536,_('ファイル形式：'){/t}</th>
<td>
<p class="form-txt">{t}6547,_('拡張子を入力し、『追加』ボタンを押してください。'){/t}</p>
<p class="attention small">{t}6548,_('拡張子が登録されている場合は、登録された拡張子のみをアップロードすることができます。'){/t}</p>
<div class="file-type-cabinet">
<p class="file-add"><input type="text" id="input_filetype" value="" class="input-text" /><span class="button button22 b22-blue"><span class="button-inner"><input type="button" id="add_filetype" value="{t}6549,_('追加'){/t}" /></span></span></p>
<ul id="cabinet_filetypes">
{if $room_info.cabinet_filetype}
{foreach from=$room_info.cabinet_filetype item=filetype}
<li><input type="text" name="cabinet_filetype[]" value="{$filetype}" class="input-text" /><span class="button button22 b22-blue"><span class="button-inner"><input type="button" class="delete_cabinet_filetype" value="{t}6550,_('削除'){/t}" /></span></span></li>
{/foreach}
{/if}
{$error_info.cabinet_filetype}
</ul>
</div></td>
</tr>
</table>
</div>
<!-- ここまで動的にon/off -->

{literal}
<script type="text/javascript">
jQuery(function() {
jQuery(".delete_cabinet_filetype").bind('click', delete_cabinet_filetype);
jQuery("#add_filetype").click(function(){
add_item();
});
jQuery("#input_filetype").keydown(function(e){
if (e.keyCode == 13) {
    add_item();
}
});

function add_item() {
var myValue = jQuery("#input_filetype").val();
if (myValue) {
    if (myValue.match(/[^0-9a-z]/g)) {
        alert("{/literal}{t}6551,_('半角英数のみ入力可能です'){/t}{literal}");
    } else {
        jQuery("#cabinet_filetypes").append('<li><input type="text" name="cabinet_filetype[]" value="'+myValue+'" class="input-text"><span class="button button22 b22-blue"><span class="button-inner"><input type="button" class="delete_cabinet_filetype" value="{/literal}{t}6550,_('削除'){/t}{literal}" /></span></span></li>');
        jQuery("#input_filetype").val("");
        jQuery(".delete_cabinet_filetype").bind('click', delete_cabinet_filetype);
    }
}
}

function delete_cabinet_filetype(){
jQuery(this).parent().parent().parent().remove();
}
});
</script>
{/literal}
</td>
</tr>
<tr>
<tr class="device-col">
<th>{t}6694,_('カメラ・マイク設定画面の省略'){/t}<span id="target2" class="question">{t}6508,_('？'){/t}</span><div id="tooltip2" class="tooltip">{t}6695,_('会議室入室時、使用するカメラとマイクと、接続方法（プロトコル・ポート）の選択画面を省略して入室します。'){/t}</div></th>
<td>
<input type="radio" name="is_device_skip" id="is_device_skip_on" value="1"{if $room_info.is_device_skip} checked="checked"{/if} /><label for="is_device_skip_on">{t}6696,_('省略する'){/t}</label>
<input type="radio" name="is_device_skip" id="is_device_skip_off" value="0"{if !$room_info.is_device_skip} checked="checked"{/if} /><label for="is_device_skip_off">{t}6697,_('省略しない'){/t}</label>
</td>
</tr>


{if $protocol_list}
<tr>
<th>{t}6519,_('プロトコル・ポート制限'){/t}<span id="target3" class="question">{t}6508,_('？'){/t}</span><div id="tooltip3" class="tooltip">{t}6520,_('会議室に入室する際のプロトコル・ポートの優先順位を設定することができます。'){/t}<br />{t}6521,_('無効にしたプロトコル・ポートは使用されません。'){/t}</div></th>
<td>
    <table border="0" class="port-sec">
    <tr>
    <td>
    <p class="valid">{t}6522,_('有効'){/t}</p>
    <div class="select-box clearfix">
    <select id="protocol_allow" multiple="multiple" size="10">
{foreach from=$protocol_allow_list key=key item=protocol_allow}
    <option value="{$key}">{$protocol_allow|escape:"html"}</option>
{/foreach}
    </select>
    <input type="hidden" id="rtmp_protocol" name="rtmp_protocol" value="{$room_info.rtmp_protocol}">
    <p><a href='javascript:;void(0);' onclick='moveUpElement("protocol")' class="bt-up">{t}6523,_('↑'){/t}</a><a href='javascript:;void(0);' onclick='moveDownElement("protocol")' class="bt-down">{t}6524,_('↓'){/t}</a></p>
    </div>
    </td>
    <td class="td-arrow">
    <a class="button button22" href='javascript:;void(0);' onclick='moveRight("protocol");'><span class="button-inner"><span class="btnin">{t}6525,_('→'){/t}</span></span></a>
    <a class="button button22" href='javascript:;void(0);' onclick='moveLeft("protocol");'><span class="button-inner"><span class="btnin">{t}6526,_('←'){/t}</span></span></a>
    </td>
    <td>
    <p class="invalid">{t}6527,_('無効'){/t}</p>
    <div class="select-box clearfix">
    <select id="protocol_deny" multiple="multiple" size="10">
{foreach from=$protocol_deny_list key=key item=protocol_deny}
    <option value="{$key}">{$protocol_deny|escape:"html"}</option>
{/foreach}
    </select>
    </div>
    </td>
    </tr>
    </table>
    <p class="error">{$error_info.rtmp_protocol}</p>
</td>
</tr>
{/if}
{if $protocol_list2}
<tr>
<th>{t}6519,_('プロトコル・ポート制限'){/t}<br />{t}6528,_('(暗号化)'){/t}</th>
<td>
    <table border="0" class="port-sec">
    <tr>
    <td>
    <p class="valid">{t}6522,_('有効'){/t}</p>
    <div class="select-box clearfix">
    <select id="protocol2_allow" multiple="multiple" size="10">
{foreach from=$protocol_allow_list2 key=key item=protocol_allow}
    <option value="{$key}">{$protocol_allow|escape:"html"}</option>
{/foreach}
    </select>
    <input type="hidden" id="rtmp_protocol2" name="rtmp_protocol2" value="{$room_info.rtmp_protocol2}">
    <p><a href='javascript:;void(0);' onclick='moveUpElement("protocol2")' class="bt-up">{t}6523,_('↑'){/t}</a><a href='javascript:;void(0);' onclick='moveDownElement("protocol2")' class="bt-down">{t}6524,_('↓'){/t}</a></p>
    </td>
    <td class="td-arrow">
    <a class="button button22" href='javascript:;void(0);' onclick='moveRight("protocol2");'><span class="button-inner"><span class="btnin">{t}6525,_('→'){/t}</span></span></a>
    <a class="button button22" href='javascript:;void(0);' onclick='moveLeft("protocol2");'><span class="button-inner"><span class="btnin">{t}6526,_('←'){/t}</span></span></a>
    </td>
    <td>
     <p class="invalid">{t}6527,_('無効'){/t}</p>
    <div class="select-box clearfix">
    <select id="protocol2_deny" multiple="multiple" size="10">
{foreach from=$protocol_deny_list2 key=key item=protocol_deny}
    <option value="{$key}">{$protocol_deny|escape:"html"}</option>
{/foreach}
    </select>
    </div>
    </td>
    </tr>
    </table>
    {$error_info.rtmp_protocol}
</td>
</tr>
{/if}
{literal}
<script type="text/javascript">
var _member_whitelist_deny = new Array();
{/literal}
{foreach from=$member_whitelist_deny item=member}
_member_whitelist_deny.push ({literal}{{/literal}member_key : '{$member.member_key}', member_name : '{$member.member_name|escape:javascript}'{literal}}{/literal});
{/foreach}
{literal}
var _member_whitelist_allow = new Array();
{/literal}
{foreach from=$member_whitelist_allow item=member}
_member_whitelist_allow.push ({literal}{{/literal}member_key : '{$member.member_key}', member_name : '{$member.member_name|escape:javascript}'{literal}}{/literal});
{/foreach}
{literal}
var _member_whitelist_all = _member_whitelist_allow.concat(_member_whitelist_deny);
function searchMember(id){
    var member_name = j$("#search_member_" + id).val();
    var member_list = new Array();
    var _member_list = null;
    var _member = null;
    if(id == "allow"){
        _member_list = _member_whitelist_allow;
    }else if(id == "deny"){
        _member_list = _member_whitelist_deny;
    }
    for (var index = 0; index < _member_list.length; index ++){
        if(_member_list[index]["member_name"].indexOf(member_name) != -1){
            member_list.push({"member_key":_member_list[index]["member_key"], "member_name":_member_list[index]["member_name"]});
        }
    }
    // $("member_whitelist_deny").options.length = 0;
    j$("#member_whitelist_" + id).find('option').remove();
    var option = null;
    for (index = 0; index < member_list.length; index ++){
        // option = new Option(member_list[index]["member_id"], member_list[index]["member_key"]);
        option = "<option value=" + member_list[index]["member_key"] + ">" + member_list[index]["member_name"] + "</option>";
        j$("#member_whitelist_" + id).append(option);
    }
}
function moveRight(id) {
    var denybox = document.getElementById(id + '_deny');
    var allowbox = document.getElementById(id + '_allow');
    var option_list = allowbox.getElementsByTagName('option');
    for (var i = option_list.length; i > 0; i--) {
        if (option_list[i-1].selected) {
            denybox.insertBefore(allowbox.removeChild(option_list[i-1]), null);
        }
    }
}
function moveLeft(id) {
    var denybox = document.getElementById(id + '_deny');
    var allowbox = document.getElementById(id + '_allow');
    var option_list = denybox.getElementsByTagName('option');
    for (var i = option_list.length; i > 0; i--) {
        if (option_list[i-1].selected) {
            allowbox.insertBefore(denybox.removeChild(option_list[i-1]), null);
        }
    }
}
function diff_whitelist(array1, array2){
    var diff = array1.filter(function(current){
        return array2.filter(function(current_b){
            return current_b["member_key"] == current["member_key"]
        }).length == 0
    });
    return diff;
}
function moveWhiteListRight(id) {
    var denybox = document.getElementById(id + '_deny');
    var allowbox = document.getElementById(id + '_allow');
    var _option_list = allowbox.getElementsByTagName('option');
    var option_list = new Array();
    for(var i = 0; i < _option_list.length; i++){
        option_list.push(_option_list[i]);
    }
    var deny_keys = new Array();
    for(var j = 0; j < denybox.options.length; j++){
        deny_keys.push(denybox.options[j].value);
    }
    var option_delete = null;
    var move_box = new Array();
    for(var i = 1; i <= option_list.length; i++) {
        if(option_list[i-1].selected) {
            if(deny_keys.indexOf(option_list[i-1].value) != -1){
                option_delete = "member_whitelist_allow option[value='" + option_list[i-1].value + "']";
                j$("#" + option_delete).remove();
                continue;
            }
            move_box.push({"member_key" : option_list[i-1].value, "member_name" : option_list[i-1].text});
            denybox.insertBefore(allowbox.removeChild(option_list[i-1]), null);
        }
    }
    if(move_box.length > 0){
        for (var k = 0; k <= move_box.length - 1; k ++) {
            _member_whitelist_deny.push({"member_key" : move_box[k]["member_key"], "member_name" : move_box[k]["member_name"]});
        };
        _member_whitelist_allow = diff_whitelist(_member_whitelist_all, _member_whitelist_deny);
    }
}
function moveWhiteListLeft(id) {
    var denybox = document.getElementById(id + '_deny');
    var allowbox = document.getElementById(id + '_allow');
    var _option_list = denybox.getElementsByTagName('option');
    var option_list = new Array();
    for(var i = 0; i < _option_list.length; i++){
        option_list.push(_option_list[i]);
    }
    var allow_keys = new Array();
    for(var j = 0; j < allowbox.options.length; j++){
        allow_keys.push(allowbox.options[j].value);
    }
    var move_box = new Array();
    for(var i = 1; i <= option_list.length; i++) {
        if(option_list[i-1].selected) {
            if(allow_keys.indexOf(option_list[i-1].value) != -1){
                continue;
            }
        move_box.push({"member_key" : option_list[i-1].value, "member_name" : option_list[i-1].text});
        allowbox.insertBefore(denybox.removeChild(option_list[i-1]), null);
        }
    }
    if(move_box.length > 0){
        for (var k = 0; k <= move_box.length - 1; k ++) {
            _member_whitelist_allow.push({"member_key" : move_box[k]["member_key"], "member_name" : move_box[k]["member_name"]});
        };
        _member_whitelist_deny = diff_whitelist(_member_whitelist_all, _member_whitelist_allow);
    }
}
function moveUpElement(id) {
    var selectbox = document.getElementById(id + '_allow');
    var option_list = selectbox.getElementsByTagName('option');
    for (var i = 0; i < option_list.length; i++) {
        if (option_list[i].selected) {
            if (i > 0 && !option_list[i-1].selected) {
                selectbox.insertBefore(selectbox.removeChild(option_list[i]), option_list[i-1]);
                selectbox.focus();
            }
        }
    }
}
function moveDownElement(id) {
    var selectbox = document.getElementById(id + '_allow');
    var option_list = selectbox.getElementsByTagName('option');
    for (var i = option_list.length-1; i >= 0; i--) {
        if (option_list[i].selected) {
            if (i < option_list.length-1 && !option_list[i+1].selected) {
                selectbox.insertBefore(selectbox.removeChild(option_list[i+1]), option_list[i]);
                selectbox.focus();
            }
        }
    }
}
</script>
{/literal}

<tr class="layout-col" id="enter_room_4to3">
{if $__frame.service_mode != "sales"}
<th>{t}6507,_('入室時初期画面設定'){/t}<br />{t}6698,_('標準 (4:3)'){/t}<span id="target4" class="question">{t}6508,_('？'){/t}</span><div id="tooltip4" class="tooltip">{t}6509,_('会議室入室時の初期の画面を設定します。入室後に画面の変更が可能です。'){/t}</div></th>
<td>
<ul>
{if $room_info.options.whiteboard}
<li class="heightLine"><input type="radio" name="default_layout_4to3" id="layout01" value="onlyWhiteboard" checked="checked" />
<br /><label for="layout01"><img src="/shared/images/layout05.gif" />
<br />{t}6518,_('ホワイトボードのみ'){/t}</label></li>
{else}
<li class="heightLine"><input type="radio" name="default_layout_4to3" id="layout01" value="normal"{if $room_info.default_layout_4to3 == "normal" || $room_info.default_layout_4to3 == ""} checked="checked"{/if} />
<br /><label for="layout01"><img src="/shared/images/layout01.gif" />
<br />{t}6699,_('５拠点'){/t}
<br />{t}6510,_('（初期設定）'){/t}</label></li>
<li class="heightLine"><input type="radio" name="default_layout_4to3" id="layout02" value="largeWhiteboard"{if $room_info.default_layout_4to3 == "largeWhiteboard"} checked="checked"{/if} />
<br /><label for="layout02"><img src="/shared/images/layout02.gif" />
<br />{t}6700,_('５拠点（10拠点）'){/t}
<br />{t}6512,_('(ホワイトボード大)'){/t}</label>
<p class="attention small">{t}6513,_('※６拠点以上入室すると10拠点に切り替わります。'){/t}</p></li>
</li>
<li class="heightLine"><input type="radio" name="default_layout_4to3" id="layout03" value="small"{if $room_info.default_layout_4to3 == "small"} checked="checked"{/if} />
<br /><label for="layout03"><img src="/shared/images/layout03.gif" />
<br />{t}6514,_('２拠点'){/t}<br />{t}6515,_('(ホワイトボード小)'){/t}</label>
<p class="attention small">{t}6516,_('※３拠点以上入室すると５拠点に切り替わります。'){/t}</p></li>
<li class="heightLine"><input type="radio" name="default_layout_4to3" id="layout04" value="video"{if $room_info.default_layout_4to3 == "video"} checked="checked"{/if} />
<br /><label for="layout04"><img src="/shared/images/layout04.gif" />
<br />{t}6517,_('映像のみ'){/t}</label><p class="attention small">{t}6701,_('※５拠点以上入室すると９拠点に切り替わります。'){/t}</p></li>
<li class="heightLine"><input type="radio" name="default_layout_4to3" id="layout05" value="onlyWhiteboard"{if $room_info.default_layout_4to3 == "onlyWhiteboard"} checked="checked"{/if} />
<br /><label for="layout05"><img src="/shared/images/layout05.gif" />
<br />{t}6518,_('ホワイトボードのみ'){/t}</label></li>
{/if}
</ul>
{$error_info.default_layout_4to3.err_msg}
</td>
</tr>
{/if}

<tr class="layout-col" id="enter_room_16to9">
<th>{t}6507,_('入室時初期画面設定'){/t}<br />{t}6702,_('ワイド (16:9)'){/t}<span id="target5" class="question">{t}6508,_('？'){/t}</span><div id="tooltip5" class="tooltip">{t}6509,_('会議室入室時の初期の画面を設定します。入室後に画面の変更が可能です。'){/t}</div></th>
<td>
<ul>
{if $room_info.options.whiteboard}
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw01" value="onlyWhiteboard" checked="checked" />
    <br /><label for="layoutw01"><img src="/shared/images/layoutw07.gif" />
    <br />{t}8299,_('ホワイトボードと<br />チャット'){/t}</label></li>
{elseif $__frame.service_mode == "sales"}
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw01" value="normal" {if $room_info.default_layout_16to9 == "normal" || $room_info.default_layout_16to9 == "" } checked="checked"{/if} />
    <br /><label for="layoutw01"><img src="/shared/images/layoutw06.gif" />
    <br />{t}6514,_('２拠点'){/t}<br />{t}6510,_('（初期設定）'){/t}</label></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw02" value="textChatWhiteboard"{if $room_info.default_layout_16to9 == "textChatWhiteboard"} checked="checked"{/if} />
    <br /><label for="layoutw02"><img src="/shared/images/layoutw07.gif" />
    <br />{t}8299,_('ホワイトボードと<br />チャット'){/t}</label></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw05" value="onlyWhiteboard"{if $room_info.default_layout_16to9 == "onlyWhiteboard"} checked="checked"{/if} />
    <br /><label for="layoutw05"><img src="/shared/images/layoutw03.gif" />
    <br />{t}6518,_('ホワイトボードのみ'){/t}</label></li>
{else}
  {if $__frame.isVersion4650 }
  	{if $__frame.user_info.account_model == "centre" || $terminal_count > 0}
  	<li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw02" value="small"{if $room_info.default_layout_16to9 == "small"} checked="checked"{/if} />
    <br /><label for="layoutw02"><img src="/shared/images/layoutw04.gif" />
    <br />{t}7925,_('３拠点'){/t}
    <br />{t}7928,_('（映像＋WB）'){/t}</label><p class="attention small">{t}7929,_('※４拠点以上入室すると６拠点に切り替わります。'){/t}</p></li>
    {/if}
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw01" value="normal"{if $room_info.default_layout_16to9 == "normal" || $room_info.default_layout_16to9 == ""} checked="checked"{/if} />
    <br /><label for="layoutw01"><img src="/shared/images/layoutw01.gif" />
    <br />{t}6511,_('６拠点'){/t}
    <br />{t}7928,_('（映像＋WB）'){/t}</label><p class="attention small">{t}6703,_('※７拠点以上入室すると12拠点（映像＋WB）に切り替わります。'){/t}</p></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw03" value="video"{if $room_info.default_layout_16to9 == "video" || $room_info.default_layout_16to9 == "video,small"} checked="checked"{/if} />
    <br /><label for="layoutw03"><img src="/shared/images/layoutw02.gif" />
    <br />{t}6514,_('２拠点'){/t}
    <br />({t}6517,_('映像のみ'){/t})</label><p class="attention small">{t}6704,_('※３拠点以上入室すると６拠点（映像のみ）に切り替わります。'){/t}</p></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw05" value="onlyWhiteboard"{if $room_info.default_layout_16to9 == "onlyWhiteboard"} checked="checked"{/if} />
    <br /><label for="layoutw05"><img src="/shared/images/layoutw03.gif" />
    <br />{t}6518,_('ホワイトボードのみ'){/t}</label></li>
  {else}
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw02" value="small"{if $room_info.default_layout_16to9 == "small" || $room_info.default_layout_16to9 == ""} checked="checked"{/if} />
    <br /><label for="layoutw02"><img src="/shared/images/layoutw04.gif" />
    <br />{t}7925,_('３拠点'){/t}
    <br />{t}7928,_('（映像＋WB）'){/t}</label><p class="attention small">{t}7929,_('※４拠点以上入室すると６拠点に切り替わります。'){/t}</p></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw01" value="normal"{if $room_info.default_layout_16to9 == "normal"} checked="checked"{/if} />
    <br /><label for="layoutw01"><img src="/shared/images/layoutw01.gif" />
    <br />{t}6511,_('６拠点'){/t}
    <br />{t}7928,_('（映像＋WB）'){/t}</label><p class="attention small">{t}6703,_('※７拠点以上入室すると12拠点（映像＋WB）に切り替わります。'){/t}</p></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw03" value="video,small"{if $room_info.default_layout_16to9 == "video,small"} checked="checked"{/if} />
    <br /><label for="layoutw03"><img src="/shared/images/layoutw02.gif" />
    <br />{t}6514,_('２拠点'){/t}
    <br />({t}6517,_('映像のみ'){/t})</label><p class="attention small">{t}6704,_('※３拠点以上入室すると６拠点（映像のみ）に切り替わります。'){/t}</p></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw04" value="video"{if $room_info.default_layout_16to9 == "video"} checked="checked"{/if} />
    <br /><label for="layoutw04"><img src="/shared/images/layoutw05.gif" />
    <br />{t}6511,_('６拠点'){/t}
    <br />({t}6517,_('映像のみ'){/t})</label><p class="attention small">{t}7930,_('※７拠点以上入室すると12拠点（映像のみ）に切り替わります。'){/t}</p></li>
    <li class="heightLine"><input type="radio" name="default_layout_16to9" id="layoutw05" value="onlyWhiteboard"{if $room_info.default_layout_16to9 == "onlyWhiteboard"} checked="checked"{/if} />
    <br /><label for="layoutw05"><img src="/shared/images/layoutw03.gif" />
    <br />{t}6518,_('ホワイトボードのみ'){/t}</label></li>
    {/if}
{/if}
</ul>
{$error_info.default_layout_16to9.err_msg}
</td>
</tr>
{if $__frame.user_info.meeting_version >= "4.7.0.0"}
<tr>
<th>{t}7627,_('入室時マイクミュート'){/t}<span id="target8" class="question">{t}6508,_('？'){/t}</span><div id="tooltip8" class="tooltip">{t}7639,_('強制ミュートの場合は、参加者は入室前にミュートを解除できません。<br />デフォルトミュートの場合は、入室前のミュートを参加者が解除できます。<br />ユーザー設定優先の場合は、ミュートするかどうかを参加者が決められます。'){/t}</div></th>
<td>
<input type="radio" name="default_microphone_mute" id="microphone_fixedon" value="fixedon"{if $room_info.default_microphone_mute == "fixedon"} checked="checked"{/if} /><label for="microphone_fixedon">{t}7628,_('強制ミュート'){/t}</label>　
<input type="radio" name="default_microphone_mute" id="microphone_on" value="on"{if $room_info.default_microphone_mute == "on"} checked="checked"{/if} /><label for="microphone_on">{t}7629,_('デフォルトミュート(任意解除可)'){/t}</label>　
<input type="radio" name="default_microphone_mute" id="microphone_off" value="off"{if $room_info.default_microphone_mute == "off"} checked="checked"{/if} /><label for="microphone_off">{t}7630,_('ユーザー設定優先（ユーザーの前回入室時の設定が優先されます）'){/t}</label>
</td>
</tr>

<tr>
<th>{t}7631,_('入室時カメラミュート'){/t}<span id="target9" class="question">{t}6508,_('？'){/t}</span><div id="tooltip9" class="tooltip">{t}7639,_('強制ミュートの場合は、参加者は入室前にミュートを解除できません。<br />デフォルトミュートの場合は、入室前のミュートを参加者が解除できます。<br />ユーザー設定優先の場合は、ミュートするかどうかを参加者が決められます。'){/t}</div></th>
<td>
<input type="radio" name="default_camera_mute" id="camera_fixedon" value="fixedon"{if $room_info.default_camera_mute == "fixedon"} checked="checked"{/if} /><label for="camera_fixedon">{t}7628,_('強制ミュート'){/t}</label>　
<input type="radio" name="default_camera_mute" id="camera_on" value="on"{if $room_info.default_camera_mute == "on"} checked="checked"{/if} /><label for="camera_on">{t}7629,_('デフォルトミュート(任意解除可)'){/t}</label>　
<input type="radio" name="default_camera_mute" id="camera_off" value="off"{if $room_info.default_camera_mute == "off"} checked="checked"{/if} /><label for="camera_off">{t}7630,_('ユーザー設定優先（ユーザーの前回入室時の設定が優先されます）'){/t}</label>
</td>
</tr>

<tr>
<th>{t}7676,_('話者音量の自動調節'){/t}<span id="target10" class="question">{t}6508,_('？'){/t}</span><div id="tooltip10" class="tooltip">{t}7677,_('会議室設定の「話者音量の自動調整」を「ON」にすると、会議参加者の音声がシステムによって自動調整され、聞き取りやすくなります。'){/t}</div></th>
<td>
<input type="radio" name="default_agc_use_flg" id="agc_on" value="1"{if $room_info.default_agc_use_flg} checked="checked"{/if} /><label for="agc_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="default_agc_use_flg" id="agc_off" value="0"{if !$room_info.default_agc_use_flg} checked="checked"{/if} /><label for="agc_off">{t}6546,_('使用しない'){/t}</label>
</td>
</tr>
{/if}
{if $is_set_all == 0 && !$room_info.options.whiteboard && $__frame.user_info.meeting_version >= "4.7.0.0" && $__frame.service_mode != "sales"}
{if !$room_info.active_speaker_mode_only_flg && $room_info.max_audience_seat == 0}
<tr>
<th>{t}9138,_('アクティブスピーカーモード'){/t}<span id="target23" class="question">{t}6508,_('？'){/t}</span><div id="tooltip23" class="tooltip">{t}9139,_('アクティブスピーカーモードとは、発言者の映像を大きく表示する機能です。<br />「映像枠の表示上限数」で設定した拠点数を上限とし、発言者を優先的に表示します。<br />研修など、発言者が限定されている会議などに便利です。'){/t}</div></th>
<td>
<input type="radio" name="active_speaker_mode_use_flg" id="active_speaker_mode_on" value="1"{if $room_info.active_speaker_mode_use_flg} checked="checked"{/if} /><label for="active_speaker_mode_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="active_speaker_mode_use_flg" id="active_speaker_mode_off" value="0"{if !$room_info.active_speaker_mode_use_flg} checked="checked"{/if} /><label for="active_speaker_mode_off">{t}6546,_('使用しない'){/t}</label>
<p class="attention small">{t}9211,_('※自動トランシーバーモードで設定した拠点が少ない場合、会議中に突然トランシーバーモードに切り替わり、<br />全員がマイクミュートになってしまう可能性があるので、アクティブスピーカーと自動トランシーバーモードは同時にご使用頂けません。'){/t}</p>
</td>
</tr>
{elseif $room_info.active_speaker_mode_only_flg}
<input type="hidden" name="active_speaker_mode_use_flg" id="active_speaker_mode_on" value="1" />
<input type="hidden" name="active_speaker_mode_only_flg" id="active_speaker_mode_only_flg" value="1" />
{/if}
{if $room_info.active_speaker_mode_only_flg || $room_info.max_audience_seat == 0}
<!-- <tr id="active_speakerForm">
<th>{t}9147,_('最大同時発話人数'){/t}<span id="target30" class="question">{t}6508,_('？'){/t}</span><div id="tooltip30" class="tooltip">{t}9148,_('同時に発言できる人数の上限を設定します。'){/t}</div></th>
<td>
<div class="file-sec">
<select id="active_speaker_mode_speaker_count" name="active_speaker_mode_speaker_count">
{section name=foo start=2 loop=$room_info.active_speaker_mode_user_count+1 step=1}
  <option value="{$smarty.section.foo.index}"{if $room_info.active_speaker_mode_speaker_count == $smarty.section.foo.index} selected="selected"{/if}>{$smarty.section.foo.index}</option>
{/section}
</select>{t}9149,_('拠点'){/t}

</div>
</td>
</tr>
<tr class="layout-col" id="active_speaker_mode_4to3">
<th>{t}9150,_('アクティブスピーカーレイアウト'){/t}<br />{t}6698,_('標準 (4:3)'){/t}<span id="target24" class="question">{t}6508,_('？'){/t}</span><div id="tooltip24" class="tooltip">{t}9151,_('会議内入室時の初期の画面を設定します。入室後に画面の変更が可能です。'){/t}</div></th>
<td>
<ul>
<li class="heightLine"><input type="radio" name="active_speaker_mode_4to3" id="layout01" value="normal" {if $room_info.active_speaker_default_layout_4to3 == "normal" || !$room_info.active_speaker_default_layout_4to3} checked="checked"{/if} />
<br /><label for="layout01"><img src="/shared/images/layout01.gif" />
<br />{t}9152,_('映像<br />ホワイトボード'){/t}</label></li>
<li class="heightLine"><input type="radio" name="active_speaker_mode_4to3" id="layout02" value="video" {if $room_info.active_speaker_default_layout_4to3 == "video"} checked="checked"{/if} />
<br /><label for="layout02"><img src="/shared/images/layout04.gif" />
<br />{t}6517,_('映像のみ'){/t}</label></li>
<li class="heightLine"><input type="radio" name="active_speaker_mode_4to3" id="layout03" value="onlyWhiteboard" {if $room_info.active_speaker_default_layout_4to3 == "onlyWhiteboard"} checked="checked"{/if} />
<br /><label for="layout03"><img src="/shared/images/layout05.gif" />
<br />{t}6518,_('ホワイトボードのみ'){/t}</label></li></ul>
{$error_info.default_layout_4to3.err_msg}
</td>
</tr> -->
<tr class="layout-col" id="active_speaker_mode_16to9">
<th>{t}9150,_('入室時初期画面設定'){/t}<span id="target25" class="question">{t}6508,_('？'){/t}</span><div id="tooltip25" class="tooltip">{t}9151,_('会議室入室時の初期レイアウトが設定できます。<br />入室後にレイアウト変更が可能です。'){/t}</div></th>
<td>
<ul>
<li class="heightLine"><input type="radio" name="active_speaker_mode_16to9" id="layoutw01" value="small" {if $room_info.active_speaker_default_layout_16to9 == "small" || !$room_info.active_speaker_default_layout_16to9} checked="checked"{/if} />
<br /><label for="layoutw01"><img src="/shared/images/layoutw04.gif" />
<br />{t}9152,_('映像<br />ホワイトボード'){/t}</label></li>
<li class="heightLine"><input type="radio" name="active_speaker_mode_16to9" id="layoutw02" value="video"{if $room_info.active_speaker_default_layout_16to9 == "video"} checked="checked"{/if} />
<br /><label for="layoutw02"><img src="/shared/images/layoutw05.gif" />
<br />{t}6517,_('映像のみ'){/t}</li>
<li class="heightLine"><input type="radio" name="active_speaker_mode_16to9" id="layoutw03" value="onlyWhiteboard" {if $room_info.active_speaker_default_layout_16to9 == "onlyWhiteboard"} checked="checked"{/if} />
<br /><label for="layoutw03"><img src="/shared/images/layoutw03.gif" />
<br />{t}6518,_('ホワイトボードのみ'){/t}</label></li>
</ul>
{$error_info.default_layout_16to9.err_msg}
</td>
</tr>
<tr id="active_speakerModeUseCount">
<th>{t}9140,_('映像枠の表示上限数'){/t}<span id="target29" class="question">{t}6508,_('？'){/t}</span><div id="tooltip29" class="tooltip">{t}9141,_('映像枠内に表示する拠点数の上限を設定できます。<br />「5拠点」に設定した場合は、5枠を上限に入室人数に応じて映像枠数が変動します。<br />6名以上入室しても、映像枠は5枠のみとなります。'){/t}</div></th>
<td>
<div class="file-sec">
<input type="radio" name="active_speaker_mode_user_count" id="active_speaker_mode_user_count3" value="3"{if $room_info.active_speaker_mode_user_count == "3"} checked="checked"{/if} /><label for="active_speaker_mode_user_count3">{t}9143,_('3拠点'){/t}</label>　
<input type="radio" name="active_speaker_mode_user_count" id="active_speaker_mode_user_count4" value="4"{if $room_info.active_speaker_mode_user_count == "4"} checked="checked"{/if} /><label for="active_speaker_mode_user_count4">{t}9144,_('4拠点'){/t}</label>　
<input type="radio" name="active_speaker_mode_user_count" id="active_speaker_mode_user_count5" value="5"{if $room_info.active_speaker_mode_user_count == "5"} checked="checked"{/if} /><label for="active_speaker_mode_user_count5">{t}9184,_('5拠点'){/t}</label>　
<input type="radio" name="active_speaker_mode_user_count" id="active_speaker_mode_user_count9" value="9"{if $room_info.active_speaker_mode_user_count == "9"} checked="checked"{/if} /><label for="active_speaker_mode_user_count9">{t}9185,_('9拠点'){/t}</label>　
{if $room_info.max_seat >= 20 && !$__frame.ignore_menu.layout20_as}
<input type="radio" name="active_speaker_mode_user_count" id="active_speaker_mode_user_count20" value="20"{if $room_info.active_speaker_mode_user_count == "20"} checked="checked"{/if} /><label for="active_speaker_mode_user_count20">{t}9215,_('20拠点'){/t}</label>　
{/if}
</div>
</td>
</tr>
{/if}
{/if}
{if  $is_set_all == 0}
<tr id="transceiver_tr">
<th>{t}6553,_('自動トランシーバモード'){/t}<span id="target6" class="question">{t}6508,_('？'){/t}</span><div id="tooltip6" class="tooltip">{t}6780,_('※設定した拠点数以上が入室すると、全拠点が自動的にトランシーバーモードに切り替わります。'){/t}
<br />{t}6554,_('発言の際のみ会議室内の「ミュート解除ボタン」、あるいはパソコンの「スペースキー」で解除します。'){/t}
<br />{t}6778,_('同時に発言できる拠点数が5拠点に制限されます。'){/t}</div></th>
<td>
<input type="radio" name="is_auto_transceiver" id="trans_on" value="1"{if $room_info.is_auto_transceiver} checked="checked"{/if} /><label for="trans_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="is_auto_transceiver" id="trans_off" value="0"{if !$room_info.is_auto_transceiver} checked="checked"{/if} /><label for="trans_off">{t}6546,_('使用しない'){/t}</label>
<div id="transceiverForm" class="file-sec">
{t}6779,_('切り替え拠点数'){/t}:
<select name='transceiver_number'>
{section name=foo start=2 loop=12 step=1}
  <option value="{$smarty.section.foo.index}"{if $room_info.transceiver_number == $smarty.section.foo.index} selected="selected"{/if}>{$smarty.section.foo.index}</option>
{/section}
</select>
<p class="attention small">{t}6780,_('※設定した拠点数以上が入室すると、全拠点が自動的にトランシーバーモードに切り替わります。'){/t}
<br />{t}6781,_('全拠点が自動トランシーバーモードに切り替わった後は、同時に発言できる拠点数が5拠点に制限されます。'){/t}</p>
</div>
</td>
</tr>
{/if}
<tr>
<th>{t}6555,_('オーディオ優先モード'){/t}<span id="target7" class="question">{t}6508,_('？'){/t}</span><div id="tooltip7" class="tooltip">{t}6650,_('映像の配信／受信を停止し、回線帯域を音声の通信に使用します。'){/t}
<br />{t}6556,_('低速回線での接続時、無線LAN 利用時など、通信が不安定な場合にご利用いただけます。'){/t}</div></th>
<td>
<input type="radio" name="is_auto_voice_priority" id="audio_on" value="1"{if $room_info.is_auto_voice_priority} checked="checked"{/if} /><label for="audio_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="is_auto_voice_priority" id="audio_off" value="0"{if !$room_info.is_auto_voice_priority} checked="checked"{/if} /><label for="audio_off">{t}6546,_('使用しない'){/t}</label>
<p class="attention small">{t}9406,_('※オーディオ優先モードを使用すると「回線速度測定省略モード」は使用できません。'){/t}</p>
</td>
</tr>
<tr>
<th><class="th-restrict">{t}6558,_('回線速度測定省略モード'){/t}</th>
<td>
<select name="is_netspeed_check">
    <option value=""{if !$room_info.is_netspeed_check} selected="selected"{/if}>{t}6559,_('自動測定'){/t}</option>
    {foreach from=$net_speed_list key=speed item=net_speed}
    <option value="{$speed|escape:'html'}"{if $room_info.is_netspeed_check == $speed} selected="selected"{/if}>{$net_speed|escape:'html'}</option>
    {/foreach}
</select>
<p class="attention small">{t}6560,_('※会議室入室時、自動回線測定を省略して入室します。'){/t}</p>
</td>
</tr>

<tr>
<th>{t}8579,_('入退室お知らせ表示'){/t}<span id="target19" class="question">{t}6508,_('？'){/t}</span><div id="tooltip19" class="tooltip">{t}8580,_('「表示する」に設定すると、会議室入室時と退室時にメッセージが表示されます。
'){/t}</div></th>
<td>
<input type="radio" name="is_participant_notifier" id="participant_notifier_on" value="1"{if $room_info.is_participant_notifier} checked="checked"{/if} /><label for="participant_notifier_on">{t}6692,_('表示する'){/t}</label>　
<input type="radio" name="is_participant_notifier" id="participant_notifier_off" value="0"{if !$room_info.is_participant_notifier} checked="checked"{/if} /><label for="participant_notifier_off">{t}6693,_('表示しない'){/t}</label>
</td>
</tr>

{if ($room_info.max_audience_seat > 0 || $is_set_all) && !$is_one_account}
<tr>
<th>{t}8721,_('オーディエンスのチャット利用'){/t}<span id="target22" class="question">{t}6508,_('？'){/t}</span><div id="tooltip22" class="tooltip">{t}8722,_('「許可する」に設定すると、オーディエンスユーザーは常にチャットメッセージの書き込みができます。'){/t}</div></th>
<td>
<input type="radio" name="audience_chat_flg" id="audience_chat_flg_on" value="1"{if $room_info.audience_chat_flg} checked="checked"{/if} /><label for="audience_chat_flg_on">{t}8295,_('許可'){/t}</label>　
<input type="radio" name="audience_chat_flg" id="audience_chat_flg_off" value="0"{if !$room_info.audience_chat_flg} checked="checked"{/if} /><label for="audience_chat_flg_off">{t}8296,_('禁止'){/t}</label>
</td>
</tr>
{/if}

<tr>
<th>{t}9131,_('モバイルミックス4X4レイアウト利用'){/t}<span id="target27" class="question">{t}6508,_('？'){/t}</span><div id="tooltip27" class="tooltip">{t}111111,_('説明文書'){/t}</div></th>
<td>
<input type="radio" name="mobile_4x4_layout" id="mobile_4x4_layout_on" value="1"{if $room_info.mobile_4x4_layout} checked="checked"{/if} /><label for="mobile_4x4_layout_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="mobile_4x4_layout" id="mobile_4x4_layout_off" value="0"{if !$room_info.mobile_4x4_layout} checked="checked"{/if} /><label for="mobile_4x4_layout_off">{t}6546,_('使用しない'){/t}</label>
</td>
</tr>
{if $room_info.options.record_gw == "1" || $enable_record_gw}
<tr>
<th><div class="th-restrict">{t}7445,_('録画ダウンロード形式選択'){/t}</div></th>
<td>
<input type="radio" name="rec_gw_convert_type" id="rec_gw_convert_type_on" value="mov"{if $room_info.rec_gw_convert_type != "wmv"} checked="checked"{/if} /><label for="rec_gw_convert_type_on">{t}7447,_('MOV'){/t}</label>　
<input type="radio" name="rec_gw_convert_type" id="rec_gw_convert_type_off" value="wmv"{if $room_info.rec_gw_convert_type == "wmv"} checked="checked"{/if} /><label for="rec_gw_convert_type_off">{t}7448,_('WMV'){/t}</label>
</td>
</tr>
<tr>
<th><div class="th-restrict">{t}7446,_('録画ダウンロードユーザー側操作'){/t}</div></th>
<td>
<input type="radio" name="rec_gw_userpage_setting_flg" id="rec_gw_userpage_setting_flg_on" value="1"{if $room_info.rec_gw_userpage_setting_flg == "1"} checked="checked"{/if} /><label for="rec_gw_userpage_setting_flg_on">{t}6545,_('使用する'){/t}</label>　
<input type="radio" name="rec_gw_userpage_setting_flg" id="rec_gw_userpage_setting_flg" value="0"{if $room_info.rec_gw_userpage_setting_flg != "1"} checked="checked"{/if} /><label for="rec_gw_userpage_setting_flg_off">{t}6546,_('使用しない'){/t}</label>
</td>
</tr>
{/if}
{if $__frame.service_mode=="sales"}
<tr>
<th>{t}8315,_('お客様カメラ利用'){/t}<span id="target17" class="question">{t}6508,_('？'){/t}</span><div id="tooltip17" class="tooltip">{t}8317,_('「禁止」に設定すると、スタッフ側とお客様側の両方の会議室画面で、<br />お客様映像を非表示にできます。'){/t}</div></th>
<td>
<input type="radio" name="customer_camera_use_flg" id="customer_camera_on" value="1"{if $room_info.customer_camera_use_flg} checked="checked"{/if} /><label for="customer_camera_on">{t}8295,_('許可'){/t}</label>　
<input type="radio" name="customer_camera_use_flg" id="customer_camera_off" value="0"{if !$room_info.customer_camera_use_flg} checked="checked"{/if} /><label for="customer_camera_off">{t}8296,_('禁止'){/t}</label>
</td>
</tr>
<tr>
<th>{t}8611,_('お客様側映像'){/t}<span id="target18" class="question">{t}6508,_('？'){/t}</span><div id="tooltip18" class="tooltip">{t}8612,_('お客様側の会議室画面で、お客様映像の表示/非表示を設定できます。<br />（表示するには、お客様カメラ利用を「許可」に設定する必要があります'){/t}</div></th>
<td>
<input type="radio" name="customer_camera_status" id="customer_camera_status_on" value="1"{if $room_info.customer_camera_status} checked="checked"{/if} /><label for="customer_camera_status_on">{t}8303,_('表示'){/t}</label>　
<input type="radio" name="customer_camera_status" id="customer_camera_status_off" value="0"{if !$room_info.customer_camera_status} checked="checked"{/if} /><label for="customer_camera_status_off">{t}8302,_('非表示'){/t}</label>
</td>
</tr>
<tr>
<th>{t}8301,_('お客様側デスクトップ共有ボタン'){/t}<span id="target13" class="question">{t}6508,_('？'){/t}</span><div id="tooltip13" class="tooltip">{t}8464,_('「禁止」に設定すると、お客様側のデスクトップ共有ボタンを非表示にできます。'){/t}</div></th>
<td>
<input type="radio" name="customer_sharing_button_hide_status" id="customer_sharing_button_hide_status_on" value="1"{if $room_info.customer_sharing_button_hide_status} checked="checked"{/if} /><label for="customer_sharing_button_hide_status_on">{t}8295,_('許可'){/t}</label>　
<input type="radio" name="customer_sharing_button_hide_status" id="customer_sharing_button_hide_status_off" value="0"{if !$room_info.customer_sharing_button_hide_status} checked="checked"{/if} /><label for="customer_sharing_button_hide_status_off">{t}8296,_('禁止'){/t}</label>
</td>
</tr>
<tr>
<th>{t}8304,_('ホワイトボード操作許可'){/t}<span id="target14" class="question">{t}6508,_('？'){/t}</span><div id="tooltip14" class="tooltip">{t}8463,_('「禁止」に設定すると、お客様側のホワイトボード操作を禁止にできます。'){/t}</div></th>
<td>
<input type="radio" name="wb_allow_flg" id="wb_allow_flg_on" value="1"{if $room_info.wb_allow_flg} checked="checked"{/if} /><label for="wb_allow_flg_on">{t}8295,_('許可'){/t}</label>　
<input type="radio" name="wb_allow_flg" id="wb_allow_flg_off" value="0"{if !$room_info.wb_allow_flg} checked="checked"{/if} /><label for="wb_allow_flg_off">{t}8296,_('禁止'){/t}</label>
</td>
</tr>
<tr>
<th>{t}8305,_('チャット許可'){/t}<span id="target15" class="question">{t}6508,_('？'){/t}</span><div id="tooltip15" class="tooltip">{t}8465,_('「禁止」に設定すると、お客様側のチャット操作を禁止にできます。'){/t}</div></th>
<td>
<input type="radio" name="chat_allow_flg" id="chat_allow_flg_on" value="1"{if $room_info.chat_allow_flg} checked="checked"{/if} /><label for="chat_allow_flg_on">{t}8295,_('許可'){/t}</label>　
<input type="radio" name="chat_allow_flg" id="chat_allow_flg_off" value="0"{if !$room_info.chat_allow_flg} checked="checked"{/if} /><label for="chat_allow_flg_off">{t}8296,_('禁止'){/t}</label>
</td>
</tr>
<tr>
<th>{t}8306,_('印刷許可'){/t}<span id="target16" class="question">{t}6508,_('？'){/t}</span><div id="tooltip16" class="tooltip">{t}8466,_('「禁止」に設定すると、お客様側の印刷操作許可を禁止にできます。'){/t}</div></th>
<td>
<input type="radio" name="print_allow_flg" id="print_allow_flg_on" value="1"{if $room_info.print_allow_flg} checked="checked"{/if} /><label for="print_allow_flg_on">{t}8295,_('許可'){/t}</label>　
<input type="radio" name="print_allow_flg" id="print_allow_flg_off" value="0"{if !$room_info.print_allow_flg} checked="checked"{/if} /><label for="print_allow_flg_off">{t}8296,_('禁止'){/t}</label>
</td>
</tr>
{/if}
