<form action="/api/document/index.php" target="_blank" enctype="multipart/form-data" method="post">
type :
<select name="ext">
<option value="jpg">jpg</option>
<option value="gif">gif</option>
<option value="png">png</option>
</select><br />
x <input type="text" name="x" size="4" value="1280">
y <input type="text" name="y" size="4" value="1024"><br />
document_path : <input type="text" name="document_path" value="vCubeIdFreePlan/allUser/"><br />
url : <input type="text" name="url" value="http://meeting-trunk-global.nice2meet.us"><br />
db : <input type="text" name="db_host" value="db1" size="15"><br />
file : <input type="file" name="file[]" size="50"><input type="text" name="name[]" value="あああ" size="20"><br />
file : <input type="file" name="file[]" size="50"><input type="text" name="name[]" value="いいい" size="20"><br />
file : <input type="file" name="file[]" size="50"><input type="text" name="name[]" value="ううう" size="20"><br />
file : <input type="file" name="file[]" size="50"><input type="text" name="name[]" size="20"><br />
file : <input type="file" name="file[]" size="50"><input type="text" name="name[]" size="20"><br />
<input type="submit" name="action_accept" value="追加"><br />
</form>

<form action="/api/document/index.php" target="_blank" enctype="multipart/form-data" method="post">
type :
<select name="ext">
<option value="jpg">jpg</option>
<option value="gif">gif</option>
<option value="png">png</option>
</select><br />
x <input type="text" name="x" size="4" value="1280">
y <input type="text" name="y" size="4" value="1024"><br />
document_path : <input type="text" name="document_path" value="test/111/"><br />
url : <input type="text" name="url" value="http://kiyomizu-win.gs1.vcube.co.jp"><br />
db : <input type="text" name="db_host" value="db1" size="15"><br />
name : <input type="text" name="name" size="40"><br />
file : <input type="file" name="file" size="90"><br />
<input type="submit" name="action_accept" value="追加"><br />
</form>

<form action="/api/document/index.php" target="_blank" enctype="multipart/form-data" method="post">
meeting_key : <input type="text" name="meeting_key" value=""><br />
participant_id : <input type="text" name="participant_id" value=""><br />
document_path : <input type="text" name="document_path" value="test/111/"><br />
db : <input type="text" name="db_host" value="db1" size="15"><br />
file : <input type="file" name="Filedata" size="90"><br />
<input type="submit" name="action_wb_upload" value="追加"><br />
</form>

APIで使用
<form action="/api/v2/user/meeting/" target="_blank" enctype="multipart/form-data" method="post">
session : <input type="text" name="n2my_session" size="90"><br />
room_id : <input type="text" name="room_id" value="" size="90"><br />
file : <input type="file" name="file" size="90"><br />
<input type="submit" name="action_wb_upload" value="追加"><br />
</form>
