<div id="gnav" class="admin-gnav clearfix">

<ul>
<li class="gnav01"><a href="/services/admin/"><span class="active">{t}254,_('メインページ'){/t}</span></a></li>
<li class="gnav05"><a href="/services/admin/meetinglog/?reset=1"><span class="active">{t}257,_('会議記録管理'){/t}</span></a></li>
{if !$__frame.ignore_menu.admin_log}
<li class="gnav03"><a href="/services/admin/log/"><span class="active">{t}255,_('ご利用ログの照会'){/t}</span></a></li>{/if}

{if !$__frame.ignore_menu.admin_room_info && !$__frame.n2my.mail_wb_upload}
<li class="gnav04"><a href="/services/admin/?action_room_plan&amp;setting=1"><span class="active">{t}256,_('会議室設定'){/t}</span></a></li>
{else $__frame.n2my.mail_wb_upload}
<li class="gnav04">
    <dl class="dropdown">
    <dt id="room-ddheader" class="gnav-room" onmouseover="ddMenu('room',1)" onmouseout="ddMenu('room',-1)"><a href="/services/admin/?action_room_plan&amp;setting=1"><span class="active"><span class="drop">{t}256,_('会議室設定'){/t}</span></span></a></dt>
    <dd id="room-ddcontent" onmouseover="cancelHide('room')" onmouseout="ddMenu('room',-1)">
    <ul>
    <li><a href="/services/admin/?action_room_plan&amp;setting=1">{t}7,_('会議室設定'){/t}</a></li>
    <li><a href="/services/admin/room/?action_set_active">{t}666,_('メールファイル貼込み送信元設定'){/t}</a></li>
    </ul>
    </dd>
    </dl>
</li>
{/if}

{if !$__frame.ignore_menu.admin_member}
<li class="gnav02">
    <dl class="dropdown">
    <dt id="member-ddheader" class="gnav-member" onmouseover="ddMenu('member',1)" onmouseout="ddMenu('member',-1)"><a href="/services/admin/member/"><span class="active"><span class="drop">{t}258,_('メンバー管理'){/t}</span></span></a></dt>
    <dd id="member-ddcontent" onmouseover="cancelHide('member')" onmouseout="ddMenu('member',-1)">
    <ul>
    <li><a href="/services/admin/member/?action_admin_member">{t}462,_('メンバー管理'){/t}</a></li>
    <li><a href="/services/admin/member/?action_admin_group">{t}468,_('グループ管理'){/t}</a></li>
    </ul>
    </dd>
    </dl>
</li>
{/if}
{if !$__frame.ignore_menu.admin_security}
<li class="gnav06">
    <dl class="dropdown">
    <dt id="security-ddheader" class="gnav-security" onmouseover="ddMenu('security',1)" onmouseout="ddMenu('security',-1)"><a href="/services/admin/security/"><span class="active"><span class="drop">{t}6626,_('セキュリティ設定'){/t}</span></span></a></dt>
    <dd id="security-ddcontent" onmouseover="cancelHide('security')" onmouseout="ddMenu('security',-1)">
    <ul>
    <li><a href="/services/admin/security/?action_ip_list">{t}6449,_('IPアドレス制限'){/t}</a></li>
    <li><a href="/services/admin/security/?action_meeting_setting">{t}6452,_('会議室利用制限'){/t}</a></li>
    </ul>
    </dd>
    </dl>
</li>
{/if}
{if !$__frame.ignore_menu.admin_account}
<li class="gnav07"><a href="/services/admin/?action_admin_info"><span class="active">{t}259,_('アカウント情報'){/t}</span></a></li>{/if}
{if !$__frame.ignore_menu.admin_inquiry}
<li class="gnav08"><a href="/services/admin/ask"><span class="active">{t}260,_('お問い合わせ'){/t}</span></a></li>{/if}
</ul>

</div>


{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}
