{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Meeting Log List"}
{literal}
<script type="text/javascript">
<!--
function move(){

	if(document.form.meeting_key.value != "" || document.form.meeting_sequence_key.value != "" || document.form.fms_url.value != ""){
	    if(confirm("{/literal}{t}1000006,_('Are you are to move?'){/t}{literal}")){
	        document.form._action.name = "action_s3up_complete";
	        document.form.submit();
	    }
	}else{
		alert("{/literal}{t}1000007,_('Please input the meeting items.'){/t}{literal}");
	}
}

function check(){

	if(document.form.meeting_key.value != "" || document.form.meeting_sequence_key.value != "" || document.form.fms_url.value != ""){
	    if(confirm("{/literal}{t}1000007,_('Are you sure to check?'){/t}{literal}")){
	        document.form._action.name = "action_s3up_check";
	        document.form.submit();
	    }
	}else{
		alert("{/literal}{t}1000007,_('Please input the meeting items.'){/t}{literal}");
	}
}

function room_delete(room_key, room_expire_date_time){
    document.delete_form._action.name = "action_room_expire";
    document.delete_form.room_key.value = room_key;
    document.delete_form.room_expire_date_time.value = room_expire_date_time;
    document.delete_form.submit();
}
//-->
</script>
{/literal}
<div id="container">
    <ul>
        <li><a href="#fragment1"><span>{t}1000004,_('Move Meeting Log'){/t}</span></a></li>
    </ul>

    <div id="fragment1">
        <form action="{$__frame.self}" name="form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<fieldset>
<legend>Form</legend>
<table>
    {if $message}
        <div class="required">
            <ul>
                <!-- start display errors -->
                {$message}
                <!-- end display errors -->
            </ul>
        </div>
    {/if}
    <tr>
        <td>{t}1000001,_('Meeting Key'){/t}</td>
        <td><input type="text" name="meeting_key"  id="meeting_key" size="20" value="{$meeting_key}" /></td>
    </tr>
    <tr>
        <td>{t}1000002,_('Sequence Key'){/t}</td>
        <td><input type="text" name="meeting_sequence_key" id="meeting_sequence_key" size="20" value="{$meeting_sequence_key}" /></td>
    </tr>
    <tr>
        <td>{t}1000003,_('FMS Server'){/t}</td>
        <td><input type="text" name="fms_url" id="fms_url" size="30" value="{$fms_url}" /></td>
    </tr>

    <tr>
        <th></th>
        <td>
            <input type="button" onclick="move();" value="{t}1000005,_('Move'){/t}"/>
            <input type="button" onclick="check();" value="{t}1000006,_('Check'){/t}"/>
        </td>
    </tr>
</table>
</fieldset>
</form>

    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}