{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/head.t.html" title="Room Detail"}
{literal}
<script type="text/javascript">
<!--
function add(form){
    if(confirm("{/literal}{t}1252,_('登録しますか？'){/t}{literal}")){
        document.add_form._action.name = "action_room_option";
        document.add_form.submit();
    }
}

function delete_pgi_setting(pgi_setting_key, room_key){
    var form = document.pgi_delete_form;
    if (confirm("{/literal}{t}9999,_('削除しますか？'){/t}{literal}")) {
       form._action.name   = "action_delete_pgi_setting";
       form.room_key.value = room_key;
       form.pgi_setting_key.value = pgi_setting_key;
       form.submit();
    }
}
function option_delete(service_option_key,ordered_service_option_key){
    if(confirm("{/literal}{t}1253,_('停止しますか？'){/t}{literal}")){
        document.delete_form._action.name = "action_room_option";
        document.delete_form.service_option_key.value = service_option_key;
        document.delete_form.ordered_service_option_key.value = ordered_service_option_key;
        document.delete_form.submit();
    }
}
function option_expire(form){
    if(confirm("{/literal}{t}999901,_('停止予定日を設定しますか？'){/t}{literal}")){
        document.expire_form._action.name = "action_room_option";
        document.expire_form.submit();
    }
}
function plan_change(){
    if(confirm("{/literal}{t}1254,_('変更しますか？'){/t}{literal}")){
        document.change_form._action.name = "action_room_plan_change";
        document.change_form.submit();
    }
}
{/literal}
{if !$__frame.ignore_menu.teleconference}
{literal}
function addPGiSetting(){
    if (!confirm("{/literal}{t}1252,_('登録しますか？'){/t}{literal}")) {
        return false;
    }
    var pgi_start_year  = $('#pgi_start_year').val(),
        pgi_start_month = $('#pgi_start_month').val();
    if (pgi_start_month.length == 1) {
        pgi_start_month = '0' + pgi_start_month;
    }
    $('#pgi_start_date').val(pgi_start_year + '/' + pgi_start_month);
    document.add_pgi_form._action.name = "action_pgi_setting";
    document.add_pgi_form.submit();
}
var pgi_server_config = {/literal}{$json_pgi_systems}{literal},
    pgi_server_config = pgi_server_config.system;

$(function() {
    if ($('#system_key')) {
        initPGiElements();
        $('#system_key').change(onChangeSystemKey);
    }
})

function getPGiConfigbySystemKey(key)
{
    var len = pgi_server_config.length;
    for (var i = 0; i < len; i++) {
        if (pgi_server_config[i].key == key) {
            return pgi_server_config[i];
        }
    }
}
function initPGiElements()
{
   var system = getPGiConfigbySystemKey(getSelectedSystemKey());

   $('#default_company_id').text(system.defaultCompanyID);       // 各項目にデフォルト値
   $('#service_company').text(system.serviceCompany);       // 各項目にデフォルト値

   var rate_elements = $('input.pgi_rate');
   initPGiRate(system.rates);
   initPGiCompanyInput(system.serviceCompany);
}
function initPGiCompanyInput(serviceCompany)
{
   if (serviceCompany == 'V-CUBE') {
       $('.company_id_input').hide();
       $('#pgi_input_description').text('');
       $("input[name='add_form[company_id_type]']").val(["default"]);
   } else {
       $('.company_id_input').show();
       $('#pgi_input_description').text('(テスト用)');
       $("input[name='add_form[company_id_type]']").val(["input"]);
   }
}
function initPGiRate(rates)
{
   var rate_elements = $('input.pgi_rate'),
       cssColor      = '',
       attrDisabled  = '';

   if (rates) {
       rate_elements.each(function(idx, elm) {
           $(elm).val(rates[$(elm).attr('id')]);
       });
        cssColor      = "white",
        attrDisabled  = '';
   } else {
        cssColor      = "lightgray",
        attrDisabled  = 'disabled';
   }
   rate_elements.css("background-color", cssColor);
   rate_elements.attr("disabled", attrDisabled);
}
function onChangeSystemKey()
{
    initPGiElements();
}
function getSelectedSystemKey()
{
    return $('select.#system_key').children(':selected').val();
}
//-->
{/literal}
{/if}
{literal}
</script>
{/literal}
<div class="title">{t}1255,_('[部屋情報]'){/t}</div>
<table class="searchList">
<thead>
    <tr>
        <th nowrap>{t}1256,_('項目'){/t}</th>
        <th nowrap>{t}1257,_('値'){/t}</th>
    </tr>
</thead>
<tbody>
    {foreach from=$room_detail key=key item=value}
    <tr>
        <td class="action">{$room_columns.$key.label}</td>
        <td>{$value|escape:'html'}{if $room_columns.$key.id == "user_key"} <input type="button" class="" name="" value="{t}1258,_('ユーザー情報'){/t}" onClick="location.href='?action_list&amp;table=user&amp;type=data&amp;sort_key=user_key&amp;form[user_key]={$value|escape:'html'}&reset=2'">{/if}</td>
    </tr>
    {/foreach}
</tbody>
</table>
{if $authority != 0}<input type="button" class="" name="" value="{t}1259,_('修正'){/t}" onClick="location.href='?action_modify&amp;type=data&amp;table=room&amp;key=room_key&amp;value={$room_key|escape:'html'}&uptime=room_updatetime'"><br />{/if}

<br />
{if $account_model != "member" && $account_model != 'centre'}
<form action="{$__frame.self}" name="change_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="room_key" value="{$room_key}" />
<input type="hidden" name="temp" value="{$action}" />
<div class="title">{t}1260,_('[プラン]'){/t}</div>
{if $message}
    <div class="required">
        <ul>{$message}</ul>
    </div>
{/if}
{if $authority != 0}
<fieldset>
<legend>{t}1261,_('プラン変更'){/t}</legend>
<table class="searchList">
<tr>
    <th>{t}1262,_('現在のプラン'){/t}</th>
    <td>{$now_plan}</td>
</tr>
<tr>
    <th>{t}1263,_('プラン'){/t}</th>
    <td>
        <select name="change_form[service_key]">
            {foreach from=$service key=key item=row}
            <option value="{$row.service_key}">{$row.service_name|escape:"html"} ( {t}4710,_('サービスキー'){/t} : {$row.service_key} ) </option>
            {/foreach}
        </select>
    </td>
</tr>
<tr>
    <th>{t}1265,_('割引率'){/t}</th>
    <td><input type="text" name="change_form[discount_rate]" size="10" value="" /></td>
</tr>
<tr>
    <th>{t}1266,_('変更日'){/t}</th>
    <td>
        <input type="text" id="plan_start_time" name="change_form[room_starttime]" value="" />
        <button type="reset" id="plan_start_time_btn">Cal</button>
        <script type="text/javascript">
            Calendar.setup({literal}{{/literal}
                inputField  : 'plan_start_time',
                button      : 'plan_start_time_btn',
                ifFormat    : '%Y/%m/%d 00:00:00',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true
            {literal}}{/literal});
        </script>
    </td>
</tr>
    <tr>
        <th>{t}1267,_('年間契約'){/t}</th>
        <td><input type="checkbox" name="change_form[room_plan_yearly]" value=1>{t}1268,_('契約する'){/t}</td>
    </tr>
    <tr>
        <th>{t}1269,_('終了日'){/t}</th>
        <td><input type="text" id="change_form_plan_endtime" name="change_form[room_plan_endtime]" value="" />
            <button type="reset" id="change_form_plan_endtime_btn">Cal</button>
            {if $column.flags.not_null == "1"}<span class="required">*</span>{/if}
            {if $required.$key}<br /><span class="required">{$message.required}</span>{/if}
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'change_form_plan_endtime',
        button      : 'change_form_plan_endtime_btn',
        ifFormat    : '%Y/%m/%d 00:00:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        </td>
    </tr>
    <tr>
        <th>{t}4711,_('契約期間'){/t} ( {t}4712,_('月数'){/t} ) </th>
        <td><select name="change_form[contract_month_number]">
                <option value="0">{t}1271,_('なし'){/t}</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
            </select>
        </td>
    </tr>
<tr>
    <th></th>
    <td>
        <input type="button" onclick="plan_change();" value="{t}1272,_('変更'){/t}"/>
    </td>
</tr>
</table>
</fieldset>
<br />
{/if}
<table class="searchList">
<thead>
    <tr>
        {foreach from=$room_plan_columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_plan={$key}&amp;sort_type_plan=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_plan={$key}&amp;sort_type_plan=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$room_plan_detail item=data}
    <tr>
        {foreach from=$room_plan_columns key=key item=colum}
        <td>{$data[$key]|escape:'html'}
            {if $colum.item.relation_data}
                {foreach from=$data[$key] item=value}
                    {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
                {/foreach}
            {elseif $colum.item.select}
                {foreach from=$colum.item.select item=select}
                    {if $select.value == $data[$key]} ( {$select.data|escape:'html'} ) {/if}
                {/foreach}
            {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
</form>
{else}
<div class="title">{t}1260,_('[プラン]'){/t}</div>
<fieldset>
<legend>{t}1261,_('プラン変更'){/t}</legend>
<table class="searchList">
<tr>
    <th>{t}1262,_('現在のプラン'){/t}</th>
    <td>{$now_plan}</td>
</tr>
</table>
</fieldset>
<table class="searchList">
<thead>
    <tr>
        {foreach from=$room_plan_columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_plan={$key}&amp;sort_type_plan=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_plan={$key}&amp;sort_type_plan=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$room_plan_detail item=data}
    <tr>
        {foreach from=$room_plan_columns key=key item=colum}
        <td>{$data[$key]|escape:'html'}
            {if $colum.item.relation_data}
                {foreach from=$data[$key] item=value}
                    {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
                {/foreach}
            {elseif $colum.item.select}
                {foreach from=$colum.item.select item=select}
                    {if $select.value == $data[$key]} ( {$select.data|escape:'html'} ) {/if}
                {/foreach}
            {/if}</td>
        {/foreach}
    </tr>
    {/foreach}
</tbody>
</table>
{/if}
<br />
<div class="title">{t}1276,_('[オプション]'){/t}</div>
{if $option_message}
    <div class="required">
        <ul>{$option_message}</ul>
    </div>
{/if}
{if $authority != 0 && $account_model != "member"}
<form action="{$__frame.self}" name="add_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="action_type" value="add" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="room_key" value="{$room_key}" />
<fieldset>
<legend>{t}1277,_('オプション追加'){/t}</legend>
<table class="searchList">
<tr>
    <th>{t}1278,_('オプション'){/t}</th>
    <td>
        <select name="add_form[service_option_key]">
            {foreach from=$service_option key=key item=row}
            {if ($now_plan_key == "45" || $now_plan_key == "46" || $now_plan_key == "47") && $row.service_option_key == "7"}
            {else}
            <option value="{$row.service_option_key}">{$row.service_option_name|escape:"html"} ( {t}1279,_('オプションキー'){/t} : {$row.service_option_key} ) </option>
            {/if}
            {/foreach}
        </select>
    </td>
</tr>
<tr>
    <th>{t}1280,_('追加日'){/t}</th>
    <td>
        <input type="text" id="option_start_time" name="add_form[option_start_time]" value="" />
        <button type="reset" id="option_start_time_btn">Cal</button>
        <script type="text/javascript">
            Calendar.setup({literal}{{/literal}
                inputField  : 'option_start_time',
                button      : 'option_start_time_btn',
                ifFormat    : '%Y/%m/%d 00:00:00',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true
            {literal}}{/literal});
        </script>
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="button" onclick="add();" value="{t}1281,_('追加'){/t}"/>
    </td>
</tr>
</table>
</fieldset>
</form>
<br />
{/if}

<form action="{$__frame.self}" name="delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="service_option_key" value="" />
<input type="hidden" name="ordered_service_option_key" value="" />
<input type="hidden" name="action_type" value="delete" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="room_key" value="{$room_key}" />
<input type="hidden" name="temp" value="{$action}" />
<table class="searchList">
<thead>
    <tr>
        <th class="action">{t}1282,_('アクション'){/t}</th>
        {foreach from=$option_columns key=key item=column}
        <th nowrap>
        {$column.label|escape:'html'}
        {if $column.sort == true}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_option={$key}&amp;sort_type_option=asc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "asc"}
                <img src="{$__frame.base_dir}shared/images/btn_asc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_asc.gif" border="0" /></a>
            {/if}
            <a href="?{$page.action}&amp;room_key={$room_key}&amp;sort_key_option={$key}&amp;sort_type_option=desc">
            {if $form_data.sort_key == $key && $form_data.sort_type == "desc"}
                <img src="{$__frame.base_dir}shared/images/btn_desc_on.gif" border="0" /></a>
            {else}
                <img src="{$__frame.base_dir}shared/images/btn_desc.gif" border="0" /></a>
            {/if}
        {/if}
        </th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$option_data item=data}
    <tr>
        <td class="action">{if $data.ordered_service_option_status != "0"}
        {if $authority != 0 && $account_model != "member"}<a href="javascript:option_delete({$data.service_option_key}, {$data.ordered_service_option_key})">{t}1283,_('停止'){/t}</a>{/if}{/if}</td>
        {foreach from=$option_columns key=key item=colum}
        <td>{$data[$key]|escape:'html'}
            {if $colum.item.relation_data}
                {foreach from=$data[$key] item=value}
                    {if $colum.item.relation_data.$value} ( {$colum.item.relation_data.$value|escape:'html'} ) {/if}
                {/foreach}
            {elseif $colum.item.select}
                {foreach from=$colum.item.select item=select}
                    {if $select.value == $data[$key]} ( {$select.data|escape:'html'} ) {/if}
                {/foreach}
            {/if}</td>
        {/foreach}

    </tr>
    {/foreach}
</tbody>
</table>
</form>

{if $option_flg && $authority != 0 && $account_model != "member"}
<form action="{$__frame.self}" name="expire_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="action_type" value="expire" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="room_key" value="{$room_key}" />
<input type="hidden" name="service_option_key" value="" />
<input type="hidden" name="ordered_service_option_key" value="" />
<input type="hidden" name="temp" value="{$action}" />
<fieldset>
<legend>
{t}1277,_('停止予定日設定'){/t}</legend>
<table class="searchList">
<tr>
    <th>{t}1278,_('オプション'){/t}</th>
    <td>
        <select name="expire_form[ordered_service_option_key]"">
            {foreach from=$service_option key=key item=row}
                {foreach from=$option_data item=data}
                    {if $data.ordered_service_option_status != 0}
                        {foreach from=$option_columns key=key item=colum}
                            {if $data[$key] == $row.service_option_key && $key == "service_option_key"}
                                <option value="{$data.ordered_service_option_key}">{$row.service_option_name|escape:"html"} ( {$data.ordered_service_option_key} ) ( {t}1279,_('オプションキー'){/t} : {$row.service_option_key} ) </option>
                            {/if}
                        {/foreach}
                    {/if}
                {/foreach}
            {/foreach}
        </select>
    </td>
</tr>
<tr>
    <th>{t}1280,_('停止予定日'){/t}</th>
    <td>
        <input type="text" id="option_expire_date_time" name="expire_form[option_expire_date_time]" value="{$option_date_default}"  readonly />
        <button type="reset" id="option_expire_date_time_btn">Cal</button>
        <script type="text/javascript">
        (function(){literal}{{/literal}
            var now = new Date();
            Calendar.setup({literal}{{/literal}
                inputField  : 'option_expire_date_time',
                button      : 'option_expire_date_time_btn',
                ifFormat    : '%Y/%m/%d %H:%M:00',
                showsTime   : true,
                singleClick : true,
                weekNumbers : true,
                cache       : true,
                disableFunc : function(date){literal}{{/literal}
                    if(date.getYear() < now.getYear() ||
                       date.getYear() == now.getYear() && date.getMonth() < now.getMonth() ||
                       date.getYear() == now.getYear() && date.getMonth() == now.getMonth() &&
                       date.getDate() < now.getDate()) return true;
            {literal}}{/literal}
        {literal}}{/literal});
        {literal}}{/literal})();
        </script>
    </td>
</tr>
<tr>
    <th></th>
    <td>
        <input type="button" onclick="option_expire();" value="{t}9999901,_('設定'){/t}"/>
    </td>
</tr>
</table>
</fieldset>
</form>
{/if}

<br />
<input type="button" onClick="history.back();" value="{t}1284,_('戻る'){/t}"/>
<br />
<br />
{if !$__frame.ignore_menu.teleconference}
<div class="title">[PGi設定]</div>

<form action="{$__frame.self}" name="add_pgi_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="action_type" value="add" />
<input type="hidden" name="__submit_key" value="{$__submit_key}" />
<input type="hidden" name="room_key" value="{$room_key}" />
<input type="hidden" id='pgi_start_date' name="add_form[pgi_start_date]" value="" />

<fieldset>
<legend>追加</legend>
<span class='required'>※全て入力必須<//span>
<table class="searchList">
<tr><th colspan=2>開始日</th>
    <td colspan=2>
        {assign var="now_year" value=$smarty.now|date_format:"%Y"}
        {assign var="now_month" value=$smarty.now|date_format:"%m"}
        <select id='pgi_start_year' name='pgi_start_year'>
            <option>{$now_year}</option>
            <option>{$now_year+1}</option>
        </select>
        <select id='pgi_start_month' name='pgi_start_month'>
        {section name=month loop=12}
        <option {if $smarty.section.month.iteration == $now_month}selected {/if}>{$smarty.section.month.iteration}</option>
        {/section}
        </select>
        /01
    </td>
</tr>
<tr><th colspan=2>system_key</th>
    <td colspan=2>
        <select  id='system_key' name='add_form[system_key]'>
            {foreach from=$pgi_systems->system item=system}
            <option {if $default_system_key == $system->key}selected{/if} value='{$system->key}'>{$system->description} ({$system->key})</option>
            {/foreach}
        </select>
    </td>
</tr>
<tr><th colspan=2>サービス提供元</th>
    <td colspan=2><span id ='service_company'></span></td>
</tr>
<tr><th colspan=2>company_id</th>
    <td colspan=2>
        <input type='radio' value='input' id='company_id_type_input' name='add_form[company_id_type]' class='company_id_input'/>
        <input size='8' type="text" id="company_id" name="add_form[company_id]" value="" class='company_id_input'/>
        <input  checked type='radio' value='default' id='company_id_type_default' name='add_form[company_id_type]'/>
        <span id='default_company_id'></span>
        <span id='pgi_input_description'></span>
    </td>
</tr>

{foreach from=$pgi_rate_config item=rate name=planloop}
<tr>
    {if $smarty.foreach.planloop.index == 0}
    <th rowspan={$pgi_rate_config|@count} >RC通話料金</th>
    {/if}
    <th>{$rate->description}</th>
    <td><input class='pgi_rate' type="text" id="{$rate->type}" name="add_form[{$rate->type}]" value="" />(円/分）</td>
</tr>
{/foreach}

{foreach from=$pgi_gm_rate_config item=rate name=planloop}
<tr>
    {if $smarty.foreach.planloop.index == 0}
    <th rowspan={$pgi_gm_rate_config|@count} >GM通話料金</th>
    {/if}
    <th>{$rate->description}</th>
    <td><input class='pgi_rate' type="text" id="{$rate->type}" name="add_form[{$rate->type}]" value="" />(円/分）</td>
</tr>
{/foreach}
<tr>
    <td colspan=3><input type="button" onclick="addPGiSetting();" value="追加"/></td>
</tr>

</table>
</fieldset>
</form>
<table class="searchList">
<thead>
    <tr>
        <th rowspan=2 >アクション</th>
        <th rowspan=2 >開始月</th>
        <th rowspan=2 >systemKey</th>
        <th rowspan=2 >companyID</th>
        <th rowspan=2 >clientId</th>
        <th rowspan=2 >clientPW</th>
        <th colspan={$pgi_rate_config|@count}}>通話料(円/分）</th>
        <th rowspan=2 >登録日</th>
    </tr>
    <tr>
       {foreach from=$pgi_rate_config item = plan}
       <th >{$plan->description}</th>
        {/foreach}
    </tr>
</thead>
<tbody>
    {foreach from=$pgi_settings item=setting}
    <tr>
        <td >
            <a href="javascript:delete_pgi_setting('{$setting.pgi_setting_key}', '{$room_key}')">削除</a></td>
        <td>{$setting.startdate}</td>
        <td>{$setting.system_key}</td>
        <td>{$setting.company_id}</td>
        <td>{$setting.client_id}</td>
        <td>{$setting.client_pw}</td>
        {foreach from=$pgi_rate_config item = plan}
        <td>{if count$pgi_rates[$setting.pgi_setting_key] }
                {foreach from=$pgi_rates[$setting.pgi_setting_key] key=k item=v}
                {if $plan->type == $k}
                    {$v}
                {/if}
                {/foreach}
            {else}-
            {/if}
        </td>
        {/foreach}
        <td>{$setting.registtime}</td>
    {/foreach}
    </tr>
</tbody>
</table>
<form action="{$__frame.self}" name="pgi_delete_form" method="post">
<input type="hidden" name="_action" value="" />
<input type="hidden" name="room_key" value="" />
<input type="hidden" name="pgi_setting_key" value="" />
</form>
{/if}
<br />

{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="sastik_admin/include/foot.t.html"}
