<hr />
<span class="footerLink">
<a href="#top">TOP</a>
</span>
<span class="footerInfo">
Server Time:{$__frame.server_time|date_format:'%Y/%m/%d %H:%M:%S'} |
Process Time:{$__frame.passage_time} Seconds
</span>
</body>
</html>