<div id="gnav" class="clearfix">
<div id="gnav-inner">
<ul>
<li class="gnav01"><a href="/services/api.php?action_presence2_start_meeting=a"><span class="active">{t}8100,_('ホーム'){/t}</span></a></li>

</ul>
{if 1 == "disable logout button"}
<p class="logout"><a href="/services/logout/">{t}2136,_('ログアウト'){/t}</a></p>
{/if}
</div>
</div>

{if $__frame.maintenance}
<div class="maint-col">
    <p class="maint-title">{t}6806,_('メンテナンス告知'){/t}</p>
    <p class="maint-text">
    {t}6807,_('メンテナンスを行います。'){/t}
    {$__frame.maintenance.start_datetime|date_format:"%Y/%m/%d %H:%M"} ~ {$__frame.maintenance.end_datetime|date_format:"%Y/%m/%d %H:%M"} (GMT {if $__frame.time_zone >= 0}+{/if}{$__frame.time_zone})
    {if $__frame.maintenance.url}<a href="{$__frame.maintenance.url}" target="{$__frame.maintenance.target}">{t}6808,_('詳細はこちら'){/t}</a>{/if}</p>
</div>
{/if}
