<div id="header" class="clearfix">
<h1><a href="/services/"><img src="/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
{if $__frame.service_mode && $__frame.use_mode_change}
<p id="btn-mode"><span class="button button22 b22-mode"><span class="button-inner"><input type="button" onclick="change_user_mode('{$__frame.service_mode}')" value="{t}8571,_('セールス＆サポート'){/t}" class="icon i-change22" /></span></span></p>
{literal}
<script>
function change_user_mode(mode) {
    var req_url = "/services/index.php?action_change_user_mode=&service_mode="+mode;
    window.location = req_url;
}
</script>
{/literal}
{/if}
{if !$__frame.ignore_menu.support_info}
<div class="support-info">

{t}8968,_('ビジネスプラス サポート(平日9：30 ～17:30 土日祝日,年末年始は休業)'){/t}&nbsp;<span>{t}8969,_('0120-688-360'){/t}</span>

</div>
{/if}
{if $__frame.lang == "ja_JP" && !$__frame.ignore_menu.eco_meter && $ecoInfo && $__frame.user_info.account_model != "free"}
<div id="eco-setting">
<img src="/shared/images/head_eco_img.gif" class="eco-period" title="{t sy=$ecoInfo.lastYear|date_format:"%Y" sm=$ecoInfo.lastYear|date_format:"%m"}1795,_('%1$s年%2$s月'){/t}{t}4435,_('～'){/t}{t ey=$ecoInfo.thisMonth|date_format:"%Y" em=$ecoInfo.thisMonth|date_format:"%m"}1795,_('%1$s年%2$s月'){/t}の累計" /></span>
<div id="eco-setting-inner">
<ul>
<li><span class="key">CO<sub>2</sub>：<span class="value">{$ecoInfo.eco_co2.value|default:'0'}</span>{$ecoInfo.eco_co2.unit}{t}1796,_('削減'){/t}</span></li>
<li><span class="key">{t}1797,_('交通費'){/t}：<span class="value">{$ecoInfo.eco_fare|default:'0'}</span>{t}1798,_('円'){/t}{t}1796,_('削減'){/t}</span></li>
<li><span class="key">{t}1800,_('時間'){/t}：<span class="value">{$ecoInfo.eco_time.hour|default:'0'}</span>{t}1800,_('時間'){/t}{if $ecoInfo.eco_time.minute}{$ecoInfo.eco_time.minute}{t}4437,_('分'){/t}{/if}{t}1796,_('削減'){/t}</span></li>
<li><span class="key">{t}2134,_('現在の最寄駅'){/t}：<a href="/services/index.php?action_env#eco-meter">{if $user_station}{$user_station|escape:'html'}{else}{t}4438,_('未設定'){/t}{/if}</a><!-- {t}2135,_('ECOレポート'){/t} : {if $eco_report|escape:'html'}{t}4439,_('設定済'){/t}{else}{t}4438,_('未設定'){/t}{/if} --></span></li>
</ul>
</div>
{/if}

</div>
</div>
