<div id="header">
<h1>{if $centre_admin_flg || $__frame.center_admin_login}<a href="/services/login/centre.php">{elseif $__frame.user_info}<a href="/services/">{else}<a href="/services/login/">{/if}<img src="/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
{if !$__frame.ignore_menu.support_info}
<div class="support-info">
{t}8968,_('ビジネスプラス サポート(平日9：30 ～17:30 土・日・祝日および年末年始は休業)'){/t}&nbsp;<span>{t}8969,_('0120-688-360（フリーダイヤル）'){/t}</span>
</div>
{/if}
</div>
