<div id="header" class="clearfix">

<h1><a href="/services/admin/"><img src="/lang/{$__frame.lang}/images/logo.gif" alt="{$__frame.service_info.full_name}" /></a></h1>
<div class="support-info">
{if !$__frame.n2my.auto_login}
<p class="logout"><a href="/services/logout/">{t}265,_('ログアウト'){/t}</a></p>
{/if}</div>
<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p></div>
</div>