/* ================================================== */

/*  Basic Tag Format  */

/* ================================================== */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin: 0;
    padding: 0;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
img {
    border: 0;
    vertical-align: top;
}
address,caption,cite,code,dfn,em,th,var {
    font-style: normal;
    font-weight: normal;
}
ol,ul {
    list-style: none;
}
caption,th {
    text-align: left;
}
h1,h2,h3,h4 {
    font-size: 100%;
    font-weight: bold;
}
h5,h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym {
    border: 0;
}

.clear {
    clear: both;
}

/* new clearfix */
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
    }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */


/* ieΜoOΞ */
* html             { zoom: 1; } /* IE6 */
*:first-child+html { zoom: 1; } /* IE7 */

/* ================================================== */

/*  Base  */

/* ================================================== */

body {
font-family: "CI", "Meiryo", "qMmpS Pro W3", "Hiragino Kaku Gothic Pro", "Osaka", Verdana, "lr oSVbN", "MS P Gothic", Arial, Helvetica, sans-serif;
font-size: 14px;
line-height: 1.5;
color: #333;
border-top: 7px solid #b0e2e9;
}

/* for WinIE7 */
*:first-child+html body {
font-size: 75%;
}
/* for WinIE6 */
* html body {
font-size: 75%;
}

/* -------------------------------------------- */
/*  link */
/* -------------------------------------------- */

a {
color: #2682c3;
text-decoration: underline;
outline: none;
}
a:hover {
text-decoration: none;
}
a:visited {
color: #096499;
}

/* -------------------------------------------- */
/*  form   */
/* -------------------------------------------- */

form {
display: inline;
}
fieldset  {
margin: 0;
padding: 0;
border: none;
}
label {
cursor:pointer;
font-size: 90%;
margin-right: 10px;
}
input, select, textarea {
color: #444;
vertical-align: middle;
}
input[type="radio"] {
	vertical-align: text-top;
}
select {
vertical-align: middle;
}
select option {
border-bottom: 1px solid #efefef;
}

/* tableΰ */
#content table select,
#content table textarea {
margin: 2px 0;
}


/* ================================================== */

/*  trial  */

/* ================================================== */

#trial {
	text-align: center;
}
#wrapper {
	width: 90%;
	margin: 15px auto 30px;
}
header {
	margin-bottom: 15px;
}
h2 {
	border-top: 5px solid #b0e2e9;
	border-bottom: 1px solid #ddd;
	padding: 13px 5px;
	font-size: 105%;
	margin-bottom: 15px;
}
#content {
	text-align: left;
}
input[type="text"],
input[type="password"],
input[type="email"] {
	width: 98%;
	padding: 5px 2px;
}
.title-article {
	font-weight: bold;
	margin-bottom: 0px;
}
.input-ex {
	font-size: 80%;
	color: #666;
}
.table-row  {
	margin-bottom: 15px;
}
label input {
	margin-right: 5px;
}
.add-block {
	font-size: 90%;
	margin-top: 5px;
}
.btn-submit {
	width: 100%;
	padding: 12px 0 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(#fc9239), color-stop(0.5, #ee6d01), to(#e26f0f));
	background: -moz-linear-gradient(top, #fc9239, #ee6d01 50%, #e26f0f);
	color: rgba(255,255,255,0.95);
	font-size: 110%;
	font-weight: bold;
	text-shadow:0px 1px 0px #b25506;
	border: 1px solid #ff9900;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-box-shadow: 0px 2px 2px #b2aeb0, inset 0 1px 0 rgba(255,255,255,0.5);
	-webkit-box-shadow: 0px 2px 2px #b2aeb0, inset 0 1px 0 rgba(255,255,255,0.5);
	box-shadow: 0px 2px 2px #b2aeb0, inset 0 1px 0 rgba(255,255,255,0.5);
	cursor: pointer;
}
.btn-submit:hover {
	background: -webkit-gradient(linear, left top, left bottom, from(#fc9d4e), color-stop(0.5, #f07d1d), to(#e67f28));
	background: -moz-linear-gradient(top, #fc9d4e, #f07d1d 50%, #e67f28);
	}
.btn-submit:active {
	-moz-box-shadow: inset 0 0 20px rgba(0,0,0,0.4), 0px 2px 2px #b2aeb0;
	-webkit-box-shadow: inset 0 0 20px rgba(0,0,0,0.4), 0px 2px 2px #b2aeb0;
	}
.btn-submit-dummy {
	display: block;
	width: 100%;
	padding: 12px 0 8px;
	background: -webkit-gradient(linear, left top, left bottom, from(#e9e8e8), to(#cbcaca));
	background: -moz-linear-gradient(top, #e9e8e8, #cbcaca);
	text-align: center;
	color: #999;
	font-size: 110%;
	border: 1px solid #c9c7c7;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright:6px;
	-moz-border-radius-bottomleft:6px;
	-moz-border-radius-bottomright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-box-shadow: 0px 2px 2px #b2aeb0, inset 0 1px 0 #ffffff;
	-webkit-box-shadow: 0px 2px 2px #b2aeb0, inset 0 1px 0 #ffffff;
	box-shadow: 0px 2px 2px #b2aeb0, inset 0 1px 0 #ffffff;
}
.attention{
	color: #ff0000;
	font-size: 80%;
}
textarea {
	height: 40px;
	font-size: 70%;
	width: 98%;
	padding: 5px 2px;
}
.commit {
	text-align: center;
	padding-bottom: 10px;
}
.commit p {
	padding: 5px;
}

footer {
	background-color: #4B4A4A;
	padding: 10px 5px;
	color: #ffffff;
	font-size: 80%;
}



