/* ================================================== */

/*  Basic Tag Format  */

/* ================================================== */

img {
    border: 0;
}

address,caption,cite,code,dfn,em,strong,var {
    font-style: normal;
    font-weight: normal;
}

caption,th {
    text-align: left;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 100%;
    font-weight: normal;
}

q:before,q:after {
    content:'';
}

abbr,acronym {
    border: 0;
}


/* ================================================== */

/*  Base  */

/* ================================================== */

.attention {
color: #FF0000;
font-weight: bold;
}

.information {
color: #6666FF;
font-weight: bold;
}

body, th, td {
    font-size: 12px !important;
    line-height: 1.5;
    color: #333 !important;
    font-family:'ＭＳ ゴシック',Osaka;
}

/* for WinIE7 */
*:first-child+html body,
*:first-child+html th,
*:first-child+html td {
    font-size: 75%;
}

/* for WinIE6 */
* html body,
* html body th,
* html body td {
    font-size: 75%;
}

/* link */
A:link { color: RoyalBlue; }
A:visited { color: RoyalBlue; }
A:active { color: RoyalBlue; }
A:hover { color: red; }



/* ================================================== */

/*  ページデザイン  */

/* ================================================== */


/* ページ全体 */
form {
    margin: 0 0 1em 0;
}
fieldset {
    border: 1px solid #bbb;
    margin: 0;
    padding: 0.355em 0.625em 0.75em;
}
legend {
    color: #333 !important;
    margin-bottom: 0.3em;
}
/* input,
textarea,
select,
button {
    border: 1px solid #7f9db9;
    background: #f9f9f9;
}
input[type=text]:focus,
input[type="password]:focus,
textarea:focusv,
select:focus,
button:focus,
button.focus {
    border: 1px solid #f90;
    background: #fff;
}
ie(interaction.js) */
input.focus,
textarea.focus {
    border: 1px solid #f90;
    background: #fff;
}

ul {
    margin: 0;
    padding: 0;
}
ul li {
    margin: 0 0 0 18px;
    list-style-position: outside;
}

table.form{
    clear: both;
    border-top:1px solid #777;
    border-left:1px solid #777;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
    margin: 0 0 8px;
    }
.form th{
    white-space: nowrap;
    border-right:1px solid #777;
    border-bottom:1px solid #777;
    color: #333;
    background-color: #6195df;
    background-position: left top;
    padding: 0.3em 0.8em;
    text-align:center;
    }
.form th.action{
    background-color: #6195df;
    }
.form td{
    white-space: nowrap;
    border-right:1px solid #777;
    border-bottom:1px solid #777;
    padding: 0.3em 1em;
    }
.form tr.alert{
    background-color: #F3ADE0;
}
.form td.action{
    background-color: #B3CCEF;
    }
table.form img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}



table.searchList{
    clear: both;
    border-top:1px solid #777;
    border-left:1px solid #777;
    border-collapse:collapse;
    border-spacing:0;
    background-color:#ffffff;
    empty-cells:show;
    margin: 0 0 8px;
    }
.searchList th{
    white-space: nowrap;
    border-right:1px solid #777;
    border-bottom:1px solid #777;
    color: #333;
    background-color: #73cc98;
    background-position: left top;
    padding: 0.3em 0.8em;
    text-align:center;
    }
.searchList th.action{
    background-color: #73cc98;
    }
.searchList td{
    white-space: nowrap;
    border-right:1px solid #777;
    border-bottom:1px solid #777;
    padding: 0.3em 1em;
    }
.searchList tr.alert{
    background-color: #F3ADE0;
}
.searchList td.action{
    background-color: #d5f0df;
    }
table.searchList img {
    vertical-align: middle;
    margin: 0;
    padding: 0;
}
.pagerCount {
    width: 50%
    margin: 0;
    padding:0;
}
.pagerLink {
    text-align: center;
    width: 50%;
    margin: 0;
    padding:0;
}
hr {
    color: #aaa;
    height: 1px;
}
/* 状態用 */
.searchList tr.active{
    background-color: Gold;
    }
.searchList tr.wait{
    background-color: White;
    }
.searchList tr.end{
    background-color: Gray;
    }

/* フォーム用 */
.required {
   color: #ff0000;
}


/* 角まる用 */
#title {
    background: #4fac74;
    color: white;
    }
#title p {
    margin: 2px 0;
    text-align:center
    }
.rtop, .rbottom{
    display:block;
    background: #FFF;
    }
.rtop *, .rbottom *{
    display: block;
    height: 1px;
    overflow: hidden;
    background: #4fac74;
    }
.r1{margin: 0 5px}
.r2{margin: 0 3px}
.r3{margin: 0 2px}
.r4{margin: 0 1px; height: 2px}


/*- Menu Tabs I--------------------------- */

    #container .tabsI {
      float:left;
      width:100%;
      background:#EFF4FA;
      font-size:93%;
      line-height:normal;
          border-bottom:1px solid #DD740B;
      }
    #container .tabsI ul {
        margin:0;
        padding:10px 10px 0 50px;
        list-style:none;
      }
    #container .tabsI li {
      display:inline;
      margin:0;
      padding:0;
      }
    #container .tabsI a {
      float:left;
      background:url("images/tableftI.gif") no-repeat left top;
      margin:0;
      padding:0 0 0 5px;
      text-decoration:none;
      }
    #container .tabsI a span {
      float:left;
      display:block;
      background:url("images/tabrightI.gif") no-repeat right top;
      padding:5px 15px 4px 6px;
      color:#FFF;
      }
    /* Commented Backslash Hack hides rule from IE5-Mac ¥*/
    #container .tabsI a span {float:none;}
    /* End IE5-Mac hack */
    #container .tabsI a:hover span {
      color:#FFF;
      }
    #container .tabsI a:hover {
      background-position:0% -42px;
      }
    #container .tabsI a:hover span {
      background-position:100% -42px;
      }

        #container .tabsI #current a {
                background-position:0% -42px;
        }
        #container .tabsI #current a span {
                background-position:100% -42px;
        }
