<div id="header" class="clearfix">

<h1><a href="/services/admin/"><img src="/custom/pstc/lang/common/images/logo.gif" alt="Realtime Collaboration" /></a></h1>
<p class="admin-tit">{t}463,_('管理者ページ'){/t}</p>

</div>

