{literal}
<script type="text/javascript">
<!--
    function action_submit(frm, action) {
        if(confirm("Are you sure to do?") == true) {
            frm._action.name = action;
            frm.submit();
        }
    }

//-->
</script>
{/literal}
<div id="container">
{foreach from=$error_msg_list item=error_msg}
{$error_msg}<br />
{/foreach}
    <form action="update.php#fragment1" method="post">
    <input type="hidden" name="_action" value="" />
    <input type="hidden" name="__submit_key" value="{$__submit_key}" />
    <input type="hidden" name="version" value="{$version}" />
    <fieldset>
    <legend>Batch Process [ {$version} ]</legend>
        Process Detail<br />
        <textarea cols="100" rows="20" readonly="readonly">{$batch_info}</textarea><br />
        <br />
        <input type="submit" name="action_top" value="Back" />
        <input type="button" value="Update" onclick="action_submit(this.form, 'action_batch')" />
    </fieldset>
    </form>
</div>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}