{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="バージョンアップ"}
{literal}
<script type="text/javascript">
<!--
    function action_submit(frm, action) {
        if(confirm("Are you sure to do?") == true) {
            frm._action.name = action;
            frm.submit();
        }
    }

//-->
</script>
{/literal}
<div id="container">
        <form action="update.php#fragment1" method="post">
        <input type="hidden" name="_action" value="" />
        <input type="hidden" name="__submit_key" value="{$__submit_key}" />
        <input type="hidden" name="version" value="{$version}" />
        <fieldset>
        <legend>DB Update [ {$version} ]</legend>
{if $account_db_querys}
            Account DB</br>
            <textarea cols="100" rows="20" readonly="readonly">{$account_db_querys}</textarea><br />
{/if}
{if $user_db_querys}
            User DB<br />
            <textarea cols="100" rows="20" readonly="readonly">{$user_db_querys}</textarea><br />
{/if}
{if $account_db_querys || $user_db_querys}
            <br />
            <input type="submit" name="action_top" value="Back" />
            <input type="button" value="Update" onclick="action_submit(this.form, 'action_db_update')" />
{/if}
        </fieldset>
        </form>
</div>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}