{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Version Up"}
{literal}
<script type="text/javascript">
<!--
    function action_submit(frm, action, version) {
        frm._action.name = action;
        frm.version.value = version;
        frm.submit();
    }

//-->
</script>
{/literal}
<div id="container">
{if $ok_msg_list}
<span class="attention">Succeed</span><br />
<textarea cols="100" rows="20" readonly="readonly">
{foreach from=$ok_msg_list item=msg}
{$msg|escape:"html"}
{/foreach}
</textarea><br />
{/if}
{if $error_msg_list}
<span class="attention">Error</span><br />
<textarea cols="100" rows="20" readonly="readonly">
{foreach from=$error_msg_list item=error_msg}
{$error_msg|escape:"html"}
{/foreach}
</textarea><br />
{/if}
    <ul>
        <li><a href="?action_total_user#fragment1"><span>{t}1364,_('DB Update'){/t}</span></a></li>
        <li><a href="?action_total_user#fragment2"><span>{t}1365,_('Switch Tools'){/t}</span></a></li>
    </ul>
    <div id="fragment1">
        <form action="update.php#fragment1" method="post">
        <input type="hidden" name="_action" value="" />
        <input type="hidden" name="version" value="" />
        <fieldset>
        <legend>{t}1364,_('DB Update'){/t}</legend>
        {foreach from=$version_list item=version}
        <li>
            {$version}
            <input type="button" value="{t}1367,_('Update'){/t}" onclick="action_submit(this.form, 'action_db_confirm', '{$version}')" />
        </li>
        {/foreach}
        </fieldset>
        </form>
    </div>
    <div id="fragment2">
        <form action="update.php#fragment2" method="post">
        <input type="hidden" name="_action" value="" />
        <input type="hidden" name="version" value="" />
        <fieldset>
        <legend>{t}1365,_('Switch Tools'){/t}</legend>
            {foreach from=$batch_list item=version}
                <li>{$version}
                <input type="button" value="{t}1367,_('Update'){/t}" onclick="action_submit(this.form, 'action_batch_confirm', '{$version}')" /></li>
            {/foreach}
        </fieldset>
        </form>
    </div>
</div>
</form>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}