{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/head.t.html" title="Manage DataCenter Prioriy"}
<div id="container">
    <ul>
        {if $authority != 0}<li><a href="#fragment1"><span>{t}9937,_('Entry'){/t}</span></a></li>{/if}
    </ul>
    <div id="#fragment1">
        {include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/datacenter_priority/add_form.t.html"}
    </div>
</div>
{include file="common/include/custom_page.t.html" custom_dir="$custom_dir" include_path="admin_tool/include/foot.t.html"}