<form action="{$__frame.self}" name="search_form" method="post">
<fieldset>
<legend>Search Form</legend>
<table>
    {foreach from=$columns key=key item=column}
    {if $column.search}
    <tr>
        {if $column.searchform_status == 1}
        <td>{$column.label|escape:'html'}</td>
        <td>
        {if $column.type == "integer"}
            {if $column.search == "equal"}
                <input type="text" name="form[{$key}]" value="{$request.$key|escape:'html'}" />
            {elseif $column.search == "range"}
                <input type="text" name="form[{$key}][min]" value="{$request.$key.min|escape:'html'}" /> {t}4679,_(' - '){/t}
                <input type="text" name="form[{$key}][max]" value="{$request.$key.max|escape:'html'}" />
            {else}
                <input type="text" name="form[{$key}]" value="{$request.$key|escape:'html'}" />
            {/if}
        {elseif $column.type == "string"}
            <input type="text" name="form[{$key}]" value="{$request.$key|escape:'html'}" />
        {elseif $column.type == "datetime"}
            <input type="text" id="form_{$key}_min" name="form[{$key}][min]" value="{$request.$key.min|escape:'html'}" />
            <button type="reset" id="form_{$key}_min_btn">Cal</button>
             {t}4679,_(' - '){/t}
            <input type="text" id="form_{$key}_max" name="form[{$key}][max]" value="{$request.$key.max|escape:'html'}" />
            <button type="reset" id="form_{$key}_max_btn">Cal</button>
<script type="text/javascript">
    Calendar.setup({literal}{{/literal}
        inputField  : 'form_{$key}_min',
        button      : 'form_{$key}_min_btn',
        ifFormat    : '%Y/%m/%d %H:%M:00',
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
    Calendar.setup({literal}{{/literal}
        inputField  : "form_{$key}_max",
        button      : "form_{$key}_max_btn",
        ifFormat    : "%Y/%m/%d %H:%M:00",
        showsTime   : true,
        singleClick : true,
        weekNumbers : true,
        cache       : true
    {literal}}{/literal});
</script>
        {/if}
        </td>
        {/if}
    </tr>
    {/if}
    {/foreach}
    <tr>
        <th></th>
        <td>
            <select name="page_cnt">
                <option value="20"{if $page.pager.limit == 20} selected="selected"{/if}>{t}1090,_('20 items'){/t}</option>
                <option value="50"{if $page.pager.limit == 50} selected="selected"{/if}>{t}1091,_('50 items'){/t}</option>
                <option value="100"{if $page.pager.limit == 100} selected="selected"{/if}>{t}1092,_('100 items'){/t}</option>
            </select>
            <input type="submit" name="{$page.form.action}" value="{t}1093,_('Search'){/t}"/>
            <input type="reset" value="{t}1094,_('Reset'){/t}" />
        </td>
    </tr>
</table>
</fieldset>
</form>
